{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Сотрудники" %}{% endblock %}

{% block content %}

<div class="listPersonTemplate">
    <div class="container">
        <div class="listPersonTemplate_title">{% trans "Сотрудники" %}</div>
        {% for unit in dep.staff.all %}

        <div class="listPersonTemplate_wrap">
            <img class="col-lg-4 col-md-4 col-sm-12 col-xs-12" src="{{ unit.image.url }}">
            <div class="listPersonTemplate_description">
                <a href="/staff/{{ unit.slug }}">{{ unit.name }}</a>
                <div class="text">
                    <p>{{ unit.position }}</p>
                    {% if unit.academic_rank %}<p>{{ unit.academic_rank }}</p>{% endif %}
                </div>
                <div class="text">
                    {% if unit.phone %}<p>{% trans "сл.тел" %}: {{ unit.phone }}</p>{% endif %} <!-- Вариант перевода на английский язык: 'office tel.' -->
                    {% if unit.address %}<p>{% trans "Адрес" %}: {{ unit.address }}</p>{% endif %}
                    {% if unit.email %}<p>E-mail: {{ unit.email }}</p>{% endif %}
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
</div>

{% endblock %}
