{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{{ dep.name }}{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'home/assets/NP-assets/nicepage2.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'home/assets/NP-assets/depEnergy.css' %}" media="screen">
    <script class="u-script" type="text/javascript" src="{% static 'home/assets/NP-assets/jquery2.js' %}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{% static 'home/assets/NP-assets/nicepage2.js' %}" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=cyrillic-ext">
    
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "Site2",
		"url": "index.html"
}</script>

</head>
  <body class="u-body">
    <section class="u-clearfix u-section-1" id="sec-b7fe">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1">
                <div class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-1">
                  <img src="{{ dep.image.url }}" alt="" class="u-expanded-width u-image u-image-default u-image-1" data-image-width="510" data-image-height="461">
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-2">
                <div class="u-container-layout u-container-layout-2">
                  <h2 class="u-align-center u-text u-text-1">{{ dep.name }}</h2>
                  <div class="u-border-2 u-border-custom-color-1 u-line u-line-horizontal u-line-1"></div>
                  <p class="u-align-justify u-large-text u-text u-text-variant u-text-2">{{ dep.short_description | safe }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="u-border-3 u-border-custom-color-1 u-expanded-width u-line u-line-horizontal u-line-2"></div>
        <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-2">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-size-20 u-layout-cell-3">
                <div class="u-container-layout u-valign-top u-container-layout-3">
                  <a href="staff/" class="u-align-center u-border-2 u-border-black u-btn u-button-style u-hover-black u-none u-text-black u-text-hover-custom-color-1 u-btn-1">сотрудники</a>
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-size-20 u-layout-cell-4">
                <div class="u-container-layout u-valign-top u-container-layout-4">
                  <a href="thesis/" class="u-align-center u-border-2 u-border-black u-btn u-button-style u-hover-black u-none u-text-black u-text-hover-custom-color-1 u-btn-2">Тематика дипломных работ и&nbsp;<br>магистерских диссертаций
                  </a>
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-size-20 u-layout-cell-5">
                <div class="u-container-layout u-valign-top u-container-layout-5">
                  <a href="directions/" class="u-align-center u-border-2 u-border-black u-btn u-button-style u-hover-black u-none u-text-black u-text-hover-custom-color-1 u-btn-3">Основные направления&nbsp;<br>научных исследований
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="u-border-3 u-border-custom-color-1 u-expanded-width u-line u-line-horizontal u-line-3"></div>

      </div>
    </section>
    <section class="u-align-center u-clearfix u-valign-top-xs u-section-2" id="sec-f6d0">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-expanded-width u-tab-links-align-justify u-tabs u-tabs-1">
          <ul class="u-tab-list u-unstyled" role="tablist">
            <li class="u-tab-item" role="presentation">
              <a class="active u-active-custom-color-1 u-black u-button-style u-hover-black u-tab-link u-text-active-black u-text-custom-color-1 u-text-hover-white u-tab-link-1" id="link-tab-0da5" href="#tab-0da5" role="tab" aria-controls="tab-0da5" aria-selected="true">Общие сведения</a>
            </li>
            <li class="u-tab-item u-tab-item-2" role="presentation">
              <a class="u-active-custom-color-1 u-black u-button-style u-hover-black u-tab-link u-text-active-black u-text-custom-color-1 u-text-hover-white u-tab-link-2" id="tab-7fce" href="#link-tab-7fce" role="tab" aria-controls="link-tab-7fce" aria-selected="false">Публикации</a>
            </li>
            <li class="u-tab-item" role="presentation">
              <a class="u-active-custom-color-1 u-black u-button-style u-hover-black u-tab-link u-text-active-black u-text-custom-color-1 u-text-hover-white u-tab-link-3" id="link-tab-2917" href="#tab-2917" role="tab" aria-controls="tab-2917" aria-selected="false">Дисциплины</a>
            </li>
          </ul>
          <div class="u-tab-content">
            <div class="u-container-style u-tab-active u-tab-pane u-white u-tab-pane-1" id="tab-0da5" role="tabpanel" aria-labelledby="link-tab-0da5">
              <div class="u-container-layout u-container-layout-1">
                {{ dep.description| safe }}
              </div>
            </div>

            <div class="u-container-style u-tab-pane u-white u-tab-pane-2" id="link-tab-7fce" role="tabpanel" aria-labelledby="tab-7fce">
              <div class="u-container-layout u-container-layout-2">
                {{ dep.publications| safe }}
              </div>
            </div>

            <div class="u-align-left u-container-style u-tab-pane u-white u-tab-pane-3" id="tab-2917" role="tabpanel" aria-labelledby="link-tab-2917">
              <div class="u-container-layout u-container-layout-3">
                {{ dep.courses| safe }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
    
  </body>
{% endblock %}