<!DOCTYPE html>
{% load static %}
<html lang="ru" style="height: auto;min-width: 240px;/*overflow-x: hidden;*/max-width: 100%;">
 <head>
  <meta charset="UTF-8"/>
  <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport"/>
  <title data-langkey="a3222">
   Главная
  </title>
  <link href="{% static 'home/assets/CKP-assets/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"/>
  <link href="{% static 'home/assets/CKP-assets/css/styles.css' %}" rel="stylesheet"/>
  <link href="{% static 'home/assets/CKP-assets/css/untitled.css' %}" rel="stylesheet"/>
  <meta content="Информационный веб-ресурс. Создан на платформе Bootstrap" name="description"/>
  <meta content="Центр коллективного пользования, научное оборудование, исследования микро- и наноструктуры материалов" name="keywords"/>
  <meta content="Дизайн и разработка: Реентович Иван, email: iv.rchwork@gmail.com" name="author"/>
 </head>
 <body style="min-width: 240px;background-color: #a6b8ac;">
  <form class="menu-navigation-bar-control">
   <span class="menu-button-control-area">
    <label class="l-for-open-menu-btn" for="radiobtn1">
     <input id="radiobtn1" type="radio"/>
    </label>
    <label class="l-for-close-menu-btn" for="radiobtn2">
     <input id="radiobtn2" type="radio"/>
    </label>
   </span>
  </form>
  <hr style="margin: 0;height: 2px;background-color: #d8dade;"/>
  <div class="row row_main-website-console" style="margin: 0px;background-color: silver;">
   <div class="col site-secondary-special-header">
    <div class="container" style="padding: 0px;max-width: 1920px;">
     <div class="row no-gutters d-xl-flex align-items-xl-center" style="margin: 0px;min-width: 240px;">
      <div class="col-xl-12 offset-xl-0 d-flex d-sm-flex d-xl-flex justify-content-center align-items-baseline justify-content-sm-center justify-content-md-center justify-content-lg-center justify-content-xl-center" style="padding: 0 10px;">
       <div class="d-inline-flex align-items-baseline" id="languages" style="width: inherit;">
        <button class="btn active shadow-none d-inline-block d-xl-flex language active_default-cursor" data-lang="russia" data-langkey="ab41e" style="background-color: rgba(0,123,255,0);color: #002d47;padding: 2px 5px;word-break: normal;font-size: 14px;" type="button">
         Русский
        </button>
        <button class="btn shadow-none d-inline-block d-xl-flex language" data-lang="usa-uk" data-langkey="7acb7" style="background-color: rgba(0,123,255,0);color: #002d47;word-break: normal!important;padding: 3px 12px;font-size: 14px;" type="button">
         English
        </button>
       </div>
       <div class="d-inline-flex d-xl-flex justify-content-end align-items-baseline justify-content-sm-end justify-content-md-end justify-content-lg-end justify-content-xl-end" style="width: inherit;">
        <a class="d-xl-flex" href="#" style="color: #002d47;padding: 5px;cursor: not-allowed;opacity: 0.25;">
         <span data-langkey="a95d9" style="text-decoration: underline;">
          ВХОД
         </span>
         <br/>
        </a>
       </div>
      </div>
      <div class="clearfix">
      </div>
     </div>
    </div>
   </div>
  </div>
  <hr style="margin: 0;height: 3px;background-color: #d8dade;"/>
  <hr style="margin: 0;height: 3px;background-color: #204b6f;"/>
  <div class="row" style="margin: 0px;background-image: linear-gradient(to right top, #759ebd, #d1e7f8, #759ebd);box-shadow: 0 -1px 20px -5px #10355b inset;filter: grayscale(30%);">
   <div class="col">
    <div class="container" style="padding: 0px;max-width: 1920px;">
     <div class="row d-flex align-items-center flex-md-nowrap flex-lg-nowrap flex-xl-nowrap" style="min-width: 240px;margin: 0px;">
      <div class="col d-xl-flex justify-content-xl-center" style="padding: 0px;">
       <div class="d-flex flex-wrap align-items-xl-center">
        <div class="col-md-2 col-lg-2 col-xl-1 d-xl-flex m-auto justify-content-xl-center" style="background-position: center;background-size: contain;background-repeat: no-repeat;padding: 0px;">
         <div class="d-xl-flex logo_bsu-phys-faculty" style='background-image: url("assets/img/physics_dep_logo.png");background-position: center;background-size: contain;background-repeat: no-repeat;min-width: 77px;margin-top: 5px;margin-bottom: 5px;height: 88px;'>
          <a class="logo-link" href="https://physics.bsu.by/ru/" style="display: flex;" target="_blank">
          </a>
         </div>
        </div>
        <div class="col-12 col-md-10 col-lg-10 col-xl-11 offset-lg-0 offset-xl-0 d-xl-flex m-auto justify-content-xl-center" style="padding: 0px;margin: 0px;padding-right: 15px;padding-left: 15px;">
         <header class="d-xl-flex d-flex" style="flex-basis: 500px;">
          <div style="width: 1040px;">
           <h3 class="text-uppercase text-center text-center-for-heading" style="color: #10355b;">
            <strong data-langkey="d75d9">
             Центр коллективного пользования уникальным научным оборудованием
            </strong>
            <br/>
           </h3>
           <h3 class="text-center text-center-for-heading" style="color: #10355b;">
            <strong>
             <em data-langkey="de00f">
              «Белорусский межвузовский центр обслуживания научных исследований»
             </em>
            </strong>
            <br/>
           </h3>
          </div>
         </header>
        </div>
       </div>
      </div>
      <div class="clearfix d-xl-flex">
      </div>
     </div>
    </div>
   </div>
  </div>
  <hr style="margin: 0;height: 3px;background-color: #204b6f;"/>
  <hr style="margin: 0;height: 1px;background-color: #ffffff;"/>
  <div class="row" style='margin: 0px;background-color: #6f9d9d;background: url("assets/img/fullerene-2.png") center repeat-x, url("assets/img/fullerene-seamless.png");'>
   <div class="col" style="padding: 0;">
    <div class="container" style="padding: 0px;max-width: 1920px;">
     <div class="row d-xl-flex" style="min-width: 240px;margin: 0px;">
      <div class="col-xl-12 offset-xl-0" style="padding: 0px;">
       <div class="d-xl-flex d-flex carousel-column" style="min-height: 250px;">
        <div style="background-position: center;background-size: contain;background-repeat: no-repeat;width: 25%;max-height: 777px;">
         <div class="carousel slide carousel-fade" data-interval="5000" data-keyboard="false" data-pause="false" data-ride="carousel" id="carousel-2" style="width: 100%;">
          <div class="carousel-inner" role="listbox" style="min-height: 250px;">
           <div class="carousel-item active" style='min-height: 250px;background-position: center;background-size: cover;background-repeat: no-repeat;background-image: url("assets/img/cwet-12.png");'>
           </div>
           <div class="carousel-item" style='min-height: 250px;background-position: center;background-size: cover;background-repeat: no-repeat;background-image: url("assets/img/im3.png");'>
           </div>
           <div class="carousel-item" style='min-height: 250px;background-position: center;background-size: cover;background-repeat: no-repeat;background-image: url("assets/img/1.jpg");'>
           </div>
           <div class="carousel-item" style='min-height: 250px;background-position: center;background-size: cover;background-repeat: no-repeat;background-image: url("assets/img/14.jpg");'>
           </div>
           <div class="carousel-item" style='min-height: 250px;background-position: center;background-size: cover;background-repeat: no-repeat;background-image: url("assets/img/bolt-3.png");'>
           </div>
           <div class="carousel-item" style='min-height: 250px;background-position: center;background-size: cover;background-repeat: no-repeat;background-image: url("assets/img/im2.png");'>
           </div>
           <div class="carousel-item" style='min-height: 250px;background-position: center;background-size: cover;background-repeat: no-repeat;background-image: url("assets/img/im1.png");'>
           </div>
           <div class="carousel-item" style='min-height: 250px;background-position: center;background-size: cover;background-repeat: no-repeat;background-image: url("assets/img/3.jpg");'>
           </div>
          </div>
          <div>
           <a class="carousel-control-prev" data-slide="prev" href="#carousel-2" role="button" style="max-width: 0;">
           </a>
           <a class="carousel-control-next" data-slide="next" href="#carousel-2" role="button" style="max-width: 0;">
           </a>
          </div>
         </div>
        </div>
        <div style="max-height: 777px;width: 50%;">
         <div class="carousel slide custom-carousel" data-interval="5000" data-keyboard="false" data-pause="false" data-ride="carousel" id="carousel-1" style='max-height: 777px;background-position: center;background-size: auto;background-repeat: repeat;background-image: url("assets/img/fullerene-2.png");'>
          <div class="carousel-inner" role="listbox" style="min-height: 250px;max-height: 777px;">
           <div class="carousel-item active" style='min-height: 250px;background-position: center;background-size: cover;background-repeat: no-repeat;background-image: url("assets/img/eq1.png");'>
            <img alt="1" class="img-fluid w-100 d-block" data-langkey="11716" height="777" src="assets/img/eq1.png" style="object-fit: contain;min-height: 250px;max-height: 250px;" width="1166"/>
           </div>
           <div class="carousel-item" style='min-height: 250px;background-image: url("assets/img/eq2.png");background-position: center;background-size: cover;background-repeat: no-repeat;'>
            <img alt="2" class="img-fluid w-100 d-block" data-langkey="17717" height="777" src="assets/img/eq2.png" style="object-fit: contain;min-height: 250px;max-height: 250px;" width="1903"/>
           </div>
           <div class="carousel-item" style='min-height: 250px;background-image: url("assets/img/eq3.png");background-position: center;background-size: cover;background-repeat: no-repeat;'>
            <img alt="3" class="img-fluid w-100 d-block" data-langkey="09ef7" height="777" src="assets/img/eq3.png" style="object-fit: contain;min-height: 250px;max-height: 250px;" width="518"/>
           </div>
           <div class="carousel-item" style='min-height: 250px;background-image: url("assets/img/eq4.png");background-position: center;background-size: cover;background-repeat: no-repeat;'>
            <img alt="4" class="img-fluid w-100 d-block" data-langkey="0fef8" height="777" src="assets/img/eq4.png" style="object-fit: contain;min-height: 250px;max-height: 250px;" width="734"/>
           </div>
           <div class="carousel-item" style='min-height: 250px;background-image: url("assets/img/eq6.png");background-position: center;background-size: cover;background-repeat: no-repeat;'>
            <img alt="6" class="img-fluid w-100 d-block" data-langkey="a0559" height="777" src="assets/img/eq6.png" style="object-fit: contain;min-height: 250px;max-height: 250px;" width="518"/>
           </div>
           <div class="carousel-item" style='min-height: 250px;background-image: url("assets/img/eq8.png");background-position: center;background-size: cover;background-repeat: no-repeat;'>
            <img alt="8" class="img-fluid w-100 d-block" data-langkey="dd572" height="777" src="assets/img/eq8.png" style="object-fit: contain;min-height: 250px;max-height: 250px;" width="958"/>
           </div>
           <div class="carousel-item" style='min-height: 250px;background-image: url("assets/img/eq9.png");background-position: center;background-size: cover;background-repeat: no-repeat;'>
            <img alt="9" class="img-fluid w-100 d-block" data-langkey="e3573" height="777" src="assets/img/eq9.png" style="object-fit: contain;min-height: 250px;max-height: 250px;" width="948"/>
           </div>
           <div class="carousel-item" style='min-height: 250px;background-image: url("assets/img/eq15.png");background-position: center;background-size: cover;background-repeat: no-repeat;'>
            <img alt="15" class="img-fluid w-100 d-block" data-langkey="52cd4" height="777" src="assets/img/eq15.png" style="object-fit: contain;min-height: 250px;max-height: 250px;" width="1166"/>
           </div>
          </div>
          <div style="width: 100%;">
           <a class="carousel-control-prev" data-slide="prev" href="#carousel-1" role="button" style="width: 25%;">
            <span class="carousel-control-prev-icon">
            </span>
            <span class="sr-only" data-langkey="e07f1">
             Previous
            </span>
           </a>
           <a class="carousel-control-next" data-slide="next" href="#carousel-1" role="button" style="width: 25%;">
            <span class="carousel-control-next-icon">
            </span>
            <span class="sr-only" data-langkey="9d015">
             Next
            </span>
           </a>
          </div>
         </div>
        </div>
        <div style="width: 25%;background-position: center;background-size: contain;background-repeat: no-repeat;">
         <div class="carousel slide carousel-fade" data-interval="5000" data-keyboard="false" data-pause="false" data-ride="carousel" id="carousel-3">
          <div class="carousel-inner" role="listbox" style="min-height: 250px;">
           <div class="carousel-item" style='min-height: 250px;background-position: center;background-size: cover;background-repeat: no-repeat;background-image: url("assets/img/cwet-12.png");'>
           </div>
           <div class="carousel-item" style='min-height: 250px;background-position: center;background-size: cover;background-repeat: no-repeat;background-image: url("assets/img/im3.png");'>
           </div>
           <div class="carousel-item" style='min-height: 250px;background-position: center;background-size: cover;background-repeat: no-repeat;background-image: url("assets/img/1.jpg");'>
           </div>
           <div class="carousel-item" style='min-height: 250px;background-position: center;background-size: cover;background-repeat: no-repeat;background-image: url("assets/img/14.jpg");'>
           </div>
           <div class="carousel-item active" style='min-height: 250px;background-position: center;background-size: cover;background-repeat: no-repeat;background-image: url("assets/img/bolt-3.png");'>
           </div>
           <div class="carousel-item" style='min-height: 250px;background-position: center;background-size: cover;background-repeat: no-repeat;background-image: url("assets/img/im2.png");'>
           </div>
           <div class="carousel-item" style='min-height: 250px;background-position: center;background-size: cover;background-repeat: no-repeat;background-image: url("assets/img/im1.png");'>
           </div>
           <div class="carousel-item" style='min-height: 250px;background-position: center;background-size: cover;background-repeat: no-repeat;background-image: url("assets/img/3.jpg");'>
           </div>
          </div>
          <div>
           <a class="carousel-control-prev" data-slide="prev" href="#carousel-3" role="button" style="max-width: 0;">
           </a>
           <a class="carousel-control-next" data-slide="next" href="#carousel-3" role="button" style="max-width: 0;">
           </a>
          </div>
         </div>
        </div>
       </div>
      </div>
      <div class="clearfix">
      </div>
     </div>
    </div>
   </div>
  </div>
  <hr style="margin: 0;height: 1px;background-color: #ffffff;"/>
  <hr style="margin: 0;height: 3px;background-color: #204b6f;"/>
  <div class="row" style="margin: 0px;">
   <div class="col-xl-12 offset-xl-0 d-xl-flex column-for-main-content" style="padding: 0px;">
    <div class="container" style="max-width: 1920px;padding: 0px !important;">
     <div class="row d-xl-flex" style="min-width: 240px;margin: 0px;">
      <div class="col-xl-12 d-xl-flex justify-content-xl-center col-f-m-c-inner">
       <div class="d-inline-flex flex-grow-1 flex-wrap key-info-block-container">
        <div class="col-lg-12 col-xl-2 d-flex justify-content-center justify-content-md-center justify-content-lg-center column-for-aside" style="background-color: rgb(234,237,244);background-image: linear-gradient(to right bottom, rgb(233,234,237), #edf9f9, rgb(233,234,237));">
         <aside class="flex-lg-column">
          <div class="row" style="margin-right: 0px;margin-left: 0px;">
           <div class="col column_aside-heading" style="padding: 0px;">
            <h4 class="text-center text-center_aside-heading" data-langkey="7e7d7" style="font-size: 21px;margin-top: 10px;">
             Руководители ЦКП
            </h4>
           </div>
           <div class="clearfix">
           </div>
          </div>
          <div class="row d-flex justify-content-center aside_main-block" style="margin-right: 0px;margin-left: 0px;">
           <div class="col-auto aside_info-block-1" style="padding: 0px;">
            <img alt="Head" class="img-fluid d-block" data-langkey="5dc12" height="186" src="assets/img/Head.jpg" style="margin-right: auto;margin-left: auto;min-width: 140px;border: none;border-radius: 5px;" width="140"/>
            <p class="text-center text-center_aside-paragraph" data-langkey="7ba55" style="font-size: 14px;margin-top: 2px;margin-right: auto;margin-left: auto;">
             Научный руководитель ЦКП:
             <br/>
             Тиванов Михаил Сергеевич,
             <br/>
             кандидат физико-математических наук,
             <br/>
             доцент
             <br/>
            </p>
           </div>
           <div class="col-auto aside_info-block-2" style="padding: 0px;">
            <img alt="Head-2" class="img-fluid d-block aside_photo-2" data-langkey="c4b69" height="155" src="assets/img/Head2.jpg" style="margin-right: auto;margin-left: auto;min-width: 140px;max-height: 105px;object-fit: contain;" width="139"/>
            <p class="text-center text-center_aside-paragraph" data-langkey="5beec" style="margin-top: 2px;font-size: 14px;margin-right: auto;margin-left: auto;">
             Руководитель ЦКП:
             <br/>
             Баран Людмила Владимировна,
             <br/>
             кандидат физико-математических наук
             <br/>
            </p>
           </div>
           <div class="clearfix">
           </div>
          </div>
         </aside>
        </div>
        <div class="col-xl-10 offset-xl-0 d-flex main-column" style='background-color: rgb(221,235,221);background-image: url("assets/img/./carbone-nanotube_transparent_pngwing.com.png"), linear-gradient(to right bottom, rgb(221,235,221), rgb(239, 246, 239));background-repeat: no-repeat, no-repeat;background-position: top right, center center;background-size: 35%, contain;border-radius: .25rem .25rem 0 0;padding: 0;'>
         <div class="row row-for-main-navigation" style="margin: 0px;border-radius: .25rem .25rem 0 0;">
          <div class="col d-flex text-no-truncate" style="padding: 1px;border-radius: .25rem;">
           <ul class="nav nav-tabs nav-fill text-truncate text-center flex-column flex-grow-1 flex-sm-column flex-sm-grow-1 flex-md-column flex-md-grow-1 flex-lg-row flex-xl-nowrap nav-block">
            <li class="nav-item">
             <a class="nav-link active text-center d-sm-block" href="javascript:void(0)" id="main" style="background-color: rgba(143,188,143,0.47);box-shadow: 1px 2px 3px green;">
              <strong data-langkey="b5181">
               Главная
              </strong>
             </a>
            </li>
            <li class="nav-item">
             <a class="nav-link text-center" href="lines-of-researches.html" id="lines-of-researches" style="border-top: 2px solid rgba(143,188,143,0.75);border-bottom: 1px solid rgba(143,188,143,0.75);border-right: 2px solid rgba(143,188,143,0.75);border-left: 2px solid rgba(143,188,143,0.75);box-shadow: 2px 2px 5px rgba(143,188,143,0.75);">
              <strong data-langkey="719a5">
               Основные направления исследований
              </strong>
             </a>
            </li>
            <li class="nav-item">
             <a class="nav-link text-center" href="measurement-procedures.html" id="measurement-procedures" style="border-top: 2px solid rgba(143,188,143,0.75);border-bottom: 1px solid rgba(143,188,143,0.75);border-right: 2px solid rgba(143,188,143,0.75);border-left: 2px solid rgba(143,188,143,0.75);box-shadow: 2px 2px 5px rgba(143,188,143,0.75);">
              <strong data-langkey="b4c89">
               Основные методики измерений
              </strong>
             </a>
            </li>
            <li class="nav-item">
             <a class="nav-link text-center" href="equipment.html" id="equipment" style="border-top: 2px solid rgba(143,188,143,0.75);border-bottom: 1px solid rgba(143,188,143,0.75);border-right: 2px solid rgba(143,188,143,0.75);border-left: 2px solid rgba(143,188,143,0.75);box-shadow: 2px 2px 5px rgba(143,188,143,0.75);">
              <strong data-langkey="024ff">
               Оборудование
              </strong>
             </a>
            </li>
            <li class="nav-item">
             <a class="nav-link text-center" href="contacts.html" id="contacts" style="border-top: 2px solid rgba(143,188,143,0.75);border-bottom: 1px solid rgba(143,188,143,0.75);border-right: 2px solid rgba(143,188,143,0.75);border-left: 2px solid rgba(143,188,143,0.75);box-shadow: 2px 2px 5px rgba(143,188,143,0.75);">
              <strong data-langkey="b2f63">
               Контакты
              </strong>
             </a>
            </li>
            <li class="nav-item">
             <a class="nav-link text-center" href="scientific-services.html" id="scientific-services" style="border-top: 2px solid rgba(143,188,143,0.75);border-bottom: 1px solid rgba(143,188,143,0.75);border-right: 2px solid rgba(143,188,143,0.75);border-left: 2px solid rgba(143,188,143,0.75);box-shadow: 2px 2px 5px rgba(143,188,143,0.75);">
              <strong data-langkey="02007">
               Перечень научных услуг
              </strong>
             </a>
            </li>
           </ul>
          </div>
          <div class="clearfix">
          </div>
         </div>
         <div class="row no-gutters d-inline-block" style="margin: 0px;/*max-width: calc(100% - 15px);*/">
          <div class="col d-none" style="padding-right: 15px;">
           <div class="d-inline-block float-right" style="margin-top: 15px;">
            <div class="text-nowrap d-inline-flex" style="opacity: 0.50;">
             <span class="float-right d-xl-flex justify-content-xl-end align-items-xl-center" data-langkey="873c8" style="padding-left: 5px;color: rgb(4,65,28);font-size: 14px;padding-right: 5px;max-height: 25px;">
              Поиск:
             </span>
             <input name="search" style="border: 1px solid #75aadb;border-radius: 3px;font-size: 14px;background-color: rgba(255,255,255,0.35);max-height: 25px;" type="search"/>
             <button class="btn btn-primary shadow-none d-xl-flex align-items-xl-center" style='background-color: rgb(143,188,143);opacity: 0.79;background-position: center;background-size: 65%;background-repeat: no-repeat;filter: invert(0%) sepia(0%);background-image: url("assets/img/14173-200.png");max-height: 25px;cursor: not-allowed;' type="button">
             </button>
            </div>
           </div>
          </div>
          <div class="col d-flex">
           <main class="float-sm-right">
            <article style="margin: 3.5% 5%;">
             <h5 class="text-left article-heading" data-langkey="8f74b">
              Общие сведения
             </h5>
             <p class="text-left text-content" data-langkey="b8693" style="margin-top: 15px;font-size: 14px;">
              Центр коллективного пользования уникальным научным оборудованием «Белорусский межвузовский центр обслуживания научных исследований» создан на физическом факультете в 1984 г. в целях повышения эффективности
                                                    научно-исследовательской работы в высших учебных заведениях.
              <br/>
             </p>
             <figure class="figure d-flex d-lg-flex d-xl-flex flex-column justify-content-center align-items-center align-content-center" style="margin-top: 2.75% !important;margin-bottom: 3.25% !important;padding: 6.5% 0.5% !important;background-color: rgba(185,209,203,0.2);">
              <img alt="Сертификат" class="img-fluid figure-img d-lg-flex d-xl-flex m-auto style-for-certificate" data-langkey="6e55f" height="1669" src="assets/img/Svidetelstvo_Status_TsKP_BMTs.jpeg" style="height: auto;max-width: 100%;min-width: 209px;width: 90%;object-fit: contain;margin-right: 0 !important;margin-left: 0 !important;" width="2253"/>
             </figure>
             <a class="text-left d-flex text-content" data-langkey="1a2a4" href="./assets/docs/Положение о ЦКП БМЦ.pdf" style="font-size: 14px;margin-bottom: 10px;" target="_blank">
              Положение о центре коллективного пользования
             </a>
             <a class="text-left d-flex text-content" data-langkey="202a5" href="./assets/docs/форма заявки_БМЦ.doc" style="margin-top: 15px;font-size: 14px;">
              Форма заявки на выполнение работ в ЦКП
             </a>
            </article>
            <div class="bottom-pagination">
             <a class="to-inx-page-disabled" data-langkey="6be04" href="javascript:void(0)" title="На страницу 'Главная'">
              <img alt="home" class="home-icon-disabled" data-langkey="b289f" height="24" src="assets/img/home-24px_light-faced.png" width="24"/>
             </a>
             <a class="to-previous-page-disabled" data-langkey="94d4c" href="javascript:void(0)" style="display: none !important;">
              ←
              <span class="arrow-name">
               Предыдущая
              </span>
             </a>
             <a class="to-next-page" data-langkey="8d52d" href="lines-of-researches.html" title="На страницу 'Основные направления исследований'">
              <span class="arrow-name">
               Следующая
              </span>
              →
             </a>
             <a class="up" data-langkey="02c8f" href="#">
              <span class="arrow-name">
               Наверх
              </span>
              ↑
             </a>
            </div>
           </main>
          </div>
          <div class="clearfix">
          </div>
         </div>
        </div>
       </div>
       <div class="clearfix">
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="row" style="margin: 0px;background-color: #315887;">
   <div class="col">
    <div class="container" style="padding: 0px;max-width: 1920px;">
     <div class="row" style="min-width: 240px;margin: 0px;">
      <div class="col d-xl-flex justify-content-xl-center" style="padding: 0px;">
       <footer style="padding-top: 12.5px;padding-bottom: 12.5px;">
        <div class="text-center">
         <span class="d-inline-block d-lg-flex d-xl-flex align-items-center justify-content-lg-center justify-content-xl-center" data-langkey="e7f9b" style="font-size: 12px;color: #f5fffa;padding: 5px;">
          © 2018-2020 Центр коллективного пользования уникальным научным оборудованием
          <em>
           «Белорусский межвузовский центр обслуживания научных исследований»
          </em>
         </span>
        </div>
       </footer>
      </div>
      <div class="clearfix">
      </div>
     </div>
    </div>
   </div>
  </div>
  <script src="{% static 'home/assets/CKP-assets/js/jquery.min.js' %}">
  </script>
  <script src="{% static 'home/assets/CKP-assets/bootstrap/js/bootstrap.min.js' %}">
  </script>
  <script src="{% static 'home/assets/CKP-assets/js/navigation-menu.js' %}">
  </script>
  <script src="{% static 'home/assets/CKP-assets/js/i18n.js' %}">
  </script>
 </body>
</html>