{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "О факультете" %}{% endblock %}

{% block content %}
<div class="pages">
    <div class="container">
        <div class="page_name">{% trans "О факультете" %}</div>
        <a href="/info/">{% trans "Общая информация" %}</a>
        <a href="/dekanat/">{% trans "Деканат" %}</a>
        <a href="/alums/">{% trans "Известные выпускники" %}</a>
        <a href="/departments/">{% trans "Кафедры" %}</a>
        <a href="/council/">{% trans "Совет факультета" %}</a>
        <a href="/blog/">{% trans "Новости" %}</a>
        <a href="/blog/news/">{% trans "Мы в СМИ" %}</a>
        <a href="/media/media/B2021.pdf">{% trans "Буклет Физического факультета" %}</a>
        <a href="documents/">{% trans "Нормативные документы" %}</a>
    </div>
</div>
{% endblock %}
