{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Поступление" %}{% endblock %}


{% block content %}
<div class="pages">
    <div class="container">
        <div class="page_name">{% trans "Поступление" %}</div>
        <a href="/abitur/">{% trans "Абитуриенту" %}</a>
        <a href="/spec/">{% trans "План приёма и информация о специальностях" %}</a>
        <a href="/quantum-school/">{% trans "Физико-математическая школа 'Квант БГУ'" %}</a>
        <a href="https://physics.bsu.by/media/media/2021DOD.pdf">{% trans "Презентация Физического факультета" %}</a>
    </div>
</div>
{% endblock %}