{% extends 'header_6.html' %}

{% load static %}

{% block content %}
<div class="pages"><div class="container"><div class="page_name">Поступление</div><a href="http://217.21.43.37/media/media/%D0%BF%D1%80%D0%B5%D0%B7%D0%B5%D0%BD%D1%82%D0%B0%D1%86%D0%B8%D1%8F_%D1%84%D0%B0%D0%BA%D1%83%D0%BB%D1%8C%D1%82%D0%B5%D1%82%D0%B0.pdf">Презентация факультета</a><a href="/abitur/">Абитуриенту</a><a href="/spec/">План приема</a><a href="http://217.21.43.37/media/media/%D0%BF%D1%80%D0%B5%D0%B7%D0%B5%D0%BD%D1%82%D0%B0%D1%86%D0%B8%D1%8F_%D1%84%D0%B0%D0%BA%D1%83%D0%BB%D1%8C%D1%82%D0%B5%D1%82%D0%B0.pdf">Физический факультет БГУ для абитуриента - 2020</a><a href="http://217.21.43.37/media/media/1956.pdf">Буклет Физического факультета</a></div></div>
{% endblock %}