{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Наука" %}{% endblock %}

{% block content %}

<div class="pages">
    <div class="container">
        <div class="page_name">{% trans "Наука" %}</div>
        <a href="/science-directions/">{% trans "Исследования и лаборатории" %}</a>
        <a href="/worldwide/">{% trans "Международное сотрудничество" %}</a>
        <a href="/conferences/">{% trans "Конференции" %}</a>
        <a href="/key-pub/">{% trans "Публикации" %}</a> <!-- Вариант для перевода на английский язык: 'Publications' -->
        <a href="/ckp/">{% trans "Центр коллективного пользования уникальным научным оборудованием" %}</a>
        <a href="https://journals.bsu.by/index.php/physics">{% trans "Журнал БГУ. Физика" %}</a> <!-- Вариант для перевода на английский язык: 'Journal of BSU. Physics' -->
    </div>
</div>
{% endblock %}
