{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Наука" %}{% endblock %}

{% block content %}

<div class="pages"><div class="container"><div class="page_name">{% trans "Наука" %}</div><a href="http://www.physics.bsu.by/ru/science-at-the-faculty">{% trans "Наука на факультете" %}</a><a href="http://www.physics.bsu.by/ru/menu/about/international_cooperation">{% trans "Международное сотрудничество" %}</a><a href="http://www.physics.bsu.by/ru/conferences">{% trans "Конференции" %}</a><a href="https://elib.bsu.by/handle/123456789/6007">{% trans "Основные публикации" %}</a></div></div>
{% endblock %}
