{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Наука" %}{% endblock %}

{% block content %}

<div class="pages">
    <div class="container">
        <div class="page_name">{% trans "Наука" %}</div>
        <a href="http://www.physics.bsu.by/ru/science-at-the-faculty">{% trans "Наука на факультете" %}</a>
        <a href="/worldwide/">{% trans "Международное сотрудничество" %}</a>
        <a href="/conferences/">{% trans "Конференции" %}</a>
        <a href="/key-pub/">{% trans "Основные публикации" %}</a>
        <a href="/ckp/">{% trans "Центр коллективного пользования уникальным научным оборудованием" %}</a>
    </div>
</div>
{% endblock %}
