{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Образование" %}{% endblock %}

{% block content %}
<div class="pages">
    <div class="container">
        <div class="page_name">{% trans "Образование" %}</div>
        <a href="/time/">{% trans "Расписание занятий" %}</a>
        <a href="/time-exams/">{% trans "Расписание экзаменов" %}</a>
        <a href="/edu-proc/">{% trans "График образовательного процесса" %}</a>
        <a href="https://physics.bsu.by/ru/stars/">{% trans "Учебно-научная астрономическая лаборатория" %}</a>
        <a href="http://www.physics.bsu.by/ru/for-graduate">{% trans "Распределение" %}</a>
        <a href="http://www.physics.bsu.by/sites/all/other/info/index.php">{% trans "Учебно-методические материалы (PhysInfo)" %}</a>
    </div>
</div>
{% endblock %}