{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Олимпиада абитуриентов" %}{% endblock %} 

{% block content %}
  <head>
    <link rel="stylesheet" href="{% static 'home/assets/NP-assets/nicepage3.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'home/assets/NP-assets/dod.css' %}" media="screen">
    <script class="u-script" type="text/javascript" src="{% static 'home/assets/NP-assets/jquery3.js' %}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{% static 'home/assets/NP-assets/nicepage3.js' %}" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i">
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "",
		"url": "index.html"
}</script>

  </head>
  <body class="u-body">
    <!--<section class="u-align-center u-clearfix u-section-1" id="sec-5afe">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-1">Зимний "День открытых дверей"</h2>
        <p class="u-text u-text-2">Запись трансляции мероприятия "День открытых дверей 2021" - 6 января 2021</p>
        <div class="u-expanded-width-sm u-expanded-width-xs u-video u-video-1">
          <div class="embed-responsive embed-responsive-1">
            <iframe style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;" class="embed-responsive-item" src="https://www.youtube.com/embed/VpoRG92ebYk?mute=0&amp;showinfo=0&amp;controls=0&amp;start=0" frameborder="0" allowfullscreen=""></iframe>
          </div>
        </div>
        <div class="u-border-3 u-border-custom-color-1 u-expanded-width u-line u-line-horizontal u-line-1"></div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-section-1" id="sec-5afe">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-1">Весенний "День открытых дверей"</h2>
        <p class="u-text u-text-2">Видео с мероприятия "День открытых дверей 2021" - 3 апреля 2021</p>
        <div class="u-expanded-width-sm u-expanded-width-xs u-video u-video-1">
          <div class="embed-responsive embed-responsive-1">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/RvqyhV2b4Dw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
        <div class="u-border-3 u-border-custom-color-1 u-expanded-width u-line u-line-horizontal u-line-1"></div>
      </div>
    </section>-->
    <section class="u-clearfix u-section-2" id="sec-1acd">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-col">
              <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                <div class="u-container-layout u-valign-bottom u-container-layout-1">
                  <!--img src="https://sun9-18.userapi.com/impg/Nut-WKQT-ZFhOHNiXQUgNqd4_xiWhI796ub2Jw/hgpnOtKqgns.jpg?size=1000x1000&quality=96&sign=083752e4b4685c265adabad71cc2268a&type=album" alt="" class="u-align-center u-image u-image-default u-image-1" data-image-width="1280" data-image-height="808"-->
            		  <img src="https://sun9-49.userapi.com/impf/GR7hkssSRgF4UFJDxA109IJ6OvoBY-CRxoiqow/zCWRzafZTII.jpg?size=604x604&amp;quality=95&amp;sign=dce0887f9d3a589e89f4f035001300f1&amp;type=album" alt="" class="u-align-center u-image u-image-default u-image-1" data-image-width="1280" data-image-height="808">
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                <div class="u-container-layout u-container-layout-2">
		  <h3 class="u-text u-text-default u-text-1">ОЛИМПИАДА ПО ФИЗИКЕ «АБИТУРИЕНТ БГУ – 2022»&nbsp;!</h3>
                  <p class="u-text u-text-default u-text-2">Физический факультет этой весной вновь принимает гостей!<br>
                    <br>ДЛЯ АБИТУРИЕНТОВ на физическом факультете пройдет ОЛИМПИАДА ПО ФИЗИКЕ «АБИТУРИЕНТ&nbsp;БГУ&nbsp;–&nbsp;2022» в два этапа:<br>
		    <br>I&nbsp;этап&nbsp;:&nbsp;<strong>16&nbsp;апреля&nbsp;2022&nbsp;года</strong><br>
                    <br>Форма проведения олимпиады: письменное тестовое задание (32&nbsp;задачи на 3,5&nbsp;часа). 
<!-- 			  Задачи взяты из банка данных централизованного тестирования по&nbsp;физике. -->
		    <br>
		    <br>
		    <br>II&nbsp;этап&nbsp;:&nbsp;<strong>30&nbsp;апреля&nbsp;2022&nbsp;года</strong><br>
		    <br>Форма проведения олимпиады: письменное задание, состоящее из 5&nbsp;задач, на решение которых отводится 4&nbsp;часа.
		    <br>
		    <br>К участию во <strong>втором</strong><strong>&nbsp;туре</strong> допускаются <strong>все участники</strong> первого&nbsp;тура.
		    <br>
		    <br>
                    <br>✹&nbsp;Регистрация участников: с&nbsp;10:00&nbsp;до&nbsp;10:45 в фойе&nbsp;1-го&nbsp;этажа корпуса физического факультета по адресу: ул.&nbsp;Бобруйская&nbsp;5, г.&nbsp;Минск. При&nbsp;регистрации необходимо предъявить паспорт.<br>
                    <!-- br>✹&nbsp;Начало олимпиады:<br>10:00, 319 аудитория физического факультета.<br -->
                    <br>✹&nbsp;НЕОБХОДИМО ПРОЙТИ ПРЕДВАРИТЕЛЬНУЮ РЕГИСТРАЦИЮ – <a href="https://docs.google.com/forms/d/e/1FAIpQLSeMrc-NMElXFE7JHJAy-MqJ3X1-3FQQ1HaDa_5PV7qFShtbOQ/viewform?edit_requested=true" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-color u-text-hover-custom-color-1 u-btn-1" target="_blank">по&nbsp;ссылке</a>&nbsp;!!!<br>
                    <br>Участие в олимпиаде БЕСПЛАТНОЕ.<br>
                    <br>Телефоны для&nbsp;справок: +375&nbsp;(17)&nbsp;209-52-67, +375&nbsp;(17)&nbsp;209-51-15.<br>
	  <br>
	  <br>
			  
                    {% get_current_language as LANGUAGE_CODE %}
                    {% if LANGUAGE_CODE == "ru"%}
                    <br><a style="color:#e6bc29;" href="https://physics.bsu.by/media/media/Programma_2022_BidCXti.pdf" target="_blank">Программа олимпиады</a>
		    <br><a style="color:#e6bc29;" href="https://physics.bsu.by/media/media/otvety-na-zadaniya-I-tura-Olimpiady-po-fizike.pdf" target="_blank">Ответы на задания олимпиады (I тур)</a>
		    <br><a style="color:#e6bc29;" href="https://physics.bsu.by/media/media/Rezultaty_1_tura_wfRTPTp.pdf">Результаты I тура олимпиады</a>
		    <br><a style="color:#e6bc29;" href="https://physics.bsu.by/media/media/Problems_of_the_I_round_of_the_Olimpiad__1-4_variants.pdf">Условия задач I тура олимпиады</a>
<!--                     <br><a style="color:#e6bc29;" href="#">Итоговые результаты олимпиады</a> -->
<!--                     <br><a style="color:#e6bc29;" href="#">Решения задач</a> -->
                    {% endif %}
                    {% if LANGUAGE_CODE == "en"%}
                    <br><a style="color:#e6bc29;" href="https://physics.bsu.by/media/media/Programma_2022_BidCXti.pdf" target="_blank">Olympiad program</a>
		    <br><a style="color:#e6bc29;" href="https://physics.bsu.by/media/media/otvety-na-zadaniya-I-tura-Olimpiady-po-fizike.pdf" target="_blank">Answers to the tasks of the Olympiad (I round)</a>
		    <br><a style="color:#e6bc29;" href="https://physics.bsu.by/media/media/Rezultaty_1_tura_wfRTPTp.pdf">Results of the I round of the Olympiad</a>
                    <br><a style="color:#e6bc29;" href="https://physics.bsu.by/media/media/Problems_of_the_I_round_of_the_Olimpiad__1-4_variants.pdf">Conditions of problems of the I round of the Olympiad</a>
<!--                     <br><a style="color:#e6bc29;" href="#">Final results of the Olympiad</a> -->
<!--                     <br><a style="color:#e6bc29;" href="#">Solutions of problems</a> -->
                    {% endif %}
	  
	  <br>
	  <br>
	  <br>
	  </p><div class="u-border-3 u-border-custom-color-1 u-expanded-width u-line u-line-horizontal u-line-1"></div>
	  <br>
	  <br>
	  <br>
		  <h3 class="u-text u-text-default u-text-1">ОЛИМПИАДА ПО ФИЗИКЕ «АБИТУРИЕНТ БГУ – 2021» !</h3>
                  <p class="u-text u-text-default u-text-2">Физический факультет снова принимает гостей!<br>
                    <br>22 мая 2021 года наши двери откроются для абитуриентов - участников олимпиады по физике «АБИТУРИЕНТ БГУ – 2021»<br>
                    <br>Олимпиада будет проходить в форме письменного задания, состоящего из 5 задач, на решение которых отводится 4 часа. К участию приглашаются учащиеся 10 и 11 классов!<br>
                    <br>✹ Регистрация участников:<br>с 9:30 до 9:55 в фойе 1-го этажа корпуса физического факультета.<br>
                    <br>✹ Начало олимпиады:<br>10:00, 319 аудитория физического факультета.<br>
                    <br>✹ НЕОБХОДИМО ПРОЙТИ ПРЕДВАРИТЕЛЬНУЮ РЕГИСТРАЦИЮ - <a href="https://docs.google.com/forms/d/1IjbxA3W942kXUACcfyY7kzi_LgI8D8s6UgJANOsmgKc/viewform?edit_requested=true" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-color u-text-hover-custom-color-1 u-btn-1" target="_blank">по ссылке</a> !!!
                    <br>Участие в олимпиаде БЕСПЛАТНОЕ.<br>
                    <br>Телефон для справок: +375 (17) 209-52-67<br>
                    <br>
                    <br>
                    
                    

                    {% get_current_language as LANGUAGE_CODE %}
                    {% if LANGUAGE_CODE == "ru"%}
                    <br><a style="color:#e6bc29;" href="https://physics.bsu.by/media/media/Programma_2021.pdf">Программа олимпиады</a>
                    <br><a style="color:#e6bc29;" href="https://physics.bsu.by/media/media/nQ0AnRpwabc.jpg">Итоговые результаты олимпиады</a>
                    <br><a style="color:#e6bc29;" href="https://physics.bsu.by/media/media/Условия_задач.pdf">Условия задач</a>
                    <br><a style="color:#e6bc29;" href="https://physics.bsu.by/media/media/Решения_задач.pdf">Решения задач</a>
                    {% endif %}
                    {% if LANGUAGE_CODE == "en"%}
                    <br><a style="color:#e6bc29;" href="https://physics.bsu.by/media/media/Programma_2021.pdf">Olympiad program</a>
                    <br><a style="color:#e6bc29;" href="https://physics.bsu.by/media/media/nQ0AnRpwabc.jpg">Final results of the Olympiad</a>
                    <br><a style="color:#e6bc29;" href="https://physics.bsu.by/media/media/Условия_задач.pdf">Conditions of problems</a>
                    <br><a style="color:#e6bc29;" href="https://physics.bsu.by/media/media/Решения_задач.pdf">Solutions of problems</a>
                    {% endif %}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>    
  </body>
{% endblock %}
