{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Известные выпускники" %}{% endblock %}

{% block content %}

<div class="dekanat">
    <div class="container">
        <div class="page_name">{% trans "Известные выпускники" %}</div>
        {% for unit in alums %}
        <a href="{{ unit.slug }}" class="inline_button"><div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"><img src="{{ unit.photo.url }}"></div>
            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="title">{{ unit.name }}</div>
                <div class="description">{{ unit.shortDescription }}<br>{{ unit.facultyAndSpeciality }}</div>
                <div class="description">
                    <p>Период обучения: {{ unit.periodOfStudy }}</p>
                </div>
            </div>
        </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}