{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Известные выпускники" %}{% endblock %}

{% block content %}

<div class="dekanat">
    <div class="container">
        <div class="page_name">{% trans "Известные выпускники" %}</div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <img src="{% static 'home/assets/images/alum1.jpg' %}">
            </div>
            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="title">Арцимович Лев Андреевич</div>
                <div class="description">выпускник 1928 года</div>
                <div class="description">
                    <p>Период обучения: 1924-1928</p>
                </div>                       
            </div>
        </div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"><img
                    src="{% static 'home/assets/images/alum2.jpg' %}"></div>
            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="title">Фёдоров Федор Иванович</div>
                <div class="description">выпускник 1931 года</div>
                <div class="description">
                    <p>Период обучения: 1929-1931</p>                   
                </div>
            </div>
        </div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"><img
                    src="{% static 'home/assets/images/alum3.jpg' %}"></div>
            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="title">Севченко Антон Никифорович</div>
                <div class="description">выпускник 1931 года</div>
                <div class="description">
                    <p>Период обучения: 1929-1931</p>
                    
                </div>
            </div>
        </div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"><img
                    src="{% static 'home/assets/images/alum4.jpg' %}"></div>
            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="title">Бриш Аркадий Адамович</div>
                <div class="description">выпускник 1940 года</div>
                <div class="description">
                    <p>Период обучения: 1935-1940</p>
                </div>
            </div>
        </div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"><img
                    src="{% static 'home/assets/images/alum5.jpg' %}"></div>
            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="title">Борисевич Николай Александрович</div>
                <div class="description">выпускник 1950 года</div>
                <div class="description">
                    <p>Период обучения: 1945-1950</p>
                </div>
            </div>
        </div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"><img
                    src="{% static 'home/assets/images/alum6.jpg' %}"></div>
            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="title">Рубинов Анатолий Николаевич</div>
                <div class="description">выпускник 1961 года</div>
                <div class="description">
                    <p>Период обучения: 1957-1961</p>                    
                </div>
            </div>
        </div>

        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"><img
                    src="{% static 'home/assets/images/alum7.jpg' %}"></div>
            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="title">Барышевский Владимир Григорьевич</div>
                <div class="description">выпускник 1962 года</div>
                <div class="description">
                    <p>Период обучения: 1957-1962</p>                    
                </div>
            </div>
        </div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"><img
                    src="{% static 'home/assets/images/alum8.jpg' %}"></div>
            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="title">Казак Николай Станиславович</div>
                <div class="description">выпускник 1966 года</div>
                <div class="description">
                    <p>Период обучения: 1961-1966</p>                    
                </div>
            </div>
        </div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"><img
                    src="{% static 'home/assets/images/alum9.jpg' %}"></div>
            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="title">Стражев Василий Иванович</div>
                <div class="description">выпускник 1966 года</div>
                <div class="description">
                    <p>Период обучения: 1961-1966</p>                    
                </div>
            </div>
        </div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"><img
                    src="{% static 'home/assets/images/.jpg' %}"></div>
            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="title">Колесова Ирина Михайловна</div>
                <div class="description">Специалист (диспетчер)<br></div>
                <div class="description">
                    <p>сл.тел: (375-17) 209-51-15</p>                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}