{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Известные выпускники" %}{% endblock %}

{% block content %}

<div class="dekanat">
    <div class="container">
        <div class="page_name">{% trans "Известные выпускники" %}</div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <img src="{% static 'home/assets/images/alum1.jpg' %}">
            </div>
            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="title">Арцимович Лев Андреевич</div>
                <div class="description">выпускник 1928 года</div>
                <div class="description">
                    <p>Период обучения: 1924-1928</p>
                </div>                       
            </div>
        </div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"><img
                    src="{% static 'home/assets/images/alum2.jpg' %}"></div>
            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="title">Фёдоров Федор Иванович</div>
                <div class="description">выпускник 1931 года</div>
                <div class="description">
                    <p>Период обучения: 1929-1931</p>                   
                </div>
            </div>
        </div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"><img
                    src="{% static 'home/assets/images/alum3.jpg' %}"></div>
            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="title">Севченко Антон Никифорович</div>
                <div class="description">выпускник 1931 года</div>
                <div class="description">
                    <p>Период обучения: 1929-1931</p>
                    
                </div>
            </div>
        </div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"><img
                    src="{% static 'home/assets/images/alum4.jpg' %}"></div>
            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="title">Бриш Аркадий Адамович</div>
                <div class="description">выпускник 1940 года</div>
                <div class="description">
                    <p>Период обучения: 1935-1940</p>
                </div>
            </div>
        </div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"><img
                    src="{% static 'home/assets/images/alum5.jpg' %}"></div>
            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="title">Борисевич Николай Александрович</div>
                <div class="description">выпускник 1950 года</div>
                <div class="description">
                    <p>Период обучения: 1945-1950</p>
                </div>
            </div>
        </div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"><img
                    src="{% static 'home/assets/images/alum6.jpg' %}"></div>
            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="title">Рубинов Анатолий Николаевич</div>
                <div class="description">выпускник 1961 года</div>
                <div class="description">
                    <p>Период обучения: 1957-1961</p>                    
                </div>
            </div>
        </div>

        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"><img
                    src="{% static 'home/assets/images/alum7.jpg' %}"></div>
            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="title">Барышевский Владимир Григорьевич</div>
                <div class="description">выпускник 1962 года</div>
                <div class="description">
                    <p>Период обучения: 1957-1962</p>                    
                </div>
            </div>
        </div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"><img
                    src="{% static 'home/assets/images/alum8.jpg' %}"></div>
            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="title">Казак Николай Станиславович</div>
                <div class="description">выпускник 1966 года</div>
                <div class="description">
                    <p>Период обучения: 1961-1966</p>                    
                </div>
            </div>
        </div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"><img
                    src="{% static 'home/assets/images/alum9.jpg' %}"></div>
            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="title">Стражев Василий Иванович</div>
                <div class="description">выпускник 1966 года</div>
                <div class="description">
                    <p>Период обучения: 1961-1966</p>                    
                </div>
            </div>
        </div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"><img
                    src="{% static 'home/assets/images/alum10.jpg' %}"></div>
            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="title">Линев Владимир Николаевич</div>
                <div class="description">выпускник 1973 года</div>
                <div class="description">
                    <p>Период обучения: 1968-1973</p>                    
                </div>
            </div>
        </div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"><img
                    src="{% static 'home/assets/images/alum11.jpg' %}"></div>
            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="title">Кононов Владимир Антонович</div>
                <div class="description">выпускник 1974 года<br></div>
                <div class="description">
                    <p>Период обучения: 1970-1974</p>                    
                </div>
            </div>
        </div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"><img
                    src="{% static 'home/assets/images/alum12.jpg' %}"></div>
            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="title">Лознер Леонид Ефимович</div>
                <div class="description">выпускник 1983 года<br></div>
                <div class="description">
                    <p>Период обучения: 1978-1983</p>                    
                </div>
            </div>
        </div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"><img
                    src="{% static 'home/assets/images/alum13.jpg' %}"></div>
            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="title">Бруев Иван Александрович</div>
                <div class="description">выпускник 1984 года<br></div>
                <div class="description">
                    <p>Период обучения: 1980-1984</p>                    
                </div>
            </div>
        </div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"><img
                    src="{% static 'home/assets/images/alun14.jpg' %}"></div>
            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="title">Нгуен Данг Куанг</div>
                <div class="description">выпускник 1991 года<br></div>
                <div class="description">
                    <p>Период обучения: 1987-1991</p>                    
                </div>
            </div>
        </div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"><img
                    src="{% static 'home/assets/images/alun15.jpg' %}"></div>
            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="title">Железко Федор Борисович</div>
                <div class="description">выпускник 1993 года<br></div>
                <div class="description">
                    <p>Период обучения: 1988-1993</p>                    
                </div>
            </div>
        </div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"><img
                    src="{% static 'home/assets/images/alum16.jpg' %}"></div>
            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="title">Лащенко Павел Анатольевич</div>
                <div class="description">выпускник 1994 года<br></div>
                <div class="description">
                    <p>Период обучения: 1990-1994</p>                    
                </div>
            </div>
        </div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"><img
                    src="{% static 'home/assets/images/alum17.jpg' %}"></div>
            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="title">Кислый Виктор Владимирович</div>
                <div class="description">выпускник 1999 года<br></div>
                <div class="description">
                    <p>Период обучения: 1995-1999</p>                    
                </div>
            </div>
        </div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"><img
                    src="{% static 'home/assets/images/alum18.jpg' %}"></div>
            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="title">Кондрашов Олег Владимирович</div>
                <div class="description">выпускник 2007 года<br></div>
                <div class="description">
                    <p>Период обучения: 2003-2007</p>                    
                </div>
            </div>
        </div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"><img
                    src="{% static 'home/assets/images/alum19.jpg' %}"></div>
            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="title">Козадаев Константин Владимирович</div>
                <div class="description">выпускник 2005 года<br></div>
                <div class="description">
                    <p>Период обучения: 2001-2005</p>                    
                </div>
            </div>
        </div>

        <!--<div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"><img
                    src="{% static 'home/assets/images/.jpg' %}"></div>
            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="title">Колесова Ирина Михайловна</div>
                <div class="description">Специалист (диспетчер)<br></div>
                <div class="description">
                    <p>сл.тел: (375-17) 209-51-15</p>                    
                </div>
            </div>
        </div>-->
    </div>
</div>
{% endblock %}