{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Совет факультета" %}{% endblock %}

{% block content %}
<div class="mainInf">
    <div class="container">
        <div class="page_name">{% trans "Совет факультета" %}</div>
        <div class="inf center-lg row pageNews">
            {% get_current_language as LANGUAGE_CODE %}
            {% if LANGUAGE_CODE == "ru"%}
            <table border="2" cellpadding="2" cellspacing="0" width="90%">
                <tbody>
                    <tr>
                        <td>
                            <h3><a href="/staff/tivanov-mihail-sergeevich/" class="inline_button"
                                    class="inline_button">Тиванов Михаил Сергеевич</a></h3><br />(председатель Совета)
                        </td>
                        <td>
                            <h3>декан факультета,&nbsp;кандидат. физ.-мат. наук, доцент</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3><a href="/staff/gorbachuk-nikolaj-ivanovich/" class="inline_button">Горбачук Николай
                                    Иванович</a></h3><br />(зам. председателя Совета)
                        </td>
                        <td>
                            <h3>заместитель декана, канд. физ.-мат. наук, доцент</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3><a href="/staff/lyashenko-lyudmila-sergeevna/" class="inline_button">Ляшенко Людмила
                                    Сергеевна</a></h3><br />(секретарь Совета)
                        </td>
                        <td>
                            <h3>зам. декана по учебно-воспитательной работе и социальным вопросам, доцент кафедры
                                лазерной физики и спектроскопии, канд. физ.-мат. наук, доцент</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3><a href="/staff/anishik-viktor-mihajlovich/" class="inline_button">Анищик Виктор
                                    Михайлович</a></h3>
                        </td>
                        <td>
                            <h3>профессор кафедры физики твердого тела, доктор физ.-мат. наук, профессор</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3><a href="#" class="inline_button">Богданович Максим Владимирович</a></h3>
                        </td>
                        <td>
                            <h3>директор ГНУ «Институт физики им. Б.И.Степанова» НАН Беларуси, канд. физ.-мат. наук,
                                доцент</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3><a href="/staff/voropaj-evgenij-semenovich/" class="inline_button">Воропай Евгений
                                    Семенович</a></h3>
                        </td>
                        <td>
                            <h3>профессор кафедры лазерной физики и спектроскопии, доктор физ.-мат. наук, профессор</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3><a href="/staff/gajsyonok-viktor-anatolevich/" class="inline_button">Гайсенок Виктор
                                    Анатольевич</a></h3>
                        </td>
                        <td>
                            <h3>ректор государственного учреждения образования «Республиканский институт высшей школы»,
                                доктор физ.-мат. наук, профессор</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3><a href="#" class="inline_button">Загорская Светлана Александровна</a></h3>
                        </td>
                        <td>
                            <h3>председатель методической комиссии факультета, доцент кафедры общей физики, канд.
                                физ.-мат. наук</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3><a href="#" class="inline_button">Зорка Мария Олеговна</a></h3>
                        </td>
                        <td>
                            <h3>студентка 4 курса, председатель Совета старост факультета</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3><a href="/staff/kozadaev-konstantin-vladimirovich/" class="inline_button">Козадаев
                                    Константин Владимирович</a></h3>
                        </td>
                        <td>
                            <h3>проректор по учебной работе и интернационализации образования БГУ, доктор физ.-мат.
                                наук, профессор</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3><a href="/staff/kolesov-egor-aleksandrovich/" class="inline_button">Колесов Егор
                                    Александрович</a></h3>
                        </td>
                        <td>
                            <h3>зам. декана по научной работе и международному сотрудничеству, ст. научный сотрудник НИЛ
                                энергоэффективных материалов и технологий, канд. физ.-мат. наук</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3><a href="/staff/komarov-stanislav-olegovich/" class="inline_button">Комаров Станислав
                                    Олегович</a></h3>
                        </td>
                        <td>
                            <h3>председатель Совета молодых учёных факультета, ст. преподаватель кафедры теоретической
                                физики и астрофизики, канд. физ.-мат. наук</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3><a href="/staff/larkina-elena-petrovna/" class="inline_button">Ларькина Елена
                                    Петровна</a></h3>
                        </td>
                        <td>
                            <h3>ведущий специалист по учебному оборудованию, председатель профбюро физического
                                факультета</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3><a href="/staff/linev-vladimir-nikolaevich/" class="inline_button">Линев Владимир
                                    Николаевич</a></h3>
                        </td>
                        <td>
                            <h3>генеральный директор научно-производственного частного унитарного предприятия «АДАНИ»,
                                доктор технических наук, профессор</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3><a href="/staff/mazanik-aleksandr-vasilevich/" class="inline_button">Мазаник Александр
                                    Васильевич</a></h3>
                        </td>
                        <td>
                            <h3>заведующий кафедрой энергофизики, канд. физ.-мат. наук, доцент</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3><a href="/staff/maksimenko-sergej-afanasevich/" class="inline_button">Максименко Сергей
                                    Афанасьевич</a></h3>
                        </td>
                        <td>
                            <h3>директор научно-исследователь-ского учреждения «Институт ядерных проблем» БГУ, доктор
                                физ.-мат. наук, профессор</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3><a href="/staff/martinovich-grigorij-grigorevich/" class="inline_button">Мартинович
                                    Григорий Григорьевич</a></h3>
                        </td>
                        <td>
                            <h3>заведующий кафедрой биофизики, доктор биологических наук, доцент</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3><a href="/staff/odzhaev-vladimir-borisovich/" class="inline_button">Оджаев Владимир
                                    Борисович</a></h3>
                        </td>
                        <td>
                            <h3>заведующий кафедрой физики полупроводников и наноэлектроники, доктор физ.-мат. наук,
                                профессор</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3><a href="/staff/pilipenko-vladimir-aleksandrovich/" class="inline_button">Пилипенко
                                    Владимир Александрович</a></h3>
                        </td>
                        <td>
                            <h3>зам. директора НТЦ «Белмикроанализ» ОАО «Интеграл», доктор технических наук,
                                член-корреспондент НАН Беларуси, профессор</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3><a href="/staff/picevich-georgij-aleksandrovich/" class="inline_button">Пицевич Георгий
                                    Александрович</a></h3>
                        </td>
                        <td>
                            <h3>заведующий кафедрой физической оптики и прикладной спектроскопии, канд. физ.-мат. наук,
                                доцент</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3><a href="/staff/rushnova-irina-ivanovna/" class="inline_button">Рушнова Ирина
                                    Ивановна</a></h3>
                        </td>
                        <td>
                            <h3>заведующая кафедрой высшей математики и математической физики, канд. физ.-мат. наук</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3><a href="/staff/romanov-oleg-gennadevich/" class="inline_button">Романов Олег
                                    Геннадьевич</a></h3>
                        </td>
                        <td>
                            <h3>заведующий кафедрой компьютер-ного моделирования, канд. физ.-мат. наук, доцент</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3><a href="#" class="inline_button">Савченко Кристина Павловна</a></h3>
                        </td>
                        <td>
                            <h3>студентка 4 курса, председатель профбюро студентов</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3><a href="/staff/slobodyanyuk-anatolij-ivanovich/" class="inline_button">Слободянюк
                                    Анатолий Иванович</a></h3>
                        </td>
                        <td>
                            <h3>заведующий кафедрой общей физики, канд. физ.-мат. наук, доцент</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3><a href="/staff/soloduhin-igor-anatolevich/" class="inline_button">Солодухин Игорь
                                    Анатольевич</a></h3>
                        </td>
                        <td>
                            <h3>директор Совместного института БГУ-ДПУ, канд. физ.-мат. наук, доцент</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3><a href="/staff/timoshenko-andrej-igorevich/" class="inline_button">Тимощенко Андрей
                                    Игоревич</a></h3>
                        </td>
                        <td>
                            <h3>заведующий кафедрой ядерной физики, канд. физ.-мат. наук, доцент</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3><a href="/staff/tolstik-aleksej-leonidovich/" class="inline_button">Толстик Алексей
                                    Леонидович</a></h3>
                        </td>
                        <td>
                            <h3>заведующий кафедрой лазерной физики и спектроскопии, доктор физ.-мат. наук, профессор
                            </h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3><a href="/staff/uglov-vladimir-vasilevich/" class="inline_button">Углов Владимир
                                    Васильевич</a></h3>
                        </td>
                        <td>
                            <h3>заведующий кафедрой физики твердого тела, доктор физ.-мат. наук, профессор</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3><a href="/staff/furs-aleksandr-nikolaevich/" class="inline_button">Фурс Александр
                                    Николаевич</a></h3>
                        </td>
                        <td>
                            <h3>заведующий кафедрой теоретической физики и астрофизики, доктор физ.-мат. наук, профессор
                            </h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3><a href="/staff/hmelnickij-aleksandr-ilich/" class="inline_button">Хмельницкий Александр
                                    Ильич</a></h3>
                        </td>
                        <td>
                            <h3>доцент кафедры биофизики, канд. физ.-мат. наук, доцент</h3>
                        </td>
                    </tr>
                </tbody>
            </table>
            {% endif %}
            {% if LANGUAGE_CODE == "en"%}
            <table border="2" cellpadding="2" cellspacing="0" width="90%">
                <tbody>
                    <tr>
                        <td>
                            <h3> <a href="/staff/tivanov-mihail-sergeevich/" class="inline_button"
                                    class="inline_button"> Tivanov Mikhail Sergeevich </a> </h3> <br /> (Chairman of the Council)
                        </td>
                        <td>
                            <h3> Dean of the Faculty of Physics,&nbsp;Candidate&nbsp;(Physics and Mathematics), Associate Professor </h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3> <a href="/staff/gorbachuk-nikolaj-ivanovich/" class="inline_button"> Gorbachuk Nikolay
                                    Ivanovich </a> </h3> <br /> (Deputy Chairman of the Council)
                        </td>
                        <td>
                            <h3> Deputy Dean for Academic and Methodological Affairs, Candidate&nbsp;(Physics and Mathematics), Associate Professor of the
                                Department of Semiconductor Physics and Nanoelectronics </h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3> <a href="/staff/lyashenko-lyudmila-sergeevna/" class="inline_button"> Lyashenko
                                    Lyudmila Sergeevna </a> </h3> <br /> (Secretary of the Council)
                        </td>
                        <td>
                            <h3> Deputy Dean for Educational Work and Social Affairs, Associate Professor of the
                                Department of Laser Physics and Spectroscopy, Candidate&nbsp;(Physics and Mathematics), Associate Professor
                            </h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3> <a href="/staff/anishik-viktor-mihajlovich/" class="inline_button"> Anishchik Viktor
                                    Mikhailovich </a> </h3>
                        </td>
                        <td>
                            <h3> Professor of the Department of Solid State Physics, Doctor of Sciences&nbsp;(Physics and Mathematics),
                                Professor </h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3> <a href="#" class="inline_button"> Bogdanovich Maxim Vladimirovich </a> </h3>
                        </td>
                        <td>
                            <h3> Director of the State Scientific Institution “B. I. Stepanov Institute of Physics
                                of the National Academy of Sciences of Belarus”, Candidate&nbsp;(Physics and Mathematics), Associate
                                Professor </h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3> <a href="/staff/voropaj-evgenij-semenovich/" class="inline_button"> Voropaj Evgeniy
                                    Semenovich </a> </h3>
                        </td>
                        <td>
                            <h3> Professor of the Department of Laser Physics and Spectroscopy, Doctor of Sciences&nbsp;(Physics and Mathematics), Professor </h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3> <a href="/staff/gajsyonok-viktor-anatolevich/" class="inline_button"> Gaisenok Viktor
                                    Anatolyevich </a> </h3>
                        </td>
                        <td>
                            <h3> Rector of the State Educational Institution "Republican Institute of Higher Education",
                                Doctor of Sciences&nbsp;(Physics and Mathematics), Professor </h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3> <a href="#" class="inline_button"> Zagorskaya Svetlana Alexandrovna </a> </h3>
                        </td>
                        <td>
                            <h3> Chairman of the Methodological Commission of the Faculty, Associate Professor of the
                                Department of General Physics, Candidate&nbsp;(Physics and Mathematics) </h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3> <a href="#" class="inline_button"> Zorka Maria Olegovna </a> </h3>
                        </td>
                        <td>
                            <h3> 4th year student, chairperson of the Faculty Head Council </h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3> <a href="/staff/kozadaev-konstantin-vladimirovich/" class="inline_button"> Konstantin
                                    Vladimirovich Kozadaev </a> </h3>
                        </td>
                        <td>
                            <h3> Vice-Rector for Academic Affairs and Internationalization of Education, BSU, Doctor of Sciences&nbsp;(Physics and Mathematics), Professor </h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3> <a href="/staff/kolesov-egor-aleksandrovich/" class="inline_button"> Kolesov Egor
                                    Alexandrovich </a> </h3>
                        </td>
                        <td>
                            <h3> Deputy Dean for Research and International Cooperation, Sen. Researcher of the Research Laboratory of Energy
                                Efficient Materials and Technologies, Candidate&nbsp;(Physics and Mathematics)
                            </h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3> <a href="/ staff / komarov-stanislav-olegovich / " class=" inline_button "> Komarov
                                    Stanislav Olegovich </a> </h3>
                        </td>
                        <td>
                            <h3> Chairman of the Council of Young Scientists of the Faculty, Sen. Lecturer at the
                                Department of Theoretical Physics and Astrophysics, Candidate&nbsp;(Physics and Mathematics) </h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3> <a href="/staff/larkina-elena-petrovna/" class="inline_button"> Larkina Elena Petrovna
                                </a> </h3>
                        </td>
                        <td>
                            <h3> Leading Specialist in educational equipment, Chairman of the Trade Union Bureau of the
                                Faculty of Physics </h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3> <a href="/staff/linev-vladimir-nikolaevich/" class="inline_button"> Linev Vladimir
                                    Nikolaevich </a> </h3>
                        </td>
                        <td>
                            <h3> General Director of the Scientific and Production Private Unitary Enterprise "ADANI",
                                Doctor of Technical Sciences, Professor </h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3> <a href="/staff/mazanik-aleksandr-vasilevich/" class="inline_button"> Mazanik Alexander
                                    Vasilevich </a> </h3>
                        </td>
                        <td>
                            <h3> Head of the Department of Energy Physics, Candidate&nbsp;(Physics and Mathematics), Associate Professor
                            </h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3> <a href="/staff/maksimenko-sergej-afanasevich/" class="inline_button"> Maksimenko
                                    Sergey Afanasevich </a> </h3>
                        </td>
                        <td>
                            <h3> Director of the research institution "Institute of Nuclear Problems" of BSU, Doctor of Sciences&nbsp;(Physics and Mathematics), Professor </h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3> <a href="/staff/martinovich-grigorij-grigorevich/" class="inline_button"> Martinovich
                                    Grigorij Grigorievich </a> </h3>
                        </td>
                        <td>
                            <h3> Head of the Department of Biophysics, Doctor of Biological Sciences, Associate
                                Professor </h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3> <a href="/staff/odzhaev-vladimir-borisovich/" class="inline_button"> Ojaev Vladimir
                                    Borisovich </a> </h3>
                        </td>
                        <td>
                            <h3> Head of the Department of Semiconductor Physics and Nanoelectronics, Doctor of Sciences&nbsp;(Physics and Mathematics), Professor </h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3> <a href="/staff/pilipenko-vladimir-aleksandrovich/" class="inline_button"> Pilipenko
                                    Vladimir Alexandrovich </a> </h3>
                        </td>
                        <td>
                            <h3> Deputy Director of the STC "Belmikroanalysis" JSC "Integral", Doctor of Technical
                                Sciences, Corresponding Member of the National Academy of Sciences of Belarus, Professor
                            </h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3> <a href="/staff/picevich-georgij-aleksandrovich/" class="inline_button"> Pitsevich
                                    Georgij Alexandrovich </a> </h3>
                        </td>
                        <td>
                            <h3> Head of the Department of Physical Optics and Applied Spectroscopy, Candidate&nbsp;(Physics and Mathematics), Associate Professor </h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3> <a href="/staff/rushnova-irina-ivanovna/" class="inline_button"> Rushnova Irina
                                    Ivanovna </a> </h3>
                        </td>
                        <td>
                            <h3> Head of the Department of Higher Mathematics and Mathematical Physics, Candidate&nbsp;(Physics and Mathematics) </h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3> <a href="/staff/romanov-oleg-gennadevich/" class="inline_button"> Romanov Oleg
                                    Gennadievich </a> </h3>
                        </td>
                        <td>
                            <h3> Head of the Department of Computer Modeling, Candidate&nbsp;(Physics and Mathematics), Associate Professor
                            </h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3> <a href="#" class="inline_button"> Savchenko Kristina Pavlovna </a> </h3>
                        </td>
                        <td>
                            <h3> 4th year student, chairman of the Trade Union Bureau of Students of the Faculty of Physics </h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3> <a href="/staff/slobodyanyuk-anatolij-ivanovich/" class="inline_button"> Slobodyanyuk
                                    Anatoly Ivanovich </a> </h3>
                        </td>
                        <td>
                            <h3> Head of the Department of General Physics, Candidate&nbsp;(Physics and Mathematics), Associate Professor
                            </h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3> <a href="/staff/soloduhin-igor-anatolevich/" class="inline_button"> Soloduhin Igor
                                    Anatolievich </a> </h3>
                        </td>
                        <td>
                            <h3> Director of the Joint Institute BSU-DPU, Candidate&nbsp;(Physics and Mathematics), Associate Professor
                            </h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3> <a href="/staff/timoshenko-andrej-igorevich/" class="inline_button"> Timoshchenko Andrey
                                    Igorevich </a> </h3>
                        </td>
                        <td>
                            <h3> Head of the Department of Nuclear Physics, Candidate&nbsp;(Physics and Mathematics), Associate Professor
                            </h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3> <a href="/staff/tolstik-aleksej-leonidovich/" class="inline_button"> Tolstik Alexey
                                    Leonidovich </a> </h3>
                        </td>
                        <td>
                            <h3> Head of the Department of Laser Physics and Spectroscopy, Doctor of Sciences&nbsp;(Physics and Mathematics),
                                Professor </h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3> <a href="/staff/uglov-vladimir-vasilevich/" class="inline_button"> Uglov Vladimir
                                    Vasilievich </a> </h3>
                        </td>
                        <td>
                            <h3> Head of the Department of Solid State Physics, Doctor of Sciences&nbsp;(Physics and Mathematics), Professor
                            </h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3> <a href="/staff/furs-aleksandr-nikolaevich/" class="inline_button"> Furs Alexander
                                    Nikolaevich </a> </h3>
                        </td>
                        <td>
                            <h3> Head of the Department of Theoretical Physics and Astrophysics, Doctor of Sciences&nbsp;(Physics and Mathematics), Professor </h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3> <a href="/staff/hmelnickij-aleksandr-ilich/" class="inline_button"> Khmelnitsky
                                    Alexander Ilyich </a> </h3>
                        </td>
                        <td>
                            <h3> Associate Professor of the Department of Biophysics, Candidate&nbsp;(Physics and Mathematics), Associate
                                Professor </h3>
                        </td>
                    </tr>
                </tbody>
            </table>
            {% endif %}
            <div class="description"></div>
        </div>
    </div>
</div>

{% endblock %}
