{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Совет факультета" %}{% endblock %}

{% block content %}
<div class="mainInf">
    <div class="container">
        <div class="page_name">{% trans "Совет факультета" %}</div>
        <div class="inf center-lg row pageNews facultyC_">
            {% get_current_language as LANGUAGE_CODE %}
            {% if LANGUAGE_CODE == "ru"%}
<!--             <span style="display:none; margin-bottom:35px; width:100%!important; text-align:left!important; font-style:oblique; font-size:16px!important;color: #848484;">The&nbsp;main&nbsp;information on this page is currently only available in&nbsp;Russian. We apologize for the&nbsp;temporary&nbsp;inconvenience</span> -->
<table class="Table" style="border-collapse:collapse;  margin:0 auto !important;" width="100%" cellspacing="0" cellpadding="9" border="2">
                <tbody>
                    <tr>
                        <td style="vertical-align:top; width:75px;">
            <h3>
                        <a href="/staff/tivanov-mihail-sergeevich/" class="inline_button" style="white-space:unset!important;"><p style="text-align:center!important;">Тиванов</p>
                        <p style="text-align:center!important;">Михаил Сергеевич</p></a></h3>
                        <p>&nbsp;</p>
                        <p style="text-align:center!important;">(председатель Совета)</p>
            </td>
                        <td style="vertical-align:top; width:502px">
                        <h3><p style="text-align:center!important;">декан факультета,</p>
                        <p style="text-align:center!important;">канд. физ.-мат. наук, доцент</p></h3>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top; width:75px">
            <h3>
                        <a href="/staff/gorbachuk-nikolaj-ivanovich/" class="inline_button" style="white-space:unset!important;"><p>Горбачук</p>
                        <p>Николай Иванович</p></a>
            </h3>
                        <p>&nbsp;</p>
                        <p>(зам. председателя Совета)</p>
                        </td>
                        <td style="vertical-align:top; width:502px">
                        <h3><p>заместитель декана по учебной и методической работе,</p>
                        <p>канд. физ.-мат. наук, доцент</p></h3>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top; width:75px">
            <h3>
                        <a href="/staff/polyak-natalya-ippolitovna/" class="inline_button" style="white-space:unset!important;"><p>Поляк</p>
                        <p>Наталья Ипполитовна</p></a>
            </h3>
                        <p>&nbsp;</p>
                        <p>(секретарь Совета)</p>
                        <p>&nbsp;</p>
                        </td>
                        <td style="vertical-align:top; width:502px">
                        <h3><p>заместитель декана по учебно-воспитательной работе и социальным вопросам, доцент кафедры физики твердого тела, канд. физ.-мат. наук, доцент</p></h3>
                        </td>
                    </tr>
                    
                    <tr>
                        <td style="vertical-align:top; width:75px">
            <h3>
                        <a href="/staff/anishik-viktor-mihajlovich/" class="inline_button" style="white-space:unset!important;"><p>Анищик</p>
                        <p>Виктор Михайлович</p></a>
            </h3>
                        </td>
                        <td style="vertical-align:top; width:502px">
                        <h3><p>профессор кафедры физики твердого тела, доктор физ.-мат. наук, профессор</p></h3>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top; width:75px">
            <h3>
                        <a href="#" class="inline_button" style="white-space:unset!important;"><p>Богданович</p>
                        <p>Максим Владимирович</p></a>
            </h3>
                        </td>
                        <td style="vertical-align:top; width:502px">
                        <h3><p>директор ГНУ «Институт физики им. Б.И.Степанова» НАН Беларуси,&nbsp; канд. физ.-мат. наук, доцент</p></h3>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top; width:75px">
            <h3>
                        <a href="/staff/vojnarovskij-vladimir-vitalevich/" class="inline_button" style="white-space:unset!important;"><p>Войнаровский</p>
                        <p>Владимир Витальевич</p></a>
            </h3>
                        </td>
                        <td style="vertical-align:top; width:502px">
                        <h3><p>председатель Совета молодых учёных факультета, специалист по учебному оборудованию</p></h3>
                        </td>
                    </tr><tr>
                        <td style="vertical-align:top; width:75px">
            <h3>
                        <a href="/staff/voropaj-evgenij-semenovich/" class="inline_button" style="white-space:unset!important;"><p>Воропай</p>
                        <p>Евгений Семенович</p></a>
            </h3>
                        </td>
                        <td style="vertical-align:top; width:502px">
                        <h3><p>профессор кафедры лазерной физики и спектроскопии, доктор физ.-мат. наук, профессор</p></h3>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top; width:75px">
            <h3>
                        <a href="/staff/gajsyonok-viktor-anatolevich/" class="inline_button" style="white-space:unset!important;"><p>Гайсенок</p>
                        <p>Виктор Анатольевич</p></a>
            </h3>
                        </td>
                        <td style="vertical-align:top; width:502px">
                        <h3><p>ректор государственного учреждения образования «Республиканский институт высшей школы», доктор физ.-мат. наук, профессор</p></h3>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top; width:75px">
            <h3>
                        <a href="#" class="inline_button" style="white-space:unset!important;"><p>Загорская</p>
                        <p>Светлана Александровна</p></a>
            </h3>
                        </td>
                        <td style="vertical-align:top; width:502px">
                        <h3><p>председатель методической комиссии факультета, доцент кафедры общей физики, канд. физ.-мат. наук</p></h3>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top; width:75px">
            <h3>
                        <a href="/staff/kozadaev-konstantin-vladimirovich/" class="inline_button" style="white-space:unset!important;"><p>Козадаев</p>
                        <p>Константин Владимирович</p></a>
            </h3>
                        </td>
                        <td style="vertical-align:top; width:502px">
                        <h3><p>проректор по учебной работе и интернационализации образования БГУ, доктор физ.-мат. наук, профессор</p></h3>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top; width:75px">
            <h3>
                        <a href="/staff/kolesov-egor-aleksandrovich/" class="inline_button" style="white-space:unset!important;"><p>Колесов</p>
                        <p>Егор Александрович</p>
                        <p>&nbsp;</p></a>
            </h3>
                        </td>
                        <td style="vertical-align:top; width:502px">

                        <h3><p>заместитель декана по научной работе и международному сотрудничеству, ведущий научный сотрудник НИЛ энергоэффективных материалов и технологий, канд. физ.-мат. наук</p></h3>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top; width:75px">
            <h3>
                        <a href="/staff/larkina-elena-petrovna/" class="inline_button" style="white-space:unset!important;"><p>Ларькина</p>
                        <p>Елена Петровна</p>
                        <p>&nbsp;</p></a>
            </h3>
                        </td>
                        <td style="vertical-align:top; width:502px">
                        <h3><p>ведущий специалист по учебному оборудованию, председатель профбюро физического факультета</p></h3>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top; width:75px">
            <h3>
                        <a href="/staff/linev-vladimir-nikolaevich/" class="inline_button" style="white-space:unset!important;"><p>Линев</p>
                        <p>Владимир Николаевич</p>
                        <p>&nbsp;</p></a>
            </h3>
                        </td>
                        <td style="vertical-align:top; width:502px">
                        <h3><p>генеральный директор научно-производственного частного унитарного предприятия «АДАНИ», доктор технических наук, профессор</p></h3>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top; width:75px">
            <h3>
                        <a href="/staff/lyashenko-lyudmila-sergeevna/" class="inline_button" style="white-space:unset!important;"><p>Ляшенко</p>
                        <p>Людмила Сергеевна</p></a>
            </h3>
                        </td>
                        <td style="vertical-align:top; width:502px">
                        <h3><p>директор Совместного института БГУ-ДПУ, канд. физ.-мат. наук, доцент</p></h3>
                        </td>
                    </tr><tr>
                        <td style="vertical-align:top; width:75px">
            <h3>
                        <a href="/staff/maksimenko-sergej-afanasevich/" class="inline_button" style="white-space:unset!important;"><p>Максименко</p>
                        <p>Сергей Афанасьевич</p>
                        <p>&nbsp;</p></a>
            </h3>
                        </td>
                        <td style="vertical-align:top; width:502px">
                        <h3><p>директор научно-исследовательского учреждения «Институт ядерных проблем» БГУ, доктор физ.-мат. наук, профессор</p></h3>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top; width:75px">
            <h3>
                        <a href="/staff/martinovich-grigorij-grigorevich/" class="inline_button" style="white-space:unset!important;"><p>Мартинович</p>
                        <p>Григорий Григорьевич</p></a>
            </h3>
                        </td>
                        <td style="vertical-align:top; width:502px">
                        <h3><p>заведующий кафедрой биофизики, доктор биологических наук, доцент</p></h3>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top; width:75px">
            <h3>
                        <a href="/staff/novickij-andrej-viktorovich/" class="inline_button" style="white-space:unset!important;"><p>Новицкий</p>
                        <p>Андрей Викторович</p></a>
            </h3>
                        </td>
                        <td style="vertical-align:top; width:502px">
                        <h3><p>заведующий кафедрой физической оптики и прикладной информатики, доктор физ.-мат. наук, доцент</p></h3>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top; width:75px">
            <h3>
                        <a href="/staff/odzhaev-vladimir-borisovich/" class="inline_button" style="white-space:unset!important;"><p>Оджаев</p>
                        <p>Владимир Борисович</p></a>
            </h3>
                        </td>
                        <td style="vertical-align:top; width:502px">
                        <h3><p>заведующий кафедрой физики полупроводников и наноэлектроники, доктор физ.-мат. наук, профессор</p></h3>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top; width:75px">
            <h3>
                        <a href="/staff/pilipenko-vladimir-aleksandrovich/" class="inline_button" style="white-space:unset!important;"><p>Пилипенко</p>
                        <p>Владимир Александрович</p></a>
            </h3>
                        </td>
                        <td style="vertical-align:top; width:502px">
                        <h3><p>зам. директора НТЦ «Белмикроанализ» ОАО «Интеграл», доктор технических наук, член-корреспондент НАН Беларуси, профессор</p></h3>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top; width:75px">
            <h3>
                        <a href="/staff/romanov-oleg-gennadevich/" class="inline_button" style="white-space:unset!important;"><p>Романов</p>
                        <p>Олег Геннадьевич</p>
                        <p>&nbsp;</p></a>
            </h3>
                        </td>
                        <td style="vertical-align:top; width:502px">
                        <h3><p>заведующий кафедрой компьютерного моделирования, канд. физ.-мат. наук, доцент</p></h3>
                        </td>
                    </tr><tr>
                        <td style="vertical-align:top; width:75px">
            <h3>
                        <a href="/staff/rushnova-irina-ivanovna/" class="inline_button" style="white-space:unset!important;"><p>Рушнова</p>
                        <p>Ирина Ивановна</p></a>
            </h3>
                        </td>
                        <td style="vertical-align:top; width:502px">
                        <h3><p>заведующий кафедрой высшей математики и математической физики, канд. физ.-мат. наук</p></h3>
                        </td>
                    </tr>
                    
                    <tr>
                        <td style="vertical-align:top; width:75px">
            <h3>
                        <a href="/staff/svito-ivan-antonovich/" class="inline_button" style="white-space:unset!important;"><p>Свито</p>
                        <p>Иван Антонович</p></a>
            </h3>
                        </td>
                        <td style="vertical-align:top; width:502px">
                        <h3><p>заведующий кафедрой энергофизики, канд. физ.-мат. наук, доцент</p></h3>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top; width:75px">
            <h3>
                        <a href="/staff/slobodyanyuk-anatolij-ivanovich/" class="inline_button" style="white-space:unset!important;"><p>Слободянюк</p>
                        <p>Анатолий Иванович</p></a>
            </h3>
                        </td>
                        <td style="vertical-align:top; width:502px">
                        <h3><p>заведующий кафедрой общей физики, канд. физ.-мат. наук, доцент</p></h3>
                        </td>
                    </tr>
                    
                    <tr>
                        <td style="vertical-align:top; width:75px">
            <h3>
                        <a href="/staff/timoshenko-andrej-igorevich/" class="inline_button" style="white-space:unset!important;"><p>Тимощенко</p>
                        <p>Андрей Игоревич</p></a>
            </h3>
                        </td>
                        <td style="vertical-align:top; width:502px">
                        <h3><p>заведующий кафедрой ядерной физики, канд. физ.-мат. наук, доцент</p></h3>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top; width:75px">
            <h3>
                        <a href="/staff/tolstik-aleksej-leonidovich/" class="inline_button" style="white-space:unset!important;"><p>Толстик</p>
                        <p>Алексей Леонидович</p></a>
            </h3>
                        </td>
                        <td style="vertical-align:top; width:502px">
                        <h3><p>заведующий кафедрой лазерной физики и спектроскопии, доктор физ.-мат. наук, профессор</p></h3>
                        </td>
                    </tr>
                    <tr>
                        <td style="height:42px; vertical-align:top; width:75px">
            <h3>
                        <a href="/staff/uglov-vladimir-vasilevich/" class="inline_button" style="white-space:unset!important;"><p>Углов</p>
                        <p>Владимир Васильевич</p>
                        <p>&nbsp;</p></a>
            </h3>
                        </td>
                        <td style="height:42px; vertical-align:top; width:502px">
                        <h3><p>заведующий кафедрой физики твердого тела, доктор физ.-мат. наук, профессор</p></h3>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top; width:75px">
            <h3>
                        <a href="#" class="inline_button" style="white-space:unset!important;"><p>Фунтиков</p>
                        <p>Кирилл Викторович</p></a>
            </h3>
                        </td>
                        <td style="vertical-align:top; width:502px">
                        <h3><p>студент 4 курса, председатель профбюро студентов</p></h3>
                        </td>
                    </tr><tr>
                        <td style="vertical-align:top; width:75px">
            <h3>
                        <a href="/staff/furs-aleksandr-nikolaevich/" class="inline_button" style="white-space:unset!important;"><p>Фурс</p>
                        <p>Александр Николаевич</p></a>
            </h3>
                        </td>
                        <td style="vertical-align:top; width:502px">
                        <h3><p>заведующий кафедрой теоретической физики и астрофизики, доктор физ.-мат. наук, профессор</p></h3>
                        </td>
                    </tr>
                    
                    <tr>
                        <td style="vertical-align:top; width:75px">
            <h3>
                        <a href="/staff/hmelnickij-aleksandr-ilich/" class="inline_button" style="white-space:unset!important;"><p>Хмельницкий</p>
                        <p>Александр Ильич</p></a>
            </h3>
                        </td>
                        <td style="vertical-align:top; width:502px">
                        <h3><p>доцент кафедры биофизики, канд. физ.-мат. наук, доцент</p></h3>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top; width:75px">
            <h3>
                        <a href="#" class="inline_button" style="white-space:unset!important;"><p>Шуляк</p>
                        <p>Ангелина Александровна</p></a>
            </h3>
                        </td>
                        <td style="vertical-align:top; width:502px">
                        <h3><p>председатель Совета старост, студентка 3 курса</p></h3>
                        </td>
                    </tr>
                </tbody>
</table>
            {% endif %}
            {% if LANGUAGE_CODE == "en"%}
<!--             <span style="display:inline-block; margin-bottom:35px; width:100%!important; text-align:left!important; font-style:oblique; font-size:16px!important;color: #848484;">The&nbsp;main&nbsp;information on this page is currently only available in&nbsp;Russian. We apologize for the&nbsp;temporary&nbsp;inconvenience</span> -->
<table class="Table" style="border-collapse:collapse;  margin:0 auto !important;" width="100%" cellspacing="0" cellpadding="9" border="2">
                <tbody>
                    <tr>
                        <td style="vertical-align:top; width:75px;">
            <h3>
                        <a href="/staff/tivanov-mihail-sergeevich/" class="inline_button" style="white-space:unset!important;"><p style="text-align:center!important;">Mikhail S.</p>
                        <p style="text-align:center!important;">Tivanov</p></a></h3>
                        <p>&nbsp;</p>
                        <p style="text-align:center!important;">(Chairman of the Council)</p>
            </td>
                        <td style="vertical-align:top; width:502px">
                        <h3><p style="text-align:center!important;">Dean of the Faculty of Physics,</p>
                        <p style="text-align:center!important;">Candidate&nbsp;(Physics&nbsp;and&nbsp;Mathematics), Associate&nbsp;Professor</p></h3>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top; width:75px">
            <h3>
                        <a href="/staff/gorbachuk-nikolaj-ivanovich/" class="inline_button" style="white-space:unset!important;"><p>Nikolay I.</p>
                        <p>Gorbachuk</p></a>
            </h3>
                        <p>&nbsp;</p>
                        <p>(Deputy Chairman of the Council)</p>
                        </td>
                        <td style="vertical-align:top; width:502px">
                        <h3><p>Deputy Dean for Academic and Methodological Issues,</p>
<!--                         <p></p>     -->
                        <p>Candidate&nbsp;(Physics&nbsp;and&nbsp;Mathematics), Associate&nbsp;Professor,</p>
                        <p>Associate professor of the Department of Semiconductor Physics and Nanoelectronics</p></h3>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top; width:75px">
            <h3>
                        <a href="/staff/polyak-natalya-ippolitovna/" class="inline_button" style="white-space:unset!important;"><p>Natalia I.</p>
                        <p>Poliak</p></a>
            </h3>
                        <p>&nbsp;</p>
                        <p>(Secretary of the Council)</p>
                        <p>&nbsp;</p>
                        </td>
                        <td style="vertical-align:top; width:502px">
                        <h3><p>Deputy Dean for Teaching and Educational Work and Social Issues,</p>
                        <p>Candidate&nbsp;(Physics&nbsp;and&nbsp;Mathematics), Associate&nbsp;Professor,</p>
                        <p>Associate professor of the Department of Solid State Physics</p></h3>
                        </td>
                    </tr>
                    
                    <tr>
                        <td style="vertical-align:top; width:75px">
            <h3>
                        <a href="/staff/anishik-viktor-mihajlovich/" class="inline_button" style="white-space:unset!important;"><p>Viktor M.</p>
                        <p>Anishchik</p></a>
            </h3>
                        </td>
                        <td style="vertical-align:top; width:502px">
                        <h3><p>Professor of the Department of Solid State Physics, Doctor&nbsp;of&nbsp;Sciences&nbsp;(Physics&nbsp;and&nbsp;Mathematics), Professor</p></h3>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top; width:75px">
            <h3>
                        <a href="#" class="inline_button" style="white-space:unset!important;"><p>Maxim V.</p>
                        <p>Bogdanovich</p></a>
            </h3>
                        </td>
                        <td style="vertical-align:top; width:502px">
                        <h3><p>Director of the State Scientific Institution “B. I. Stepanov Institute of Physics of the National Academy of Sciences of Belarus”, Candidate&nbsp;(Physics&nbsp;and&nbsp;Mathematics), Associate&nbsp;Professor</p></h3>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top; width:75px">
            <h3>
                        <a href="/staff/vojnarovskij-vladimir-vitalevich/" class="inline_button" style="white-space:unset!important;"><p>Vladimir V.</p>
                        <p>Voinarovski</p></a>
            </h3>
                        </td>
                        <td style="vertical-align:top; width:502px">
                        <h3><p>Chairman of the Council of Young Scientists of the Faculty, Training equipment specialist</p></h3>
                        </td>
                    </tr><tr>
                        <td style="vertical-align:top; width:75px">
            <h3>
                        <a href="/staff/voropaj-evgenij-semenovich/" class="inline_button" style="white-space:unset!important;"><p>Evgeniy S.</p>
                        <p>Voropaj</p></a>
            </h3>
                        </td>
                        <td style="vertical-align:top; width:502px">
                        <h3><p>Professor of the Department of Laser Physics and Spectroscopy, Doctor&nbsp;of&nbsp;Sciences&nbsp;(Physics&nbsp;and&nbsp;Mathematics), Professor</p></h3>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top; width:75px">
            <h3>
                        <a href="/staff/gajsyonok-viktor-anatolevich/" class="inline_button" style="white-space:unset!important;"><p>Viktor A.</p>
                        <p>Gaisenok</p></a>
            </h3>
                        </td>
                        <td style="vertical-align:top; width:502px">
                        <h3><p>Rector of the State Educational Institution "Republican Institute of Higher Education", Doctor&nbsp;of&nbsp;Sciences&nbsp;(Physics&nbsp;and&nbsp;Mathematics), Professor</p></h3>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top; width:75px">
            <h3>
                        <a href="#" class="inline_button" style="white-space:unset!important;"><p>Svetlana A.</p>
                        <p>Zagorskaya</p></a>
            </h3>
                        </td>
                        <td style="vertical-align:top; width:502px">
                        <h3><p>Chairman of the Methodological Commission of the Faculty, Associate professor of the Department of General Physics, Candidate&nbsp;(Physics&nbsp;and&nbsp;Mathematics)</p></h3>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top; width:75px">
            <h3>
                        <a href="/staff/kozadaev-konstantin-vladimirovich/" class="inline_button" style="white-space:unset!important;"><p>Konstantin V.</p>
                        <p>Kozadaev</p></a>
            </h3>
                        </td>
                        <td style="vertical-align:top; width:502px">
                        <h3><p>Vice-Rector for Academic Affairs and Internationalization of Education, BSU, Doctor&nbsp;of&nbsp;Sciences&nbsp;(Physics&nbsp;and&nbsp;Mathematics), Professor</p></h3>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top; width:75px">
            <h3>
                        <a href="/staff/kolesov-egor-aleksandrovich/" class="inline_button" style="white-space:unset!important;"><p>Egor A.</p>
                        <p>Kolesov</p>
                        <p>&nbsp;</p></a>
            </h3>
                        </td>
                        <td style="vertical-align:top; width:502px">

                        <h3><p>Deputy Dean for Research and International Cooperation, Leading researcher of the Research Laboratory of Energy Efficient Materials and Technologies, Candidate&nbsp;(Physics&nbsp;and&nbsp;Mathematics)</p></h3>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top; width:75px">
            <h3>
                        <a href="/staff/larkina-elena-petrovna/" class="inline_button" style="white-space:unset!important;"><p>Elena P.</p>
                        <p>Larkina</p>
                        <p>&nbsp;</p></a>
            </h3>
                        </td>
                        <td style="vertical-align:top; width:502px">
                        <h3><p>Leading specialist in training equipment, Chairman of the Trade Union Bureau of the Faculty of Physics</p></h3>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top; width:75px">
            <h3>
                        <a href="/staff/linev-vladimir-nikolaevich/" class="inline_button" style="white-space:unset!important;"><p>Vladimir N.</p>
                        <p>Linev</p>
                        <p>&nbsp;</p></a>
            </h3>
                        </td>
                        <td style="vertical-align:top; width:502px">
                        <h3><p>General Director of the Scientific and Production Private Unitary Enterprise "ADANI", Doctor&nbsp;of&nbsp;Technical&nbsp;Sciences, Professor</p></h3>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top; width:75px">
            <h3>
                        <a href="/staff/lyashenko-lyudmila-sergeevna/" class="inline_button" style="white-space:unset!important;"><p>Lyudmila S.</p>
                        <p>Lyashenko</p></a>
            </h3>
                        </td>
                        <td style="vertical-align:top; width:502px">
                        <h3><p>Director of the Joint Institute BSU-DPU, Candidate&nbsp;(Physics&nbsp;and&nbsp;Mathematics), Associate&nbsp;Professor,</p>
                        </h3>
                        </td>
                    </tr><tr>
                        <td style="vertical-align:top; width:75px">
            <h3>
                        <a href="/staff/maksimenko-sergej-afanasevich/" class="inline_button" style="white-space:unset!important;"><p>Sergey A.</p>
                        <p>Maksimenko</p>
                        <p>&nbsp;</p></a>
            </h3>
                        </td>
                        <td style="vertical-align:top; width:502px">
                        <h3><p>Director of the research institution "Institute of Nuclear Problems" of BSU, Doctor&nbsp;of&nbsp;Sciences&nbsp;(Physics&nbsp;and&nbsp;Mathematics), Professor</p></h3>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top; width:75px">
            <h3>
                        <a href="/staff/martinovich-grigorij-grigorevich/" class="inline_button" style="white-space:unset!important;"><p>Grigori G.</p>
                        <p>Martinovich</p></a>
            </h3>
                        </td>
                        <td style="vertical-align:top; width:502px">
                        <h3><p>Head of the Department of Biophysics, Doctor&nbsp;of&nbsp;Biological&nbsp;Sciences, Associate&nbsp;Professor</p></h3>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top; width:75px">
            <h3>
                        <a href="/staff/novickij-andrej-viktorovich/" class="inline_button" style="white-space:unset!important;"><p>Andrei V.</p>
                        <p>Novitski</p></a>
            </h3>
                        </td>
                        <td style="vertical-align:top; width:502px">
                        <h3><p>Head of the Department of Physical Optics and Applied Informatics, Doctor&nbsp;(Physics&nbsp;and&nbsp;Mathematics), Associate&nbsp;Professor</p></h3>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top; width:75px">
            <h3>
                        <a href="/staff/odzhaev-vladimir-borisovich/" class="inline_button" style="white-space:unset!important;"><p>Vladimir B.</p>
                        <p>Odzhaev</p></a>
            </h3>
                        </td>
                        <td style="vertical-align:top; width:502px">
                        <h3><p>Head of the Department of Semiconductor Physics and Nanoelectronics, Doctor&nbsp;of&nbsp;Sciences&nbsp;(Physics&nbsp;and&nbsp;Mathematics), Professor</p></h3>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top; width:75px">
            <h3>
                        <a href="/staff/pilipenko-vladimir-aleksandrovich/" class="inline_button" style="white-space:unset!important;"><p>Vladimir A.</p>
                        <p>Pilipenko</p></a>
            </h3>
                        </td>
                        <td style="vertical-align:top; width:502px">
                        <h3><p>Deputy Director of the STC "Belmikroanalysis" JSC "Integral", Doctor&nbsp;of&nbsp;Technical&nbsp;Sciences, Corresponding&nbsp;Member of the&nbsp;National&nbsp;Academy of&nbsp;Sciences of&nbsp;Belarus, Professor</p></h3>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top; width:75px">
            <h3>
                        <a href="/staff/rushnova-irina-ivanovna/" class="inline_button" style="white-space:unset!important;"><p>Irina I.</p>
                        <p>Rushnova</p></a>
            </h3>
                        </td>
                        <td style="vertical-align:top; width:502px">
                        <h3><p>Head of the Department of Higher Mathematics and Mathematical Physics, Candidate&nbsp;(Physics&nbsp;and&nbsp;Mathematics)</p></h3>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top; width:75px">
            <h3>
                        <a href="/staff/romanov-oleg-gennadevich/" class="inline_button" style="white-space:unset!important;"><p>Oleg G.</p>
                        <p>Romanov</p>
                        <p>&nbsp;</p></a>
            </h3>
                        </td>
                        <td style="vertical-align:top; width:502px">
                        <h3><p>Head of the Department of Computer Modeling, Candidate&nbsp;(Physics&nbsp;and&nbsp;Mathematics), Associate&nbsp;Professor</p></h3>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top; width:75px">
            <h3>
                        <a href="/staff/svito-ivan-antonovich/" class="inline_button" style="white-space:unset!important;"><p>Ivan A.</p>
                        <p>Svito</p></a>
            </h3>
                        </td>
                        <td style="vertical-align:top; width:502px">
                        <h3><p>Head of the Department of Energy Physics, Candidate&nbsp;(Physics&nbsp;and&nbsp;Mathematics), Associate&nbsp;Professor</p></h3>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top; width:75px">
            <h3>
                        <a href="/staff/slobodyanyuk-anatolij-ivanovich/" class="inline_button" style="white-space:unset!important;"><p>Anatoli I.</p>
                        <p>Slobodyanyuk</p></a>
            </h3>
                        </td>
                        <td style="vertical-align:top; width:502px">
                        <h3><p>Head of the Department of General Physics, Candidate&nbsp;(Physics&nbsp;and&nbsp;Mathematics), Associate&nbsp;Professor</p></h3>
                        </td>
                    </tr>
                    
                    <tr>
                        <td style="vertical-align:top; width:75px">
            <h3>
                        <a href="/staff/timoshenko-andrej-igorevich/" class="inline_button" style="white-space:unset!important;"><p>Andrei I.</p>
                        <p>Timoshchenko</p></a>
            </h3>
                        </td>
                        <td style="vertical-align:top; width:502px">
                        <h3><p>Head of the Department of Nuclear Physics, Candidate&nbsp;(Physics&nbsp;and&nbsp;Mathematics), Associate&nbsp;Professor</p></h3>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top; width:75px">
            <h3>
                        <a href="/staff/tolstik-aleksej-leonidovich/" class="inline_button" style="white-space:unset!important;"><p>Alexei L.</p>
                        <p>Tolstik</p></a>
            </h3>
                        </td>
                        <td style="vertical-align:top; width:502px">
                        <h3><p>Head of the Department of Laser Physics and Spectroscopy, Doctor&nbsp;of&nbsp;Sciences&nbsp;(Physics&nbsp;and&nbsp;Mathematics), Professor</p></h3>
                        </td>
                    </tr>
                    <tr>
                        <td style="height:42px; vertical-align:top; width:75px">
            <h3>
                        <a href="/staff/uglov-vladimir-vasilevich/" class="inline_button" style="white-space:unset!important;"><p>Vladimir V.</p>
                        <p>Uglov</p>
                        <p>&nbsp;</p></a>
            </h3>
                        </td>
                        <td style="height:42px; vertical-align:top; width:502px">
                        <h3><p>Head of the Department of Solid State Physics, Doctor&nbsp;of&nbsp;Sciences&nbsp;(Physics&nbsp;and&nbsp;Mathematics), Professor</p></h3>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top; width:75px">
            <h3>
                        <a href="#" class="inline_button" style="white-space:unset!important;"><p>Kirill V.</p>
                        <p>Funtikov</p></a>
            </h3>
                        </td>
                        <td style="vertical-align:top; width:502px">
                        <h3><p>4th year student, Chairman of the Trade Union Bureau of Students of the Faculty of Physics</p></h3>
                        </td>
                    </tr><tr>
                        <td style="vertical-align:top; width:75px">
            <h3>
                        <a href="/staff/furs-aleksandr-nikolaevich/" class="inline_button" style="white-space:unset!important;"><p>Alexander N.</p>
                        <p>Furs</p></a>
            </h3>
                        </td>
                        <td style="vertical-align:top; width:502px">
                        <h3><p>Head of the Department of Theoretical Physics and Astrophysics, Doctor&nbsp;of&nbsp;Sciences&nbsp;(Physics&nbsp;and&nbsp;Mathematics), Professor</p></h3>
                        </td>
                    </tr>
                    
                    <tr>
                        <td style="vertical-align:top; width:75px">
            <h3>
                        <a href="/staff/hmelnickij-aleksandr-ilich/" class="inline_button" style="white-space:unset!important;"><p>Alexander I.</p>
                        <p>Khmelnitsky</p></a>
            </h3>
                        </td>
                        <td style="vertical-align:top; width:502px">
                        <h3><p>Associate professor of the Department of Biophysics, Candidate&nbsp;(Physics&nbsp;and&nbsp;Mathematics), Associate&nbsp;Professor</p></h3>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top; width:75px">
            <h3>
                        <a href="#" class="inline_button" style="white-space:unset!important;"><p>Angelina A.</p>
                        <p>Shulyak</p></a>
            </h3>
                        </td>
                        <td style="vertical-align:top; width:502px">
                        <h3><p>3rd year student, Chairperson of the Faculty Head Council</p></h3>
                        </td>
                    </tr>
                </tbody>
</table>
            {% endif %}
            {% if LANGUAGE_CODE == "ru"%}
            <div class="description" style="width:100%; text-align:left!important;">Совет&nbsp;факультета сформирован в январе&nbsp;2021&nbsp;года и утвержден Приказом&nbsp;ректора от&nbsp;22.01.2021 №&nbsp;27-ОД (с изменениями от&nbsp;21.10.2022 №&nbsp;619-ОД).</div>
            {% endif %}
            {% if LANGUAGE_CODE == "en"%}
            <div class="description" style="width:100%; text-align:left!important;">The&nbsp;Faculty&nbsp;Council was formed in&nbsp;January&nbsp;2021 and approved by the&nbsp;Order&nbsp;of&nbsp;Rector dated&nbsp;22.01.2021 №&nbsp;27-OD (as amended on&nbsp;21.10.2022 №&nbsp;619-OD).</div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
