{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Совет факультета" %}{% endblock %}

{% block content %}
<div class="mainInf">
    <div class="container">
        <div class="page_name">{% trans "Совет факультета" %}</div>
        <div class="inf center-lg row pageNews">
            <table border="2" cellpadding="2" cellspacing="0" width="90%">
	            <tbody>
                    <tr>
                        <td>
                            <h3><a href="#" class="inline_button" class="inline_button" >Тиванов Михаил Сергеевич</a></h3><br/>(председатель Совета)
                        </td>
                        <td>
                            <h3>декан факультета,&nbsp кандидат. физ.-мат. наук, доцент</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3><a href="#" class="inline_button">Горбачук Николай Иванович</a></h3><br/>(зам. председателя Совета)
                        </td>
                        <td>
                            <h3>заместитель декана, канд. физ.-мат. наук, доцент</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3><a href="#" class="inline_button">Ляшенко Людмила Сергеевна</a></h3><br/>(секретарь Совета)
                        </td>
                        <td>
                            <h3>зам. декана по учебно-воспитательной работе и социальным вопросам, доцент кафедры лазерной физики и спектроскопии, канд. физ.-мат. наук, доцент</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3><a href="#" class="inline_button">Анищик Виктор Михайлович</a></h3>
                        </td>
                        <td>
                            <h3>профессор кафедры физики твердого тела, доктор физ.-мат. наук, профессор</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3><a href="#" class="inline_button">Богданович Максим Владимирович</a></h3>
                        </td>
                        <td>
                            <h3>директор ГНУ «Институт физики им. Б.И.Степанова» НАН Беларуси, канд. физ.-мат. наук, доцент</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3><a href="#" class="inline_button">Воропай Евгений Семенович</a></h3>
                        </td>
                        <td>
                            <h3>профессор кафедры лазерной физики и спектроскопии, доктор физ.-мат. наук, профессор</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3><a href="#" class="inline_button">Гайсенок Виктор Анатольевич</a></h3>
                        </td>
                        <td>
                            <h3>ректор государственного учреждения образования «Республиканский институт высшей школы», доктор физ.-мат. наук, профессор</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3><a href="#" class="inline_button">Загорская Светлана Александровна</a></h3>
                        </td>
                        <td>
                            <h3>председатель методической комиссии факультета, доцент кафедры общей физики, канд. физ.-мат. наук</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3><a href="#" class="inline_button">Зорка Мария Олеговна</a></h3>
                        </td>
                        <td>
                            <h3>студентка 4 курса, председатель Совета старост факультета</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3><a href="#" class="inline_button">Козадаев Константин Владимирович</a></h3>
                        </td>
                        <td>
                            <h3>проректор по учебной работе и интернационализации образования БГУ, доктор физ.-мат. наук, профессор</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3><a href="#" class="inline_button">Колесов Егор Александрович</a></h3>
                        </td>
                        <td>
                            <h3>и.о. зам. декана по научной работе и международному сотрудничеству, ст. научный сотрудник НИЛ энергоэффективных материалов и технологий, канд. физ.-мат. наук</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3><a href="#" class="inline_button">Комаров Станислав Олегович</a></h3>
                        </td>
                        <td>
                            <h3>председатель Совета молодых учёных факультета, ст. преподаватель кафедры теоретической физики и астрофизики, канд. физ.-мат. наук</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3><a href="#" class="inline_button">Ларькина Елена Петровна</a></h3>
                        </td>
                        <td>
                            <h3>ведущий специалист по учебному оборудованию, председатель профбюро физического факультета</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3><a href="#" class="inline_button">Линев Владимир Николаевич</a></h3>
                        </td>
                        <td>
                            <h3>генеральный директор научно-производственного частного унитарного предприятия «АДАНИ», доктор технических наук, профессор</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3><a href="#" class="inline_button">Мазаник Александр Васильевич</a></h3>
                        </td>
                        <td>
                            <h3>заведующий кафедрой энергофизики, канд. физ.-мат. наук, доцент</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3><a href="#" class="inline_button">Максименко Сергей Афанасьевич</a></h3>
                        </td>
                        <td>
                            <h3>директор научно-исследователь-ского учреждения «Институт ядерных проблем» БГУ, доктор физ.-мат. наук, профессор</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3><a href="#" class="inline_button">Мартинович Григорий Григорьевич</a></h3>
                        </td>
                        <td>
                            <h3>заведующий кафедрой биофизики, доктор биологических наук, доцент</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3><a href="#" class="inline_button">Оджаев Владимир Борисович</a></h3>
                        </td>
                        <td>
                            <h3>заведующий кафедрой физики полупроводников и наноэлектроники, доктор физ.-мат. наук, профессор</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3><a href="#" class="inline_button">Пилипенко Владимир Александрович</a></h3>
                        </td>
                        <td>
                            <h3>зам. директора НТЦ «Белмикроанализ» ОАО «Интеграл», доктор технических наук, член-корреспондент НАН Беларуси, профессор</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3><a href="#" class="inline_button">Пицевич Георгий Александрович</a></h3>
                        </td>
                        <td>
                            <h3>заведующий кафедрой физической оптики и прикладной спектроскопии, канд. физ.-мат. наук, доцент</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3><a href="#" class="inline_button">Рушнова Ирина Ивановна</a></h3>
                        </td>
                        <td>
                            <h3>заведующая кафедрой высшей математики и математической физики, канд. физ.-мат. наук</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3><a href="#" class="inline_button">Романов Олег Геннадьевич</a></h3>
                        </td>
                        <td>
                            <h3>заведующий кафедрой компьютер-ного моделирования, канд. физ.-мат. наук, доцент</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3><a href="#" class="inline_button">Савченко Кристина Павловна</a></h3>
                        </td>
                        <td>
                            <h3>студентка 4 курса, председатель профбюро студентов</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3><a href="#" class="inline_button">Слободянюк Анатолий Иванович</a></h3>
                        </td>
                        <td>
                            <h3>заведующий кафедрой общей физики, канд. физ.-мат. наук, доцент</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3><a href="#" class="inline_button">Солодухин Игорь Анатольевич</a></h3>
                        </td>
                        <td>
                            <h3>директор Совместного института БГУ-ДПУ, канд. физ.-мат. наук, доцент</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3><a href="#" class="inline_button">Тимощенко Андрей Игоревич</a></h3>
                        </td>
                        <td>
                            <h3>заведующий кафедрой ядерной физики, канд. физ.-мат. наук, доцент</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3><a href="#" class="inline_button">Толстик Алексей Леонидович</a></h3>
                        </td>
                        <td>
                            <h3>заведующий кафедрой лазерной физики и спектроскопии, доктор физ.-мат. наук, профессор</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3><a href="#" class="inline_button">Углов Владимир Васильевич</a></h3>
                        </td>
                        <td>
                            <h3>заведующий кафедрой физики твердого тела, доктор физ.-мат. наук, профессор</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3><a href="#" class="inline_button">Фурс Александр Николаевич</a></h3>
                        </td>
                        <td>
                            <h3>заведующий кафедрой теоретической физики и астрофизики, доктор физ.-мат. наук, профессор</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3><a href="#" class="inline_button">Хмельницкий Александр Ильич</a></h3>
                        </td>
                        <td>
                            <h3>доцент кафедры биофизики, канд. физ.-мат. наук, доцент</h3>
                        </td>
                    </tr>
	            </tbody>
            </table>
            <div class="description"></div>
        </div>
    </div>
</div>

{% endblock %}