{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Деканат" %}{% endblock %}

{% block content %}
<div class="dekanat">
    <div class="container">
        <div class="page_name">{% trans "Деканат" %}</div>
        {% get_current_language as LANGUAGE_CODE %}
        {% if LANGUAGE_CODE == "ru"%}
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"><img
                    src="{% static 'home/assets/images/5374e034200dc75a3323c395e3d1d110.jpg' %}"></div>
            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="title listPersonTemplate" style="min-height: auto!important;"><a href="/staff/tivanov-mihail-sergeevich/">Тиванов Михаил Сергеевич</a></div>
                <div class="description">Декан<br>кандидат физико-математических наук, доцент</div>
                <div class="description"><p>сл.тел: +375 (17) 209-52-50</p>
                    <p>(факс): +375 (17) 209-54-45</p>
                    <p>E-mail: tivanov@bsu.by</p></div>
            </div>
        </div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"><img
                    src="{% static 'home/assets/images/c93dfa29a95e801f77714fd357ad6e45.jpg' %}"></div>
            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="title listPersonTemplate" style="min-height: auto!important;"><a href="/staff/gorbachuk-nikolaj-ivanovich/">Горбачук Николай Иванович</a></div>
                <div class="description">Заместитель декана по учебной работе и образовательным инновациям<br>кандидат
                    физико-математических наук, доцент
                </div>
                <div class="description"><p>сл.тел: +375 (17) 209-55-06</p>
                    <p>(факс): +375 (17) 209-54-45</p>
                    <p>E-mail: Gorbachuk@bsu.by</p></div>
            </div>
        </div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"><img
                    src="https://physics.bsu.by/media/media/staff/PBK_0117.jpg"></div>
            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="title listPersonTemplate" style="min-height: auto!important;"><a href="/staff/bichan-olga-dmitrievna/">Бичан Ольга Дмитриевна</a></div>
                <div class="description">Заместитель декана по воспитательной работе<br></div>
                <div class="description"><p>сл.тел: +375 (17) 209-50-67</p>
                    <p>(факс): +375 (17) 209-54-45</p>
                    <p>E-mail: Bichan@bsu.by</p></div>
            </div>
        </div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"><img
                    src="{% static 'home/assets/images/kolesov.jpg' %}"></div>
            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="title listPersonTemplate" style="min-height: auto!important;"><a href="/staff/kolesov-egor-aleksandrovich/">Колесов Егор Александрович</a></div>
                <div class="description">Доцент (заместитель декана на общественных началах по научной работе и международному сотрудничеству)<br>кандидат
                    физико-математических наук
                </div>
                <div class="description"><p>сл.тел: +375 (17) 209-51-20</p>
                    <p>(факс): +375 (17) 209-54-45</p>
                    <p>E-mail: Kolesov.bsu@gmail.com</p></div>
            </div>
        </div>

        <!-- <hr style="margin:50px 0!important; opacity:0.05;"> -->
        
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"><img src="https://physics.bsu.by/media/media/staff/BakovetsNV_n3wg9wE.jpg"></div>
            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="title listPersonTemplate" style="min-height: auto!important;"><a href="/staff/bakovec-nikolaj-vladimirovich/">Баковец Николай Владимирович</a></div>
                <div class="description">Заведующий учебной лабораторией (заместитель декана на общественных началах по материально-техническому развитию и модернизации)</div>
                <div class="description"><p>к. 336</p>
                    <p>сл.тел: +375 (17) 209-54-51</p>
                    <p>(факс): +375 (17) 209-54-45</p>
                    <p>E-mail: BakavetsNV@bsu.by</p></div>
            </div>
        </div>
        
        <!-- <hr style="margin:50px 0!important; opacity:0.05;"> -->
        
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"><img
                    src="{% static 'home/assets/images/389913054f90b7c175ed08eb84a305a9.jpg' %}"></div>
            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="title">Папковская Наталия Федоровна</div>
                <div class="description">Специалист II категории<br></div>
                <div class="description"><p>сл.тел: +375 (17) 209-52-67</p>
                    <p>(факс): +375 (17) 209-54-45</p>
                    <p>E-mail: Papkousk@bsu.by</p></div>
            </div>
        </div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"><img
                    src="{% static 'home/assets/images/PBK_4428.jpg' %}"></div>
            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="title">Березовская Татьяна Юрьевна</div>
                <div class="description">Методист I категории<br></div>
                <div class="description"><p>сл.тел: +375 (17) 209-55-07</p>
                    <p>(факс): +375 (17) 209-54-45</p>
                    <p>E-mail: BerezovskayaTY@bsu.by</p></div>
            </div>
        </div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"><img style="display:none;"
                    src="foto.jpg"></div>
            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="title">Задора Анастасия Олеговна</div>
                <div class="description">Специалист<br></div>
                <div class="description"><p>сл.тел: +375 (17) 209-51-15</p>
                    <p>(факс): +375 (17) 209-54-45</p>
<!--                     <p>E-mail: @bsu.by</p> -->
                </div>
            </div>
        </div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"><img src="https://physics.bsu.by/media/media/EfremovaAV.jpg"></div>
            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="title">Ефремова Алеся Вячеславовна</div>
                <div class="description">Специалист по обеспечению учебного процесса<br></div>
                <div class="description"><p>сл.тел: +375 (17) 209-55-07</p>
                    <p>(факс): +375 (17) 209-54-45</p>
                    <p>E-mail: Yafremava@bsu.by</p></div>
            </div>
        </div>
        {% endif %}
        {% if LANGUAGE_CODE == "en"%}
        <div class = "page row center-lg center-md center-sm center-xs">
            <div class = "col-lg-5 col-md-5 col-sm-12 col-xs-12"> <img src = "{% static 'home/assets/images/5374e034200dc75a3323c395e3d1d110.jpg'%}"> </div>
            <div class = "inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class = "title listPersonTemplate" style="min-height: auto!important;"><a href="/staff/tivanov-mihail-sergeevich/"> Mikhail S. Tivanov </a></div>
                <div class = "description"> Dean <br> Candidate of Physical and Mathematical Sciences,<br>
                    Associate Professor </div>
                <div class = "description"> <p> office telephone: +375 (17) 209-52-50 </p>
                    <p> (fax): +375 (17) 209-54-45 </p>
                    <p> E-mail: tivanov@bsu.by </p> </div>
            </div>
        </div>
        <div class = "page row center-lg center-md center-sm center-xs">
            <div class = "col-lg-5 col-md-5 col-sm-12 col-xs-12"> <img src = "{% static 'home/assets/images/c93dfa29a95e801f77714fd357ad6e45.jpg'%}"> </div>
            <div class = "inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class = "title listPersonTemplate" style="min-height: auto!important;"><a href="/staff/gorbachuk-nikolaj-ivanovich/"> Nikolay I. Gorbachuk </a></div>
                <div class = "description"> Deputy Dean for Academic Work and Educational Innovation <br> Candidate of Physical and Mathematical Sciences,<br>
                    Associate Professor </div>
                <div class = "description"> <p> office telephone: +375 (17) 209-55-06 </p>
                    <p> (fax): +375 (17) 209-54-45 </p>
                    <p> E-mail: Gorbachuk@bsu.by </p> </div>
            </div>
        </div>
        <div class = "page row center-lg center-md center-sm center-xs">
            <div class = "col-lg-5 col-md-5 col-sm-12 col-xs-12"> <img src = "https://physics.bsu.by/media/media/staff/PBK_0117.jpg"> </div>
            <div class = "inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class = "title listPersonTemplate" style="min-height: auto!important;"><a href="/staff/bichan-olga-dmitrievna/"> Olga D. Bichan </a></div>
                <div class = "description"> Deputy Dean for Educational Work <br></div>
                <div class = "description"> <p> office telephone: +375 (17) 209-50-67 </p>
                    <p> (fax): +375 (17) 209-54-45 </p>
                    <p> E-mail: Bichan@bsu.by </p> </div>
            </div>
        </div>
        <div class = "page row center-lg center-md center-sm center-xs">
            <div class = "col-lg-5 col-md-5 col-sm-12 col-xs-12"> <img src = "{% static 'home/assets/images/kolesov.jpg'%}"> </div>
            <div class = "inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class = "title listPersonTemplate" style="min-height: auto!important;"><a href="/staff/kolesov-egor-aleksandrovich/"> Egor A. Kolesov </a></div>
                <div class = "description"> Associate Professor (Deputy Dean for Research and International Cooperation) <br> Candidate of Physical and Mathematical Sciences </div>
                <div class = "description"> <p> office telephone: +375 (17) 209-51-20 </p>
                    <p> (fax): +375 (17) 209-54-45 </p>
                    <p> E-mail: Kolesov.bsu@gmail.com </p> </div>
            </div>
        </div>
    
        <!-- <hr style="margin:50px 0!important; opacity:0.05;"> -->
    
        <div class = "page row center-lg center-md center-sm center-xs">
            <div class = "col-lg-5 col-md-5 col-sm-12 col-xs-12"> <img src="https://physics.bsu.by/media/media/staff/BakovetsNV_n3wg9wE.jpg"> </div>
            <div class = "inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class = "title listPersonTemplate" style="min-height: auto!important;"><a href="/staff/bakovec-nikolaj-vladimirovich/"> Nikolay V. Bakovets </a></div>
                <div class = "description"> Head of the training laboratory (Deputy Dean for Material and Technical Development and Modernization) </div>
                <div class = "description"><p> room 336 </p> 
                    <p> office telephone: +375 (17) 209-54-51 </p>
                    <p> (fax): +375 (17) 209-54-45 </p>
                    <p> E-mail: BakavetsNV@bsu.by </p> </div>
            </div>
        </div>

        <!-- <hr style="margin:50px 0!important; opacity:0.05;"> -->
        
        <div class = "page row center-lg center-md center-sm center-xs">
            <div class = "col-lg-5 col-md-5 col-sm-12 col-xs-12"> <img src = "{% static 'home/assets/images/389913054f90b7c175ed08eb84a305a9.jpg'%}"> </div>
            <div class = "inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class = "title"> Natalia F. Papkovskaya </div>
                <div class = "description"> Specialist <br> </div>
                <div class = "description"> <p> office telephone: +375 (17) 209-52-67 </p>
                    <p> (fax): +375 (17) 209-54-45 </p>
                    <p> E-mail: Papkousk@bsu.by </p> </div>
            </div>
        </div>
        <div class = "page row center-lg center-md center-sm center-xs">
            <div class = "col-lg-5 col-md-5 col-sm-12 col-xs-12"> <img src = "{% static 'home/assets/images/PBK_4428.jpg'%}"> </div>
            <div class = "inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class = "title"> Tatyana Yu. Berezovskaya </div>
                <div class = "description"> Methodologist <br> </div> <!-- Academic Work Methodologist -->
                <div class = "description"> <p> office telephone: +375 (17) 209-55-07 </p>
                    <p> (fax): +375 (17) 209-54-45 </p>
                    <p> E-mail: BerezovskayaTY@bsu.by </p> </div>
            </div>
        </div>
        <div class = "page row center-lg center-md center-sm center-xs">
            <div class = "col-lg-5 col-md-5 col-sm-12 col-xs-12"> <img style = "display:none;" src = "foto.jpg"> </div>
            <div class = "inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class = "title"> Anastasia O. Zadora </div>
                <div class = "description"> Specialist <br> </div>
                <div class = "description"> <p> office telephone: +375 (17) 209-51-15 </p>
                    <p> (fax): +375 (17) 209-54-45 </p>
<!--                     <p> E-mail: @bsu.by </p> -->
                </div>
            </div>
        </div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"> <img src="https://physics.bsu.by/media/media/EfremovaAV.jpg"> </div>
            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="title"> Alesia V. Efremova </div>
                <div class="description"> Specialist in Support of Academic Activities <br> </div>
                <div class="description"> <p> office telephone: +375 (17) 209-55-07 </p>
                    <p> (fax): +375 (17) 209-54-45 </p>
                    <p> E-mail: Yafremava@bsu.by </p> </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
