{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Деканат" %}{% endblock %}

{% block content %}
<div class="dekanat">
    <div class="container">
        <div class="page_name">{% trans "Деканат" %}</div>
        {% get_current_language as LANGUAGE_CODE %}
        {% if LANGUAGE_CODE == "ru"%}
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"><img
                    src="{% static 'home/assets/images/5374e034200dc75a3323c395e3d1d110.jpg' %}"></div>
            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="title listPersonTemplate" style="min-height: auto!important;"><a href="/staff/tivanov-mihail-sergeevich/">Тиванов Михаил Сергеевич</a></div>
                <div class="description">Декан<br>кандидат физико-математических наук, доцент</div>
                <div class="description"><p>сл.тел: +375 (17) 209-52-50</p>
                    <p>(факс): +375 (17) 209-54-45</p>
                    <p>E-mail: tivanov@bsu.by</p></div>
            </div>
        </div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"><img
                    src="{% static 'home/assets/images/c93dfa29a95e801f77714fd357ad6e45.jpg' %}"></div>
            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="title listPersonTemplate" style="min-height: auto!important;"><a href="/staff/gorbachuk-nikolaj-ivanovich/">Горбачук Николай Иванович</a></div>
                <div class="description">Заместитель декана по учебной и методической работе<br>кандидат
                    физико-математических наук, доцент
                </div>
                <div class="description"><p>сл.тел: +375 (17) 209-55-06</p>
                    <p>(факс): +375 (17) 209-54-45</p>
                    <p>E-mail: Gorbachuk@bsu.by</p></div>
            </div>
        </div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"><img
                    src="{% static 'home/assets/images/PoliakNI_.jpg' %}"></div>
            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="title listPersonTemplate" style="min-height: auto!important;"><a href="/staff/polyak-natalya-ippolitovna/">Поляк Наталья Ипполитовна</a></div>
                <div class="description">Заместитель декана по учебно-воспитательной работе и социальным вопросам<br>кандидат
                    физико-математических наук, доцент
                </div>
                <div class="description"><p>сл.тел: +375 (17) 209-50-67</p>
                    <p>(факс): +375 (17) 209-54-45</p>
                    <p>E-mail: poliak@bsu.by</p></div>
            </div>
        </div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"><img
                    src="{% static 'home/assets/images/kolesov.jpg' %}"></div>
            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="title listPersonTemplate" style="min-height: auto!important;"><a href="/staff/kolesov-egor-aleksandrovich/">Колесов Егор Александрович</a></div>
                <div class="description">Заместитель декана по научной работе и международному сотрудничеству<br>кандидат
                    физико-математических наук
                </div>
                <div class="description"><p>сл.тел: +375 (17) 209-51-20</p>
                    <p>(факс): +375 (17) 209-54-45</p>
                    <p>E-mail: Kolesov.bsu@gmail.com</p></div>
            </div>
        </div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"><img
                    src="{% static 'home/assets/images/389913054f90b7c175ed08eb84a305a9.jpg' %}"></div>
            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="title">Папковская Наталья Федоровна</div>
                <div class="description">Старший инспектор<br></div>
                <div class="description"><p>сл.тел: +375 (17) 209-52-67</p>
                    <p>(факс): +375 (17) 209-54-45</p>
                    <p>E-mail: Papkousk@bsu.by</p></div>
            </div>
        </div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"><img
                    src="{% static 'home/assets/images/PBK_4428.jpg' %}"></div>
            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="title">Березовская Татьяна Юрьевна</div>
                <div class="description">Методист 1 категории<br></div>
                <div class="description"><p>сл.тел: +375 (17) 209-55-07</p>
                    <p>(факс): +375 (17) 209-54-45</p>
                    <p>E-mail: BerezovskayaTY@bsu.by</p></div>
            </div>
        </div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"><img
                    src="{% static 'home/assets/images/589913a3c707b938bcf858bbe2d0847f.jpg' %}"></div>
            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="title">Колесова Ирина Михайловна</div>
                <div class="description">Специалист (диспетчер)<br></div>
                <div class="description"><p>сл.тел: +375 (17) 209-51-15</p>
                    <p>(факс): +375 (17) 209-54-45</p>
                    <p>E-mail: KolesovaJM@bsu.by</p></div>
            </div>
        </div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"><img src="{% static 'home/assets/images/PBK_4433.jpg' %}"></div>
            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="title">Крупницкая Наталья Валерьевна</div>
                <div class="description">Специалист по обеспечению учебного процесса 2 категории<br></div>
                <div class="description"><p>сл.тел: +375 (17) 209-55-07</p>
                    <p>(факс): +375 (17) 209-54-45</p>
                    <p>E-mail: KrupnitskayaNV@bsu.by</p></div>
            </div>
        </div>
        {% endif %}
        {% if LANGUAGE_CODE == "en"%}
        <div class = "page row center-lg center-md center-sm center-xs">
            <div class = "col-lg-5 col-md-5 col-sm-12 col-xs-12"> <img src = "{% static 'home/assets/images/5374e034200dc75a3323c395e3d1d110.jpg'%}"> </div>
            <div class = "inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class = "title listPersonTemplate" style="min-height: auto!important;"><a href="/staff/tivanov-mihail-sergeevich/"> Mikhail S. Tivanov </a></div>
                <div class = "description"> Dean <br> Candidate of Physical and Mathematical Sciences,<br>
                    Associate Professor </div>
                <div class = "description"> <p> office telephone: +375 (17) 209-52-50 </p>
                    <p> (fax): +375 (17) 209-54-45 </p>
                    <p> E-mail: tivanov@bsu.by </p> </div>
            </div>
        </div>
        <div class = "page row center-lg center-md center-sm center-xs">
            <div class = "col-lg-5 col-md-5 col-sm-12 col-xs-12"> <img src = "{% static 'home/assets/images/c93dfa29a95e801f77714fd357ad6e45.jpg'%}"> </div>
            <div class = "inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class = "title listPersonTemplate" style="min-height: auto!important;"><a href="/staff/gorbachuk-nikolaj-ivanovich/"> Nikolay I. Gorbachuk </a></div>
                <div class = "description"> Deputy Dean for Academic and Methodological Issues <br> Candidate of Physical and Mathematical Sciences,<br>
                    Associate Professor </div>
                <div class = "description"> <p> office telephone: +375 (17) 209-55-06 </p>
                    <p> (fax): +375 (17) 209-54-45 </p>
                    <p> E-mail: Gorbachuk@bsu.by </p> </div>
            </div>
        </div>
        <div class = "page row center-lg center-md center-sm center-xs">
            <div class = "col-lg-5 col-md-5 col-sm-12 col-xs-12"> <img src = "{% static 'home/assets/images/PoliakNI_.jpg'%}"> </div>
            <div class = "inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class = "title listPersonTemplate" style="min-height: auto!important;"><a href="/staff/polyak-natalya-ippolitovna/"> Natalia I. Poliak </a></div>
                <div class = "description"> Deputy Dean for Teaching and Educational Work and Social Issues <br> Candidate of Physical and Mathematical Sciences,<br>
                    Associate Professor </div>
                <div class = "description"> <p> office telephone: +375 (17) 209-50-67 </p>
                    <p> (fax): +375 (17) 209-54-45 </p>
                    <p> E-mail: poliak@bsu.by </p> </div>
            </div>
        </div>
        <div class = "page row center-lg center-md center-sm center-xs">
            <div class = "col-lg-5 col-md-5 col-sm-12 col-xs-12"> <img src = "{% static 'home/assets/images/kolesov.jpg'%}"> </div>
            <div class = "inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class = "title listPersonTemplate" style="min-height: auto!important;"><a href="/staff/kolesov-egor-aleksandrovich/"> Egor A. Kolesov </a></div>
                <div class = "description"> Deputy Dean for Research and International Cooperation <br> Candidate of Physical and Mathematical Sciences </div>
                <div class = "description"> <p> office telephone: +375 (17) 209-51-20 </p>
                    <p> (fax): +375 (17) 209-54-45 </p>
                    <p> E-mail: Kolesov.bsu@gmail.com </p> </div>
            </div>
        </div>
        <div class = "page row center-lg center-md center-sm center-xs">
            <div class = "col-lg-5 col-md-5 col-sm-12 col-xs-12"> <img src = "{% static 'home/assets/images/389913054f90b7c175ed08eb84a305a9.jpg'%}"> </div>
            <div class = "inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class = "title"> Natalya F. Papkovskaya </div>
                <div class = "description"> Chief Inspector <br> </div>
                <div class = "description"> <p> office telephone: +375 (17) 209-52-67 </p>
                    <p> (fax): +375 (17) 209-54-45 </p>
                    <p> E-mail: Papkousk@bsu.by </p> </div>
            </div>
        </div>
        <div class = "page row center-lg center-md center-sm center-xs">
            <div class = "col-lg-5 col-md-5 col-sm-12 col-xs-12"> <img src = "{% static 'home/assets/images/PBK_4428.jpg'%}"> </div>
            <div class = "inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class = "title"> Tatyana Yu. Berezovskaya </div>
                <div class = "description"> Methodologist of the 1st category <br> </div> <!-- Academic Work Methodologist -->
                <div class = "description"> <p> office telephone: +375 (17) 209-55-07 </p>
                    <p> (fax): +375 (17) 209-54-45 </p>
                    <p> E-mail: BerezovskayaTY@bsu.by </p> </div>
            </div>
        </div>
        <div class = "page row center-lg center-md center-sm center-xs">
            <div class = "col-lg-5 col-md-5 col-sm-12 col-xs-12"> <img src = "{% static 'home/assets/images/589913a3c707b938bcf858bbe2d0847f.jpg'%}"> </div>
            <div class = "inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class = "title"> Irina M. Kolesova </div>
                <div class = "description"> Specialist (dispatcher) <br> </div>
                <div class = "description"> <p> office telephone: +375 (17) 209-51-15 </p>
                    <p> (fax): +375 (17) 209-54-45 </p>
                    <p> E-mail: KolesovaJM@bsu.by </p>
                </div>
            </div>
        </div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"> <img src="{% static 'home/assets/images/PBK_4433.jpg' %}"> </div>
            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="title"> Natalia V. Krupnitskaya </div>
                <div class="description"> Specialist in Support of Academic Activities of the 2nd category <br> </div>
                <div class="description"> <p> office telephone: +375 (17) 209-55-07 </p>
                    <p> (fax): +375 (17) 209-54-45 </p>
                    <p> E-mail: KrupnitskayaNV@bsu.by </p> </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
