{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Кафедры" %}{% endblock %}

{% block content %}

<div class="dekanat">
    <div class="container">
        <div class="page_name">{% trans "Кафедры" %}</div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <a href="physics.bsu.by"><img src="{% static 'home/assets/images/DepartmentDefaultImage.png' %}"></a></div>
            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="title">Кафедра общей физики</div>
                <div class="description">Специализация: «Учебный физический эксперимент»<br>Заведующий кафедрой:
                    кандидат физико-математических наук, доцент <br>
                    Слободянюк Анатолий Иванович</div>
                <div class="description">
                    <p>сл.тел: (375-17) 209-54-50</p>
                    <p>E-mail: Slabadzianiuk@bsu.by</p>
                </div>
            </div>
        </div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <a href="physics.bsu.by"><img src="{% static 'home/assets/images/DepartmentDefaultImage.png' %}"></a></div>
            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="title">Кафедра высшей математики и математической физики</div>
                <div class="description">Заведующего кафедрой: кандидат физико-математических наук
                    Рушнова Ирина Ивановна</div>
                <div class="description">
                    <p>сл.тел.:(375-17) 209-51-18</p>
                    <p>E-mail: Rushnova@bsu.by</p>
                </div>
            </div>
        </div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <a href="physics.bsu.by"><img src="{% static 'home/assets/images/DepartmentDefaultImage.png' %}"></a></div>
            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="title">Кафедра биофизики</div>
                <div class="description">Специализация: «Биофизика»<br>Заведующий кафедрой: доктор биологических наук, доцент
Мартинович Григорий Григорьевич</div>
                <div class="description">
                    <p>сл.тел.:(375-17) 209-54-46</p>
                    <p>E-mail: martinovichgg@bsu.by</p>
                </div>
            </div>
        </div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <a href="physics.bsu.by"><img src="{% static 'home/assets/images/DepartmentDefaultImage.png' %}"></a></div>
            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="title">Кафедра лазерной физики и спектроскопии</div>
                <div class="description">Специализации: «Лазерная физика и спектроскопия», «Прикладная спектроскопия»,
«Лазерные технологии», «Нанофотоника»<br>Заведующий кафедрой: доктор физико-математических наук, профессор
Толстик Алексей Леонидович</div>
                <div class="description">
                    <p>сл.тел.:(375-17) 209-54-41</p>
                    <p>E-mail: tolstik@bsu.by</p>
                </div>
            </div>
        </div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <a href="physics.bsu.by"><img src="{% static 'home/assets/images/DepartmentDefaultImage.png' %}"></a></div>
            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="title">Кафедра компьютерного моделирования</div>
                <div class="description">Специализация: «Компьютерное моделирование физических процессов»<br>Заведующий кафедрой: кандидат физико-математических наук, доцент
Романов Олег Геннадьевич</div>
                <div class="description">
                    <p>сл.тел.:(375-17) 209-50-73</p>
                    <p>E-mail: romanov@bsu.by</p>
                </div>
            </div>
        </div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <a href="physics.bsu.by"><img src="{% static 'home/assets/images/DepartmentDefaultImage.png' %}"></a></div>
            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="title">Кафедра энергофизики</div>
                <div class="description">Специализация: «Энергофизика»<br>Заведующий кафедрой: кандидат физико-математических наук
                    Мазаник Александр Васильевич</div>
                <div class="description">
                    <p>сл.тел.:(375-17)-209-53-59</p>
                    <p>E-mail: mazanikAV@bsu.by</p>
                </div>
            </div>
        </div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <a href="physics.bsu.by"><img src="{% static 'home/assets/images/DepartmentDefaultImage.png' %}"></a></div>
            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="title">Кафедра физики твердого тела</div>
                <div class="description">Специализации: «Физика твердого тела», «Физика защитных покрытий»,
«Вакуумные технологии», «Радиационное материаловедение».<br>Заведующий кафедрой: доктор физико-математических наук, профессор
Углов Владимир Васильевич</div>
                <div class="description">
                    <p>сл.тел.: (375-17) 209-55-90</p>
                    <p>E-mail: Uglov@bsu.by</p>
                </div>
            </div>
        </div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <a href="physics.bsu.by"><img src="{% static 'home/assets/images/DepartmentDefaultImage.png' %}"></a></div>
            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="title">Кафедра физики полупроводников и наноэлектроники</div>
                <div class="description">Специализации: «Физика полупроводников и диэлектриков», «Микроэлектроника»,
                    «Новые материалы и технологии»<br>Заведующий кафедрой: доктор физико-математических наук, профессор
                    Оджаев Владимир Борисович</div>
                <div class="description">
                    <p>сл.тел.:(375-17) 209-52-20</p>
                    <p>E-mail: Odzaev@bsu.by</p>
                </div>
            </div>
        </div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <a href="physics.bsu.by"><img src="{% static 'home/assets/images/DepartmentDefaultImage.png' %}"></a></div>
            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="title">Кафедра физической оптики и прикладной информатики</div>
                <div class="description">Специализация:«Физическая оптика»<br>Заведующий кафедрой: кандидат физико-математических наук, доцент
                    Пицевич Георгий Александрович</div>
                <div class="description">
                    <p>сл.тел.:(375-17) 226-56-42</p>
                    <p>E-mail: Pitsevich@bsu.by</p>
                </div>
            </div>
        </div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <a href="physics.bsu.by"><img src="{% static 'home/assets/images/DepartmentDefaultImage.png' %}"></a></div>
            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="title">Кафедра ядерной физики</div>
                <div class="description">Специализации: Физика ядерных реакторов и атомных энергетических установок, Ядерная физика и электроника;
                    <br>Заведующий кафедрой: кандидат физико-математических наук, доцент
                    Тимощенко Андрей Игоревич</div>
                <div class="description">
                    <p>сл.тел.: (375-17) 209-51-24</p>
                    <p>E-mail: a_timoshchenko@mail.ru</p>
                </div>
            </div>
        </div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <a href="physics.bsu.by"><img src="{% static 'home/assets/images/DepartmentDefaultImage.png' %}"></a></div>
            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="title">Кафедра теоретической физики и астрофизики</div>
                <div class="description">Специализация: «Теоретическая физика»<br>Заведующий кафедрой: доктор физико-математических наук, доцент
                    Фурс Александр Николаевич</div>
                <div class="description">
                    <p>сл.тел.:(375-17) 209-51-14</p>
                    <p>E-mail: FursAN@bsu.by</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}