{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Кафедры" %}{% endblock %}

{% block content %}
<div class="dekanat">
    <div class="container">
        <div class="page_name">{% trans "Кафедры" %}</div>
        {% get_current_language as LANGUAGE_CODE %}
        {% if LANGUAGE_CODE == "ru"%}
        <div class="page row center-lg center-md center-sm center-xs">

            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <a href="/departments/kafedra-obshej-fiziki/"><img
                        src="{% static 'home/assets/images/DepCommonphys.png' %}"></a>
            </div>
            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">

                <div class="title"><a href="/departments/kafedra-obshej-fiziki/" class="inline_button">Кафедра общей
                        физики</a></div>
                <div class="description">Заведующий кафедрой: кандидат физико-математических наук, доцент <br>
                    Слободянюк Анатолий Иванович</div>
                <div class="description">
                    <p>Сл.тел: +375 (17) 209-54-50</p>
                    <p>E-mail: Slabadzianiuk@bsu.by</p>
                </div>

            </div>

        </div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <a href="/departments/kafedra-vysshej-matematiki-i-matematicheskoj-fiziki/"><img
                        src="{% static 'home/assets/images/DepMathphys.png' %}"></a>
            </div>

            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">

                <div class="title"><a href="/departments/kafedra-vysshej-matematiki-i-matematicheskoj-fiziki/"
                        class="inline_button">Кафедра высшей математики и математической физики</a></div>
                <div class="description">Заведующий кафедрой: кандидат физико-математических наук <br>
                    Рушнова Ирина Ивановна</div>
                <div class="description">
                    <p>Сл.тел.: +375 (17) 209-51-18</p>
                    <p>E-mail: Rushnova@bsu.by</p>
                </div>

            </div>

        </div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <a href="/departments/kafedra-biofiziki/"><img
                        src="{% static 'home/assets/images/DepBiophys.png' %}"></a>
            </div>

            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">

                <div class="title"><a href="/departments/kafedra-biofiziki/" class="inline_button">Кафедра биофизики</a>
                </div>
                <div class="description">Специализация: «Биофизика», «Нанобиоматериалы и нанобиотехнологии»<br>Заведующий кафедрой: доктор биологических наук, доцент <br>
                    Мартинович Григорий Григорьевич</div>
                <div class="description">
                    <p>Сл.тел.: +375 (17) 209-54-46</p>
                    <p>E-mail: martinovichgg@bsu.by</p>
                </div>

            </div>

        </div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <a href="/departments/kafedra-lazernoj-fiziki-i-spektroskopii/"><img
                        src="{% static 'home/assets/images/DepLaserphys.png' %}"></a>
            </div>

            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">

                <div class="title"><a href="/departments/kafedra-lazernoj-fiziki-i-spektroskopii/"
                        class="inline_button">Кафедра лазерной физики и спектроскопии</a></div>
                <div class="description">Специализации: «Лазерная физика и спектроскопия», «Прикладная спектроскопия»,
                    «Лазерные технологии», «Нанофотоника»<br>Заведующий кафедрой: доктор физико-математических наук, профессор <br>
                    Толстик Алексей Леонидович</div>
                <div class="description">
                    <p>Сл.тел.: +375 (17) 209-54-41</p>
                    <p>E-mail: tolstik@bsu.by</p>
                </div>

            </div>

        </div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <a href="/departments/kafedra-kompyuternogo-modelirovaniya/"><img
                        src="{% static 'home/assets/images/DepComputerphys.png' %}"></a>
            </div>

            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">

                <div class="title"><a href="/departments/kafedra-kompyuternogo-modelirovaniya/"
                        class="inline_button">Кафедра компьютерного моделирования</a></div>
                <div class="description">Специализация: «Компьютерное моделирование физических процессов»<br>Заведующий
                    кафедрой: кандидат физико-математических наук, доцент <br>
                    Романов Олег Геннадьевич</div>
                <div class="description">
                    <p>Сл.тел.: +375 (17) 209-50-73</p>
                    <p>E-mail: romanov@bsu.by</p>
                </div>

            </div>

        </div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <a href="/departments/kafedra-energofiziki/"><img
                        src="{% static 'home/assets/images/DepEnergyphys.png' %}"></a>
            </div>

            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">

                <div class="title"><a href="/departments/kafedra-energofiziki/" class="inline_button">Кафедра
                        энергофизики</a></div>
                <div class="description">Специализации: «Энергофизика», «Функциональные наноматериалы», «Рациональная
                    энергетика»<br>Заведующий кафедрой: кандидат физико-математических наук <br>
                    Свито Иван Антонович</div>
                <div class="description">
                    <p>Сл.тел.: +375 (17) 209-54-51</p>
                    <p>E-mail: ivansvito184@gmail.com</p>
                </div>

            </div>

        </div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <a href="/departments/kafedra-fiziki-tverdogo-tela/"><img
                        src="{% static 'home/assets/images/DepSolidphys.png' %}"></a>
            </div>

            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">

                <div class="title"><a href="/departments/kafedra-fiziki-tverdogo-tela/" class="inline_button">Кафедра
                        физики твердого тела</a></div>
                <div class="description">Специализации: «Физика твердого тела»,
                    «Радиационное материаловедение».<br>Заведующий кафедрой: доктор
                    физико-математических наук, профессор <br>
                    Углов Владимир Васильевич</div>
                <div class="description">
                    <p>Сл.тел.: +375 (17) 209-55-90</p>
                    <p>E-mail: Uglov@bsu.by</p>
                </div>

            </div>

        </div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <a href="/departments/kafedra-fiziki-poluprovodnikov-i-nanoelektroniki/"><img
                        src="{% static 'home/assets/images/DepNanophys.png' %}"></a>
            </div>

            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">

                <div class="title"><a href="/departments/kafedra-fiziki-poluprovodnikov-i-nanoelektroniki/"
                        class="inline_button">Кафедра физики полупроводников и наноэлектроники</a></div>
                <div class="description">Специализации: «Физика полупроводников и диэлектриков», «Микроэлектроника»,
                    «Новые материалы и технологии»<br>Заведующий кафедрой: доктор физико-математических наук, профессор <br>
                    Оджаев Владимир Борисович</div>
                <div class="description">
                    <p>Сл.тел.: +375 (17) 209-52-20</p>
                    <p>E-mail: Odzaev@bsu.by</p>
                </div>

            </div>

        </div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <a href="/departments/kafedra-fizicheskoj-optiki-i-prikladnoj-informatiki/"><img
                        src="{% static 'home/assets/images/DepInfphys.png' %}"></a>
            </div>

            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">

                <div class="title"><a href="/departments/kafedra-fizicheskoj-optiki-i-prikladnoj-informatiki/"
                        class="inline_button">Кафедра физической оптики и прикладной информатики</a></div>
                <div class="description">Специализации: «Физическая оптика», «Физическая информатика»<br>Заведующий кафедрой: доктор
                    физико-математических наук, доцент <br>
                    Новицкий Андрей Викторович</div>
                <div class="description">
                    <p>Сл.тел.: +375 (17) 209-55-11</p>
                    <p>E-mail: Novitsky@bsu.by</p>
                </div>

            </div>

        </div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <a href="/departments/kafedra-yadernoj-fiziki/"><img
                        src="{% static 'home/assets/images/DepNuclearphys.png' %}"></a>
            </div>

            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">

                <div class="title"><a href="/departments/kafedra-yadernoj-fiziki/" class="inline_button">Кафедра ядерной
                        физики</a></div>
                <div class="description">Специализации: «Физика ядерных реакторов и атомных энергетических установок»,
                    «Ядерная физика и электроника»
                    <br>Заведующий кафедрой: кандидат физико-математических наук, доцент <br>
                    Тимощенко Андрей Игоревич
                </div>
                <div class="description">
                    <p>Сл.тел.: +375 (17) 209-51-24</p>
                    <p>E-mail: a_timoshchenko@mail.ru</p>
                </div>

            </div>

        </div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <a href="/departments/kafedra-teoreticheskoj-fiziki-i-astrofiziki/"><img
                        src="{% static 'home/assets/images/DepAstrophys.png' %}"></a>
            </div>

            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">

                <div class="title"><a href="/departments/kafedra-teoreticheskoj-fiziki-i-astrofiziki/"
                        class="inline_button">Кафедра теоретической физики и астрофизики</a></div>
                <div class="description">Специализация: «Теоретическая физика»<br>Заведующий кафедрой: доктор
                    физико-математических наук, профессор <br>
                    Фурс Александр Николаевич</div>
                <div class="description">
                    <p>Сл.тел.: +375 (17) 209-51-14</p>
                    <p>E-mail: FursAN@bsu.by</p>
                </div>

            </div>

        </div>
        {% endif %}
        {% if LANGUAGE_CODE == "en"%}
        <div class="page row center-lg center-md center-sm center-xs">

            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <a href="/departments/kafedra-obshej-fiziki/"> <img
                        src="{% static 'home/assets/images/DepCommonphys.png'%}"> </a>
            </div>
            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">

                <div class="title"> <a href="/departments/kafedra-obshej-fiziki/" class="inline_button"> Department of
                        General Physics </a> </div>
                <div class="description">Head of the department: Candidate of Physical and Mathematical Sciences, Associate Professor <br>
                    Anatoli I. Slobodyanyuk </div>
                <div class="description">
                    <p> Office telephone: +375 (17) 209-54-50 </p>
                    <p> E-mail: Slabadzianiuk@bsu.by </p>
                </div>

            </div>

        </div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <a href="/departments/kafedra-vysshej-matematiki-i-matematicheskoj-fiziki/"> <img
                        src="{% static 'home/assets/images/DepMathphys.png'%}"> </a>
            </div>

            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">

                <div class="title"> <a href="/departments/kafedra-vysshej-matematiki-i-matematicheskoj-fiziki/"
                        class="inline_button"> Department of Higher Mathematics and Mathematical Physics </a> </div>
                <div class="description"> Head of the Department: Candidate of Physical and Mathematical Sciences <br>
                    Irina I. Rushnova </div>
                <div class="description">
                    <p> Office telephone: +375 (17) 209-51-18 </p>
                    <p> E-mail: Rushnova@bsu.by </p>
                </div>

            </div>

        </div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <a href="/departments/kafedra-biofiziki/"> <img
                        src="{% static 'home/assets/images/DepBiophys.png'%}"> </a>
            </div>

            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">

                <div class="title"> <a href="/departments/kafedra-biofiziki/" class="inline_button"> Department of
                        Biophysics </a> </div>
                <div class="description"> Specialization: "Biophysics", "Nanobiomaterials and nanobiotechnologies" <br> Head of the Department: Doctor of Biological
                    Sciences, Associate Professor <br>
                    Grigori G. Martinovich </div>
                <div class="description">
                    <p> Office telephone: +375 (17) 209-54-46 </p>
                    <p> E-mail: martinovichgg@bsu.by </p>
                </div>

            </div>

        </div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <a href="/departments/kafedra-lazernoj-fiziki-i-spektroskopii/"> <img
                        src="{% static 'home/assets/images/DepLaserphys.png'%}"> </a>
            </div>

            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">

                <div class="title"> <a href="/departments/kafedra-lazernoj-fiziki-i-spektroskopii/"
                        class="inline_button"> Department of Laser Physics and Spectroscopy </a> </div>
                <div class="description"> Specializations: "Laser Physics and Spectroscopy", "Applied Spectroscopy",
                    "Laser Technologies", "Nanophotonics" <br> Head of the Department: Doctor of Physical and
                    Mathematical Sciences, Professor <br>
                    Alexei L. Tolstik </div>
                <div class="description">
                    <p> Office telephone: +375 (17) 209-54-41 </p>
                    <p> E-mail: tolstik@bsu.by </p>
                </div>

            </div>

        </div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <a href="/departments/kafedra-kompyuternogo-modelirovaniya/"> <img
                        src="{% static 'home/assets/images/DepComputerphys.png'%}"> </a>
            </div>

            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">

                <div class="title"> <a href="/departments/kafedra-kompyuternogo-modelirovaniya/" class="inline_button">
                        Department of Computer Modeling </a> </div>
                <div class="description"> Specialization: "Computer simulation of physical processes" <br> Head of
                    the Department: Candidate of Physical and Mathematical Sciences, Associate Professor <br>
                    Oleg G. Romanov </div>
                <div class="description">
                    <p> Office telephone: +375 (17) 209-50-73 </p>
                    <p> E-mail: romanov@bsu.by </p>
                </div>

            </div>

        </div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <a href="/departments/kafedra-energofiziki/"> <img
                        src="{% static 'home/assets/images/DepEnergyphys.png'%}"> </a>
            </div>

            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">

                <div class="title"> <a href="/departments/kafedra-energofiziki/" class="inline_button"> Department
                        of Energy Physics </a> </div>
                <div class="description"> Specializations: "Energy Physics", "Functional Nanomaterials", "Rational
                    Energy" <br> Head of the Department: Candidate of Physical and Mathematical Sciences <br>
                    Ivan A. Svito </div>
                <div class="description">
                    <p> Office telephone: +375 (17) 209-54-51 </p>
                    <p> E-mail: ivansvito184@gmail.com </p>
                </div>

            </div>

        </div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <a href="/departments/kafedra-fiziki-tverdogo-tela/"> <img
                        src="{% static 'home/assets/images/DepSolidphys.png'%}"> </a>
            </div>

            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">

                <div class="title"> <a href="/departments/kafedra-fiziki-tverdogo-tela/" class="inline_button">
                        Department of Solid State Physics </a> </div>
                <div class="description"> Specializations: "Solid State Physics",
                    "Radiation Materials Science". <br> Head of the Department: Doctor of Physical and
                    Mathematical Sciences, Professor <br>
                    Vladimir V. Uglov </div>
                <div class="description">
                    <p> Office telephone: +375 (17) 209-55-90 </p>
                    <p> E-mail: Uglov@bsu.by </p>
                </div>

            </div>

        </div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <a href="/departments/kafedra-fiziki-poluprovodnikov-i-nanoelektroniki/"> <img
                        src="{% static 'home/assets/images/DepNanophys.png'%}"> </a> </div>

                <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">

                    <div class="title"> <a href="/departments/kafedra-fiziki-poluprovodnikov-i-nanoelektroniki/"
                            class="inline_button"> Department of Semiconductor Physics and Nanoelectronics </a>
                    </div>
                    <div class="description"> Specializations: "Physics of semiconductors and dielectrics",
                        "Microelectronics", "New materials and technologies" <br> Head of the Department: Doctor of Physical and
                        Mathematical Sciences, Professor <br>
                        Vladimir B. Odzhaev </div>
                    <div class="description">
                        <p> Office telephone: +375 (17) 209-52-20 </p>
                        <p> E-mail: Odzaev@bsu.by </p>
                    </div>

                </div>

            </div>
            <div class="page row center-lg center-md center-sm center-xs">
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <a href="/departments/kafedra-fizicheskoj-optiki-i-prikladnoj-informatiki/"> <img
                            src="{% static 'home/assets/images/DepInfphys.png'%}"> </a>
                    </div>

                        <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">

                            <div class="title"> <a
                                    href="/departments/kafedra-fizicheskoj-optiki-i-prikladnoj-informatiki/"
                                    class="inline_button"> Department of Physical Optics and Applied Informatics
                                </a> </div>
                            <div class="description"> Specializations: "Physical Optics", "Physical Informatics" <br> Head of the Department:
                                Doctor of Physical and Mathematical Sciences, Associate Professor <br>
                                Andrei V. Novitsky </div>
                            <div class="description">
                                <p> Office telephone: +375 (17) 209-55-11 </p>
                                <p> E-mail: Novitsky@bsu.by </p>
                            </div>

                        </div>

                </div>
                <div class="page row center-lg center-md center-sm center-xs">
                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                        <a href="/departments/kafedra-yadernoj-fiziki/"> <img
                                src="{% static 'home/assets/images/DepNuclearphys.png'%}"> </a>
                    </div>

                    <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">

                        <div class="title"> <a href="/departments/kafedra-yadernoj-fiziki/" class="inline_button">
                                Department of Nuclear Physics </a> </div>
                        <div class="description"> Specializations: "Physics of Nuclear Reactors and Nuclear Power
                            Plants", "Nuclear Physics and Electronics"
                            <br> Head of the Department: Candidate of Physical and Mathematical Sciences, Associate
                            Professor <br>
                            Andrei I. Timoshchenko
                        </div>
                        <div class="description">
                            <p> Office telephone: +375 (17) 209-51-24 </p>
                            <p> E-mail: a_timoshchenko@mail.ru </p>
                        </div>

                    </div>

                </div>
                <div class="page row center-lg center-md center-sm center-xs">
                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                        <a href="/departments/kafedra-teoreticheskoj-fiziki-i-astrofiziki/"> <img
                                src="{% static 'home/assets/images/DepAstrophys.png'%}"> </a> </div>

                        <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">

                            <div class="title"> <a href="/departments/kafedra-teoreticheskoj-fiziki-i-astrofiziki/"
                                    class="inline_button"> Department of Theoretical Physics and Astrophysics </a>
                            </div>
                            <div class="description"> Specialization: "Theoretical Physics" <br> Head of the Department:
                                Doctor of Physical and Mathematical Sciences, Professor <br>
                                Alexander N. Furs </div>
                            <div class="description">
                                <p> Office telephone: +375 (17) 209-51-14 </p>
                                <p> E-mail: FursAN@bsu.by </p>
                            </div>

                        </div>

                    </div>
                    {% endif %}
                </div>
            </div>
            {% endblock %}
