{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "День открытых дверей" %}{% endblock %}

{% block content %}
  <head>

    <link rel="stylesheet" href="{% static 'home/assets/NP-assets/nicepage3.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'home/assets/NP-assets/dod.css' %}" media="screen">
    <script class="u-script" type="text/javascript" src="{% static 'home/assets/NP-assets/jquery3.js' %}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{% static 'home/assets/NP-assets/nicepage3.js' %}" defer=""></script>

    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i">




    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "",
		"url": "index.html"
}</script>

  </head>
  <body class="u-body">
    <section class="u-align-center u-clearfix u-section-1" style="max-height:750px!important;" id="sec-5afe">
      {% get_current_language as LANGUAGE_CODE %}
      {% if LANGUAGE_CODE == "ru" %}
      <h2>Уважаемые абитуриенты!</h2>
      <p style="font-size:24px!important;">В&nbsp;2022&nbsp;году Дни открытых дверей пройдут <strong>5&nbsp;января</strong> и <strong>2&nbsp;апреля</strong>!</p>
      <!-- 	      <p><img></p> -->
      {% endif %}
      {% if LANGUAGE_CODE == "en" %}
      <h2>Dear enrolees!</h2>
      <p style="font-size:24px!important;">In&nbsp;2022, Open Days will be held <strong>on&nbsp;January&nbsp;5</strong> and <strong>April&nbsp;2</strong>!</p>
      <!-- 	      <p><img></p> -->
      {% endif %}

      <div class="u-clearfix u-sheet u-sheet-1">

        <div class="u-border-3 u-border-custom-color-1 u-expanded-width u-line u-line-horizontal u-line-1"></div>
        {% if LANGUAGE_CODE == "ru" %}
        <h2 class="u-text u-text-1">Зимний "День открытых дверей"</h2>
        {% endif %}
        {% if LANGUAGE_CODE == "en" %}
        <h2 class="u-text u-text-1">Winter "Open Day"</h2>
        {% endif %}

        {% if LANGUAGE_CODE == "ru" %}
        <p class="u-text u-text-2">Запись трансляции мероприятия "День открытых дверей 2021" - 6 января 2021</p>
        {% endif %}
        {% if LANGUAGE_CODE == "en" %}
        <p class="u-text u-text-2">Recording of the broadcast of the event "Open Day 2021" - January 6, 2021</p>
        {% endif %}
        <div class="u-expanded-width-sm u-expanded-width-xs u-video u-video-1">
          <div class="embed-responsive embed-responsive-1">
            <iframe style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;" class="embed-responsive-item" src="https://www.youtube.com/embed/VpoRG92ebYk?mute=0&amp;showinfo=0&amp;controls=0&amp;start=0" frameborder="0" allowfullscreen=""></iframe>
          </div>
        </div>
        <div class="u-border-3 u-border-custom-color-1 u-expanded-width u-line u-line-horizontal u-line-1"></div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-section-1" style="max-height:750px!important;" id="sec-5afe">
      <div class="u-clearfix u-sheet u-sheet-1">
        {% get_current_language as LANGUAGE_CODE %}
        {% if LANGUAGE_CODE == "ru" %}
        <h2 class="u-text u-text-1">Весенний "День открытых дверей"</h2>
        {% endif %}
        {% if LANGUAGE_CODE == "en" %}
        <h2 class="u-text u-text-1">Spring "Open Day"</h2>
        {% endif %}

        {% if LANGUAGE_CODE == "ru" %}
        <p class="u-text u-text-2">Видео с мероприятия "День открытых дверей 2021" - 3 апреля 2021</p>
        {% endif %}
        {% if LANGUAGE_CODE == "en" %}
        <p class="u-text u-text-2">Video from the event "Open Day 2021" - April 3, 2021</p>
        {% endif %}
        <div class="u-expanded-width-sm u-expanded-width-xs u-video u-video-1">
          <div class="embed-responsive embed-responsive-1">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/RvqyhV2b4Dw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
        <div class="u-border-3 u-border-custom-color-1 u-expanded-width u-line u-line-horizontal u-line-1"></div>
	      <p>&nbsp;</p>
	      <p>&nbsp;</p>
      </div>
    </section>
    <!--<section class="u-clearfix u-section-2" id="sec-1acd">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-col">
              <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                <div class="u-container-layout u-valign-bottom u-container-layout-1">
                  <img src="{% static 'home/assets/images/dod.jpg' %}" alt="" class="u-align-center u-image u-image-default u-image-1" data-image-width="1280" data-image-height="808">
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                <div class="u-container-layout u-container-layout-2">
                  <h3 class="u-text u-text-default u-text-1">"День открытых дверей" на Физическом факультете! - апрель 2021</h3>
                  <p class="u-text u-text-default u-text-2">Отличная новость для будущих абитуриентов - весенние дни открытых дверей на Физическом факультете пройдут в очном формате!<br>
                    <br>В ходе мероприятия вы сможете встретиться с сотрудниками факультета, лично задать все интересующие вопросы и получить необходимую информацию.<br>
                    <br>✹ ДАТА И ВРЕМЯ ✹<br>3 апреля в 12.00, 220 аудитория<br>
                    <br>✹ ПРОГРАММА ПРОВЕДЕНИЯ «ДНЯ ОТКРЫТЫХ ДВЕРЕЙ» ✹<br>11:00 — 12:00 — Образовательно-развлекательная площадка с играми, викторинами и тематическими интерактивами, организованная совместно с Информационным центром по атомной энергии г. Минска<br>12:00 — 13:00 – Встреча с деканом, преподавателями и студентами факультета. Ответы на вопросы<br>13:00 — 13:45 – Демонстрационные опыты по физике<br>13:45 — 14:45 – Экскурсия по факультету (учебные и научные лаборатории)<br>
                    <br>!!! ХОЧЕШЬ ПРИНЯТЬ УЧАСТИЕ - <a href="https://docs.google.com/forms/d/1IjbxA3W942kXUACcfyY7kzi_LgI8D8s6UgJANOsmgKc/viewform?edit_requested=true" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-color u-text-hover-custom-color-1 u-btn-1" target="_blank">РЕГИСТРИРУЙСЯ ПО ССЫЛКЕ</a> !!!<br>Среди интерактивных развлечений образовательно-развлекательной&nbsp;площадки&nbsp;будут доступны: настольная карточная игра «Хронограф»,&nbsp;интеллектуальная викторина «Атомный спринт»,&nbsp;VR + планшеты дополненной реальности, атомные ребусы, призы и подарки.<br>Адрес Физического факультета: пр-т Независимости, 2 (вход со стороны ул. Бобруйской).<br>
                    <br>Телефон для справок: +375(17) 209 50 67
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>-->
  </body>
{% endblock %}
