{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Материалы Единого дня информирования" %}{% endblock %}

{% block content %}
<div class="pages">
    <div class="container">
        <div class="page_name">{% trans "Материалы Единого дня информирования" %}</div>
<!--         <a href="https://minsk.gov.by/ru/actual/view/209/2021.shtml">{% trans "Минский городской исполнительный комитет - МАТЕРИАЛЫ К ЕДИНОМУ ДНЮ ИНФОРМИРОВАНИЯ НАСЕЛЕНИЯ 2021 ГОД" %}</a> -->
<!--         <a href="https://minsk.gov.by/ru/actual/view/209/2022.shtml">{% trans "Минский городской исполнительный комитет - МАТЕРИАЛЫ К ЕДИНОМУ ДНЮ ИНФОРМИРОВАНИЯ НАСЕЛЕНИЯ 2022 ГОД" %}</a> -->
<!--         <a href="https://minsk.gov.by/ru/actual/view/209/2023.shtml">{% trans "Минский городской исполнительный комитет - МАТЕРИАЛЫ К ЕДИНОМУ ДНЮ ИНФОРМИРОВАНИЯ НАСЕЛЕНИЯ 2023 ГОД" %}</a> -->
        <p style="font-size:22px; margin-bottom: 9px;"><strong>2023</strong></p>
        <a href="https://minsk.gov.by/ru/actual/view/209/2023.shtml">{% trans "Минский городской исполнительный комитет - МАТЕРИАЛЫ К ЕДИНОМУ ДНЮ ИНФОРМИРОВАНИЯ НАСЕЛЕНИЯ 2023 ГОД" %}</a>
        <p>&nbsp;</p>        
        <p style="font-size:22px; margin-bottom: 9px;"><strong>2022</strong></p>
        <a href="https://minsk.gov.by/ru/actual/view/209/2022.shtml">{% trans "Минский городской исполнительный комитет - МАТЕРИАЛЫ К ЕДИНОМУ ДНЮ ИНФОРМИРОВАНИЯ НАСЕЛЕНИЯ 2022 ГОД" %}</a>
        <p>&nbsp;</p> 
        <p style="font-size:22px; margin-bottom: 9px;"><strong>2021</strong></p>
        <a href="https://minsk.gov.by/ru/actual/view/209/2021.shtml">{% trans "Минский городской исполнительный комитет - МАТЕРИАЛЫ К ЕДИНОМУ ДНЮ ИНФОРМИРОВАНИЯ НАСЕЛЕНИЯ 2021 ГОД" %}</a>
    </div>
</div>
{% endblock %}
