{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Материалы Единого дня информирования" %}{% endblock %}

{% block content %}
<div class="pages">
    <div class="container">
        <div class="page_name">{% trans "Материалы Единого дня информирования" %}</div>
        <a href="https://physics.bsu.by/media/media/edi1.pdf">{% trans "КЛЮЧЕВЫЕ АСПЕКТЫ ШЕСТОГО ВСЕБЕЛОРУССКОГО НАРОДНОГО СОБРАНИЯ" %}</a>
        <a href="https://physics.bsu.by/media/media/edi2.pdf">{% trans "Ключевые аспекты «Большого разговора с Президентом» (по итогам встречи Главы государства 
            с журналистами, представителями общественности, экспертного и медийного сообщества)" %}</a>
    </div>
</div>
{% endblock %}
