{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Материалы Единого дня информирования" %}{% endblock %}

{% block content %}
<div class="pages">
    <div class="container">
        <div class="page_name">{% trans "Материалы Единого дня информирования" %}</div>
        <a href="https://physics.bsu.by/media/media/edi1.pdf">{% trans "КЛЮЧЕВЫЕ АСПЕКТЫ ШЕСТОГО ВСЕБЕЛОРУССКОГО НАРОДНОГО СОБРАНИЯ" %}</a>
        <a href="https://physics.bsu.by/media/media/edi2.pdf">{% trans "КЛЮЧЕВЫЕ АСПЕКТЫ 'Большого разговора с Президентом'" %}</a>
        <a href="https://physics.bsu.by/media/media/edi3.pdf">{% trans "МАТЕРИАЛЫ '17 сентября – День народного единства'" %}</a>
    </div>
</div>
{% endblock %}
