{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Социальные вопросы" %}{% endblock %}

{% block content %}
<div class="pages" style="padding-bottom:0!important;">
    <div class="container">
        <div class="page_name">{% trans "Социальные вопросы" %}</div>
        
    <div class="special-content-block">
        <div>
            <a href="https://physics.bsu.by/edi">{% trans "Единый день информирования" %}</a>
            <a href="https://physics.bsu.by/ru/faculty/documents/">{% trans "Нормативные документы" %}</a>
            <a href="https://bsu.by/navstrechu-referendumu/">{% trans "Навстречу референдуму" %}</a>
            <a href="https://physics.bsu.by/ru/educations/build-squad/">{% trans "Студенческий отряд 2022" %}</a>
            <a href="https://physics.bsu.by/educations/trade-union/">{% trans "Профбюро факультета" %}</a>
            <a href="https://physics.bsu.by/media/media/VICh_HIV_SfpOH5U.pdf" target="_blank">{% trans "ВИЧ – Что нужно знать в ответ на 5 вопросов" %}</a>
            <details style="font-size: 22px !important;" open="">
              <summary><a style="cursor:pointer;" target="_blank">17&nbsp;сентября — День народного&nbsp;единства!</a></summary>
              <p>&nbsp;</p>
              <p><img alt="" src="https://physics.bsu.by/media/media/17-sentyabrya-Den-narodnogo-edinstva.png" style="width:100%"></p>
              <p>&nbsp;</p>
              <div style="width: 100%;padding: 0 16px;">
                  <p>В соответствии с Указом&nbsp;Президента Республики&nbsp;Беларусь от&nbsp;7&nbsp;июня&nbsp;2021&nbsp;г. №&nbsp;206 в&nbsp;Республике&nbsp;Беларусь учрежден государственный праздник – День&nbsp;народного&nbsp;единства (17&nbsp;сентября). Этот день стал актом исторической справедливости в отношении белорусского народа, разделенного против его воли в&nbsp;1921&nbsp;году по условиям Рижского мирного договора, и навсегда закрепился в национальной исторической традиции.</p>
                  <p>&nbsp;</p>
                  <p>Восстановленное в&nbsp;1939&nbsp;году единство позволило Беларуси выстоять в годы Великой&nbsp;Отечественной войны, занять почетное место в международном сообществе, стать одним из соучредителей Организации Объединенных Наций.</p>
                   <p>&nbsp;</p>
                  <p>Сегодня белорусский народ един в выборе стратегического курса на развитие сильной, суверенной и процветающей страны. Установление Дня&nbsp;народного&nbsp;единства 17&nbsp;сентября подчеркивает преемственность поколений, незыблемость и самодостаточность белоруской нации и государственности. (<span style="color:#000;font-style:oblique;">Из&nbsp;источника </span><a href="https://www.ncip.by/o-centre/novosti/intellektualnaya-sobstvennost/17-sentyabrya-2022-goda-den-narodnogo-edinstva/" target="_blank" style="font-weight:400;display:inline;font-size:22px;font-style:oblique;"><span style="color:#999999">www.ncip.by/o-centre/novosti/intellektualnaya-sobstvennost/17-sentyabrya-2022-goda-den-narodnogo-edinstva/</span></a>)</p>
              </div>
            </details>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
        </div>
    </div>
</div>


<!--
<div class="pages">
    <div class="container">
        <div class="page_name">{% trans "Воспитательная работа" %}</div>
        <a href="https://physics.bsu.by/edi">{% trans "Единый день информирования" %}</a>
        <a href="https://physics.bsu.by/ru/faculty/documents/">{% trans "Нормативные документы" %}</a>
        <a href="https://bsu.by/navstrechu-referendumu/">{% trans "Навстречу референдуму" %}</a>
        <a href="https://minsk.gov.by/ru/actual/view/209/2021.shtml">{% trans "Единый день информирования" %}</a>
    </div>
</div>
-->

{% endblock %}
