{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Воспитательная работа" %}{% endblock %}

{% block content %}
<div class="pages" style="padding-bottom:0!important;">
    <div class="container">
        <div class="page_name">{% trans "Воспитательная работа" %}</div>
        
    <div class="special-content-block">
        <div>
            <a href="https://physics.bsu.by/edi">{% trans "Единый день информирования" %}</a>
            <a href="https://physics.bsu.by/ru/faculty/documents/">{% trans "Нормативные документы" %}</a>
            <a href="https://bsu.by/navstrechu-referendumu/">{% trans "Навстречу референдуму" %}</a> <!-- Вариант перевода на английский язык: 'Towards to the Plebiscite' -->
        </div>
    </div>
</div>


<!--
<div class="pages">
    <div class="container">
        <div class="page_name">{% trans "Воспитательная работа" %}</div>
        <a href="https://physics.bsu.by/edi">{% trans "Единый день информирования" %}</a>
        <a href="https://physics.bsu.by/ru/faculty/documents/">{% trans "Нормативные документы" %}</a>
        <a href="https://bsu.by/navstrechu-referendumu/">{% trans "Навстречу референдуму" %}</a> Вариант перевода на английский язык: 'Towards to the Plebiscite'
         <a href="https://minsk.gov.by/ru/actual/view/209/2021.shtml">{% trans "Единый день информирования" %}</a>
    </div>
</div>
-->

{% endblock %}
