{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Абитуриенту" %}{% endblock %}

{% block content %}

<div class="pages">
    <div class="container">
        {% get_current_language as LANGUAGE_CODE %}
        <div class="page_name">{% trans "Абитуриенту" %}</div>
        <!-- <a href="/media/media/2022DOD.pdf">{% trans "Физический факультет БГУ для абитуриента - 2022" %}</a> -->
        {% if LANGUAGE_CODE == "ru"%}
        <a href="/media/media/2022DOD.pdf">Физический факультет БГУ для абитуриента - 2022</a>
        {% endif %}
        {% if LANGUAGE_CODE == "en"%}
        <a href="/media/media/2022DOD.pdf">Faculty of Physics of BSU for the enrollee - 2022</a>
        {% endif %}
        {% if LANGUAGE_CODE == "ru"%}
        <a href="/media/media/B2021.pdf">Буклет Физического факультета</a>
        {% endif %}
        {% if LANGUAGE_CODE == "en"%}
        <a href="https://physics.bsu.by/media/media/Eglish_ver-1972.pdf">Faculty of Physics Booklet</a>
        {% endif %}
        <a href="/media/media/2022SIBD_.pdf">{% trans "Презентация совместного института БГУ и ДПУ" %}</a>
        <a style="display:none!important;" href="https://physics.bsu.by/ru/blog/2021/6/21/vnimaniyu-abiturientov/">{% trans "Разбор заданий ЦТ по физике" %}</a>
    </div>
</div>
{% endblock %}
