{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Абитуриенту" %}{% endblock %}

{% block content %}

<div class="pages">
    <div class="container">
        {% get_current_language as LANGUAGE_CODE %}
        <div class="page_name">{% trans "Абитуриенту" %}</div>
        <!--  <a href="/media/media/2022DOD.pdf">{% trans "Физический факультет БГУ для абитуриента - 2022" %}</a>  -->
        {% if LANGUAGE_CODE == "ru"%}
        <a href="/media/media/2022DOD_.pdf">Физический факультет БГУ для абитуриента - 2022</a>
        {% endif %}
        {% if LANGUAGE_CODE == "en"%}
        <a href="/media/media/2022DOD_.pdf">Faculty of Physics of BSU for the enrollee - 2022</a>
        {% endif %}
        {% if LANGUAGE_CODE == "ru"%}
        <a href="/media/media/B2021.pdf">Буклет Физического факультета</a>
        {% endif %}
        {% if LANGUAGE_CODE == "en"%}
        <a href="https://physics.bsu.by/media/media/Eglish_ver-1972.pdf">Faculty of Physics Booklet</a>
        {% endif %}
        <a href="/media/media/2022SIBD_3.pdf">{% trans "Презентация совместного института БГУ и ДПУ" %}</a>
        
        <div class="special-content-block">
          <div style="margin:0!important;">
               <details style="font-size: 22px !important;" open="">
                        <summary><a style="cursor:pointer;" target="_blank">{% trans "Приглашение на рождественские лекции физического факультета БГУ 2022-2023" %}</a></summary>
                          <div style="width: 100%;padding: 0 16px;">
                            <p>&nbsp;</p>
                                <h2 style="text-align: center !important;"><strong>Внимание! Физический факультет приглашает на "Рождественские лекции"!</strong></h2>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <p>В предновогоднее время хочется верить в чудеса, но каждый физик знает, что наука может быть гораздо интереснее!</p>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <p><img alt="" src="https://physics.bsu.by/media/media/RL-poster.jpg" style="display:block; margin:0 auto; width:55%"></p>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <p>Для юных исследователей Вселенной и их родителей мы подготовили <a href="#progRL" style="display:inline; padding-bottom:0!important; width:fit-content!important; font-size:20px!important; text-decoration:none!important; border-bottom:2px solid #e5bc29;">рождественскую программу мероприятий</a>.</p>
                                <p>&nbsp;</p>
                                <p><strong>Конкурсы, викторины, игровая зона</strong> и, конечно же, <strong>лекции по физике</strong> в формате <em>"Наука 0+"</em> для всех желающих.</p>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <hr>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <p><strong>Дорогие участники рождественских лекций</strong>, просим вас оценить качество проведенных лекций 24&nbsp;декабря&nbsp;2022&nbsp;года, для того, чтобы наша лекция <strong>14&nbsp;января&nbsp;2023&nbsp;года</strong> стала ещё более интересной и насыщенной.</p>
                                <p>&nbsp;</p>
                                <p>Для этого вам необходимо пройти специальную <a href="https://docs.google.com/forms/d/e/1FAIpQLSfOCeygY5zuVZVd-K4pEWUVt_GZve82HD8atlGXPDJO8MlQwQ/viewform" target="_blank" style="display:inline; padding-bottom:0!important; width:fit-content!important; font-size:20px!important; text-decoration:none!important; border-bottom:2px solid #e5bc29;">анкету-опрос</a> на <strong>GoogleDocs</strong>.</p>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                          </div>
                </details>
           </div>
        </div>
        <div id="progRL"><a href="https://physics.bsu.by/media/media/Programma-rozhdestvenskikh-lektsij-fizich-fakulteta-BGU-2022-2023.pdf" target="_blank">{% trans "Программа мероприятий рождественских лекций физического факультета БГУ 2022-2023" %}</a></div>
        <a style="display:none!important;" href="https://physics.bsu.by/ru/blog/2021/6/21/vnimaniyu-abiturientov/">{% trans "Разбор заданий ЦТ по физике" %}</a>
    </div>
</div>
{% endblock %}
