{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Абитуриенту" %}{% endblock %}

{% block content %}

<div class="pages">
    <div class="container">
        <div class="page_name">{% trans "Абитуриенту" %}</div>
        <a href="/media/media/%D0%94%D0%B5%D0%BD%D1%8C_%D0%BE%D1%82%D1%80%D1%8B%D1%82%D1%8B%D1%85_%D0%B4%D0%B2%D0%B5%D1%80%D0%B5%D0%B92020.pdf">{% trans "Физический факультет БГУ для абитуриента - 2020" %}</a><a href="/media/media/1956.pdf">{% trans "Буклет Физического факультета" %}</a><a href="/media/media/%D0%9F%D1%80%D0%B5%D0%B7%D0%B5%D0%BD%D1%82%D0%B0%D1%86%D0%B8%D1%8F_%D0%A1%D0%98%D0%91%D0%94_2020.pdf">{% trans "Презентация совместного белорусско-китайского института" %}</a></div></div>
{% endblock %}