{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Мы на карте" %}{% endblock %}

{% block content %}
<div class="mainInf">
    <div class="container">
        <div class="page_name">Мы на карте</div>
        <div class="inf center-lg row center-md center-sm center-xs">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <iframe class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d37622.7588097019!2d27.4302856!3d53.8886954!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbcfe73e682c73%3A0x540b10e609b1d996!2z0KTRltC30ZbRh9C90Ysg0YTQsNC60YPQu9GM0YLRjdGCINCR0JTQow!5e0!3m2!1sru!2sby!4v1600500962035!5m2!1sru!2sby"
                        width="1100" height="740" frameborder="0" style="border:0;" allowfullscreen=""
                        aria-hidden="false" tabindex="0"></iframe>
                <br>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="description">
                        220006, Минск ул. Бобруйская, 5, Физический Факультет
                    </div>
                    <div class="description">
                        Тел.: +375 (017) 209-52-67<br>Факс: +375 (017) 209-54-45<br>Е-mail: physdean@bsu.by
                    </div>
                    <div class="description"><h2><b>Декан</b></h2><br>
                        кандидат физико-математических наук, доцент<br>
                        Тиванов Михаил Сергеевич<br>
                        сл.тел.: +375 (017) 209-52-50<br>
                        (факс) +375 (017) 209-54-45<br>
                        E-mail: tivanov@bsu.by
                    </div>
                    <br>
                    <div class="description"><h2><b>Заместитель декана по учебной и методической работе</b></h2><br>
                        кандидат физико-математических наук, доцент<br>
                        Горбачук Николай Иванович<br>
                        сл.тел.: +375 (017) 209-55-06<br>
                        (факс) +375 (017) 209-54-45<br>
                        E-mail: Gorbachuk@bsu.by
                    </div>
                    <br>
                    <div class="description"><h2><b>Заместитель декана по учебно-воспитательной работе и социальным
                        вопросам</b></h2><br>
                        кандидат физико-математических наук, доцент<br>
                        Ляшенко Людмила Сергеевна<br>
                        сл.тел.: +375 (017) 209-50-67<br>
                        (факс) +375 (017) 209-54-45<br>
                        E-mail: lyashenko@bsu.by
                    </div>
                    <br>
                    <div class="description"><h2><b>Заместитель декана по научной работе и международному сотрудничеству</b></h2><br>
                        кандидат физико-математических наук<br>
                        Колесов Егор Александрович<br>
                        сл.тел.: +375 (017) 209-51-20<br>
                        (факс) +375 (017) 209-54-45<br>
                        E-mail: Kolesov.bsu@gmail.com
                    </div>
                    <div class="description"><h2><b>Mетодист по учебной работе</b></h2><br>
                        Фурс Светлана Васильевна<br>
                        сл.тел.: +375 (017) 209-55-07<br>
                        (факс) +375 (017) 209-54-45<br>
                        E-mail: FursSV@bsu.by
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}