{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Международные связи" %}{% endblock %}

{% block content %}
<div class="mainInf">
    <div class="container">
        <div class="page_name">{% trans "Международные связи" %}</div>
        <div class="inf center-lg row">
            <div class="col-lg-12">
                <img src="{% static 'home/assets/images/globe.jpg' %}"></div><br>
            <div class="description">Плодотворно развивается международное сотрудничество. Факультет
                поддерживает тесные связи с вузами и другими научными организациями России,
                Германии, Польши, Украины, Чехии, Франции, Испании, Швеции, Швейцарии, Иордании,
                Сирии, Монголии, Боливии и др. Научно-исследовательская работа проводится по 27
                договорам о сотрудничестве с зарубежными университетами, выполняются международные
                проекты по программам INTAS, НК НАТО, VISBU, ЦЕРН, ОИЯИ, программе Союзного
                государства «Космос» и грантам Белорусского республиканского фонда фундаментальных
                исследований. В рамках совместных научных исследований иностранными аспирантами и
                специалистами регулярно защищаются кандидатские и докторские диссертации.
                Сотрудниками факультета совместно с иностранными специалистами ежегодно публикуется
                около 80 научных работ. Выполняются контракты на разработку и поставку оборудования
                для зарубежных университетов и исследовательских центров. Преподаватели, сотрудники,
                аспиранты и студенты факультета выезжают на научные и учебно-методические
                стажировки, конференции и обучение в крупные научные центры и университеты
                различных стран. Ежегодно сотрудники факультета участвуют в работе более 70
                Международных конференций по актуальным научным направлениям, на которых
                представляется более 200 докладов. На протяжении более десяти лет регулярно
                проводятся Международные конференции «Взаимодействие излучений с твердым телом»
                и «Основы и достижения современной теории самоорганизации». Каждый год сотрудники
                факультета публикуют свыше 500 научных работ, в том числе 3 – 5 монографий и
                сборников научных трудов, 20-30 учебных пособий и 300 статей. Свыше 150 работ
                публикуется за рубежом (за пределами СНГ).</div>
            <div class="description"><h2>Участие в выставках:</h2></div>
            <div class="description"><ul>
                <li>Россия (Москва, С.-Петербург, Нижний Новгород, Челябинск, Краснодар, Самара)</li>
                <li>Украина (Киев)</li>
                <li>Казахстан (Астана)</li>
                <li>Латвия (Рига)</li>
                <li>Германия (Ганновер)</li>
                <li>Польша (Варшава)</li>
                <li>Китай (Чанчунь)</li>
                <li>Ливан (Бейрут)</li>
                <li>ЮАР (Йоханнесбург)</li>
                <li>Иордания (Аман)</li>
                <li>Вьетнам (Хошимин)</li>
                <li>Турция (Анкара)</li>
                <li>Иран (Тегеран)</li>
            </ul></div>
            <div class="description"></div>
            <div class="description"></div>

        </div>
    </div>
</div>

{% endblock %}