{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Основные публикации" %}{% endblock %}

{% block content %}
<div class="person_template">
    <div class="container">
        <div class="person_template_float_wrap col-lg-12 col-md-12 col-sm-12 col-xs-12">
            {% for work in works %}
            <img class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="height:70px" src="{{ work.image.url }}">
            <div class="person_template_title" style="font-size:9px"><a href="{{ work.publicationUrl }}">{{ work.title }}</a></div>
            <div class="person_template_text" style="font-size:9px">
                <p>{{ work.authors }} // {{ work.journal }}</p>
                <br><br>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}