{% extends 'header.html' %}

{% load static %}

{% load i18n %}

{% block content %}

<div class="header__image wow animate__animated animate__fadeInDown" id="header_img">
    <svg class="header__logotype"><use href="#logotype"></use></svg>
</div>
<div class="main wow animate__animated animate__fadeIn">
    <div class="container">
        <div class="row center-lg center-md center-sm center-xs">
            <a class="col-lg-4 col-xs-12 col-md-6 col-sm-6" href="faculty/">
                <div class="main_bg main_card1"><p>{% trans "О факультете" %}</p> <!-- Вариант для перевода на английский язык: 'About the Faculty' -->
                </div>
            </a>
            <a class="col-lg-4 col-xs-12 col-md-6 col-sm-6" href="enter/">
                <div class="main_bg main_card2"><p>{% trans "Поступление" %}</p>
                </div>
            </a>
            <a class="col-lg-4 col-xs-12 col-md-6 col-sm-6" href="cooperation/">
                <div class="main_bg main_card3"><p>{% trans " Сотрудничество" %}</p>
                </div>
            </a>
            <a class="col-lg-4 col-xs-12 col-md-6 col-sm-6" href="science/">
                <div class="main_bg main_card4"><p>{% trans " Наука" %}</p>
                </div>
            </a>
            <a class="col-lg-4 col-xs-12 col-md-6 col-sm-6" href="education/">
                <div class="main_bg main_card5"><p>{% trans " Образование" %}</p>
                </div>
            </a>
            <a class="col-lg-4 col-xs-12 col-md-6 col-sm-6" href="contacts/">
                <div class="main_bg main_card6"><p>{% trans " Контакты" %}</p>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="news wow animate__animated animate__fadeIn">
    <div class="container">
        <div class="news_position">
            <img class="wow animate__animated animate__fadeInLeft" src="{{ post.image.url }}">
            <div class="news_inf wow animate__animated animate__fadeInRight">
                <div class="title">{{ post.title|truncatechars:86 }}</div>
                <div class="description">{{ post.body|safe|truncatechars:195 }}</div>
                <div class="news_button">
                    <a class="button_more" href="{{ post.get_absolute_url }}">{% trans "Подробнее" %}</a>
                    <a class="news_more" href="blog/">{% trans "Больше новостей" %}</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="event wow animate__animated animate__fadeIn">
    <div class="container">
        <div class="event_position">
            <img class="wow animate__animated animate__fadeInRight" src="{% static 'home/assets/images/2f74cfd61190480581fa4bb2a449009e.png' %}">
            <div class="event_inf wow animate__animated animate__fadeInLeft">
                <div class="title">{% trans "Студенческая жизнь" %}</div>
                <div class="description">{% trans "Каждый найдет себе занятие" %}<br>{% trans "на свободное время!" %}<div class="event_list">
                    <ul>
                        <li>{% trans "Дни Физика" %}</li>
                        <li>{% trans "Фотографии/видео" %}</li>
                        <li>{% trans "Физики в зелёном!" %}</li>
                    </ul>
                    <ul>
                        <li>{% trans "СтудСоюз" %}</li>
                        <li>{% trans "ССКО" %}</li>
                        <li>SMM</li>
                    </ul>
                </div>
                </div>
                <a class="button_more" href="https://vk.com/bsuphys">{% trans "Присоединиться" %}</a>
            </div>
        </div>
    </div>
</div>

<div class="numbers wow animate__animated animate__fadeIn">
    <div class="container">
        <div class="numbers_title">{% trans "Физический факультет в цифрах" %}</div>  <!-- Вариант для перевода на английский язык: 'Faculty of Physics in numbers' -->
        <div class="row news_block center-lg center-md center-sm center-xs">
            <div class="block col-lg-3 col-md-3 col-sm-12 col-xs-11">
                <div class="title">{{ stat1.number }}</div>
                <div class="description">{{ stat1.description }}</div>
            </div>
            <div class="block col-lg-4 col-md-4 col-sm-12 col-xs-11">
                <div class="title">{{ stat2.number }}</div>
                <div class="description">{{ stat2.description }}</div>
            </div>
            <div class="block prime_bg col-lg-3 col-md-3 col-sm-12 col-xs-11">
                <div class="title">{{ stat3.number }}</div>
                <div class="description">{{ stat3.description }}</div>
            </div>
            <div class="block col-lg-3 col-md-3 col-sm-12 col-xs-11">
                <div class="title prime_bg">{{ stat4.number }}</div>
                <div class="description">{{ stat4.description }}</div>
            </div>
            <div class="block col-lg-3 col-md-3 col-sm-12 col-xs-11">
                <div class="title" style="font-size: 40pt;">201-300</div>
                <div class="description">{% trans "место в Шанхайском рейтинге по физике" %}</div>
            </div>
        </div>
    </div>
</div>
<div class="publication">
    <div class="container">
        <div class="publication_title">{% trans "Публикации" %}</div>
        <div class="publication_page row center-lg center-md center-sm center-xs">
            <a class="col-lg-4 col-md-4 wow animate__animated animate__fadeInLeft" href="{{ pub1.publicationUrl }}">
                <img src="{{ pub1.image.url }}">
                <div class="description">{{ pub1.title }}</div></a>
            <a class="col-lg-4 col-md-4 publication_none" href="{{ pub2.publicationUrl }}">
                <img src="{{ pub2.image.url }}">
                <div class="description">{{ pub2.title }}</div></a>
            <a class="col-lg-4 col-md-4 publication_none wow animate__animated animate__fadeInRight" href="{{ pub3.publicationUrl }}">
                <img src="{{ pub3.image.url }}">
                <div class="description">{{ pub3.title }}</div></a>
        </div><a class="button_more" href="/key-pub/">{% trans "Подробнее" %}</a>
    </div>
</div>
<div class="people">
    <div class="container">
        <div class="people_title">{% trans "Известные выпускники" %}</div>
        <div class="people_page row between-lg between-md center-sm center-xs">
            {% for elm in graduates %}
            <div class="block col-lg-3 col-md-3 col-sm-9 col-xs-9 wow animate__animated animate__fadeInLeft">
                <img src="{{ elm.photo.url }}">
                <div class="title">{{ elm.name }}</div>
                <div class="about">{{ elm.shortDescription }}</div>
                <div class="description">{{ elm.typeOfProfActivity|safe|truncatechars:240|linebreaks }}</div>
            </div>
            {% endfor %}
        </div>
        <a class="button_more" href="/alums/">{% trans "Подробнее" %}</a>
    </div>
</div>
{% endblock %}
