{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Общая информация" %}{% endblock %}

{% block content %}
<div class="mainInf">
    <div class="container">
        <div class="page_name">{% trans "Общая информация" %}</div>
        <div class="inf center-lg row">
            <div class="col-lg-12">
                <img src="{% static 'home/assets/images/f6f02ea1fb3745e8e3246157fdca3183.jpg' %}"></div><br>
            <div class="description">Развитие физико-математического образования в Беларуси началось с открытия в 1932 году физико-математического отделения педагогического факультета БГУ.</div>
            <div class="description">В 1933 году физико-математическое отделение преобразуется в физико-математический факультет.
                В 1938 году физико-математический факультет включал в себя 4 кафедры: общей физики,
                теоретической физики, рентгенофизики, электромагнитных колебаний. </div>
            <div class="description">В октябре 1958 года физико-математический факультет был разделен на два самостоятельных факультета - физический и
                математический. Первым деканом физического факультета стал М.П.Халиманович. В 60-е-70-е годы физический факультет переживает бурный рост. В 1976 году на базе 4-х кафедр физического факультета открывается факультет
                радиофизики и электроники. Несколько позже открывается Институт ядерных проблем, который возглавил профессор кафедры ядерной
                физики В.Г.Барышевский.</div>
            <div class="description">
                <iframe width="1100" height="619" src="https://www.youtube.com/embed/1FSmf6enNxo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="description">Сегодня в структуру факультета входят 11 кафедр, 10 научно-исследовательских лабораторий, учебно-научная
                обсерватория. Обучение осуществляется по специальностям: «Компьютерная физика», «Ядерные физика и технологии», «Физика наноматериалов
                и нанотехнологий», «Физика» (по направлениям). Учебный процесс обеспечивают более 300 сотрудников и преподавателей, в числе которых
                31 доктор наук и 165 кандидатов наук. Среди выпускников факультета более 50 академиков
                и членов-корреспондентов АН СССР, АН БССР и НАН Беларуси, 6 лауреатов Ленинской премии, более 50 лауреатов Государственных премий СССР,
                БССР и Республики Беларусь.</div>

        </div>
    </div>
</div>

{% endblock %}