{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "НИЛ и направления исследований" %}{% endblock %}

{% block content %}

<div class="person_template">
    <div class="container">
        <div class="page_name">{% trans "НИЛ и направления исследований" %}</div>

        <div class="description">
            <b>{% trans "НАУЧНО-ИССЛЕДОВАТЕЛЬСКИЕ ЛАБОРАТОРИИ" %}<br></b>
        </div>
        <p><br><br></p>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div><img class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="height:50px; max-width: 100%;" src="{% static 'home/assets/images/IMAGES_SCI/_1_BIO_LAB1.jpg' %}"></div>
            <div class="person_template_title" ><a href="#" style="font-size:23px">{% trans "НИЛ биофизики и биотехнологий" %}</a></div>
            <div class="person_template_text">
                <p>
                    {% trans "Тематика исследований: медицинская биофизика и биофизические методы в диагностике заболеваний." %}<br>
                    {% trans "зав. лаб. – к.б.н. доц. Владимир Петрович Зорин" %}<br>
                    {% trans "тел.: +375 (17) 226-59-47" %}<br>
                    {% trans "email: zorin@bsu.by, vpzorin@mail.ru" %}<br>
                </p>
                <br><br>
            </div>
        </div><br>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div><img class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="height:140px; max-width: 100%;" src="{% static 'home/assets/images/IMAGES_SCI/_1_BIO_LAB1.jpg' %}"></div>
            <div class="person_template_title" ><a href="#" style="font-size:23px">{% trans "БИОФИЗИКА" %}</a></div>
            <div class="person_template_text">
                <p>
                    {% trans "· биофизика клетки и клеточная инженерия" %}<br>
                    {% trans "· редокс-сигнализация и редокс-регуляция в биосистемах" %}<br>
                    {% trans "· медицинская биофизика и биофизические методы в диагностике заболеваний" %}: 2022<br>
                    {% trans "· нанобиотехнологии и наномедицинские технологии" %}<br>
                    {% trans "· биосенсоры, нейросенсоры и биопреобразователи" %}<br>
                </p>
                <br><br>
            </div>
        </div><br>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div><img class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="height:140px; max-width: 100%;" src="{% static 'home/assets/images/IMAGES_SCI/_1_BIO_LAB1.jpg' %}"></div>
            <div class="person_template_title" ><a href="#" style="font-size:23px">{% trans "БИОФИЗИКА" %}</a></div>
            <div class="person_template_text">
                <p>
                    {% trans "· биофизика клетки и клеточная инженерия" %}<br>
                    {% trans "· редокс-сигнализация и редокс-регуляция в биосистемах" %}<br>
                    {% trans "· медицинская биофизика и биофизические методы в диагностике заболеваний" %}: 2022<br>
                    {% trans "· нанобиотехнологии и наномедицинские технологии" %}<br>
                    {% trans "· биосенсоры, нейросенсоры и биопреобразователи" %}<br>
                </p>
                <br><br>
            </div>
        </div><br>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div><img class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="height:140px; max-width: 100%;" src="{% static 'home/assets/images/IMAGES_SCI/_1_BIO_LAB1.jpg' %}"></div>
            <div class="person_template_title" ><a href="#" style="font-size:23px">{% trans "БИОФИЗИКА" %}</a></div>
            <div class="person_template_text">
                <p>
                    {% trans "· биофизика клетки и клеточная инженерия" %}<br>
                    {% trans "· редокс-сигнализация и редокс-регуляция в биосистемах" %}<br>
                    {% trans "· медицинская биофизика и биофизические методы в диагностике заболеваний" %}: 2022<br>
                    {% trans "· нанобиотехнологии и наномедицинские технологии" %}<br>
                    {% trans "· биосенсоры, нейросенсоры и биопреобразователи" %}<br>
                </p>
                <br><br>
            </div>
        </div><br>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div><img class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="height:140px; max-width: 100%;" src="{% static 'home/assets/images/IMAGES_SCI/_1_BIO_LAB1.jpg' %}"></div>
            <div class="person_template_title" ><a href="#" style="font-size:23px">{% trans "БИОФИЗИКА" %}</a></div>
            <div class="person_template_text">
                <p>
                    {% trans "· биофизика клетки и клеточная инженерия" %}<br>
                    {% trans "· редокс-сигнализация и редокс-регуляция в биосистемах" %}<br>
                    {% trans "· медицинская биофизика и биофизические методы в диагностике заболеваний" %}: 2022<br>
                    {% trans "· нанобиотехнологии и наномедицинские технологии" %}<br>
                    {% trans "· биосенсоры, нейросенсоры и биопреобразователи" %}<br>
                </p>
                <br><br>
            </div>
        </div><br>



        <div class="description">
            <b>{% trans "НАПРАВЛЕНИЯ ИССЛЕДОВАНИЙ" %}<br></b>
        </div>
        <p><br><br></p>
        <div class="person_template_float_wrap col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <img class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="height:140px" src="{% static 'home/assets/images/IMAGES_SCI/_11_BIO.jpg' %}">
            <div class="person_template_title" ><a href="#" style="font-size:23px">{% trans "БИОФИЗИКА" %}</a></div>
            <div class="person_template_text">
                <p>
                    {% trans "· биофизика клетки и клеточная инженерия" %}<br>
                    {% trans "· редокс-сигнализация и редокс-регуляция в биосистемах" %}<br>
                    {% trans "· медицинская биофизика и биофизические методы в диагностике заболеваний" %}: 2022<br>
                    {% trans "· нанобиотехнологии и наномедицинские технологии" %}<br>
                    {% trans "· биосенсоры, нейросенсоры и биопреобразователи" %}<br>
                </p>
                <br><br>
            </div>
        </div>
        <div class="person_template_float_wrap col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <img class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="height:140px" src="{% static 'home/assets/images/IMAGES_SCI/_12_MATH.jpg' %}">
            <div class="person_template_title" ><a href="#" style="font-size:23px">{% trans "МАТЕМАТИЧЕСКАЯ ФИЗИКА" %}</a></div>
            <div class="person_template_text" >
                <p>
                    {% trans "· рациональная аппроксимация и ее приложения к решению задач математической физики" %}<br>
                    {% trans "· вычислительная математика" %}<br>
                    {% trans "· интегральные уравнения и краевые задачи" %}<br>
                    {% trans "· уравнения с частными производными дробного порядка" %}<br>
                    {% trans "·  математическое моделирование динамических биосистем" %}<br>
                </p>
                <br><br>
            </div>
        </div>
        <div class="person_template_float_wrap col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <img class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="height:140px" src="{% static 'home/assets/images/IMAGES_SCI/_13_SIMUL.jpg' %}">
            <div class="person_template_title" ><a href="#" style="font-size:23px">{% trans "КОМПЬЮТЕРНОЕ МОДЕЛИРОВАНИЕ" %}</a></div>
            <div class="person_template_text" >
                <p>
                    {% trans "· самоорганизация в сложных системах, нелинейная динамика, биоинформатика" %}<br>
                    {% trans "· квантовый транспорт в неупорядоченных системах пониженной размерности, точно решаемые задачи в квантовой механике и стохастической динамике" %}<br>
                    {% trans "· суперкомпьютерные и ГРИД-технологии" %}<br>
                    {% trans "· теоретическая и математическая физика диффузионных процессов, контролируемый транспорт на наноуровне, броуновские моторы" %}<br>
                    {% trans "· нелинейная оптика световых пучков и импульсов, взаимодействие лазерного излучения с веществом, нанофотоника" %}<br>
                </p>
                <br><br>
            </div>
        </div>
        <div class="person_template_float_wrap col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <img class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="height:140px" src="{% static 'home/assets/images/IMAGES_SCI/_14_LASER.jpg' %}">
            <div class="person_template_title" ><a href="#" style="font-size:23px">{% trans "ЛАЗЕРНАЯ ФИЗИКА И СПЕКТРОСКОПИЯ" %}</a></div>
            <div class="person_template_text" >
                <p>
                    {% trans "· лазерная физика, нелинейная оптика и голография" %}<br>
                    {% trans "· фотофизика и нелинейная спектроскопия конденсированных сред" %}<br>
                    {% trans "· физика жидкокристаллических оптоэлектронных систем" %}<br>
                    {% trans "· методы и препараты для биомедицинских применений" %}<br>
                    {% trans "· методы и аппаратно-программные средства спектрально-люминесцентного анализа" %}<br>
                    {% trans "· сложная динамика лазерных систем с быстрой фазовой релаксацией" %}<br>
                    {% trans "· пространственно-динамические модели формирования излучения в лазерных системах" %}<br>
                </p>
                <br><br>
            </div>
        </div>
        <div class="person_template_float_wrap col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <img class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="height:140px" src="{% static 'home/assets/images/IMAGES_SCI/_15_THEOR.jpg' %}">
            <div class="person_template_title" ><a href="#" style="font-size:23px">{% trans "ТЕОРЕТИЧЕСКАЯ ФИЗИКА И АСТРОФИЗИКА" %}</a></div>
            <div class="person_template_text" >
                <p>
                    {% trans "· теория гравитации и электромагнетизма" %}<br>
                    {% trans "· космология и астрофизика" %}<br>
                    {% trans "· физика элементарных частиц и высоких энергий" %}<br>
                    {% trans "· когерентные и квантовые эффекты в конденсированных средах" %}<br>
                    {% trans "·  оптика и акустика сложных сред" %}<br>
                </p>
                <br><br>
            </div>
        </div>
        <div class="person_template_float_wrap col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <img class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="height:140px" src="{% static 'home/assets/images/IMAGES_SCI/_16_SEMIC.jpg' %}">
            <div class="person_template_title" ><a href="#" style="font-size:23px">{% trans "ФИЗИКА ПОЛУПРОВОДНИКОВ И НАНОЭЛЕКТРОНИКА" %}</a></div>
            <div class="person_template_text" >
                <p>
                    {% trans "· разработка элементной базы микро- и наноэлектроники" %}<br>
                    {% trans "· физика углеродных материалов" %}<br>
                    {% trans "· проектирование и программирование микроконтроллерных систем" %}<br>
                    {% trans "· программируемые интеллектуальные датчики" %}<br>
                    {% trans "· разработка методов неразрушающего контроля, экспресс-диагностики материалов и структур" %}<br>
                </p>
                <br><br>
            </div>
        </div>
        <div class="person_template_float_wrap col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <img class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="height:140px" src="{% static 'home/assets/images/IMAGES_SCI/_17_SOLID.jpg' %}">
            <div class="person_template_title" ><a href="#" style="font-size:23px">{% trans "ФИЗИКА ТВЁРДОГО ТЕЛА" %}</a></div>
            <div class="person_template_text" >
                <p>
                    {% trans "· взаимодействие заряженных частиц и плазмы с твердым телом" %}<br>
                    {% trans "· компьютерное моделирование электронной структуры твердых тел" %}<br>
                    {% trans "· разработка перспективных материалов и защитных покрытий" %}<br>
                    {% trans "· разработка и изготовление эталонных термостатирующих устройств" %}<br>
                    {% trans "· ультразвуковой неразрушающий контроль" %}<br>
                </p>
                <br><br>
            </div>
        </div>
        <div class="person_template_float_wrap col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <img class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="height:140px" src="{% static 'home/assets/images/IMAGES_SCI/_18_PHYSOPT.jpg' %}">
            <div class="person_template_title" ><a href="#" style="font-size:23px">{% trans "ФИЗИЧЕСКАЯ ОПТИКА И ПРИКЛАДНАЯ ИНФОРМАТИКА" %}</a></div>
            <div class="person_template_text" >
                <p>
                    {% trans "· системы оптической памяти и преобразования информации" %}<br>
                    {% trans "· физика атомно-молекулярных процессов и наноразмерных систем" %}<br>
                    {% trans "· физика атмосферы и аэрокосмическое дистанционное зондирование" %}<br>
                    {% trans "· оптоэлектроника" %}<br>
                    {% trans "· фотофизика и фотохимия стеклообразных полимеров" %}<br>
                </p>
                <br><br>
            </div>
        </div>
        <div class="person_template_float_wrap col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <img class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="height:140px" src="{% static 'home/assets/images/IMAGES_SCI/_19_ENERG.jpg' %}">
            <div class="person_template_title" ><a href="#" style="font-size:23px">{% trans "ЭНЕРГОФИЗИКА" %}</a></div>
            <div class="person_template_text" >
                <p>
                    {% trans "· материалы солнечной энергетики" %}<br>
                    {% trans "· наноструктурированные материалы и их применения" %}<br>
                    {% trans "· электрохимические накопители энергии" %}<br>
                    {% trans "· тонкопленочные технологии" %}<br>
                    {% trans "· теплопередающие и измерительные устройства для энергетических систем" %}<br>
                </p>
                <br><br>
            </div>
        </div>
        <div class="person_template_float_wrap col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <img class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="height:140px" src="{% static 'home/assets/images/IMAGES_SCI/_20_NUCL.jpg' %}">
            <div class="person_template_title" ><a href="#" style="font-size:23px">{% trans "ЯДЕРНАЯ ФИЗИКА" %}</a></div>
            <div class="person_template_text" >
                <p>
                    {% trans "· детектирование, спектрометрия и радиометрия ионизирующего излучения" %}<br>
                    {% trans "· взаимодействие пучков заряженных частиц с периодическими структурами" %}<br>
                    {% trans "· теплофизика ядерных реакторов и реакторных установок" %}<br>
                    {% trans "· информационно-измерительные системы " %}<br>
                    {% trans "· методы радиационного контроля" %}<br>
                </p>
                <br><br>
            </div>
        </div>
    </div>
</div>
{% endblock %}