{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "НИЛ и направления исследований" %}{% endblock %} <!-- Вариант для перевода на английский язык: 'Research Areas and Laboratories' -->

{% block content %}

<div class="person_template">
    <div class="container">
<!--        <div class="page_name">{% trans "НИЛ и направления исследований" %}</div> &lt;!&ndash; Вариант для перевода на английский язык: 'Research Areas and Laboratories' &ndash;&gt;-->

        <div class="description" style="font-size:30px!important;">
            {% trans "НАУЧНО-ИССЛЕДОВАТЕЛЬСКИЕ ЛАБОРАТОРИИ" %}<br>
        </div>
        <p><br><br></p>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="person_template_title" ><a href="#" style="font-size:23px">{% trans "НИЛ биофизики и биотехнологий" %}</a></div>
            <div><img class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding:0!important; height:50px; max-width: 100%;" src="{% static 'home/assets/images/IMAGES_SCI/_1_BIO_LAB1.jpg' %}" alt=""></div>
            <div class="person_template_text">
                <p>
                    <b>{% trans "Тематика исследований: " %}</b>{% trans "медицинская биофизика и биофизические методы в диагностике заболеваний." %}<br>
                    <b>{% trans "зав. лаб." %}</b> – {% trans "к.б.н. доц. Владимир Петрович Зорин" %}<br>
                    <b>{% trans "тел.:" %}</b> +375 (17) 226-59-47<br>
                    <b>{% trans "email:" %}</b> zorin@bsu.by, vpzorin@mail.ru<br>
                </p>
                <br><br>
            </div>
        </div><br>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="person_template_title" ><a href="#" style="font-size:23px">{% trans "НИЛ клеточной инженерии и нанобиотехнологий" %}</a></div>
            <div><img class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding:0!important; height:50px; max-width: 100%;" src="{% static 'home/assets/images/IMAGES_SCI/_2_BIO_LAB2.jpg' %}" alt=""></div>
            <div class="person_template_text">
                <p>
                    <b>{% trans "Тематика исследований: " %}</b>{% trans "разработка аппаратуры и методов анализа для изучения клеточных процессов." %}<br>
                    <b>{% trans "зав. лаб." %}</b> – {% trans "к.б.н. Андрей Анатольевич Денисов" %}<br>
                    <b>{% trans "тел.:" %}</b> +375 (17) 209-52-78<br>
                    <b>{% trans "email:" %}</b> andrew@fizio.bas-net.by<br>
                </p>
                <br><br>
            </div>
        </div><br>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="person_template_title" ><a href="#" style="font-size:23px">{% trans "НИЛ высокоэнергетичной ионной имплантации и функциональной диагностики" %}</a></div>
            <div><img class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding:0!important; height:50px; max-width: 100%;" src="{% static 'home/assets/images/IMAGES_SCI/_3_ION_LAB3.jpg' %}" alt=""></div>
            <div class="person_template_text">
                <p>
                    <b>{% trans "Тематика исследований: " %}</b>{% trans "модификация электрофизических, структурных свойств алмаза и других полупроводников для создания на их основе электронных приборов; разработка методов исследования полупроводниковых материалов, автоматизация измерительных систем" %}<br>
                    <b>{% trans "зав. лаб." %}</b> – {% trans "Николай Михайлович Казючиц" %}<br>
                    <b>{% trans "тел.:" %}</b> +375 (17) 209-55-09<br>
                    <b>{% trans "email:" %}</b> kazuchits@bsu.by<br>
                </p>
                <br><br>
            </div>
        </div><br>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="person_template_title" ><a href="#" style="font-size:23px">{% trans "НИЛ физики электронных материалов" %}</a></div>
            <div><img class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding:0!important; height:50px; max-width: 100%;" src="{% static 'home/assets/images/IMAGES_SCI/_4_ELEC_LAB4.jpg' %}" alt=""></div>
            <div class="person_template_text">
                <p>
                    <b>{% trans "Тематика исследований: " %}</b>{% trans "физика полупроводников и полупроводниковых приборов, физика низкоразмерных систем, физика углеродных наноструктур." %}<br>
                    <b>{% trans "зав. лаб." %}</b> – {% trans "к.ф.-м.н. доц. Виталий Казимирович Ксеневич" %}<br>
                    <b>{% trans "тел.:" %}</b> +375 (17) 209-55-42<br>
                    <b>{% trans "email:" %}</b> ksenevich@bsu.by<br>
                </p>
                <br><br>
            </div>
        </div><br>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="person_template_title" ><a href="#" style="font-size:23px">{% trans "НИЛ спектроскопии полупроводников" %}</a></div>
            <div><img class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding:0!important; height:50px; max-width: 100%;" src="{% static 'home/assets/images/IMAGES_SCI/_5_SEMIC_LAB5.jpg' %}" alt=""></div>
            <div class="person_template_text">
                <p>
                    <b>{% trans "Тематика исследований: " %}</b>{% trans "физика полупроводников и полупроводниковых приборов и структур, радиационное материаловедение структур диэлектрик-полупроводник." %}<br>
                    <b>{% trans "зав. лаб." %}</b> – {% trans "к.ф.-м.н. доц. Владислав Савельевич Просолович" %}<br>
                    <b>{% trans "тел.:" %}</b> +375 (17) 209-50-51<br>
                    <b>{% trans "email:" %}</b> prosolovich@bsu.by<br>
                </p>
                <br><br>
            </div>
        </div><br>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="person_template_title" ><a href="#" style="font-size:23px">{% trans "НИЛ спектроскопических систем" %}</a></div>
            <div><img class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding:0!important; height:50px; max-width: 100%;" src="{% static 'home/assets/images/IMAGES_SCI/_6_SPEC_LAB6.jpg' %}" alt=""></div>
            <div class="person_template_text">
                <p>
                    <b>{% trans "Тематика исследований: " %}</b>{% trans "разработка спектральных приборов, оптическое приборостроение." %}<br>
                    <b>{% trans "зав. лаб." %}</b> – {% trans "Максим Николаевич Коваленко" %}<br>
                    <b>{% trans "тел.:" %}</b>{% trans "+375 (17) 209-51-12 телефон временно недоступен в связи с ремонтом корпуса БГУ" %}<br>
                    <b>{% trans "email:" %}</b> kovalenkoM@bsu.by<br>
                </p>
                <br><br>
            </div>
        </div><br>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="person_template_title" ><a href="#" style="font-size:23px">{% trans "НИЛ нелинейной оптики и спектроскопии" %}</a></div>
            <div><img class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding:0!important; height:50px; max-width: 100%;" src="{% static 'home/assets/images/IMAGES_SCI/_7_NONLIN_LAB7.jpg' %}" alt=""></div>
            <div class="person_template_text">
                <p>
                    <b>{% trans "Тематика исследований: " %}</b>{% trans "разработка лазерных спектроскопических методов и препаратов для медицинской диагностики; разработка оптических материалов, технологий и создание на их основе управляемых дифракционных и волноводных элементов. " %}<br>
                    <b>{% trans "зав. лаб." %}</b> – {% trans "д.ф.-м.н. проф. Евгений Семёнович Воропай" %}<br>
                    <b>{% trans "тел.:" %}</b> +375 (17) 209-54-72<br>
                    <b>{% trans "email:" %}</b> voropay@bsu.by<br>
                </p>
                <br><br>
            </div>
        </div><br>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="person_template_title" ><a href="#" style="font-size:23px">{% trans "НИЛ физики ионно-плазменной модификации твердых тел" %}</a></div>
            <div><img class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding:0!important; height:50px; max-width: 100%;" src="{% static 'home/assets/images/IMAGES_SCI/_8_IONPLASM_LAB8.jpg' %}" alt=""></div>
            <div class="person_template_text">
                <p>
                    <b>{% trans "Тематика исследований: " %}</b>{% trans "радиационная физика твердого тела и полупроводников; воздействие импульсных плазменных потоков на материалы; защитные покрытия; тонкие пленки; электронная структура твердых тел; высокоскоростная кристаллизация." %}<br>
                    <b>{% trans "зав. лаб." %}</b> – {% trans "к.ф.-м.н. Андрей Константинович Кулешов" %}<br>
                    <b>{% trans "тел.:" %}</b> +375 (17) 209-62-57<br>
                    <b>{% trans "email:" %}</b> kuleshak@bsu.by<br>
                </p>
                <br><br>
            </div>
        </div><br>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="person_template_title" ><a href="#" style="font-size:23px">{% trans "НИЛ энергоэффективных материалов и технологий" %}</a></div>
            <div><img class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding:0!important; height:50px; max-width: 100%;" src="{% static 'home/assets/images/IMAGES_SCI/_9_ENERG_LAB9.jpg' %}" alt=""></div>
            <div class="person_template_text">
                <p>
                    <b>{% trans "Тематика исследований: " %}</b>{% trans "материалы солнечной энергетики, двумерные материалы и наноматериаловедение, диагностика полупроводниковых материалов и разработка способов анализа их свойств." %}<br>
                    <b>{% trans "зав. лаб." %}</b> – {% trans "к.ф.-м.н. Ольга Васильевна Королик" %}<br>
                    <b>{% trans "тел.:" %}</b> +375 (17) 209-53-59<br>
                    <b>{% trans "email:" %}</b> olga_zinchuk@tut.by<br>
                </p>
                <br><br>
            </div>
        </div><br>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="person_template_title" ><a href="#" style="font-size:23px">{% trans "НИЛ физики и техники полупроводников" %}</a></div>
            <div><img class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding:0!important; height:50px; max-width: 100%;" src="{% static 'home/assets/images/IMAGES_SCI/_10_SEMI_LAB10.jpg' %}" alt=""></div>
            <div class="person_template_text">
                <p>
                    <b>{% trans "Тематика исследований: " %}</b>{% trans "физика конденсированных сред, приборостроение." %}<br>
                    <b>{% trans "зав. лаб." %}</b> – {% trans "к.ф.-м.н. Игорь Иосифович Азарко" %}<br>
                    <b>{% trans "тел.:" %}</b> +375 (17) 209-51-09<br>
                    <b>{% trans "email:" %}</b> : azarko@bsu.by<br>
                </p>
                <br><br>
            </div>
        </div><br><br>
        <div class="description" style="font-size:30px!important;">
            {% trans "НАПРАВЛЕНИЯ ИССЛЕДОВАНИЙ" %}<br>
        </div>
        <p><br><br></p>
        <div class="person_template_float_wrap col-lg-12 col-md-12 col-sm-12 col-xs-12 box_research-dir-info" style="display:flex;">
            <img class="col-lg-6 col-md-6 col-sm-12 col-xs-12 directions-img" style="max-width:172px!important; align-self:center!important; height:140px" src="{% static 'home/assets/images/IMAGES_SCI/_11_BIO.jpg' %}" alt="">
            <div>
                <div class="person_template_title direction-title" ><a href="https://physics.bsu.by/ru/departments/kafedra-biofiziki/" style="font-size:23px">{% trans "БИОФИЗИКА" %}</a></div>
                <div class="person_template_text">
                    <p>
                        {% trans "· биофизика клетки и клеточная инженерия" %}<br>
                        {% trans "· редокс-сигнализация и редокс-регуляция в биосистемах" %}<br>
                        {% trans "· медицинская биофизика и биофизические методы в диагностике заболеваний" %}<br>
                        {% trans "· нанобиотехнологии и наномедицинские технологии" %}<br>
                        {% trans "· биосенсоры, нейросенсоры и биопреобразователи" %}<br>
                    </p>
                    <br><br>
                </div>
            </div>
        </div>
        <div class="person_template_float_wrap col-lg-12 col-md-12 col-sm-12 col-xs-12 box_research-dir-info" style="display:flex;">
            <img class="col-lg-6 col-md-6 col-sm-12 col-xs-12 directions-img" style="max-width:172px!important; align-self:center!important; height:140px" src="{% static 'home/assets/images/IMAGES_SCI/_12_MATH.jpg' %}" alt="">
            <div>
                <div class="person_template_title direction-title" ><a href="https://physics.bsu.by/ru/departments/kafedra-vysshej-matematiki-i-matematicheskoj-fiziki/" style="font-size:23px">{% trans "МАТЕМАТИЧЕСКАЯ ФИЗИКА" %}</a></div>
                <div class="person_template_text" >
                    <p>
                        {% trans "· рациональная аппроксимация и ее приложения к решению задач математической физики" %}<br>
                        {% trans "· вычислительная математика" %}<br>
                        {% trans "· интегральные уравнения и краевые задачи" %}<br>
                        {% trans "· уравнения с частными производными дробного порядка" %}<br>
                        {% trans "·  математическое моделирование динамических биосистем" %}<br>
                    </p>
                    <br><br>
                </div>
            </div>
        </div>
        <div class="person_template_float_wrap col-lg-12 col-md-12 col-sm-12 col-xs-12 box_research-dir-info" style="display:flex;">
            <img class="col-lg-6 col-md-6 col-sm-12 col-xs-12 directions-img" style="max-width:172px!important; align-self:center!important; height:140px" src="{% static 'home/assets/images/IMAGES_SCI/_13_SIMUL.jpg' %}" alt="">
            <div>
                <div class="person_template_title direction-title" ><a href="https://physics.bsu.by/ru/departments/kafedra-kompyuternogo-modelirovaniya/" style="font-size:23px">{% trans "КОМПЬЮТЕРНОЕ МОДЕЛИРОВАНИЕ" %}</a></div>
                <div class="person_template_text" >
                    <p>
                        {% trans "· самоорганизация в сложных системах, нелинейная динамика, биоинформатика" %}<br>
                        {% trans "· квантовый транспорт в неупорядоченных системах пониженной размерности, точно решаемые задачи в квантовой механике и стохастической динамике" %}<br>
                        {% trans "· суперкомпьютерные и ГРИД-технологии" %}<br>
                        {% trans "· теоретическая и математическая физика диффузионных процессов, контролируемый транспорт на наноуровне, броуновские моторы" %}<br>
                        {% trans "· нелинейная оптика световых пучков и импульсов, взаимодействие лазерного излучения с веществом, нанофотоника" %}<br>
                    </p>
                    <br><br>
                </div>
            </div>
        </div>
        <div class="person_template_float_wrap col-lg-12 col-md-12 col-sm-12 col-xs-12 box_research-dir-info" style="display:flex;">
            <img class="col-lg-6 col-md-6 col-sm-12 col-xs-12 directions-img" style="max-width:172px!important; align-self:center!important; height:140px" src="{% static 'home/assets/images/IMAGES_SCI/_14_LASER.jpg' %}" alt="">
            <div>
                <div class="person_template_title direction-title" ><a href="https://physics.bsu.by/ru/departments/kafedra-lazernoj-fiziki-i-spektroskopii/" style="font-size:23px">{% trans "ЛАЗЕРНАЯ ФИЗИКА И СПЕКТРОСКОПИЯ" %}</a></div>
                <div class="person_template_text" >
                    <p>
                        {% trans "· лазерная физика, нелинейная оптика и голография" %}<br>
                        {% trans "· фотофизика и нелинейная спектроскопия конденсированных сред" %}<br>
                        {% trans "· физика жидкокристаллических оптоэлектронных систем" %}<br>
                        {% trans "· методы и препараты для биомедицинских применений" %}<br>
                        {% trans "· методы и аппаратно-программные средства спектрально-люминесцентного анализа" %}<br>
                        {% trans "· сложная динамика лазерных систем с быстрой фазовой релаксацией" %}<br>
                        {% trans "· пространственно-динамические модели формирования излучения в лазерных системах" %}<br>
                    </p>
                    <br><br>
                </div>
            </div>
        </div>
        <div class="person_template_float_wrap col-lg-12 col-md-12 col-sm-12 col-xs-12 box_research-dir-info" style="display:flex;">
            <img class="col-lg-6 col-md-6 col-sm-12 col-xs-12 directions-img" style="max-width:172px!important; align-self:center!important; height:140px" src="{% static 'home/assets/images/IMAGES_SCI/_15_THEOR.jpg' %}" alt="">
            <div>
                <div class="person_template_title direction-title" ><a href="https://physics.bsu.by/ru/departments/kafedra-teoreticheskoj-fiziki-i-astrofiziki/" style="font-size:23px">{% trans "ТЕОРЕТИЧЕСКАЯ ФИЗИКА И АСТРОФИЗИКА" %}</a></div>
                <div class="person_template_text" >
                    <p>
                        {% trans "· теория гравитации и электромагнетизма" %}<br>
                        {% trans "· космология и астрофизика" %}<br>
                        {% trans "· физика элементарных частиц и высоких энергий" %}<br>
                        {% trans "· когерентные и квантовые эффекты в конденсированных средах" %}<br>
                        {% trans "·  оптика и акустика сложных сред" %}<br>
                    </p>
                    <br><br>
                </div>
            </div>
        </div>
        <div class="person_template_float_wrap col-lg-12 col-md-12 col-sm-12 col-xs-12 box_research-dir-info" style="display:flex;">
            <img class="col-lg-6 col-md-6 col-sm-12 col-xs-12 directions-img" style="max-width:172px!important; align-self:center!important; height:140px" src="{% static 'home/assets/images/IMAGES_SCI/_16_SEMIC.jpg' %}" alt="">
            <div>
                <div class="person_template_title direction-title" ><a href="https://physics.bsu.by/ru/departments/kafedra-fiziki-poluprovodnikov-i-nanoelektroniki/" style="font-size:23px">{% trans "ФИЗИКА ПОЛУПРОВОДНИКОВ И НАНОЭЛЕКТРОНИКА" %}</a></div>
                <div class="person_template_text" >
                    <p>
                        {% trans "· разработка элементной базы микро- и наноэлектроники" %}<br>
                        {% trans "· физика углеродных материалов" %}<br>
                        {% trans "· проектирование и программирование микроконтроллерных систем" %}<br>
                        {% trans "· программируемые интеллектуальные датчики" %}<br>
                        {% trans "· разработка методов неразрушающего контроля, экспресс-диагностики материалов и структур" %}<br>
                    </p>
                    <br><br>
                </div>
            </div>
        </div>
        <div class="person_template_float_wrap col-lg-12 col-md-12 col-sm-12 col-xs-12 box_research-dir-info" style="display:flex;">
            <img class="col-lg-6 col-md-6 col-sm-12 col-xs-12 directions-img" style="max-width:172px!important; align-self:center!important; height:140px" src="{% static 'home/assets/images/IMAGES_SCI/_17_SOLID.jpg' %}" alt="">
            <div>
                <div class="person_template_title direction-title" ><a href="https://physics.bsu.by/ru/departments/kafedra-fiziki-tverdogo-tela/" style="font-size:23px">{% trans "ФИЗИКА ТВЁРДОГО ТЕЛА" %}</a></div>
                <div class="person_template_text" >
                    <p>
                        {% trans "· взаимодействие заряженных частиц и плазмы с твердым телом" %}<br>
                        {% trans "· компьютерное моделирование электронной структуры твердых тел" %}<br>
                        {% trans "· разработка перспективных материалов и защитных покрытий" %}<br>
                        {% trans "· разработка и изготовление эталонных термостатирующих устройств" %}<br>
                        {% trans "· ультразвуковой неразрушающий контроль" %}<br>
                    </p>
                    <br><br>
                </div>
            </div>
        </div>
        <div class="person_template_float_wrap col-lg-12 col-md-12 col-sm-12 col-xs-12 box_research-dir-info" style="display:flex;">
            <img class="col-lg-6 col-md-6 col-sm-12 col-xs-12 directions-img" style="max-width:172px!important; align-self:center!important; height:140px" src="{% static 'home/assets/images/IMAGES_SCI/_18_PHYSOPT.jpg' %}" alt="">
            <div>
                <div class="person_template_title direction-title" ><a href="https://physics.bsu.by/ru/departments/kafedra-fizicheskoj-optiki-i-prikladnoj-informatiki/" style="font-size:23px">{% trans "ФИЗИЧЕСКАЯ ОПТИКА И ПРИКЛАДНАЯ ИНФОРМАТИКА" %}</a></div>
                <div class="person_template_text" >
                    <p>
                        {% trans "· системы оптической памяти и преобразования информации" %}<br>
                        {% trans "· физика атомно-молекулярных процессов и наноразмерных систем" %}<br>
                        {% trans "· физика атмосферы и аэрокосмическое дистанционное зондирование" %}<br>
                        {% trans "· оптоэлектроника" %}<br>
                        {% trans "· фотофизика и фотохимия стеклообразных полимеров" %}<br>
                    </p>
                    <br><br>
                </div>
            </div>
        </div>
        <div class="person_template_float_wrap col-lg-12 col-md-12 col-sm-12 col-xs-12 box_research-dir-info" style="display:flex;">
            <img class="col-lg-6 col-md-6 col-sm-12 col-xs-12 directions-img" style="max-width:172px!important; align-self:center!important; height:140px" src="{% static 'home/assets/images/IMAGES_SCI/_19_ENERG.jpg' %}" alt="">
            <div>
                <div class="person_template_title direction-title" ><a href="https://physics.bsu.by/ru/departments/kafedra-energofiziki/" style="font-size:23px">{% trans "ЭНЕРГОФИЗИКА" %}</a></div>
                <div class="person_template_text" >
                    <p>
                        {% trans "· материалы солнечной энергетики" %}<br>
                        {% trans "· наноструктурированные материалы и их применения" %}<br>
                        {% trans "· электрохимические накопители энергии" %}<br>
                        {% trans "· тонкопленочные технологии" %}<br>
                        {% trans "· теплопередающие и измерительные устройства для энергетических систем" %}<br>
                    </p>
                    <br><br>
                </div>
            </div>
        </div>
        <div class="person_template_float_wrap col-lg-12 col-md-12 col-sm-12 col-xs-12 box_research-dir-info" style="display:flex;">
            <img class="col-lg-6 col-md-6 col-sm-12 col-xs-12 directions-img" style="max-width:172px!important; align-self:center!important; height:140px" src="{% static 'home/assets/images/IMAGES_SCI/_20_NUCL.jpg' %}" alt="">
            <div>
                <div class="person_template_title direction-title" ><a href="https://physics.bsu.by/ru/departments/kafedra-yadernoj-fiziki/" style="font-size:23px">{% trans "ЯДЕРНАЯ ФИЗИКА" %}</a></div>
                <div class="person_template_text" >
                    <p>
                        {% trans "· детектирование, спектрометрия и радиометрия ионизирующего излучения" %}<br>
                        {% trans "· взаимодействие пучков заряженных частиц с периодическими структурами" %}<br>
                        {% trans "· теплофизика ядерных реакторов и реакторных установок" %}<br>
                        {% trans "· информационно-измерительные системы " %}<br>
                        {% trans "· методы радиационного контроля" %}<br>
                    </p>
                    <br><br>
                </div>
            </div>
        </div><br><br>
        <div class="description sc-sch" style="position:relative; font-size:30px!important; display:flex; justify-content:space-between; width:75%;">
            {% get_current_language as LANGUAGE_CODE %}
            {% if LANGUAGE_CODE == "ru"%}
              <a class="sc-sch-link" href="https://physics.bsu.by/science-directions/science-schools/" style="position:relative; border:none!important;" target="_blank">НАУЧНЫЕ ШКОЛЫ<br></a>
                  <span class="view-sc-sch" style="position:absolute; top:45px; left:0!important; display:none; padding:7px 8px; width:fit-content; height:auto; max-height:75px!important; overflow-y:auto; border:7px solid #ffffff; background:#ffffff; box-shadow: 0 0 5px #c2c2c2; font-size:14px!important; user-select:none;">
                      <span style="display:inline-block; width:100%; background:#ffffff;">
                          <span>
                              К сожалению, данная страница временно недоступна для просмотра по прямой ссылке. Приносим свои извинения за временные неудобства.<br><br>
                              Вы сможете посмотреть информацию о научных&nbsp;школах <strong style="color:#2e2d2d;">физического&nbsp;факультета</strong> в pdf-файле на GoogleDocs, перейдя по ссылке-кнопке '<img alt="PDF" style="display:inline!important; padding:1px 2px; width:14px !important; border:none!important; border-radius:5px!important; box-shadow:0 0 3px #c2c2c2; font-size:12px!important; text-align:center!important; height:12px!important; object-fit: contain;" src="{% static 'home/assets/images/pdf-icon_.png' %}">'.
                          </span>
                      </span>
                  </span>
              
              <a class="btn-pdf-link" href="https://drive.google.com/file/d/1p7w-Iw0rINAdGzHepgOv0UvQAaI2jwyV/view?usp=sharing" style="display:inline; width:60px; height:45px; border:none!important;" target="_blank">
                <img alt="PDF" style="width:42px !important; border:none!important; border-radius:5px!important; box-shadow:0 0 3px #c2c2c2; font-size:25px!important; text-align:center!important; padding:4px 5px; height:38px!important; object-fit:contain;" src="{% static 'home/assets/images/pdf-icon_.png' %}" title="Посмотреть информацию о научных школах факультета в pdf-файле на GoogleDocs">
              </a>
            {% endif %}
            {% if LANGUAGE_CODE == "en"%}
              <a class="sc-sch-link" href="https://physics.bsu.by/science-directions/science-schools/" style="position:relative; border:none!important;" target="_blank">SCIENCE SCHOOLS<br></a>
                  <span class="view-sc-sch" style="position:absolute; top:45px; left:0!important; display:none; padding:7px 8px; width:fit-content; height:auto; max-height:75px!important; overflow-y:auto; border:7px solid #ffffff; background:#ffffff; box-shadow: 0 0 5px #c2c2c2; font-size:14px!important; user-select:none;">
                      <span style="display:inline-block; width:100%; background:#ffffff;">
                          <span>
                              Unfortunately, this page is temporarily unavailable for viewing via the direct link. We apologize for the temporary inconvenience.<br><br>
                              You can view information about the&nbsp;science&nbsp;schools of&nbsp;the&nbsp;<strong style="color:#2e2d2d;">Faculty&nbsp;of&nbsp;Physics</strong> in the&nbsp;pdf-file on&nbsp;GoogleDocs, by clicking on the&nbsp;link-button '<img alt="PDF" style="display:inline!important; padding:1px 2px; width:14px !important; border:none!important; border-radius:5px!important; box-shadow:0 0 3px #c2c2c2; font-size:12px!important; text-align:center!important; height:12px!important; object-fit: contain;" src="{% static 'home/assets/images/pdf-icon_.png' %}">'.
                          </span>
                      </span>
                  </span>
              
              <a href="https://drive.google.com/file/d/1p7w-Iw0rINAdGzHepgOv0UvQAaI2jwyV/view?usp=sharing" style="display:inline; width:60px; height:45px;border:none!important;" target="_blank">
                <img alt="PDF" style="width:42px !important; border:none!important; border-radius:5px!important; box-shadow:0 0 3px #c2c2c2; font-size:25px!important; text-align:center!important; padding:4px 5px; height:38px!important; object-fit:contain;" src="{% static 'home/assets/images/pdf-icon_.png' %}" title="View information about the science schools of the Faculty in pdf on GoogleDocs (available in Russian)">
              </a>            
            {% endif %}
        </div>
        
        <p><br><br></p>
    </div>
</div>
{% endblock %}
