{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Нормативные документы" %}{% endblock %}

{% block content %}
<div class="pages">
    <div class="container">
        <div class="page_name">{% trans "Нормативные документы" %}</div>
        <a href="https://physics.bsu.by/media/media/PVR_studenty_2022_novye_18_10_2022_itog.pdf">{% trans "Правила внутреннего распорядка для обучающихся в Белорусском государственном университете" %}</a>
        <a href="https://physics.bsu.by/media/media/pravila_vnytrennego_trudovogo_rasporyadka_bgu.pdf">{% trans "Правила внутреннего трудового распорядка БГУ" %}</a>
        <a href="https://physics.bsu.by/media/media/Kollektivnyi_dogovor.pdf">{% trans "Коллективный договор" %}</a>
        <a href="https://physics.bsu.by/media/media/Eticheskii_kodeks.pdf">{% trans "Этический кодекс" %}</a>
    </div>
</div>
{% endblock %}
