{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Одно окно" %}{% endblock %}

{% block content %}
<div class="mainInf">
    <div class="container">
        <div class="page_name">{% trans "Одно окно" %}</div>
        <div class="inf center-lg row pageNews">
            {% get_current_language as LANGUAGE_CODE %}
            {% if LANGUAGE_CODE == "ru"%}
            <table border="2" cellpadding="2"  cellspacing="0" width="90%">
                <tbody>
                    <tr>
                        <td style="text-align: center;"><b>Фамилия, имя, отчество, должность</b></td>
                        <td style="text-align: center;"><b>Место приема</b></td>
                        <td style="text-align: center;"><b>Дни и время приема</b></td>
                    </tr>
                    <tr>
                        <td><b>Тиванов Михаил Сергеевич</b>,<br />
                        декан физического факультета</td>
                        <td style="text-align: center;">к. 315</td>
                        <td>Вторник, среда, четверг - с 14.00 до 16.00</td>
                    </tr>
                    <tr>
                        <td><b>Горбачук Николай Иванович</b>,<br />
                        заместитель декана по учебной и методической работе</td>
                        <td style="text-align: center;">к. 315</td>
                        <td>Понедельник, среда - с 16.00 до 17.00</td>
                    </tr>
                    <tr>
                        <td><b>Ляшенко Людмила Сергеевна</b>,<br />
                        заместитель декана по учебно-воспитательной работе и социальным вопросам</td>
                        <td style="text-align: center;">к. 334</td>
                        <td>Понедельник - с 16.00 до 17.00,<br />
                        четверг - с 14.00 до 16.00</td>
                    </tr>
                    <tr>
                        <td><b>Колесов Егор Александрович</b>,<br />
                        Заместитель декана по научной работе и международному сотрудничеству</td>
                        <td style="text-align: center;">к. 332</td>
                        <td>*<br />
                        *</td>
                    </tr>
                </tbody>
            </table>
            {% endif %}
            {% if LANGUAGE_CODE == "en"%}
            <table border = "2" cellpadding = "2" cellspacing = "0" width = "90%">
                <tbody>
                    <tr>
                        <td style = "text-align: center;"> <b> Last name, first name, patronymic, position </b> </td>
                        <td style = "text-align: center;"> <b> Reception location </b> </td>
                        <td style = "text-align: center;"> <b> Days and times of reception </b> </td>
                    </tr>
                    <tr>
                        <td> <b> Tivanov Mikhail S. </b>, <br />
                        Dean of the Faculty of Physics </td>
                        <td style = "text-align: center;"> office 315 </td>
                        <td> Tuesday, Wednesday, Thursday - from 14.00 to 16.00 </td>
                    </tr>
                    <tr>
                        <td> <b> Gorbachuk Nikolay I. </b>, <br />
                        Deputy Dean for Academic and Methodological Work </td>
                        <td style = "text-align: center;"> office 315 </td>
                        <td> Monday, Wednesday from 4 pm to 5 pm </td>
                    </tr>
                    <tr>
                        <td> <b> Lyashenko Lyudmila S.</b>, <br />
                        Deputy Dean for Educational Work and Social Affairs </td>
                        <td style = "text-align: center;"> office 334 </td>
                        <td> Monday - from 4 pm to 5 pm, <br />
                        Thursday - from 14.00 to 16.00 </td>
                    </tr>
                    <tr>
                        <td> <b> Kolesov Egor A. </b>, <br />
                        Deputy Dean for Research and International Cooperation </td>
                        <td style = "text-align: center;"> office 332 </td>
                        <td> * <br />
                        * </td>
                    </tr>
                </tbody>
            </table>
            {% endif %}
            <div class="description"></div>
        </div>
    </div>
</div>

{% endblock %}