{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Основные публикации" %}{% endblock %}

{% block content %}
<div class="publications_template">
    <div class="container">
        {% for work in works %}
        <div class="publications_template_wrap">
            <img class="col-lg-2 col-md-2 col-sm-6 col-xs-12" src="{{ work.image.url }}">
            <div class="publications_template_description">
                <a href="{{ work.publicationUrl }}">{{ work.title }}</a>
                <div class="text"> {{ work.authors }} //</div>
                <div class="text">{{ work.journal }}</div>
            </div>
        </div>
        {% endfor %}
        
    </div>
</div>
{% endblock %}