{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Квант БГУ" %}{% endblock %}

{% block content %}
<div class="pages">
    <div class="container">
        <div class="page_name">{% trans "Квант" %}</div>
         На физическом факультете БГУ работает Физико-математическая школа «Квант». Образовательная программа направлена на углубленное изучение физики и математики, подготовку слушателей к участию в олимпиадах. Программа рассчитана для учащихся 10-х и 11-х классов разработаны для старшеклассников, желающих на повышенном уровне изучать физику и математику с целью поступления в университеты. Кроме того, слушателям расскажут про специальности и научную работу физического факультета БГУ.<br><br>
Занятия проводятся на физическом факультете БГУ: ул. Бобруйская, 5 а.319, 222.<br>
Телефон: 209-52-67

        <br>
        <br>
        <a href="ads">{% trans "Объявления" %}</a>
        <a href="https://physics.bsu.by/media/media/%D0%9A%D0%B2%D0%B0%D0%BD%D1%82-%D0%BA%D1%80%D0%B0%D1%82%D0%BA%D0%B8%D0%B9_%D0%BF%D0%BB%D0%B0%D0%BD.pdf">{% trans "Краткий план занятий" %}</a>
        <a href="ads">{% trans "Ссылки на портал" %}</a>
        <br>

    </div>
</div>
{% endblock %}
