{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Квант БГУ" %}{% endblock %}

{% block content %}
<div class="pages dekanat">
    <div class="container">
        <div class="page_name">{% trans "Квант-юни" %}</div>
        <p>Программа «Квант-юни» — научно-популярная программа внеучебных мероприятий для профориентации школьников 5-8 классов, рассчитанная на популяризацию физики и естественно-научных знаний, развитие физико-математического мышления и логики.</p><br>

        Физический факультет БГУ и «TutorOnline» объявляют о начале работы программы «Квант-юни». Для участия приглашаются школьники 5-8 классов.
Вниманию зрителей будет представлена серия видеороликов с демонстрационными экспериментами.
Участникам необходимо объяснить наблюдаемые в ходе эксперимента эффекты и выслать письмо с пометкой «Квант-юни» на адрес bsuphysfaculty@gmail.com<br>
Лучшие ответы будут поощрены призами от физического факультета БГУ.<br><hr>

<p>Порядок работы в рамках программы «Квант-юни» для первого блока экспериментов следующий:
    <ol>
        <li>Просмотр ролика с экспериментами (ролик первого блока экспериментов будет доступен с 30.11.2020 по адресу <a href="https://youtu.be/RugduzdMRzw"> Квант юни 1</a>).</li>
        <li>Подготовка и отправление ответа bsuphysfaculty@gmail.com с пометкой «Квант-юни» (не позднее 12.12.2020).</li>
        <li>Просмотр ролика с объяснением преподавателей (ролик будет доступен с 14.11.2020 по адресу___).</li>
        <li>Сравнение своего объяснения и объяснения преподавателя, подготовка вопросов. Вопросы можно отправить по адресу bsuphysfaculty@gmail.com с пометкой «Вопрос для Кванта-юни» (не позднее 23.12.2020) или задать в чате во время online-конференции (начало конференции, предварительно, в 17.00 22 или 23.12.2020)</li>
    </ol></p>

        <br>
        <br>
        <a href="ads">{% trans "Объявления" %}</a>
        <a href="#">{% trans "Фотогалерея" %}</a>
        <a href="#">{% trans "Расписание занятий" %}</a>
        <a href="#">{% trans "Ссылки на видео" %}</a>
        <br>

    </div>
</div>
{% endblock %}
