{% extends 'header_6.html' %}

{% load static %}


{% load i18n %}

{% block title %}{% trans "Квант БГУ" %}{% endblock %}

{% block content %}
<div class="spec">
    <div class="container">
        <div class="page_name">Физико-математическая школа "Квант БГУ"</div>
        <div class="page_spec" id="pageSpec">
            <a class="speci title" href="#"> Квант-олимпиец<br><span>Подробная информация о курсе</span><div class="inf"><p>Обучение студентов ориентировано на подготовку специалистов и дальнейшее описание</p><div class="title">СТРУКТУРА КУРСА:<ul><li>Объявления</li><li>Краткое описание</li><li>Раписание</li></ul></div></div></a>
            <a class="speci title" href="#"> Квант IX<br><span>Подробная информация о курсе</span><div class="inf"><p>Обучение студентов ориентировано на подготовку специалистов и дальнейшее описание</p><div class="title">СТРУКТУРА КУРСА:<ul><li>Объявления</li><li>Краткое описание</li><li>Расписание занятий</li><li>Ссылка на видео лекций</li><li>Ссылка на видео консультаций</li><li>Ссылка на задания</li></ul></div></div></a>
            <a class="speci title" href="#"> Квант X<br><span>Подробная информация о курсе</span><div class="inf"><p>Обучение студентов ориентировано на подготовку специалистов и дальнейшее описание</p><div class="title">СТРУКТУРА КУРСА:<ul><li>Объявления</li><li>Краткое описание</li><li>Расписание занятий</li><li>Ссылка на видео лекций</li><li>Ссылка на видео консультаций</li><li>Ссылка на задания</li></ul></div></div></a>
            <a class="speci title" href="#"> Квант XI<br><span>Подробная информация о курсе</span><div class="inf"><p>Обучение студентов ориентировано на подготовку специалистов и дальнейшее описание</p><div class="title">СТРУКТУРА КУРСА:<ul><li>Объявления</li><li>Краткое описание</li><li>Расписание занятий</li><li>Ссылка на видео лекций</li><li>Ссылка на видео консультаций</li><li>Ссылка на задания</li></ul></div></div></a>
            <a class="speci title" href="#"> Квант-юни<br><span>Подробная информация о курсе</span><div class="inf"><p>Обучение студентов ориентировано на подготовку специалистов и дальнейшее описание</p><div class="title">СТРУКТУРА КУРСА:<ul><li>Объявления</li><li>Краткое описание</li><li>Расписание занятий</li><li>Фотогалерея</li><li>Ссылка на видео</li></ul></div></div></a>
        </div>
    </div>
</div>
{% endblock %}