{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Квант БГУ" %}{% endblock %}

{% block content %}
<div class="pages">
    <div class="container">
        <div class="page_name">{% trans "Квант" %}</div>
         На физическом факультете БГУ работает Физико-математическая школа «Квант». Образовательная программа направлена на углубленное изучение физики и математики, подготовку слушателей к участию в олимпиадах. Программа рассчитана для учащихся 10-х и 11-х классов разработаны для старшеклассников, желающих на повышенном уровне изучать физику и математику с целью поступления в университеты. Кроме того, слушателям расскажут про специальности и научную работу физического факультета БГУ.<br><br>
Занятия проводятся на физическом факультете БГУ: ул. Бобруйская, 5 а.319, 222.<br>
Телефон 209-52-67

        <br>
        <br>
        <a href="ads">{% trans "Объявления" %}</a>
        <a href="#">{% trans "Краткое описание" %}</a>
        <a href="#">{% trans "Расписание занятий" %}</a>
        <br>

    </div>
</div>
{% endblock %}
