{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Квант БГУ" %}{% endblock %}

{% block content %}
<div class="noHeight pages pageNews">
    <div class="container">
        <div class="page_name">{% trans "Физико-математическая школа 'Квант БГУ'" %}</div>
        <hr><br>
        <p>С нового учебного года физический факультет планирует продолжить работу очно-заочной школы в обновленном формате — «Физико-математическая школа «Квант БГУ»».</p><br>
        <p>Предлагаемые Вам образовательный программы рассчитаны не только на желающих улучшить свои знания и ликвидировать пробелы в отдельных темах (с целью поступления в специализированные классы с углубленным изучением физики и математики, гимназии, лицеи, успешного прохождения ЦТ, поступления в вузы), но и на желающих проникнуть в суть физических законов, научиться решать олимпиадные задачи теоретического и экспериментального туров. Краткая информация о программах размещена на сайте.</p><br>
        <p>Занятия будут вести преподаватели физического факультета БГУ. Ориентировочное время начала обучения — октябрь 2020.</p><br>
        <hr>
        <br>
        <br>
        Подача заявлений для обучения в Физико-математической школе «Квант БГУ» начинается с 29.09.2020 г. по адресу: <a href="https://fpuedu.bsu.by"><b>Сайт Института дополнительного образования БГУ</b></a>где в разделе «Абитуриенту» («Подготовительные курсы») размещена форма:
        <a href="http://regtest.bsu.by/curs/"><b>Форма</b></a>

Учебные программы "Квант" для учащихся Х-XI классов общеобразовательных учебных заведений по программе 24х4х12
Срок обучения – 24 учебные недели с октября по декабрь и с февраля по апрель, форма обучения - дневная.
На момент заключения договора вносится 60% стоимости обучения, с 01 до 20 января 2021 года – 40% стоимости обучения.
Физико-математическая школа «Квант БГУ» организуются на базе физического факультета БГУ. Занятия проводятся по физике и математике 1 раз в неделю по субботам согласно расписанию в дневное время по 2 академических часа на каждый предмет.
Комплектность групп – до 12 человек.<br><br>

Обратите внимание на то, что:<br>
1. Участие в программе «Квант-юни» не требует заключения договоров и оплаты. Занятия будут проходить в заочной форме. Подробности о времени и формате проведения занятий будут размещаться на сайте.<br>
2. Для участия в программах «Квант X», «Квант XI», «Квант-олимпиец: теоретические физические задачи» и «Квант-олимпиец: экспериментальные физические задачи» необходимо заключить договора.<br>
3. Учащихся 9-х классов приглашаем для работы по программам «Квант X» или «Квант-юни»<br><br>

Приём заявлений и заключение договоров об обучении на подготовительных курсах начинается с 1 октября по адресу: г. Минск, ул. Академическая 25, к. 405, 408 с 09.00 до 13.00 и с 14.00 до 16.15. Выходные — суббота, воскресенье.<hr><br>
        <a class="page row" href="quantum-olimp/">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"></div>
            <div class="inf col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <div class="title">Квант-олимпиец</div>
                <div class="description">Программа «Квант-олимпиец: теоретические физические задачи», Программа «Квант-олимпиец: экспериментальные физические задачи»</div>
            </div>
        </a>
        <a class="page row" href="quantum-11/">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"></div>
            <div class="inf col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <div class="title">Квант XI</div>
                <div class="description">Программа «Квант XI» — образовательная программа по физике и математикедля школьников 11 классов...</div>
            </div>
        </a>
        <a class="page row" href="quantum-10/">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"></div>
            <div class="inf col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <div class="title">Квант X</div>
                <div class="description">Программа «Квант X» — образовательная программа по физике и математикедля учащихся 10 классов...</div>
            </div>
        </a>
        <a class="page row" href="quantum-9/">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"></div>
            <div class="inf col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <div class="title">Квант IX</div>
                <div class="description">Программа «Квант IX» — образовательная программа по физике и математике для школьников 9 классов...</div>
            </div>
        </a>
        <a class="page row" href="quantum-uni/">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"></div>
            <div class="inf col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <div class="title">Квант-юни</div>
                <div class="description">Программа «Квант-юни» — научно-популярная программа внеучебных мероприятий для профориентации школьников 5-8 классов...</div>
            </div>
        </a>
        <a class="page row" href="https://docs.google.com/forms/d/e/1FAIpQLSemJ3I2m72zaNsgrEEHCteIaDCFuF_yzCG2UI8R9_aPxdTOQg/viewform?usp=send_form">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"></div>
            <div class="inf col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <div class="title">АНКЕТА-ОПРОС</div>
                <div class="description"></div>
            </div>
        </a>


        <br>

        <br>
    </div>
</div>
{% endblock %}
