{% extends 'header_6.html' %}

{% load static %}


{% load i18n %}

{% block title %}{% trans "Квант БГУ" %}{% endblock %}

{% block content %}
<div class="spec">
    <div class="container">
        <div class="page_name">Физико-математическая школа "Квант БГУ"</div>
        <div class="page_spec" id="pageSpec">
            <a class="speci title" href="#"> Квант-олимпиец<br><span>Подробная информация о курсе:</span><p>Описание курса.... Ааааааааааааа аааа ааааааааааааааааа ааааааааааааааа ааааааааа аааааааааа аааааааааааааа аааааааааа ааааааааа аааааа аааааа</p><div class="title">СТРУКТУРА КУРСА:<ul><li><a href="#">Объявления</a></li><li><a href="#">Краткое описание</a></li><li><a href="#">Раписание</a></li></ul></div></a>
            <a class="speci title" href="#"> Квант IX<br><span>Подробная информация о курсе:</span><p>Описание курса.... Ааааааааааааа аааа ааааааааааааааааа ааааааааааааааа ааааааааа аааааааааа аааааааааааааа аааааааааа ааааааааа аааааа аааааа</p><div class="title">СТРУКТУРА КУРСА:<ul><li>Объявления</li><li>Краткое описание</li><li>Расписание занятий</li><li>Ссылка на видео лекций</li><li>Ссылка на видео консультаций</li><li>Ссылка на задания</li></ul></div></a>
            <a class="speci title" href="#"> Квант X<br><span>Подробная информация о курсе:</span><p>Описание курса.... Ааааааааааааа аааа ааааааааааааааааа ааааааааааааааа ааааааааа аааааааааа аааааааааааааа аааааааааа ааааааааа аааааа аааааа</p><div class="title">СТРУКТУРА КУРСА:<ul><li>Объявления</li><li>Краткое описание</li><li>Расписание занятий</li><li>Ссылка на видео лекций</li><li>Ссылка на видео консультаций</li><li>Ссылка на задания</li></ul></div></a>
            <a class="speci title" href="#"> Квант XI<br><span>Подробная информация о курсе:</span><p>Описание курса.... Ааааааааааааа аааа ааааааааааааааааа ааааааааааааааа ааааааааа аааааааааа аааааааааааааа аааааааааа ааааааааа аааааа аааааа</p><div class="title">СТРУКТУРА КУРСА:<ul><li>Объявления</li><li>Краткое описание</li><li>Расписание занятий</li><li>Ссылка на видео лекций</li><li>Ссылка на видео консультаций</li><li>Ссылка на задания</li></ul></div></a>
            <a class="speci title" href="#"> Квант-юни<br><span>Подробная информация о курсе:</span><p>Описание курса.... Ааааааааааааа аааа ааааааааааааааааа ааааааааааааааа ааааааааа аааааааааа аааааааааааааа аааааааааа ааааааааа аааааа аааааа</p><div class="title">СТРУКТУРА КУРСА:<ul><li>Объявления</li><li>Краткое описание</li><li>Расписание занятий</li><li>Фотогалерея</li><li>Ссылка на видео</li></ul></div></a>
        </div>
    </div>
</div>
{% endblock %}