{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Квант БГУ" %}{% endblock %}

{% block content %}
<div class="pages">
    <div class="container">
        <div class="page_name">{% trans "Квант-олимп" %}</div>
        Программа «Квант-олимпиец: теоретические физические задачи» — образовательная программа для учащихся общеобразовательных учреждений, желающих принимать участие в предметных олимпиадах по физике.<br><br>Программа «Квант-олимпиец: экспериментальные физические задачи» — образовательная программа в области экспериментальной физики для учащихся общеобразовательных учреждений, желающих принимать участие в различных интеллектуальных соревнованиях по физике: олимпиадах, турнирах юных физиков, научно-практических конференциях.
        <br>
        <br>
        <a href="ads">{% trans "Объявления" %}</a>
        <a href="#">{% trans "Краткое описание" %}</a>
        <a href="#">{% trans "Расписание занятий" %}</a>
        <br>
         <a href="https://docs.google.com/forms/d/e/1FAIpQLSemJ3I2m72zaNsgrEEHCteIaDCFuF_yzCG2UI8R9_aPxdTOQg/viewform?usp=send_form">{% trans "Анкета для регистрации" %}</a>
    </div>
</div>
{% endblock %}
