{% extends 'header_6.html' %}

{% load static %}


{% load i18n %}

{% block title %}{% trans "Квант БГУ" %}{% endblock %}

{% block content %}

<div class="spec">
    <div class="container">
        <div class="page_name">{% trans "Физико-математическая школа "Квант БГУ"</div>
        Физико-математическая школа «Квант БГУ» физического факультета Белорусского государственного университета предлагает серию программ дополнительного образования для школьников.<br>
        Программы предусматривают научно-популярные мероприятия для учащихся 5–8-х классов, комплексное и углубленное изучение физики и математики для учащихся 9–11-х классов.<br>
        Спектр программ рассчитан не только на желающих улучшить свои знания и ликвидировать пробелы в отдельных темах (с целью поступления в специализированные классы с углубленным изучением физики и математики, гимназии, лицеи, успешного прохождения ЦТ для поступления в вузы), но и на желающих проникнуть в суть физических законов, научиться решать олимпиадные задачи теоретического и экспериментального туров.<br>
        Занятия ведут преподаватели физического факультета БГУ, ведущие специалисты в области работы с одаренными учащимися.
        <br>
        <br>
        <div class="page_spec" id="pageSpec">
            <div class="speci title"> Квант-олимпиец<br><span>Подробнее о курсе:</span><div class="inf"><p></p><div class="title">СТРУКТУРА КУРСА:<ul><li><a href="#">Объявления</a></li><li><a href="#">Расписание занятий</a></li></ul></div></div></div>
            <div class="speci title"> Квант XI<br><span>Подробнее о курсе:</span><div class="inf"><p></p><div class="title">СТРУКТУРА КУРСА:<ul><li><a href="#">Объявления</a></li><li><a href="#">Расписание занятий</a></li><li><a href="#">Ссылка на видео лекций</a></li><li><a href="#">Ссылка на видео консультаций</a></li><li><a href="#">Ссылка на задания</a></li></ul></div></div></div>
            <div class="speci title"> Квант X<br><span>Подробнее о курсе:</span><div class="inf"><p></p><div class="title">СТРУКТУРА КУРСА:<ul><li><a href="#">Объявления</a></li><li><a href="#">Расписание занятий</a></li><li><a href="#">Ссылка на видео лекций</a></li><li><a href="#">Ссылка на видео консультаций</a></li><li><a href="#">Ссылка на задания</a></li></ul></div></div></div>
            <div class="speci title"> Квант IX<br><span>Подробнее о курсе:</span><div class="inf"><p></p><div class="title">СТРУКТУРА КУРСА:<ul><li><a href="#">Объявления</a></li><li><a href="#">Расписание занятий</a></li><li><a href="#">Ссылка на видео лекций</a></li><li><a href="#">Ссылка на видео консультаций</a></li><li><a href="#">Ссылка на задания</a></li></ul></div></div></div>
            <div class="speci title"> Квант-юни<br><span>Подробнее о курсе:</span><div class="inf"><p></p><div class="title">СТРУКТУРА КУРСА:<ul><li><a href="#">Объявления</a></li><li><a href="#">Расписание занятий</a></li><li><a href="#">Фотогалерея</a></li><li><a href="#">Ссылка на видео</a></li></ul></div></div></div>
        </div>
        <br><br>
        <a href="#">АНКЕТА ДЛЯ РЕГИСТРАЦИИ</a>
    </div>
</div>

{% endblock %}