{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Квант БГУ" %}{% endblock %}

{% block content %}
<div class="pages">
    <div class="container">
        <div class="page_name">{% trans "Физико-математическая школа 'Квант БГУ'" %}</div>
        Добрый день, дорогие друзья!<br><br>
        <p>С нового учебного года физический факультет планирует продолжить работу очно-заочной школы в обновленном формате — «Физико-математическая школа «Квант БГУ»».</p>
        <p>Предлагаемые Вам образовательный программы рассчитаны не только на желающих улучшить свои знания и ликвидировать пробелы в отдельных темах (с целью поступления в специализированные классы с углубленным изучением физики и математики, гимназии, лицеи, успешного прохождения ЦТ, поступления в вузы), но и на желающих проникнуть в суть физических законов, научиться решать олимпиадные задачи теоретического и экспериментального туров. Краткая информация о программах размещена на сайте.</p>
        <p>Занятия будут вести преподаватели физического факультета БГУ. Для организации учебного процесс (формирование групп и т.п.) нам необходимо Ваше мнение. Поэтому просим предварительно заполнить до 15 сентября анкету-опросник.</p>
        <p>После изучения Вашего мнения будет принято решения о начале образовательного процесса. Ориентировочное время начала обучения — октябрь 2020.</p><br>

        Здоровья и удачи в новом учебном году!<br>
        Деканат физического факультета

        <br>
        <br>
        <a href="quantum-olimp/">{% trans "Квант-олимпиец" %}</a>
        <a href="quantum-11/">{% trans "Квант XI" %}</a>
        <a href="quantum-10/">{% trans "Квант X" %}</a>
        <a href="quantum-9/">{% trans "Квант IX" %}</a>
        <a href="quantum-uni/">{% trans "Квант-юни" %}</a>
        <br><br>
    </div>
</div>
{% endblock %}
