{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Квант БГУ" %}{% endblock %}

{% block content %}
<div class="pages">
    <div class="container">
        <div class="page_name">{% trans "Квант-юни" %}</div>
        Программа «Квант-юни» — научно-популярная программа внеучебных мероприятий для профориентации школьников 5-8 классов, рассчитанная на популяризацию физики и естественно-научных знаний, развитие физико-математического мышления и логики.
        <br>
        <br>
        <a href="ads">{% trans "Объявления" %}</a>
        <a href="#">{% trans "Фотогалерея" %}</a>
        <a href="#">{% trans "Расписание занятий" %}</a>
        <a href="#">{% trans "Ссылки на видео" %}</a>
        <br>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSemJ3I2m72zaNsgrEEHCteIaDCFuF_yzCG2UI8R9_aPxdTOQg/viewform?usp=send_form">{% trans "Анкета для регистрации" %}</a>
    </div>
</div>
{% endblock %}
