{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Квант БГУ" %}{% endblock %}

{% block content %}
<div class="pages">
    <div class="container">
        <div class="page_name">{% trans "Объявления" %}</div>
        Программа «Квант XI» — образовательная программа по физике и математикедля школьников 11 классов, нацеленная на углубленное изучение предметов, подготовку слушателей к поступлению в высшие учебные заведения.
        <br>

    </div>
</div>
{% endblock %}
