{% extends 'header_6.html' %}

{% load static %}


{% load i18n %}

{% block title %}{% trans "Квант БГУ" %}{% endblock %}

{% block content %}

<div class="spec">
    <div class="container">
        <div class="page_name">Физико-математическая школа "Квант БГУ"</div>
        Физико-математическая школа «Квант БГУ» физического факультета Белорусского государственного университета предлагает серию программ дополнительного образования для школьников.<br>
        Программы предусматривают научно-популярные мероприятия для учащихся 5–8-х классов, комплексное и углубленное изучение физики и математики для учащихся 9–11-х классов.<br>
        Спектр программ рассчитан не только на желающих улучшить свои знания и ликвидировать пробелы в отдельных темах (с целью поступления в специализированные классы с углубленным изучением физики и математики, гимназии, лицеи, успешного прохождения ЦТ для поступления в вузы), но и на желающих проникнуть в суть физических законов, научиться решать олимпиадные задачи теоретического и экспериментального туров.<br>
        Занятия ведут преподаватели физического факультета БГУ, ведущие специалисты в области работы с одаренными учащимися.
        <br>
        <br>
        <div class="page_spec" id="pageSpec">
            <div class="speci title"> Квант-олимпиец<br><span>Подробнее о курсе:</span><div class="inf"><p>Программа «Квант-олимпиец: теоретические физические задачи» — образовательная программа для учащихся общеобразовательных учреждений, желающих принимать участие в предметных олимпиадах по физике.<br><br>Программа «Квант-олимпиец: экспериментальные физические задачи» — образовательная программа в области экспериментальной физики для учащихся общеобразовательных учреждений, желающих принимать участие в различных интеллектуальных соревнованиях по физике: олимпиадах, турнирах юных физиков, научно-практических конференциях.</p><div class="title">СТРУКТУРА КУРСА:<ul><li>Институт физики имени Б.И. Степанова</li><li>Институт тепло- и массообмена имени А.В. Лыкова</li><li>Объединенный институт прикладной информатики, холдинг "БелОМО"</li><li>НПП "Передовые исследования и технологии"</li><li>Bel Huawei Technologies</li></ul></div></div></div>
            <div class="speci title"> Квант IX<br><span>Подробнее о курсе:</span><div class="inf"><p>Программа «Квант IX» — образовательная программа по физике и математике для школьников 9 классов, нацеленная на углубленное изучение предметов, подготовку слушателей к поступлению в лицее и гимназии.</p><div class="title">СТРУКТУРА КУРСА:<ul><li>ЗАО "Голографическая индустрия"</li><li>ООО "Изовак"</li><li>ЧУП "InSoft Engineering"</li><li>НИУ "Институт ядерных проблем"</li><li>ГО "НПЦ НАН Беларуси по материаловедению"</li></ul></div></div></div>
            <div class="speci title"> Квант X<br><span>Подробнее о курсе:</span><div class="inf"><p>Программа «Квант X» — образовательная программа по физике и математикедля учащихся 10 классов, нацеленная на углубленное изучение предметов.</p><div class="title">СТРУКТУРА КУРСА:<ul><li>РУП "Белорусская АЭС"</li><li>"Госатомнадзор"</li><li>УП "АДАНИ"</li><li>HПУП "АТОМТЕХ"</li><li>РНЦП онкологии и медицинской радиологии имени Александрова</li></ul></div></div></div>
            <div class="speci title"> Квант XI<br><span>Подробнее о курсе:</span><div class="inf"><p>Программа «Квант XI» — образовательная программа по физике и математикедля школьников 11 классов, нацеленная на углубленное изучение предметов, подготовку слушателей к поступлению в высшие учебные заведения.</p><div class="title">СТРУКТУРА КУРСА:<ul><li>Парк высоких технологий</li><li>ИООО EPAM Systems</li><li>Itransition</li><li>СООО "Системы и технологии"</li><li>СП ЗАО "Международный деловой альянс"</li></ul></div></div></div>
            <div class="speci title"> Квант-юни<br><span>Подробнее о курсе:</span><div class="inf"><p>Программа «Квант-юни» — научно-популярная программа внеучебных мероприятий для профориентации школьников 5-8 классов, рассчитанная на популяризацию физики и естественно-научных знаний, развитие физико-математического мышления и логики.</p><div class="title">СТРУКТУРА КУРСА:<ul><li>ЗАО "Спектроскопические системы"</li><li>ОАО "Пеленг"</li><li>ОАО "Интеграл"</li><li>ООО "Магия света"</li><li>ОАО "Оптоэлектронные системы"</li></ul></div></div></div>
        </div>
    </div>
</div>

{% endblock %}