{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Квант БГУ" %}{% endblock %}

{% block content %}
<div class="noHeight pages">
    <div class="container">
        <div class="page_name">{% trans "Физико-математическая школа 'Квант БГУ'" %}</div>
        <hr><br>
        <p>С нового учебного года физический факультет планирует продолжить работу очно-заочной школы в обновленном формате — «Физико-математическая школа «Квант БГУ»».</p><br>
        <p>Предлагаемые Вам образовательный программы рассчитаны не только на желающих улучшить свои знания и ликвидировать пробелы в отдельных темах (с целью поступления в специализированные классы с углубленным изучением физики и математики, гимназии, лицеи, успешного прохождения ЦТ, поступления в вузы), но и на желающих проникнуть в суть физических законов, научиться решать олимпиадные задачи теоретического и экспериментального туров. Краткая информация о программах размещена на сайте.</p><br>
        <p>Занятия будут вести преподаватели физического факультета БГУ. Для организации учебного процесс (формирование групп и т.п.) нам необходимо Ваше мнение. Поэтому просим предварительно заполнить до 15 сентября анкету-опросник.</p><br>
        <p>После изучения Вашего мнения будет принято решения о начале образовательного процесса. Ориентировочное время начала обучения — октябрь 2020.</p><br>
        <hr>
        <br>
        <br>
        <a class="page row" href="quantum-olimp/">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"></div>
            <div class="inf col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <div class="title">Квант-олимпиец</div>
                <div class="description">Программа «Квант-олимпиец: теоретические физические задачи» — образовательная программа для учащихся общеобразовательных учреждений, желающих принимать участие в предметных олимпиадах по физике.<br><br>Программа «Квант-олимпиец: экспериментальные физические задачи» — образовательная программа в области экспериментальной физики для учащихся общеобразовательных учреждений, желающих принимать участие в различных интеллектуальных соревнованиях по физике: олимпиадах, турнирах юных физиков, научно-практических конференциях.</div>
            </div>
        </a>

        <a href="quantum-olimp/">{% trans "Квант-олимпиец" %}</a>
        <a href="quantum-11/">{% trans "Квант XI" %}</a>
        <a href="quantum-10/">{% trans "Квант X" %}</a>
        <a href="quantum-9/">{% trans "Квант IX" %}</a>
        <a href="quantum-uni/">{% trans "Квант-юни" %}</a>
        <br>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSemJ3I2m72zaNsgrEEHCteIaDCFuF_yzCG2UI8R9_aPxdTOQg/viewform?usp=send_form"><b>{% trans "АНКЕТА-ОПРОС" %}</b></a>
        <br>
    </div>
</div>
{% endblock %}
