{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Распределение" %}{% endblock %}

{% block content %}

<div class="pages">
    <div class="container">
        <div class="page_name">{% trans "Распределение" %}</div>
        <a href="https://physics.bsu.by/media/media/mr-2022.pdf">{% trans "Места распределения выпускников физического факультета 2022 года" %}</a>
        <a href="https://physics.bsu.by/media/media/mr-2021.pdf">{% trans "Места распределения выпускников физического факультета 2021 года" %}</a> <!-- возможный вариант нового перевода на англ. язык - Places for graduates work employment 2021 -->
        <a href="https://physics.bsu.by/media/media/mr-2020_LhPTTFH.pdf">{% trans "Места распределения выпускников физического факультета 2020 года" %}</a>
        <a href="https://physics.bsu.by/media/media/mr-2019.pdf">{% trans "Места распределения выпускников физического факультета 2019 года" %}</a>
        <a href="https://physics.bsu.by/media/media/mr-2018.pdf">{% trans "Места распределения выпускников физического факультета 2018 года" %}</a>
        <a href="https://physics.bsu.by/media/media/mr-2017.pdf">{% trans "Места распределения выпускников физического факультета 2017 года" %}</a>
        <a href="https://physics.bsu.by/media/media/mr-2016.pdf">{% trans "Места распределения выпускников физического факультета 2016 года" %}</a>
        
        <a href="http://www.physics.bsu.by/sites/default/files/files/docs/Documents.zip">{% trans "Нормативные документы, регулирующие вопросы распределения" %}</a>
    </div>
</div>
{% endblock %}
