{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Правила педагогических работников" %}{% endblock %}

{% block content %}

<div class="pages">
    <div class="container">
        {% get_current_language as LANGUAGE_CODE %}
        {% if LANGUAGE_CODE == "ru"%}
          <div class="page_name">Правила педагогических работников</div>

<p>&nbsp;</p>
<p>&nbsp;</p>

          <div style="text-align: left !important;">
            <p style="width:100% !important; text-align:left !important; font-size:22px!important; "><span style="width:45%;display: block;margin-left: 55% !important;">УТВЕРЖДЕНО</span></p>
            <p style="width:100% !important; text-align:left!important; font-size:22px!important; "><span style="width: 45%;display: block;margin-left: 55% !important;">Приказ&nbsp;№&nbsp;401 Министра&nbsp;образования</span></p>
            <p style="width:100% !important; text-align:left!important; font-size:22px!important; "><span style="width: 45%;display: block;margin-left: 55% !important;">Республики&nbsp;Беларусь</span></p>
            <p style="width:100% !important; text-align:left!important; font-size:22px!important; "><span style="width: 45%;display: block;margin-left: 55% !important;">10.06.2022. №&nbsp;401</span></p>
          </div>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
            <p style="font-size:22px!important;">Правила педагогических работников</p>
<p>&nbsp;</p>
            <p style="font-size:22px!important;">Государственный и общественный статус педагогического работника определяет, что педагогический работник является образцом профессионализма и безупречной репутации. Все участники образовательного процесса обязаны уважать честь и достоинство педагогических работников.<br>
В своей деятельности педагогические работники должны руководствоваться следующими правилами:</p>
<p>&nbsp;</p>
            <p style="font-size:22px!important;"></p>
            <ol style="font-size:22px!important;">
              <li style="margin-bottom:9px !important;">Реализовывать государственную политику в сфере образования.</li>
              <li style="margin-bottom:9px !important;">Строить работу на основе безусловного взаимного уважения достоинства обучающихся, их законных представителей, коллег.</li>
              <li style="margin-bottom:9px !important;">Добросовестно и качественно исполнять профессиональные обязанности. Постоянно совершенствовать свой профессионализм.</li>
              <li style="margin-bottom:9px !important;">Формировать у обучающихся духовно-нравственные ценности, гражданственность, патриотизм, стремление к здоровому образу жизни.</li>
              <li style="margin-bottom:9px !important;">Быть честным, искренним, справедливым и открытым для общения.</li>
              <li style="margin-bottom:9px !important;">Проявлять доброжелательность, вежливость и тактичность, избегать конфликтов во взаимоотношениях.</li>
              <li style="margin-bottom:9px !important;">В рамках законодательства сохранять тайну лично доверенной информации.</li>
              <li style="margin-bottom:9px !important;">Способствовать созданию позитивных взаимоотношений в коллективе учащихся и педагогическом коллективе.</li>
              <li style="margin-bottom:9px !important;">Соблюдать этические принципы и нормы в медиапространстве.</li>
              <li style="margin-bottom:9px !important;">Внешним видом, поведением, культурой общения соответствовать статусу педагогического работника.</li>
            </ol>

<!-- <p>&nbsp;</p>
<p>&nbsp;</p> -->

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<!--             <p><img alt="" src="" style="display:block!important; margin:0 auto; width:70%"></p> -->
<!-- <p>&nbsp;</p>
<p>&nbsp;</p> -->
<!--             <a href="#" style="display:inline; padding-bottom:0!important; width:fit-content!important; font-size:22px!important; text-decoration:none!important; border-bottom:2px solid #e5bc29;" target="_blank">Правила педагогических работников (pdf-файл)</a> -->
<p>&nbsp;</p>
<p>&nbsp;</p>
        {% endif %}
        {% if LANGUAGE_CODE == "en"%}
          <div class="page_name">Rules of Conduct of Teaching Employees</div>
<p>&nbsp;</p>
<p>&nbsp;</p>

          <div style="text-align: left !important;">
            <p style="width:100% !important; text-align:left !important; font-size:22px!important; "><span style="width:45%;display: block;margin-left: 55% !important;">УТВЕРЖДЕНО</span></p>
            <p style="width:100% !important; text-align:left!important; font-size:22px!important; "><span style="width: 45%;display: block;margin-left: 55% !important;">Приказ&nbsp;№&nbsp;401 Министра&nbsp;образования</span></p>
            <p style="width:100% !important; text-align:left!important; font-size:22px!important; "><span style="width: 45%;display: block;margin-left: 55% !important;">Республики&nbsp;Беларусь</span></p>
            <p style="width:100% !important; text-align:left!important; font-size:22px!important; "><span style="width: 45%;display: block;margin-left: 55% !important;">10.06.2022. №&nbsp;401</span></p>
          </div>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
            <p style="font-size:22px!important;">Правила педагогических работников</p>
<p>&nbsp;</p>
            <p style="font-size:22px!important;">Государственный и общественный статус педагогического работника определяет, что педагогический работник является образцом профессионализма и безупречной репутации. Все участники образовательного процесса обязаны уважать честь и достоинство педагогических работников.<br>
В своей деятельности педагогические работники должны руководствоваться следующими правилами:</p>
<p>&nbsp;</p>
            <p style="font-size:22px!important;"></p>
            <ol style="font-size:22px!important;">
              <li style="margin-bottom:9px !important;">Реализовывать государственную политику в сфере образования.</li>
              <li style="margin-bottom:9px !important;">Строить работу на основе безусловного взаимного уважения достоинства обучающихся, их законных представителей, коллег.</li>
              <li style="margin-bottom:9px !important;">Добросовестно и качественно исполнять профессиональные обязанности. Постоянно совершенствовать свой профессионализм.</li>
              <li style="margin-bottom:9px !important;">Формировать у обучающихся духовно-нравственные ценности, гражданственность, патриотизм, стремление к здоровому образу жизни.</li>
              <li style="margin-bottom:9px !important;">Быть честным, искренним, справедливым и открытым для общения.</li>
              <li style="margin-bottom:9px !important;">Проявлять доброжелательность, вежливость и тактичность, избегать конфликтов во взаимоотношениях.</li>
              <li style="margin-bottom:9px !important;">В рамках законодательства сохранять тайну лично доверенной информации.</li>
              <li style="margin-bottom:9px !important;">Способствовать созданию позитивных взаимоотношений в коллективе учащихся и педагогическом коллективе.</li>
              <li style="margin-bottom:9px !important;">Соблюдать этические принципы и нормы в медиапространстве.</li>
              <li style="margin-bottom:9px !important;">Внешним видом, поведением, культурой общения соответствовать статусу педагогического работника.</li>
            </ol>

<!-- <p>&nbsp;</p>
<p>&nbsp;</p> -->

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<!--             <p><img alt="" src="" style="display:block!important; margin:0 auto; width:70%"></p> -->
<!-- <p>&nbsp;</p>
<p>&nbsp;</p> -->
<!--             <a href="#" style="display:inline; padding-bottom:0!important; width:fit-content!important; font-size:20px!important; text-decoration:none!important; border-bottom:2px solid #e5bc29;" target="_blank">Rules&nbsp;of&nbsp;Conduct of Teaching&nbsp;Employees (pdf-file in&nbsp;Russian)</a> -->
<p>&nbsp;</p>
<p>&nbsp;</p>
        {% endif %}
  </div>
</div>
{% endblock %}
