{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Научные школы" %}{% endblock %}

{% block content %}
<head>

    <link rel="stylesheet" href="{% static 'home/assets/NP-assets/nicepage4.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'home/assets/NP-assets/PublicationsAll.css' %}" media="screen">
    <script class="u-script" type="text/javascript" src="{% static 'home/assets/NP-assets/jquery4.js' %}"
            defer=""></script>
    <script class="u-script" type="text/javascript" src="{% static 'home/assets/NP-assets/nicepage4.js' %}"
            defer=""></script>

    <link id="u-theme-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i">


    <script type="application/ld+json">{
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "",
        "url": "index.html"
    }</script>

</head>
<body class="u-body">
<section class="u-clearfix u-section-1" id="sec-3502">
    <div class="u-clearfix u-sheet u-valign-middle-xl u-sheet-1" style="min-height:59px!important; max-height:79px!important;">
        {% get_current_language as LANGUAGE_CODE %}
        {% if LANGUAGE_CODE == "ru"%}
        <h3 class="u-text u-text-1" style="width:100%!important;">Научные школы</h3>
        {% endif %}
        {% if LANGUAGE_CODE == "en"%}
        <h3 class="u-text u-text-1" style="width:100%!important;">Science schools</h3>
        {% endif %}
    </div>
</section>

<section class="u-align-center u-clearfix u-section-2" id="sec-8162"></section>

<section class="u-align-center u-clearfix u-white u-section-3">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-accordion u-expanded-width u-spacing-20 u-accordion-1">
            <details class="u-accordion-item">
    		<summary>
                
                <a class="u-accordion-link u-active-custom-color-2 u-border-1 u-border-active-black u-border-black u-border-hover-black u-button-style u-hover-custom-color-2 u-text-active-black u-text-hover-black u-white u-accordion-link-1" aria-controls="accordion-5k1m" aria-selected="false">
              <span class="u-accordion-link-text"><b>{% trans "НАУЧНАЯ ШКОЛА ПО ФИЗИКЕ И ТЕХНИКЕ ПОЛУПРОВОДНИКОВ" %}</b>&nbsp;
              </span><span class="u-accordion-link-icon u-icon u-text-grey-40 u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 490.656 490.656" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-4e56"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 490.656 490.656" x="0px" y="0px" id="svg-4e56" style="enable-background:new 0 0 490.656 490.656;"><g><g><path d="M487.536,120.445c-4.16-4.16-10.923-4.16-15.083,0L245.339,347.581L18.203,120.467c-4.16-4.16-10.923-4.16-15.083,0    c-4.16,4.16-4.16,10.923,0,15.083l234.667,234.667c2.091,2.069,4.821,3.115,7.552,3.115s5.461-1.045,7.531-3.136l234.667-234.667    C491.696,131.368,491.696,124.605,487.536,120.445z"></path></g>
</g></svg></span>
                </a></summary>
    <div class="u-accordion-pane u-align-left u-container-style u-accordion-pane-1" aria-labelledby="link-accordion-5k1m" style="display: block !important;">
                    <div class="u-container-layout u-container-layout-1">
                        <p class="u-text u-text-default u-text-1">
				</p><ol>
					<li><a href="https://bmcbiol.biomedcentral.com/articles/10.1186/s12915-022-01238-x" style="color:blue; text-decoration:underline">Ex vivo observation of granulocyte activity during thrombus formation</a> / Morozova D.S., Martyanov A.A., Obydennyi S.I., Korobkin J.-J.D., Sokolov A.V., Shamova E.V., Gorudko I.V., Khoreva A.L., Shcherbina A., Panteleev M.A., Sveshnikova A.N. // BMC Biology. – 2022. – Vol. 20. – 32.</li>
				</ol>
                            <p>&nbsp;</p>
                        <p></p>
                    </div>
                </div>
</details>            
            <details class="u-accordion-item">
    		<summary>
                <a class="u-accordion-link u-active-custom-color-2 u-border-1 u-border-active-black u-border-black u-border-hover-black u-button-style u-hover-custom-color-2 u-text-active-black u-text-hover-black u-white u-accordion-link-2" aria-controls="accordion-7c0e" aria-selected="false">
              <span class="u-accordion-link-text"><b>{% trans "НАУЧНАЯ ШКОЛА ПО ТЕОРЕТИЧЕСКОЙ ФИЗИКЕ" %}</b>&nbsp;
              </span><span class="u-accordion-link-icon u-icon u-text-grey-40 u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 490.656 490.656" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-4e56"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 490.656 490.656" x="0px" y="0px" id="svg-4e56" style="enable-background:new 0 0 490.656 490.656;"><g><g><path d="M487.536,120.445c-4.16-4.16-10.923-4.16-15.083,0L245.339,347.581L18.203,120.467c-4.16-4.16-10.923-4.16-15.083,0    c-4.16,4.16-4.16,10.923,0,15.083l234.667,234.667c2.091,2.069,4.821,3.115,7.552,3.115s5.461-1.045,7.531-3.136l234.667-234.667    C491.696,131.368,491.696,124.605,487.536,120.445z"></path></g>
</g></svg></span>
                </a></summary>
                <div class="u-accordion-pane u-align-left u-container-style u-accordion-pane-2" aria-labelledby="link-accordion-7c0e" style="display: block;">
                    <div class="u-container-layout u-container-layout-1">
                        <p class="u-text u-text-default u-text-1">
                            </p><ol>
                                <li><a href="https://www.sciencedirect.com/science/article/abs/pii/S0925838821028607" style="color:blue; text-decoration:underline">Electro deposition conditions-dependent crystal structure, morphology and electronic properties of Bi films</a> / Fedotov A., Shendyukov V., Tsybulskaya L., Perevoznikov S., Dong M., Xue X., Feng X., Sayyed M.I., Zubar T., Trukhanov A., Tishkevich D. // Journal of Alloys and Compounds. – 2021. – Vol. 887. – 161451.</li>
                            </ol>
                            <p>&nbsp;</p>
                        <p></p>
                    </div>
                </div>
    
            </details>
            <details class="u-accordion-item">
    		<summary>
                <a class="u-accordion-link u-active-custom-color-2 u-border-1 u-border-active-black u-border-black u-border-hover-black u-button-style u-hover-custom-color-2 u-text-active-black u-text-hover-black u-white u-accordion-link-2" aria-controls="accordion-05cb" aria-selected="false">
              <span class="u-accordion-link-text"><b>{% trans "НАУЧНАЯ ШКОЛА ПО ФОТОНИКЕ (ПО ОПТИКЕ И ЛАЗЕРНОЙ ФИЗИКЕ)" %}</b>&nbsp;
              </span><span class="u-accordion-link-icon u-icon u-text-grey-40 u-icon-2"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 490.656 490.656" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-c1b3"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 490.656 490.656" x="0px" y="0px" id="svg-c1b3" style="enable-background:new 0 0 490.656 490.656;"><g><g><path d="M487.536,120.445c-4.16-4.16-10.923-4.16-15.083,0L245.339,347.581L18.203,120.467c-4.16-4.16-10.923-4.16-15.083,0    c-4.16,4.16-4.16,10.923,0,15.083l234.667,234.667c2.091,2.069,4.821,3.115,7.552,3.115s5.461-1.045,7.531-3.136l234.667-234.667    C491.696,131.368,491.696,124.605,487.536,120.445z"></path>
</g>
</g></svg></span>
                </a></summary>
                <div class="u-accordion-pane u-align-left u-container-style u-accordion-pane-2" aria-labelledby="link-accordion-05cb" style="display: block;">
                    <div class="u-container-layout u-container-layout-2">
                        <p class="u-text u-text-2">
                        </p><ol>
                            <li><a href="https://www.mdpi.com/2079-6412/10/2/149" style="color:blue; text-decoration:underline">Saladukhin, I. Structural properties
                                and oxidation resistance of ZrN/SiNx, CrN/SiNx and AlN/SiNx multilayered films deposited
                                by magnetron sputtering technique / I. Saladukhin, G. Abadias, V. Uglov, S. Zlotski,
                                A.J. van Vuuren, J.H. O’Connell // Coatings. – 2020. – V. 10. –
                                P. 149.</a> <strong>(Scopus, WOS, IF= 2.436)</strong></li>
                        </ol>
                        <p></p>
                    </div>
                </div>
        
 </details><details class="u-accordion-item">
    <summary>
                <a class="u-accordion-link u-active-custom-color-2 u-border-1 u-border-active-black u-border-black u-border-hover-black u-button-style u-hover-custom-color-2 u-text-active-black u-text-hover-black u-white u-accordion-link-2" aria-controls="accordion-05cb" aria-selected="false">
              <span class="u-accordion-link-text"><b>{% trans "НАУЧНАЯ ШКОЛА В ОБЛАСТИ БИОФИЗИКИ И КЛЕТОЧНОЙ ИНЖЕНЕРИИ" %}</b>&nbsp;
              </span><span class="u-accordion-link-icon u-icon u-text-grey-40 u-icon-2"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 490.656 490.656" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-c1b3"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 490.656 490.656" x="0px" y="0px" id="svg-c1b3" style="enable-background:new 0 0 490.656 490.656;"><g><g><path d="M487.536,120.445c-4.16-4.16-10.923-4.16-15.083,0L245.339,347.581L18.203,120.467c-4.16-4.16-10.923-4.16-15.083,0    c-4.16,4.16-4.16,10.923,0,15.083l234.667,234.667c2.091,2.069,4.821,3.115,7.552,3.115s5.461-1.045,7.531-3.136l234.667-234.667    C491.696,131.368,491.696,124.605,487.536,120.445z"></path>
</g>
</g></svg></span>
                </a></summary>
                <div class="u-accordion-pane u-align-left u-container-style u-accordion-pane-2" aria-labelledby="link-accordion-05cb" style="display: block;">
                    <div class="u-container-layout u-container-layout-2">
                        <p class="u-text u-text-2">
                        </p><ol>
                            <li><a href="https://www.mdpi.com/2079-6412/10/2/149" style="color:blue; text-decoration:underline">Saladukhin, I. Structural properties
                                and oxidation resistance of ZrN/SiNx, CrN/SiNx and AlN/SiNx multilayered films deposited
                                by magnetron sputtering technique / I. Saladukhin, G. Abadias, V. Uglov, S. Zlotski,
                                A.J. van Vuuren, J.H. O’Connell // Coatings. – 2020. – V. 10. –
                                P. 149.</a> <strong>(Scopus, WOS, IF= 2.436)</strong></li>
                        </ol>
                        <p></p>
                    </div>
                </div>
        
 </details><details class="u-accordion-item">
    <summary>
                <a class="u-accordion-link u-active-custom-color-2 u-border-1 u-border-active-black u-border-black u-border-hover-black u-button-style u-hover-custom-color-2 u-text-active-black u-text-hover-black u-white u-accordion-link-2" aria-controls="accordion-05cb" aria-selected="false">
              <span class="u-accordion-link-text"><b>{% trans "НАУЧНАЯ ШКОЛА В ОБЛАСТИ ФИЗИКИ МЕТАЛЛОВ" %}</b>&nbsp;
              </span><span class="u-accordion-link-icon u-icon u-text-grey-40 u-icon-2"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 490.656 490.656" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-c1b3"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 490.656 490.656" x="0px" y="0px" id="svg-c1b3" style="enable-background:new 0 0 490.656 490.656;"><g><g><path d="M487.536,120.445c-4.16-4.16-10.923-4.16-15.083,0L245.339,347.581L18.203,120.467c-4.16-4.16-10.923-4.16-15.083,0    c-4.16,4.16-4.16,10.923,0,15.083l234.667,234.667c2.091,2.069,4.821,3.115,7.552,3.115s5.461-1.045,7.531-3.136l234.667-234.667    C491.696,131.368,491.696,124.605,487.536,120.445z"></path>
</g>
</g></svg></span>
                </a></summary>
                <div class="u-accordion-pane u-align-left u-container-style u-accordion-pane-2" aria-labelledby="link-accordion-05cb" style="display: block;">
                    <div class="u-container-layout u-container-layout-2">
                        <p class="u-text u-text-2">
                        </p><ol>
                            <li><a href="https://www.mdpi.com/2079-6412/10/2/149" style="color:blue; text-decoration:underline">Saladukhin, I. Structural properties
                                and oxidation resistance of ZrN/SiNx, CrN/SiNx and AlN/SiNx multilayered films deposited
                                by magnetron sputtering technique / I. Saladukhin, G. Abadias, V. Uglov, S. Zlotski,
                                A.J. van Vuuren, J.H. O’Connell // Coatings. – 2020. – V. 10. –
                                P. 149.</a> <strong>(Scopus, WOS, IF= 2.436)</strong></li>
                        </ol>
                        <p></p>
                    </div>
                </div>
        
 </details>
        </div>
    </div>
</section>


</body>
{% endblock %}
