{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Магистратура" %}{% endblock %}

{% block content %}
  <head>

    <link rel="stylesheet" href="{% static 'home/assets/NP-assets/nicepage4.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'home/assets/NP-assets/secondStage.css' %}" media="screen">
    <script class="u-script" type="text/javascript" src="{% static 'home/assets/NP-assets/jquery4.js' %}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{% static 'home/assets/NP-assets/nicepage4.js' %}" defer=""></script>

    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i">




    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "",
		"url": "index.html"
}</script>

  </head>
  <body class="u-body">
    <section class="u-clearfix u-section-1" id="sec-5184">
      <div class="u-clearfix u-sheet u-valign-top u-sheet-1">
        {% get_current_language as LANGUAGE_CODE %}
        {% if LANGUAGE_CODE == "ru"%}
        <h2 class="u-text u-text-1">Магистратура</h2>
        <div class="u-container-style u-expanded-width u-group u-white u-group-1">
          <div class="u-container-layout u-valign-top u-container-layout-1">
            <ul class="u-text u-text-2">
              <li>
                <a href="http://www.physics.bsu.by/sites/default/files/files/magistratura/%D0%A4%D0%B8%D0%B7%D0%B8%D0%BA%D0%B0_%D0%9F%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%B0%20%D0%B2%20%D0%BC%D0%B0%D0%B3%D0%B8%D1%81%D1%82%D1%80%D0%B0%D1%82%D1%83%D1%80%D1%83_2019.pdf" target="_blank" rel="noopener noreferrer" class="u-active-none u-border-1 u-border-active-custom-color-2 u-border-custom-color-2 u-border-hover-white u-btn u-button-link u-button-style u-hover-none u-none u-text-active-black u-text-body-color u-text-hover-custom-color-2 u-btn-1">Программа вступительных испытаний по специальности 1-31 80 05 Физика</a>
                <br>
              </li>
              <li>
                <a href="http://www.physics.bsu.by/sites/default/files/files/magistratura/%D0%9F%D1%80%D0%B8%D0%BA%D0%BB%D0%B0%D0%B4%D0%BD%D0%B0%D1%8F%20%D1%84%D0%B8%D0%B7%D0%B8%D0%BA%D0%B0_%D0%9F%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%B0%20%D0%B2%20%D0%BC%D0%B0%D0%B3%D0%B8%D1%81%D1%82%D1%80%D0%B0%D1%82%D1%83%D1%80%D1%83_2019.pdf" target="_blank" rel="noopener noreferrer" class="u-active-none u-border-1 u-border-active-custom-color-2 u-border-custom-color-2 u-border-hover-white u-btn u-button-link u-button-style u-hover-none u-none u-text-active-black u-text-body-color u-text-hover-custom-color-2 u-btn-2">Программа вступительных испытаний по специальности 1-31 80 20 Прикладная физика</a>
                <br>
              </li>
              <li>
                <a href="https://elib.bsu.by/bitstream/123456789/224927/1/1-31_80_05_o_d_1_G31-062.pdf" target="_blank" rel="noopener noreferrer" class="u-active-none u-border-1 u-border-active-custom-color-2 u-border-custom-color-2 u-border-hover-white u-btn u-button-link u-button-style u-hover-none u-none u-text-body-color u-text-hover-custom-color-2 u-btn-3">Учебный план по специальности 1-31 80 05 Физика</a>
                <br>
              </li>
              <li>
                <a href="https://elib.bsu.by/bitstream/123456789/224953/1/1-31_80_20_o_d_1%2c8_G31-024.pdf" target="_blank" rel="noopener noreferrer" class="u-active-none u-border-1 u-border-active-custom-color-2 u-border-custom-color-2 u-border-hover-white u-btn u-button-link u-button-style u-hover-none u-none u-text-body-color u-text-hover-custom-color-2 u-btn-4">Учебный план по специальности 1-31 80 20 Прикладная физика</a>
                <br>
              </li>
              <li>
                <a href="https://physics.bsu.by/media/media/_%D0%9C%D0%B0%D0%B3%D0%B8%D1%81%D1%82%D1%80%D0%B0%D1%82%D1%83%D1%80%D0%B0_%D0%B1%D1%83%D0%BA%D0%BB%D0%B5%D1%82.pdf" class="u-active-none u-border-1 u-border-active-custom-color-2 u-border-custom-color-2 u-border-hover-white u-btn u-button-link u-button-style u-hover-none u-none u-text-body-color u-text-hover-custom-color-2 u-btn-5">Буклет о магистратуре</a>
                <br>
              </li>
            </ul>
          </div>
        </div>
        {% endif %}
        {% if LANGUAGE_CODE == "en"%}
        <h2 class="u-text u-text-1">Master's degree brochure</h2>
        <div class="u-container-style u-expanded-width u-group u-white u-group-1">
          <div class="u-container-layout u-valign-top u-container-layout-1">
            <ul class="u-text u-text-2">
              <li>
                <a href="https://physics.bsu.by/media/media/_masters_ad.pdf" target="_blank" rel="noopener noreferrer" class="u-active-none u-border-1 u-border-active-custom-color-2 u-border-custom-color-2 u-border-hover-white u-btn u-button-link u-button-style u-hover-none u-none u-text-active-black u-text-body-color u-text-hover-custom-color-2 u-btn-1">Master's degree brochure</a>
                <br>
              </li>
              
            </ul>
          </div>
        </div>
        {% endif %}
      </div>
    </section>
    
    
    
  </body>
{% endblock %}