{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Магистратура" %}{% endblock %}

{% block content %}
  <head>

    <link rel="stylesheet" href="{% static 'home/assets/NP-assets/nicepage4.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'home/assets/NP-assets/secondStage.css' %}" media="screen">
    <script class="u-script" type="text/javascript" src="{% static 'home/assets/NP-assets/jquery4.js' %}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{% static 'home/assets/NP-assets/nicepage4.js' %}" defer=""></script>

    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i">




    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "",
		"url": "index.html"
}</script>

  </head>
  <body class="u-body">
    <section class="u-clearfix u-section-1" id="sec-5184">
      <div class="u-clearfix u-sheet u-valign-top u-sheet-1">
        {% get_current_language as LANGUAGE_CODE %}
        {% if LANGUAGE_CODE == "ru"%}
        <h2 class="u-text u-text-1" style="padding:50px 0;">Магистратура</h2>
        <div class="u-container-style u-expanded-width u-group u-white u-group-1">
          <div class="u-container-layout u-valign-top u-container-layout-1">
	    <p style="margin:0; text-indent:48px!important;"><strong>Магистратура</strong> – программа углубленного высшего образования II ступени.</p>
	    <p style="margin:0!important;">&nbsp;</p>
	    <ul class="u-text u-text-2">
	    <li><a class="mast-link" href="https://physics.bsu.by/media/media/_%D0%9C%D0%B0%D0%B3%D0%B8%D1%81%D1%82%D1%80%D0%B0%D1%82%D1%83%D1%80%D0%B0_%D0%B1%D1%83%D0%BA%D0%BB%D0%B5%D1%82.pdf">Буклет о магистратуре</a></li>
            </ul>
	    <p style="margin:0!important;">&nbsp;</p>
	    <p style="margin:0; text-indent:48px!important;"><strong>Цель магистратуры</strong>: подготовка профессионалов с углубленными знаниями в предметной области и способностями к аналитической, научно-исследовательской, преподавательской и инновационной деятельности.</p>
	    <p style="margin:0; text-indent:48px!important;"><strong>Специальности магистратуры </strong>на физическом факультете БГУ:</p>
	    <p style="margin:0; text-indent:48px!important;">1-31 80 05 Физика</p>
	    <p style="margin:0; text-indent:48px!important;">1-31 80 20 Прикладная физика (профилизация – функциональные наноматериалы)</p>
	    <p style="margin:0; text-indent:48px!important;"><strong>Обучение</strong> – <u>очное</u> (2 года, с 1 сентября по 30 июня).</p>
	    <p style="margin:0; text-indent:48px!important;"><strong>Требование для поступления в магистратуру</strong> – высшее образование на уровне бакалавра (специалиста).</p>
	    <p style="margin:0!important;">&nbsp;</p>
	    <table style="height:76px; width:100%" cellspacing="0" cellpadding="3">
		<tbody>
			<tr>
				<td style="text-align:center; vertical-align:middle; width:79px"><a href="https://ums.bsu.by/ru/for-applicants/edu-ru/master-edu-ru" style="padding:0!important; height:79px;" target="_blank"><img alt="" src="https://physics.bsu.by/media/media/mast-edu_logo.png" style="height:76px; width:76px"></a></td>
				<td><a href="https://ums.bsu.by/ru/for-applicants/edu-ru/master-edu-ru" class="mast-main-link" style="display:inline; padding-bottom:0!important; width:fit-content!important; font-size:18px!important; text-decoration:none!important; border-bottom:2px solid #ffe100;color:#111111;" target="_blank">Условия поступления и стоимость обучения для иностранных граждан</a></td>
			</tr>
		</tbody>
	    </table>
	    <p style="margin:0!important;">&nbsp;</p>
	    <p style="margin:0!important;">&nbsp;</p>
	    <ul class="u-text u-text-2">
		<li><a class="mast-link" href="http://www.physics.bsu.by/sites/default/files/files/magistratura/%D0%A4%D0%B8%D0%B7%D0%B8%D0%BA%D0%B0_%D0%9F%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%B0%20%D0%B2%20%D0%BC%D0%B0%D0%B3%D0%B8%D1%81%D1%82%D1%80%D0%B0%D1%82%D1%83%D1%80%D1%83_2019.pdf" rel="noopener noreferrer" target="_blank">Программа вступительных испытаний по специальности 1-31 80 05 Физика</a></li>
		<li><a class="mast-link" href="http://www.physics.bsu.by/sites/default/files/files/magistratura/%D0%9F%D1%80%D0%B8%D0%BA%D0%BB%D0%B0%D0%B4%D0%BD%D0%B0%D1%8F%20%D1%84%D0%B8%D0%B7%D0%B8%D0%BA%D0%B0_%D0%9F%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%B0%20%D0%B2%20%D0%BC%D0%B0%D0%B3%D0%B8%D1%81%D1%82%D1%80%D0%B0%D1%82%D1%83%D1%80%D1%83_2019.pdf" rel="noopener noreferrer" target="_blank">Программа вступительных испытаний по специальности 1-31 80 20 Прикладная физика</a></li>
	    </ul>
	    <p style="margin:0!important;">&nbsp;</p>
	    <ul class="u-text u-text-2">
		<li><a class="mast-link" href="https://elib.bsu.by/bitstream/123456789/224927/1/1-31_80_05_o_d_1_G31-062.pdf" rel="noopener noreferrer" target="_blank">Учебный план по специальности 1-31 80 05 Физика</a></li>
		<li><a class="mast-link" href="https://elib.bsu.by/bitstream/123456789/224953/1/1-31_80_20_o_d_1%2c8_G31-024.pdf" rel="noopener noreferrer" target="_blank">Учебный план по специальности 1-31 80 20 Прикладная физика</a></li>
	    </ul>
	    <p style="margin:0!important;">&nbsp;</p>
	    <p style="margin:0; text-indent:48px!important;"><strong>Успешное окончание магистратуры</strong> <strong>включает</strong> сдачу экзаменов согласно учебному плану, защиту курсовой работы и – в конце обучения – магистерской диссертации.</p>
	    <p style="margin:0; text-indent:48px!important;">По окончании обучения выдается <strong>диплом магистра</strong>.</p>
	    <p style="margin:0; text-indent:48px!important;">В Республике Беларусь углубленное высшее образование соответствует 7 уровню&nbsp;магистратуры или её эквиваленту согласно Международной стандартной классификации образования (МСКО).</p>
          </div>
        </div>
        {% endif %}
        {% if LANGUAGE_CODE == "en"%}
        <h2 class="u-text">Master's degree</h2>
        <div class="u-container-style u-expanded-width u-group u-white u-group-1">
          <div class="u-container-layout u-valign-top u-container-layout-1">
	    <p style="margin:0; text-indent:48px!important;"><strong>Master&#39;s program </strong>is an advanced higher education of the II stage.</p>
	    <p style="margin:0!important;">&nbsp;</p>
	    <ul class="u-text u-text-2">
		<li><a class="mast-link" href="https://physics.bsu.by/media/media/_masters_photonics_BSU_3.pdf" rel="noopener noreferrer" target="_blank">Master&#39;s degree brochure</a></li>
	    </ul>
	    <p style="margin:0!important;">&nbsp;</p>
	    <p style="margin:0; text-indent:48px!important;"><strong>The purpose of the master&#39;s program </strong>is to train professionals with in-depth knowledge in the subject area and the ability to analyze, research, teach and innovate.</p>
	    <p style="margin:0; text-indent:48px!important;">Faculty of Physics of BSU offers a <strong>Master&#39;s program in English</strong><strong>:</strong></p>
	    <p style="margin:0; text-indent:48px!important;"><strong>- </strong><strong>speciality &ndash; Applied Physics</strong></p>
	    <p style="margin:0; text-indent:48px!important;"><strong>- </strong><strong>speciality profile &ndash; Photonics</strong></p>
	    <p style="margin:0; text-indent:48px!important;"><strong>- </strong><strong>full-time</strong></p>
	    <p style="margin:0; text-indent:48px!important;"><strong>- </strong><strong>2-year</strong></p>
	    <p style="margin:0; text-indent:48px!important;"><strong>- 120 credit units</strong></p>
	    <p style="margin:0!important;">&nbsp;</p>
	    <p style="margin:0; text-indent:48px!important;"><strong>The requirement for admission </strong>is a higher education at the level of <strong>Bachelor&rsquo;s degree</strong>, as well as successful passing of the admission interview.</p>
	    <p style="margin:0!important;">&nbsp;</p>
	    <table cellpadding="3" cellspacing="0" style="height:76px; width:100%">
		<tbody>
			<tr>
				<td style="text-align:center; vertical-align:middle; width:79px"><a href="https://ums.bsu.by/en/for-applicants/edu-en/master-edu-en" style="padding:0!important; height:79px;" target="_blank"><img alt="" src="https://physics.bsu.by/media/media/mast-edu_logo.png" style="height:76px; width:76px" /></a></td>
				<td><a href="https://ums.bsu.by/en/for-applicants/edu-en/master-edu-en" class="mast-main-link" style="display:inline; padding-bottom:0!important; width:fit-content!important; font-size:18px!important; text-decoration:none!important; border-bottom:2px solid #ffe100;color:#111111;" target="_blank">Admission conditions and tuition fees for foreign citizens</a></td>
			</tr>
		</tbody>
	    </table>
	    <p style="margin:0!important;">&nbsp;</p>
	    <p style="margin:0; text-indent:48px!important;"><strong>Successful completion </strong>of a Master&#39;s program includes passing exams according to the curriculum, defending a course work at the end of the 1st year, and, at the end of the course &ndash; defending a Master&#39;s thesis.</p>
	    <p style="margin:0; text-indent:48px!important;">Upon graduation, a <strong>Master&#39;s degree is issued</strong>.</p>
	    <p style="margin:0; text-indent:48px!important;">In the Republic of Belarus, advanced higher education corresponds to the 7th level of the Master&#39;s program or its equivalent according to the International Standard Classification of Education (ISCED).</p>
	    <p style="margin:0!important;">&nbsp;</p>
	    <table cellpadding="0" cellspacing="0" style="padding-left:48px!important; font-size:18px">
		<tbody>
			<tr>
				<td colspan="2">
				<p style="margin:0!important;">Contact for admission:</p>
				<p style="margin:0!important;"><a href="https://physics.bsu.by/en/staff/kolesov-egor-aleksandrovich/" style="color:#0563c1; text-decoration:underline"><strong>Egor A. Kolesov</strong></a></p>
				</td>
			</tr>
			<tr>
				<td style="width:70px!important;">
				<p style="margin:0!important;"><strong>phone: </strong></p>
				</td>
				<td><strong>+375 (17) 209-51-20</strong></td>
			</tr>
			<tr>
				<td style="width:70px!important;"><strong>e-mail: </strong></td>
				<td><a href="mailto:kolesov.bsu@gmail.com" style="color:#0563c1; text-decoration:underline"><strong>kolesov.bsu@gmail.com</strong></a></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td><a href="mailto:kolesovea@bsu.by" style="color:#0563c1; text-decoration:underline"><strong>kolesovea@bsu.by</strong></a></td>
			</tr>
		</tbody>
	    </table>
          </div>
        </div>
        {% endif %}
      </div>
    </section>
  </body>
{% endblock %}
