{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Студенческая олимпиада" %}{% endblock %} <!-- вариант перевода: "Student Olimpiad" -->


{% block content %}
<div class="pages">
    <div class="container">
        <div class="page_name">{% trans "Студенческая олимпиада 2022" %}</div> <!-- вариант перевода: "Student Olympiad 2022" -->
        <div style="font-size:22px;">
            <img src="https://physics.bsu.by/media/media/bsuphys_info__Olimpiada2022.jpg" alt="" style="margin:0 auto!important; width:50%;display: block;">
            <p>&nbsp;</p><p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>Физический&nbsp;факультет БГУ приглашает всех желающих студентов принять участие в XIV&nbsp;Открытой студенческой олимпиаде по физике.</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>Дата и время проведения олимпиады:<strong> 14&nbsp;мая&nbsp;2022&nbsp;г. с&nbsp;11:00&nbsp;до&nbsp;15:00</strong>.</p>
            <p>&nbsp;</p>
            <p>Регистрация участников: <strong>с&nbsp;10:20&nbsp;до&nbsp;10:55</strong> в холле физического факультета.</p>
            <p>&nbsp;</p>
            <p>Олимпиада проводится в <strong>один очный этап</strong> – решение <strong>пяти&nbsp;задач</strong> по разделам курса общей физики. <strong>По&nbsp;итогам</strong> олимпиады победители награждаются <strong>дипломами и памятными призами</strong>.</p>
            <p>&nbsp;</p>
            <p>НЕОБХОДИМО ПРОЙТИ ПРЕДВАРИТЕЛЬНУЮ РЕГИСТРАЦИЮ – по ссылке ниже!!!</p><br>
            <p><u><a style="font-size:22px !important;" href="https://vk.com/away.php?to=https%3A%2F%2Fforms.gle%2FpAoBf6NW5H6PFdjX6&amp;cc_key=" target="_blank">https://forms.gle/pAoBf6NW5H6PFdjX6</a></u></p>
            <p>&nbsp;</p>
            <p>Участие <strong>БЕСПЛАТНОЕ</strong>.</p>
            <p>Телефоны для справок: <strong>209-52-67</strong>, <strong>209-51-15</strong>.</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </div>
  
        <a href="#">{% trans "Условия задач" %}</a>       <!-- вариант перевода: "Conditions of problems" -->
        <a href="#">{% trans "Решения задач" %}</a>       <!-- вариант перевода: "Solutions of problems" -->
        <a href="#">{% trans "Результаты" %}</a><br><br><hr style="width:100%; color:#fdd400;"><br><br><br> <!-- вариант перевода: "Results" -->
    </div>


    <div class="container">
        <div class="page_name">{% trans "Студенческая олимпиада 2021" %}</div>                                          <!-- вариант перевода: "Student Olympiad 2021" -->
            <a href="https://physics.bsu.by/media/media/FOFF2021_uslovia_zadach.pdf">{% trans "Условия задач" %}</a>        <!-- вариант перевода: "Conditions of problems" -->
            <a href="https://physics.bsu.by/media/media/FOFF2021_reshenia_zadach.pdf">{% trans "Решения задач" %}</a>       <!-- вариант перевода: "Solutions of problems" -->
            <a href="https://physics.bsu.by/media/media/studOlimp_mnJmB0w.pdf">{% trans "Результаты" %}</a><br><br><br><br> <!-- вариант перевода: "Results" -->
        </div>
    </div>
</div>
{% endblock %}
