{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Разработки" %}{% endblock %}

{% block content %}
<div id="equip-sw" class="pages">
    <div class="container">
        <div class="page_name">{% trans "Разработки" %}</div>
        {% get_current_language as LANGUAGE_CODE %}
        {% if LANGUAGE_CODE == "ru"%}
        <ul style="margin-bottom:30px!important;">
            <li style="padding-bottom:15px;">
                <p><strong>В настоящем каталоге представлен список разработанного на физическом&nbsp;факультете Белорусского государственного университета оборудования и программного обеспечения, доступного к заказу</strong></p>
            </li>
            <li style="padding-bottom:15px;">
                <p><strong>Вы можете скачать <a download="" href="https://physics.bsu.by/media/media/_Spisok_razrabotok_fizicheskogo_fakulteta_BGU_2022.pdf" style="display:inline!important; font-weight:bold;" id="link-equip-softw-1">список разработок в формате&nbsp;PDF</a></strong></p>
            </li>
            <li style="padding-bottom:15px;">
                <p><strong>В наименованиях приведены ссылки на контактные&nbsp;данные заведующих кафедрами / лабораториями, где созданы указанные разработки</strong></p>
            </li>
        </ul>
        

        
        <div style="margin:40px!important;">
            <p>Для получения контактных данных непосредственных исполнителей работ Вы можете обратиться к заместителю&nbsp;декана по научной&nbsp;работе и международному сотрудничеству:</p>
        </div>
        <div class="responsible-person" style="display:flex; flex-direction:column; margin:40px; padding:5px!important; width:calc(100% - 80px)!important;">
            <p><a href="https://physics.bsu.by/ru/staff/kolesov-egor-aleksandrovich/" target="_blank" style="font-size:18px!important;">Колесов Егор&nbsp;Александрович</a></p>

            <p>&nbsp;</p>

            <p style="margin-bottom:5px!important;"><strong>тел.:</strong>&nbsp;+375&nbsp;(17)&nbsp;209‑51‑20</p>

            <p><strong>e‑mail:&nbsp;</strong><u style="display:inline!important;"><a href="mailto:kolesov.bsu@gmail.com" style="display:inline!important; text-decoration:none!important;">kolesov.bsu@gmail.com</a></u></p>
            <p style="display:inline!important;"><strong style="visibility:hidden!important; user-select:none!important;">e‑mail: </strong><u><a href="mailto:kolesovea@bsu.by" style="display:inline!important; padding:0!important; text-decoration:none!important;">kolesovea@bsu.by</a></u></p>
        </div>

        <p>&nbsp;</p>
        <ul style="margin-bottom:30px!important;">     
            <li style="padding-bottom:15px;">
                <p><strong>Также Вы можете ознакомиться со <a href="https://physics.bsu.by/ru/services/" id="link-equip-softw-2" style="display:inline!important; font-weight:bold;" target="_blank">списком наукоёмких услуг физического факультета</a></strong></p>
            </li>
        </ul>
        <p>&nbsp;</p>

        <div class="table-box" style="width:100%; max-width:1980px!important; overflow-x:auto!important; -ms-overflow-style:none!important; scrollbar-width:none!important;">
            <span class="table-tooltip">Нажмите и удерживайте клавишу "Shift" при горизонтальной прокрутке таблицы.</span>
            <table class="Table" style="border-collapse:collapse; width:100.0%" cellspacing="0" cellpadding="9" align="center">
                <tbody>
                  
                </tbody>
            </table>
        </div>

        <p><strong><span>*</span></strong><strong>Ориентировочная стоимость приведена на основании имеющихся данных по завершённым договорам. Реальная стоимость услуг является договорной, зависит от сложности и объёма исследований, и предоставляется после обсуждения технического задания.</strong></p>
        <p><strong><span>*</span></strong><strong>Ориентировочная стоимость приведена на основании имеющихся данных по завершённым договорам. Реальная стоимость услуг является договорной, зависит от сложности и объёма исследований, и предоставляется после обсуждения технического задания.</strong></p>
        {% endif %}
        {% if LANGUAGE_CODE == "en"%}
        <ul style="margin-bottom:30px!important;">
            <li style="padding-bottom:15px;">
                <p><strong>This&nbsp;catalog contains the&nbsp;list of equipment and software developed at the&nbsp;Faculty&nbsp;of&nbsp;Physics of the&nbsp;Belarusian State&nbsp;University and available for&nbsp;purchase</strong></p>
            </li>
            <li style="padding-bottom:15px;">
                <p><strong>You can <a id="link-equip-softw-1" download="" href="https://physics.bsu.by/media/media/_List_of_Equipment_and_Software_-_BSU_Faculty_of_Physics_2022.pdf" style="display:inline!important; font-weight:bold;">download this&nbsp;list in&nbsp;PDF</a></strong></p>
            </li>
            <li style="padding-bottom:15px;">
                <p><strong>The&nbsp;names of the&nbsp;developments contain links to the&nbsp;contact&nbsp;details of the&nbsp;Heads of&nbsp;the Departments / Laboratories where the&nbsp;specified unit is made</strong></p>
            </li>
        </ul>


        
        <div style="margin:40px!important;">
            <p>To&nbsp;obtain contact details of the direct executors of the&nbsp;service, You can contact Vice-Dean&nbsp;for Research&nbsp;and International&nbsp;Cooperation:</p>
        </div>
        
        <div class="responsible-person" style="display:flex; flex-direction:column; margin:40px; padding:5px!important; width:calc(100% - 80px)!important;">
            <p><a href="https://physics.bsu.by/en/staff/kolesov-egor-aleksandrovich/" target="_blank" style="font-size:18px!important;">Egor&nbsp;A.&nbsp;Kolesov</a></p>

            <p>&nbsp;</p>

            <p style="margin-bottom:5px!important;"><strong>phone:</strong>&nbsp;+375&nbsp;(17)&nbsp;209‑51‑20</p>

            <p><strong>e‑mail:&nbsp;</strong><u style="display:inline!important;"><a href="mailto:kolesov.bsu@gmail.com" style="display:inline!important; text-decoration:none!important;">kolesov.bsu@gmail.com</a></u></p>
            <p style="display:inline!important;"><strong style="visibility:hidden!important; user-select:none!important;">e‑mail: </strong><u><a href="mailto:kolesovea@bsu.by" style="display:inline!important; padding:0!important; text-decoration:none!important;">kolesovea@bsu.by</a></u></p>
        </div>

        <p>&nbsp;</p>
        <ul style="margin-bottom:30px!important;">     
            <li style="padding-bottom:15px;">
                <p><strong>You can also consider the&nbsp;</strong><a href="https://physics.bsu.by/en/services/" target="_blank"><strong>scientific&nbsp;services provided by the&nbsp;Faculty&nbsp;of&nbsp;Physics</strong></p>
            </li>
        </ul>
        <p>&nbsp;</p>

        <div class="table-box" style="width:100%; max-width:1980px!important; overflow-x:auto!important; -ms-overflow-style:none!important; scrollbar-width:none!important;">
            <span class="table-tooltip">Press and hold the "Shift" key while scrolling the table horizontally.</span>
            <table align="center" cellpadding="9" cellspacing="0" class="MsoTableGrid" style="border-collapse:collapse; border:medium none; width:100%">
                <tbody>
                  
                </tbody>
            </table>
        </div>

        <p><strong><span>*</span></strong><strong>Ориентировочная стоимость приведена на основании имеющихся данных по завершённым договорам. Реальная стоимость услуг является договорной, зависит от сложности и объёма исследований, и предоставляется после обсуждения технического задания.</strong></p>
        <p><strong><span>*</span></strong><strong>Ориентировочная стоимость приведена на основании имеющихся данных по завершённым договорам. Реальная стоимость услуг является договорной, зависит от сложности и объёма исследований, и предоставляется после обсуждения технического задания.</strong></p>
        {% endif %}
    </div>
</div>
{% endblock %}
