{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Разработки" %}{% endblock %}

{% block content %}
<div id="services-special" class="pages">
    <div class="container">
        <div class="page_name">{% trans "Разработки" %}</div>
        {% get_current_language as LANGUAGE_CODE %}
        {% if LANGUAGE_CODE == "ru"%}
        <ul style="margin-bottom:30px!important;">
            <li style="padding-bottom:15px;">
                <p><strong>В настоящем каталоге приводится список услуг, которые могут быть оказаны физическим&nbsp;факультетом БГУ в рамках прямых договоров&nbsp;(контрактов)</strong></p>
            </li>
            <li style="padding-bottom:15px;">
                <p><strong>Вы можете скачать <a id="link-services" download="" href="https://physics.bsu.by/media/media/Spisok-uslug-fizicheskogo-fakulteta-2022_2.pdf" style="display:inline!important; font-weight:bold;">список услуг в формате&nbsp;PDF</a></strong></p>
            </li>
            <li style="padding-bottom:15px;">
                <p><strong>В наименованиях&nbsp;услуг представлены ссылки на контактные данные заведующих&nbsp;кафедрами, где проводятся указанные работы</strong></p>
            </li>
        </ul>
        

        
        <div style="margin:40px!important;">
            <p>Для получения контактных данных непосредственных исполнителей работ Вы можете обратиться к заместителю&nbsp;декана по научной&nbsp;работе и международному сотрудничеству:</p>
        </div>
        <div class="responsible-person" style="display:flex; flex-direction:column; margin:40px; padding:5px!important; width:calc(100% - 80px)!important;">
            <p><a href="https://physics.bsu.by/ru/staff/kolesov-egor-aleksandrovich/" target="_blank" style="font-size:18px!important;">Колесов Егор&nbsp;Александрович</a></p>

            <p>&nbsp;</p>

            <p style="margin-bottom:5px!important;"><strong>тел.:</strong>&nbsp;+375&nbsp;(17)&nbsp;209‑51‑20</p>

            <p><strong>e‑mail:&nbsp;</strong><u style="display:inline!important;"><a href="mailto:kolesov.bsu@gmail.com" style="display:inline!important; text-decoration:none!important;">kolesov.bsu@gmail.com</a></u></p>
            <p style="display:inline!important;"><strong style="visibility:hidden!important; user-select:none!important;">e‑mail: </strong><u><a href="mailto:kolesovea@bsu.by" style="display:inline!important; padding:0!important; text-decoration:none!important;">kolesovea@bsu.by</a></u></p>
        </div>

        <p>&nbsp;</p>

        <div class="table-box" style="width:100%; max-width:1980px!important; overflow-x:auto!important; -ms-overflow-style:none!important; scrollbar-width:none!important;">
            <span class="table-tooltip">Нажмите и удерживайте клавишу "Shift" при горизонтальной прокрутке таблицы.</span>
            <table class="Table" style="border-collapse:collapse; width:100.0%" cellspacing="0" cellpadding="9" align="center">
                <tbody>
                  
                </tbody>
            </table>
        </div>

        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>

        <p><strong><span>*</span></strong><strong>Ориентировочная стоимость приведена на основании имеющихся данных по завершённым договорам. Реальная стоимость услуг является договорной, зависит от сложности и объёма исследований, и предоставляется после обсуждения технического задания.</strong></p>
        {% endif %}
        {% if LANGUAGE_CODE == "en"%}
        <ul style="margin-bottom:30px!important;">
            <li style="padding-bottom:15px;">
                <p><strong>This&nbsp;catalog contains the list of science-intensive services that can be provided by the&nbsp;Faculty&nbsp;of&nbsp;Physics under the&nbsp;direct&nbsp;agreements (contracts)</strong></p>
            </li>
            <li style="padding-bottom:15px;">
                <p><strong>You can <a id="link-services" download="" href="https://physics.bsu.by/media/media/List_of_Services_-_BSU_Faculty_of_Physics_2022.pdf" style="display:inline!important; font-weight:bold;">download this list in&nbsp;PDF</a></strong></p>
            </li>
            <li style="padding-bottom:15px;">
                <p><strong>The names of the&nbsp;services contain links to the contact details of the&nbsp;Heads&nbsp;of the&nbsp;Departments where the specified work is carried out</strong></p>
            </li>
        </ul>


        
        <div style="margin:40px!important;">
            <p>To&nbsp;obtain contact details of the direct executors of the&nbsp;service, You can contact Vice-Dean&nbsp;for Research&nbsp;and International&nbsp;Cooperation:</p>
        </div>
        
        <div class="responsible-person" style="display:flex; flex-direction:column; margin:40px; padding:5px!important; width:calc(100% - 80px)!important;">
            <p><a href="https://physics.bsu.by/en/staff/kolesov-egor-aleksandrovich/" target="_blank" style="font-size:18px!important;">Egor&nbsp;A.&nbsp;Kolesov</a></p>

            <p>&nbsp;</p>

            <p style="margin-bottom:5px!important;"><strong>phone:</strong>&nbsp;+375&nbsp;(17)&nbsp;209‑51‑20</p>

            <p><strong>e‑mail:&nbsp;</strong><u style="display:inline!important;"><a href="mailto:kolesov.bsu@gmail.com" style="display:inline!important; text-decoration:none!important;">kolesov.bsu@gmail.com</a></u></p>
            <p style="display:inline!important;"><strong style="visibility:hidden!important; user-select:none!important;">e‑mail: </strong><u><a href="mailto:kolesovea@bsu.by" style="display:inline!important; padding:0!important; text-decoration:none!important;">kolesovea@bsu.by</a></u></p>
        </div>

        <p>&nbsp;</p>

        <div class="table-box" style="width:100%; max-width:1980px!important; overflow-x:auto!important; -ms-overflow-style:none!important; scrollbar-width:none!important;">
            <span class="table-tooltip">Press and hold the "Shift" key while scrolling the table horizontally.</span>
            <table align="center" cellpadding="9" cellspacing="0" class="MsoTableGrid" style="border-collapse:collapse; border:medium none; width:100%">
                <tbody>
                  
                </tbody>
            </table>
        </div>

        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>

        <p><strong><span>*</span>&nbsp;</strong><strong>The estimated cost is based on available data for completed contracts. The actual service cost is negotiable, depends on the&nbsp;complexity and volume&nbsp;of&nbsp;research, and is provided after discussing the&nbsp;Terms&nbsp;of&nbsp;Reference.</strong></p>
        {% endif %}
    </div>
</div>
{% endblock %}
