{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Проект Всемирного банка" %}{% endblock %}

{% block content %}
<div class="pages">
    <div class="container">
        <div class="page_name">{% trans "Проект Всемирного банка" %}</div>
      
<div id="vb-proj">
<p>В&nbsp;2019&nbsp;году по инициативе Министерства образования во взаимодействии со специалистами <a href="https://www.vsemirnyjbank.org/ru/country/belarus" target="_blank">Всемирного&nbsp;банка</a> разработан инвестиционный проект&nbsp;<a href="https://edu.gov.by/sistema-obrazovaniya/glavnoe-upravlenie-professionalnogo-obrazovaniya/vysshee-obrazovanie/investitsionnyy-proekt-modernizatsiya-vysshego-obrazovaniya-respubliki-belarus/" target="_blank">«Модернизация высшего образования Республики&nbsp;Беларусь»</a></p>

<p>&nbsp;</p>

<p class="main-links" style="display: flex;align-content:  center !important;justify-content: space-around !important;align-items: center !important;"><a target="_blank" href="https://www.vsemirnyjbank.org/ru/country/belarus" id="the-wb" style="  height: min-content;"><img alt="" src="https://physics.bsu.by/media/media/_theworldbank.png" style="  width:360px; object-fit:cover !important;  "></a><a id="ministry-edu-rb" target="_blank" style="height: min-content;" href="https://edu.gov.by/"><img alt="" src="https://physics.bsu.by/media/media/_ministry-of-education-of-the-republic-of-belarus.png" style="   width:100px;"></a></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<ul>
	<li>Реализация проекта рассчитана на <strong>5</strong><strong>&nbsp;лет</strong><strong>&nbsp;(2020-2025</strong><strong>&nbsp;гг.)</strong> и финансируется за счет средств займа Международного банка реконструкции и развития</li>
</ul>

<p>&nbsp;</p>

<p><img alt="" style="float:left; margin:0px 9px 9px 0px; min-width:360px; object-fit:cover !important; width:48%;" src="https://physics.bsu.by/media/media/_vb-center_1.png"><img alt="" style="margin:0px 0px 9px; min-width:360px; object-fit:cover !important; width:48%" src="https://physics.bsu.by/media/media/_vb-center_2.png"></p>

<p>&nbsp;</p>

<ul>
	<li>В рамках проекта создаются 4&nbsp;лаборатории по направлениям <span style="color:#555555"><strong>нанобиотехнологий и новых материалов</strong></span></li>
</ul>



<div class="vb_table-box" style="min-width:250px!important;">
<table class="MsoTableGrid" style="border-collapse:collapse; border:medium none; width:100%" cellspacing="0" cellpadding="9" align="center">
	<tbody>
		<tr>
			<td style="border-bottom:none; border-left:none; border-right:1px solid black; border-top:none; vertical-align:top; width:539px">
			<p>Учебная лаборатория клеточной инженерии и нанобиотехнологий</p>
			</td>
			<td rowspan="3" style="border-bottom:1px solid black; border-left:none; border-right:none; border-top:none; width:330px">
			<p>Корпус физического&nbsp;факультета</p>

			<p>(Бобруйская,&nbsp;5)</p>
			</td>
		</tr>
		<tr>
			<td style="border-bottom:none; border-left:none; border-right:1px solid black; border-top:none; vertical-align:top; width:539px">
			<p>Учебная лаборатория биофотоники</p>
			</td>
		</tr>
		<tr>
			<td style="border-bottom:1px solid black; border-left:none; border-right:1px solid black; border-top:none; vertical-align:top; width:539px">
			<p>Учебная лаборатория медицинской биофизики</p>
			</td>
		</tr>
		<tr>
			<td style="border-bottom:none; border-left:none; border-right:1px solid black; border-top:none; vertical-align:top; width:539px">
			<p>Учебная лаборатория лазерной медицины</p>
			</td>
			<td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:top; width:330px">
			<p>Корпус по ул.&nbsp;Академика&nbsp;Курчатова,&nbsp;7</p>
			</td>
		</tr>
	</tbody>
</table>
</div>

<p>&nbsp;</p>

<ul>
	<li>Планируемый срок создания лабораторий – с октября&nbsp;2022&nbsp;г. по апрель&nbsp;2025&nbsp;г.</li>
</ul>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p style="margin-bottom:20px!important;"><strong>Учебная лаборатория клеточной инженерии и нанобиотехнологий</strong></p>

<p><img alt="" style="float:left; margin:0px 9px 9px 0px; min-width:360px; object-fit:cover !important; width:48%" src="https://physics.bsu.by/media/media/_ulkiinbt_1.png"><img alt="" style="margin:0px 0px 9px; min-width:360px; object-fit:cover !important; width:48%" src="https://physics.bsu.by/media/media/_ulkiinbt_2.png"></p>

<p>&nbsp;</p>

<p>Основные направления:</p>

<ul style="list-style-type:square">
	<li>Создание и исследование физико-химических свойств новых клеточных препаратов</li>
	<li>Исследования биоматериала на уровне клетки, ее субклеточных и молекулярных структур</li>
	<li>Исследования в области нанобиотехнологий и синтетической биологии</li>
</ul>

<p>&nbsp;</p>

<p>Закупаемое оборудование:</p>

<ul>
	<li>Сканирующий электронный микроскоп высокого разрешения</li>
	<li>Установка атомно-слоевого осаждения</li>
	<li>Вакуумная установка магнетронного напыления тонких пленок</li>
	<li>Дифрактометр</li>
	<li>Параметрический анализатор (характериограф)</li>
	<li>Комплект оборудования для лабораторного практикума по электричеству</li>
	<li>Комплект оборудования для культивирования клеток (в составе: мультигазовый инкубатор, шкаф ламинарный, настольная центрифуга, pH-метр)</li>
	<li>Проточный цитометр</li>
	<li>Инвертированный флуоресцентный микроскоп</li>
	<li>Морозильник низкотемпературный</li>
	<li>Комплект оборудования для пробоподготовки и анализа физико-химических свойств биообъектов&nbsp;(в составе: камера электрофореза, центрифуга, pH-метр, весы аналитические, сушильный шкаф, термостат, система очистки воды)</li>
</ul>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p style="margin-bottom:20px!important;"><strong>Учебная лаборатория</strong><strong>&nbsp;биофотоники</strong></p>

<p><img alt="" style="float:left; margin:0px 9px 9px 0px; min-width:360px; object-fit:cover !important; width:48%" src="https://physics.bsu.by/media/media/_ulbf_1_uFG2LYF.png"><img alt="" style="margin:0px 0px 9px; min-width:360px; object-fit:cover !important; width:48%" src="https://physics.bsu.by/media/media/_ulbf_2.png"></p>

<p>&nbsp;</p>

<p>Основные направления:</p>

<ul style="list-style-type:square">
	<li>Разработка и исследование функциональных материалов и оптических микроструктур для применений в биофотонике</li>
	<li>Отработка методик воздействия лазерного излучения на биообъекты на клеточном уровне</li>
	<li>Разработка новых оптических сенсоров для применений в биофотонике, исследование новых биосовместимых материалов</li>
</ul>

<p>&nbsp;</p>

<p>Закупаемое оборудование:</p>

<ul>
	<li>Оптический стол с чистой зоной</li>
	<li>Комплект лазеров для записи микро- и наноструктур</li>
	<li>Пространственный ЖК-модулятор света</li>
	<li>Установка для нанесения тонких пленок</li>
	<li>Лазерный комплекс для исследования оптических свойств микро- и наноструктур</li>
	<li>Рамановский спектрометр высокого разрешения, совмещенный со сканирующим зондовым микроскопом</li>
</ul>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p style="margin-bottom:20px!important;"><strong>Учебная лаборатория медицинской биофизики</strong></p>

<p style=""><img alt="" style="float:left; margin:0px 9px 9px 0px; min-width:360px; object-fit:cover !important; width:48%" src="https://physics.bsu.by/media/media/_ulmbf_1.png"><img alt="" style="margin:0px 0px 9px; min-width:360px; object-fit:cover !important; width:48%" src="https://physics.bsu.by/media/media/_ulmbf_2.png"></p>

<p>&nbsp;</p>

<p>Основные направления:</p>

<ul style="list-style-type:square">
	<li>Исследования в области наномедицины</li>
	<li>Разработка комплекса подходов для применения нанотехнологиий и наноматериалов в области практической медицины и здравоохранения</li>
	<li>Исследования молекулярно-клеточных механизмов развития онкологических и противовоспалительных заболеваний</li>
	<li>Исследования противоопухолевых и противовоспалительных фармакологических препаратов</li>
</ul>

<p>&nbsp;</p>

<p>Закупаемое оборудование:</p>

<ul>
	<li>Мультимодальный планшетный ридер</li>
	<li>Планшетный спектрофотометр</li>
	<li>ЭПР-спектрометр с системой охлаждения</li>
	<li>Спектрофлуориметр</li>
</ul>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p style="margin-bottom:20px!important;"><strong>Учебная лаборатория лазерной медицины</strong></p>

<p><img alt="" style="float:left; margin:0px 9px 9px 0px; min-width:360px; object-fit:cover !important; width:48%" src="https://physics.bsu.by/media/media/_ullm_1.png"><img alt="" style="margin:0px 0px 9px; min-width:360px; object-fit:cover !important; width:48%" src="https://physics.bsu.by/media/media/_ullm_2.png"></p>

<p>&nbsp;</p>

<p>Основные направления:</p>

<ul style="list-style-type:square">
	<li>Разработка методик воздействия непрерывного и импульсного лазерного излучения на биологические объекты и ткани</li>
	<li>Разработка новых методик и препаратов для биомедицинских применений, диагностики и лечения онкологических заболеваний, патологических состояний биоканей и организмов, фотоактивируемой антибактериальной терапии инфекционных заболеваний</li>
</ul>

<p>&nbsp;</p>

<p>Закупаемое оборудование:</p>

<ul>
	<li>Лазерный терапевтический комплекс</li>
	<li>Лазерный комплекс для эстетической медицины и хирургии</li>
	<li>Параметрический генератор света</li>
	<li>Комплект аналитического оборудования (в составе: анализатор жидкости флуоресцентный, микроскоп бинокулярный, люминесцентный микроскоп с видеокамерой, прибор для измерения степени оксигенации биоткани)</li>
	<li>Комплект лазерных диодов с блоками питания</li>
</ul>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><strong>Учебные курсы</strong></p>

<p>&nbsp;</p>

<ul>
	<li>В таблице представлены курсы, проведение которых планируется реализовать в рамках создаваемых лабораторий</li>
</ul>

<p>&nbsp;</p>

<p>&nbsp;</p>

<div class="vb_table-box" style="min-width:250px!important;">
<table class="Table" style="border-collapse:collapse; width:100%;" cellspacing="0" cellpadding="9">
	<tbody style="">
		<tr>
			<td style="border-bottom:1px solid black; border-left:none; border-right:none; border-top:none; height:35px; vertical-align:top; width:232px">
			<p><strong>Специальность</strong></p>
			</td>
			<td style="border-bottom:1px solid black; border-left:none; border-right:none; border-top:none; height:35px; vertical-align:top; width:203px">
			<p><strong>Учебная лаборатория клеточной инженерии и нанобиотехнологий</strong></p>
			</td>
			<td style="border-bottom:1px solid black; border-left:none; border-right:none; border-top:none; height:35px; vertical-align:top; width:180px">
			<p><strong>Учебная лаборатория биофотоники</strong></p>
			</td>
			<td style="border-bottom:1px solid black; border-left:none; border-right:none; border-top:none; height:35px; vertical-align:top; width:170px">
			<p><strong>Учебная лаборатория медицинской биофизики</strong></p>
			</td>
			<td style="border-bottom:1px solid black; border-left:none; border-right:none; border-top:none; height:35px; vertical-align:top; width:171px">
			<p><strong>Учебная лаборатория лазерной медицины</strong></p>
			</td>
		</tr>
		<tr>
			<td style="border-bottom:1px solid black; border-left:none; border-right:none; border-top:none; height:82px; vertical-align:top; width:232px">
			<p><strong>1-31 04 01-01 Физика (научно-исследовательская деятельность)</strong></p>
			</td>
			<td style="border-bottom:1px solid black; border-left:none; border-right:none; border-top:none; height:82px; vertical-align:top; width:203px">
			<p>Электричество и магнетизм</p>

			<p>Введение в электронику</p>

			<p>Радиоэлектроника</p>

			<p>Цифровая электроника</p>

			<p>Автоматизация эксперимента</p>

			<p>Введение в биофизику</p>

			<p>Физика биосистем</p>
			</td>
			<td style="border-bottom:1px solid black; border-left:none; border-right:none; border-top:none; height:82px; vertical-align:top; width:180px">
			<p>Введение в физику лазеров</p>

			<p>Лазерная техника</p>
			</td>
			<td style="border-bottom:1px solid black; border-left:none; border-right:none; border-top:none; height:82px; vertical-align:top; width:170px">
			<p>Введение в биофизику</p>

			<p>Физика биосистем</p>
			</td>
			<td style="border-bottom:1px solid black; border-left:none; border-right:none; border-top:none; height:82px; vertical-align:top; width:171px">
			<p>Лазерная техника</p>
			</td>
		</tr>
		<tr>
			<td style="border-bottom:1px solid black; border-left:none; border-right:none; border-top:none; height:105px; vertical-align:top; width:232px">
			<p><strong>1-31 04 01-02 Физика (производственная деятельность)</strong></p>
			</td>
			<td style="border-bottom:1px solid black; border-left:none; border-right:none; border-top:none; height:105px; vertical-align:top; width:203px">
			<p>Электричество и магнетизм</p>

			<p>Введение в твердотельную электронику</p>

			<p>Радиоэлектроника</p>

			<p>Цифровая электроника</p>

			<p>Автоматизация эксперимента</p>

			<p>Методы исследование материалов</p>

			<p>Физическое материаловедение</p>
			</td>
			<td style="border-bottom:1px solid black; border-left:none; border-right:none; border-top:none; height:105px; vertical-align:top; width:180px">
			<p>Квантовая электроника</p>

			<p>Лазерная техника</p>

			<p>Методы исследование материалов</p>

			<p>Физическое материаловедение</p>

			<p>&nbsp;</p>
			</td>
			<td style="border-bottom:1px solid black; border-left:none; border-right:none; border-top:none; height:105px; vertical-align:top; width:170px">
			<p>Методы исследование материалов</p>

			<p>Физическое материаловедение</p>

			<p>&nbsp;</p>
			</td>
			<td style="border-bottom:1px solid black; border-left:none; border-right:none; border-top:none; height:105px; vertical-align:top; width:171px">
			<p>Лазерная техника</p>
			</td>
		</tr>
		<tr>
			<td style="border-bottom:1px solid black; border-left:none; border-right:none; border-top:none; height:137px; vertical-align:top; width:232px">
			<p><strong>1-31 04 07 Физика наноматериалов и нанотехнологий"</strong></p>
			</td>
			<td style="border-bottom:1px solid black; border-left:none; border-right:none; border-top:none; height:137px; vertical-align:top; width:203px">
			<p>Электричество и магнетизм</p>

			<p>Введение в электронику</p>

			<p>Радиоэлектроника</p>

			<p>Цифровая электроника</p>

			<p>Автоматизация эксперимента</p>

			<p>Метрология и диагностика наноструктур и наноматериалов</p>

			<p>Методы создания наноструктур и наноматериалов</p>

			<p>Аддитивные технологии</p>

			<p>Нанобиотехнологии</p>
			</td>
			<td style="border-bottom:1px solid black; border-left:none; border-right:none; border-top:none; height:137px; vertical-align:top; width:180px">
			<p>Введение в физику лазеров</p>

			<p>Лазерная техника</p>

			<p>Метрология и диагностика наноструктур и наноматериалов</p>

			<p>Методы создания наноструктур и наноматериалов</p>

			<p>Аддитивные технологии</p>
			</td>
			<td style="border-bottom:1px solid black; border-left:none; border-right:none; border-top:none; height:137px; vertical-align:top; width:170px">
			<p>Метрология и диагностика наноструктур и наноматериалов</p>
			</td>
			<td style="border-bottom:1px solid black; border-left:none; border-right:none; border-top:none; height:137px; vertical-align:top; width:171px">
			<p>Нанобиотехнологии</p>
			</td>
		</tr>
		<tr>
			<td style="border-bottom:none; border-left:none; border-right:none; border-top:none; height:70px; vertical-align:top; width:232px">
			<p><strong>1-31 04 08 Компьютерная физика</strong></p>
			</td>
			<td style="border-bottom:none; border-left:none; border-right:none; border-top:none; height:70px; vertical-align:top; width:203px">
			<p>Электричество и магнетизм</p>

			<p>Введение в твердотельную электронику</p>

			<p>Радиоэлектроника</p>

			<p>Цифровая электроника</p>

			<p>Автоматизация эксперимента</p>
			</td>
			<td style="border-bottom:none; border-left:none; border-right:none; border-top:none; height:70px; vertical-align:top; width:180px">
			<p>Квантовая электроника</p>

			<p>Лазерная техника</p>
			</td>
			<td style="border-bottom:none; border-left:none; border-right:none; border-top:none; height:70px; vertical-align:top; width:170px">
			<p>&nbsp;</p>
			</td>
			<td style="border-bottom:none; border-left:none; border-right:none; border-top:none; height:70px; vertical-align:top; width:171px">
			<p>Лазерная техника</p>
			</td>
		</tr>
	</tbody>
</table>
</div>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><strong>Магистратура и аспирантура</strong></p>

<p>&nbsp;</p>

<ul>
	<li>В таблице представлены специальности II и III ступеней высшего образования, обучение по которым планируется проводить с использованием оборудования создаваемых лабораторий</li>
</ul>

<p>&nbsp;</p>

<p>&nbsp;</p>

<div class="vb_table-box" style="min-width:250px!important;">
<table class="Table" style="border-collapse:collapse; width:100%;" cellspacing="0" cellpadding="9">
	<tbody>
		<tr>
			<td style="border-bottom:1px solid black; border-left:none; border-right:none; border-top:none; height:39px; vertical-align:top; width:352px">
			<p><strong>Ступень высшего образования</strong></p>
			</td>
			<td style="border-bottom:1px solid black; border-left:none; border-right:none; border-top:none; height:39px; vertical-align:top; width:352px">
			<p><strong>Специальности</strong></p>
			</td>
		</tr>
		<tr>
			<td style="border-bottom:1px solid black; border-left:none; border-right:none; border-top:none; height:98px; vertical-align:top; width:352px">
			<p><strong>Подготовка кадров на </strong><strong>II</strong><strong> ступени высшего образования</strong></p>

			<p><strong>(магистратура)</strong></p>
			</td>
			<td style="border-bottom:1px solid black; border-left:none; border-right:none; border-top:none; height:98px; vertical-align:top; width:352px">
			<p>1-31 80 05 Физика</p>

			<p>1-31 80 20 Прикладная физика</p>
			</td>
		</tr>
		<tr>
			<td style="border-bottom:none; border-left:none; border-right:none; border-top:none; height:196px; vertical-align:top; width:352px">
			<p><strong>Подготовка кадров высшей квалификации</strong></p>

			<p><strong>(аспирантура)</strong></p>
			</td>
			<td style="border-bottom:none; border-left:none; border-right:none; border-top:none; height:196px; vertical-align:top; width:352px">
			<p>01.04.05 Оптика</p>

			<p>01.04.07 Физика конденсированного состояния</p>

			<p>01.04.10 Физика полупроводников</p>

			<p>01.04.21 Лазерная физика</p>

			<p>03.01.02 Биофизика</p>
			</td>
		</tr>
	</tbody>
</table>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
      </div>
      </div>
        </div>
    </div>
{% endblock %}
