{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Аспирантура" %}{% endblock %}


{% block content %}
<div class="pages">
  {% get_current_language as LANGUAGE_CODE %}
  <div class="container">
      <div class="page_name">{% trans "Аспирантура" %}</div>
 
  {% if LANGUAGE_CODE == "ru"%}
  <p style="text-indent:48px!important;"><strong>Аспирантура</strong> &ndash; образовательная программа послевузовского образования I ступени</p>

  <p>&nbsp;</p>

  <p style="text-indent:48px!important;"><a href="https://ums.bsu.by/ru/price-ru/aspirantura" style="display:inline; padding-bottom:0!important; width:fit-content!important; font-size:18px!important; text-decoration:none!important; border-bottom:2px solid #e5bc29;" target="_blank">Стоимость обучения для иностранных граждан</a></p>

  <p>&nbsp;</p>

  <table cellpadding="3" cellspacing="0" style="height:79px!important; width:100%">
    <tbody>
      <tr>
        <td style="text-align:center; vertical-align:middle; width:79px"><a style="padding:0!important; height:79px;" href="research.bsu.by/sci_staff_training/postgraduate-school/" target="_blank"><img alt="" src="https://physics.bsu.by/media/media/postgrad-sch_logo.png" style="height:76px; width:76px" /></a></td>
        <td style="vertical-align:middle;"><a href="http://research.bsu.by/sci_staff_training/postgraduate-school/" style="display:inline; padding-bottom:0!important; width:fit-content!important; font-size:18px!important; text-decoration:none!important; border-bottom:2px solid #e5bc29;" target="_blank">Отдел аспирантуры и докторантуры БГУ</a> (условия и документы для поступления)</td>
      </tr>
    </tbody>
  </table>

  <p>&nbsp;</p>

  <table cellpadding="3" cellspacing="0" style="height:79px!important; width:100%">
    <tbody>
      <tr>
        <td style="text-align:center; vertical-align:middle; width:79px"><a style="padding:0!important; height:79px;" href="ums.bsu.by/ru/for-applicants/edu-ru/doct-edu-ru" target="_blank"><img alt="" src="https://physics.bsu.by/media/media/doct-edu_logo.png" style="height:76px; width:76px" /></a></td>
        <td style="vertical-align:middle;"><a href="https://ums.bsu.by/ru/for-applicants/edu-ru/doct-edu-ru" style="display:inline; padding-bottom:0!important; width:fit-content!important; font-size:18px!important; text-decoration:none!important; border-bottom:2px solid #e5bc29;" target="_blank">Управление международных связей БГУ</a> (оформление приглашений для иностранных граждан)</td>
      </tr>
    </tbody>
  </table>

  <p>&nbsp;</p>

  <p style="text-indent:48px!important;"><strong>&bull;&nbsp;</strong><strong>Цель аспирантуры</strong>: подготовка научных работников высшей квалификации, включая написание и подготовку защиты диссертации на соискание учёной степени кандидата наук</p>
  <p style="text-indent:48px!important;"><strong>&bull;&nbsp;</strong><strong>Обучение</strong> &ndash; <u>очное</u> (3 года), <u>заочное</u> (4 года),&nbsp;<u>в форме соискательства</u> (5 лет)</p>
  <p style="text-indent:48px!important;"><strong>Для очной и заочной формы обучения в аспирантуре </strong>при поступлении<strong> </strong>необходимо&nbsp;иметь&nbsp;удостоверение о сдаче кандидатских экзаменов&nbsp;по философии и методологии науки, по русскому языку (для иностранных граждан) либо по иностранному языку (для граждан РБ и РФ), а также по основам информационных технологий.</p>

  <p>&nbsp;</p>

  <p style="text-indent:48px!important;"><strong>&bull;&nbsp;</strong><strong>Требование для поступления в аспирантуру</strong> &ndash; высшее образование на уровне магистра наук</p>
  <p style="text-indent:48px!important;"><strong>&bull;&nbsp;</strong><strong>Обучение в аспирантуре включает</strong> овладение методами и средствами научных исследований, выполнение научных исследований в соответствии с избранной специальностью соответствующей отрасли науки по актуальной теме, систематизацию и обобщение полученных результатов с целью подготовки и защиты диссертации на соискание ученой степени кандидата наук</p>
  <p style="text-indent:48px!important;"><strong>&bull;&nbsp;</strong><strong>Успешное окончание аспирантуры</strong> <strong>включает</strong> сдачу кандидатского экзамена по специальности (при необходимости &ndash; других кандидатских экзаменов и зачёта), публикацию не менее 3 статей в <a href="https://vak.gov.by/node/7173" style="display:inline; padding-bottom:0!important; width:fit-content!important; font-size:18px!important; text-decoration:none!important; border-bottom:2px solid #e5bc29;" target="_blank">научных изданиях из перечня ВАК</a> либо в международных рецензируемых журналах, не менее 1 выступления с научным докладом на конференции, представление подготовленной диссертации для предварительной экспертизы, успешное прохождение предварительной экспертизы</p>
  <p style="text-indent:48px!important;"><strong>&bull;&nbsp;</strong>Мероприятия, связанные с <strong>защитой диссертации</strong>, осуществляются для иностранных граждан на платной основе в период обучения в аспирантуре либо после его завершения на основании отдельного контракта</p>

  <p>&nbsp;</p>

  <table cellpadding="0" cellspacing="0" style="padding-left:48px; width:100%">
    <tbody>
      <tr>
        <td>
        <p><strong>&bull;&nbsp;</strong><strong>Приоритетные специальности:</strong></p>
        <p>01.04.05 Оптика</p>
        <p>01.04.07 Физика конденсированного состояния</p>
        <p>01.04.10 Физика полупроводников</p>
        <p>01.04.14 Теплофизика и теоретическая теплотехника</p>
        <p>01.04.16 Физика атомного ядра и элементарных частиц</p>
        <p>01.04.21 Лазерная физика</p>
        <p>03.01.02 Биофизика</p>
        <p>05.11.07 Оптические и оптико-электронные приборы и комплексы</p>
        </td>
      </tr>
    </tbody>
  </table>

  <p>&nbsp;</p>

  <table cellpadding="0" cellspacing="0" style="padding-left:48px; width:100%">
    <tbody>
      <tr>
        <td>
        <p><strong>&bull;&nbsp;</strong><strong>Другие специальности:</strong></p>
        <p>01.01.01 Вещественный, комплексный и функциональный анализ</p>
        <p>01.01.03 Математическая физика</p>
        <p>01.04.02 Теоретическая физика</p>
        <p>05.11.10 Приборы и методы для измерения ионизирующих излучений и рентгеновские приборы</p>
        <p>13.00.02 Теория и методика обучения и воспитания (физика)</p>
        </td>
      </tr>
    </tbody>
  </table>
 {% endif %}
 {% if LANGUAGE_CODE == "en"%}
    <p style="text-indent:48px!important;"><strong>Ph.D. course</strong> is a program of postgraduate education aimed at training of highly qualified scientists, including writing and preparing the defense of a thesis for Ph.D. academic degree</p>

    <p>&nbsp;</p>

    <table cellpadding="3" cellspacing="0" style="height:76px; width:100%">
      <tbody>
        <tr>
          <td style="text-align:center; vertical-align:middle; width:79px"><a href="ums.bsu.by/images/brochure/phd_eng.pdf" style="padding:0!important; height:79px;" target="_blank"><img alt="" src="https://physics.bsu.by/media/media/phd_logo.png" style="height:76px; width:76px" /></a></td>
          <td><a href="https://ums.bsu.by/images/brochure/phd_eng.pdf" style="display:inline; padding-bottom:0!important; width:fit-content!important; font-size:18px!important; text-decoration:none!important; border-bottom:2px solid #e5bc29;" target="_blank">Information brochure, including pricing</a></td>
        </tr>
      </tbody>
    </table>

    <p>&nbsp;</p>

    <table cellpadding="3" cellspacing="0" style="height:76px; width:100%">
      <tbody>
        <tr>
          <td style="text-align:center; vertical-align:middle; width:79px"><a href="ums.bsu.by/en/for-applicants/edu-en/doct-edu-en" style="padding:0!important; height:79px;" target="_blank"><img alt="" src="https://physics.bsu.by/media/media/doct-edu_logo.png" style="height:76px; width:76px" /></a></td>
          <td><a href="https://ums.bsu.by/en/for-applicants/edu-en/doct-edu-en" style="display:inline; padding-bottom:0!important; width:fit-content!important; font-size:18px!important; text-decoration:none!important; border-bottom:2px solid #e5bc29;" target="_blank">Department of international relations of BSU</a> (issuing invitations and receiving applications)</td>
        </tr>
      </tbody>
    </table>

    <p>&nbsp;</p>

    <p style="text-indent:48px!important;">&bull; <strong>Education</strong>: <u>full-time</u> (3 years), <u>part-time</u> (4 years), <u>degree-seeking</u> (5 years)</p>
    <p style="text-indent:48px!important;">&bull;&nbsp;<strong>Admission requirement</strong>: Master&rsquo;s degree education</p>
    <p style="text-indent:48px!important;">&bull;&nbsp;<strong>Applications are accepted</strong>&nbsp;during the whole year</p>
    <p style="text-indent:48px!important;">&bull;&nbsp;Ph.D. students are provided with <strong>dormitory</strong> (2-3 people in a room)</p>

    <p>&nbsp;</p>

    <p style="text-indent:48px!important;">&bull;&nbsp;<strong>Postgraduate education includes</strong> mastering the methods and means of scientific research, performing scientific research in accordance with the chosen specialty of the relevant branch of science on a relevant topic, systematizing and summarizing the results obtained in order to prepare and defend a Ph.D. thesis. <strong>Studying plan</strong> for foreign doctorate students consists of the following elements:</p>
    <p style="text-indent:48px!important;">1.&nbsp;PhD advising (100 hours/year) followed by a qualifying exam,</p>
    <p style="text-indent:48px!important;">2. Philosophy course (120 hours) followed by a qualifying exam,</p>
    <p style="text-indent:48px!important;">3. &ldquo;Russian as a foreign language&rdquo; course (704 hours in the 1st year; 320 hours in the 2nd year; 240 hours in the 3rd year) followed by a qualifying exam,</p>
    <p style="text-indent:48px!important;">4. &ldquo;Basic information technologies&rdquo; studying course (72 hours) followed by a differentiated credit.</p>

    <p>&nbsp;</p>

    <p style="text-indent:48px!important;">&bull; <strong>Successful completion</strong> of postgraduate studies includes passing Ph.D. exams, publication of at least 3 articles in the international peer-reviewed journals, at least 1 conference report, presentation of a prepared Ph.D. thesis for the preliminary examination, successful completion of preliminary examination</p>
    <p style="text-indent:48px!important;">&bull; Activities related to the <strong>thesis defense</strong> are carried out on a paid basis during the period of postgraduate study or after its completion on the basis of a separate contract</p>

    <p>&nbsp;</p>

    <table cellpadding="0" cellspacing="0" style="padding-left:48px; width:100%">
      <tbody>
        <tr>
          <td>
          <p>&bull; <strong>Specialties</strong>:</p>
          <p>01.04.02 Theoretical Physics</p>
          <p>01.04.05 Optics</p>
          <p>01.04.07 Condensed Matter Physics</p>
          <p>01.04.10 Semiconductor Physics</p>
          <p>01.04.21 Laser Physics</p>
          <p>03.01.02 Biophysics</p>
          </td>
        </tr>
      </tbody>
    </table>
 {% endif %}

    <p>&nbsp;</p>
    <p>&nbsp;</p>
    </div>
</div>
{% endblock %}
