{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Расписание занятий" %}{% endblock %}


{% block content %}
<div class="pages">
    <div class="container">
        <div class="page_name">{% trans "Расписание занятий" %}</div>

        <a href="http://physics.bsu.by/media/media/Rasp1V3.pdf">{% trans "1 курс" %}</a>
        <a href="http://physics.bsu.by/media/media/Rasp2V3.pdf">{% trans "2 курс" %}</a>
        <a href="http://physics.bsu.by/media/media/Rasp3V3.pdf">{% trans "3 курс" %}</a>
        <a href="http://physics.bsu.by/media/media/Rasp4V3.pdf">{% trans "4 курс" %}</a>
        <a href="http://physics.bsu.by/media/media/Rasp5V3.pdf">{% trans "5 курс" %}</a>
        <br>
        {% trans "последнее обновление" %}: 19.10.2020 (пн), 11:50
    </div>
</div>
{% endblock %}