{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Расписание занятий" %}{% endblock %}


{% block content %}
<div class="pages">
    <div class="container">
        <div class="page_name">{% trans "Расписание занятий" %}</div>
        <a href="https://physics.bsu.by/media/media/Rasp1v28_2023.pdf">{% trans "1 курс" %}</a>
        <a href="https://physics.bsu.by/media/media/Rasp2v28_2023.pdf">{% trans "2 курс" %}</a>
        <a href="https://physics.bsu.by/media/media/Rasp3v28_2023.pdf">{% trans "3 курс" %}</a>
        <a href="https://physics.bsu.by/media/media/Rasp4v28_2023.pdf">{% trans "4 курс" %}</a>
        <a href="https://physics.bsu.by/media/media/Rasp5v28_2023.pdf">{% trans "5 курс" %}</a>
        
        <br>
<!--         <a href="https://docs.google.com/spreadsheets/d/1R5CXicWuFGSfxOTvPOyyA-pBHsYHtnaqA0AQ-eLg5Rs/edit#gid=1736666292">{% trans "Расписание магистратуры" %}</a> -->
        <br>
        <a href="https://physics.bsu.by/media/media/Raspisaniye-Magistratury-2023-2024_Materialovedeniye.pdf">{% trans "Расписание магистратуры 2023-2024 (специальность 'Физика' - Физическое материаловедение)" %}</a>
        <a href="https://physics.bsu.by/media/media/Raspisaniye-Magistratury-2022-2023_Prikladnaya-fizika-2-kurs.pdf">{% trans "Расписание магистратуры 2022-2023, 2 курс (специальность 'Прикладная физика' - Функциональные наноматериалы)" %}</a>
        <a href="https://physics.bsu.by/media/media/_magistratura-2022-2023__Prikladnaya-fizika_Funktsionalnyje-nanomaterialy.pdf">{% trans "Расписание магистратуры 2023-2024 (специальность 'Физика' - Фотоника)" %}</a>
        <br>
        <br>
        <a href="https://physics.bsu.by/media/media/_magistratura-2022-2023__Prikladnaya-fizika_Funktsionalnyje-nanomaterialy.pdf">{% trans "Расписание магистратуры (специальность 'Прикладная физика' - Функциональные наноматериалы)" %}</a>
        <a href="https://physics.bsu.by/media/media/_magistratura-2022-2023__Fizika_Lazery-i-prikladnaya-spektroskopiya.pdf">{% trans "Расписание магистратуры (специальность 'Физика' - Лазеры и прикладная спектроскопия)" %}</a>
        <br>
        {% trans "последнее обновление" %}: 08.12.2023 (пятница), 19:15
    </div>
</div>
{% endblock %}
