{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Расписание экзаменов" %}{% endblock %}


{% block content %}
<div class="pages">
    <div class="container">
        <div class="page_name">{% trans "Расписание экзаменов и консультаций" %}</div>

        <a href="https://physics.bsu.by/media/media/ekz2021.PDF">{% trans "Расписание экзаменов" %}</a>
        <a href="https://physics.bsu.by/media/media/kons2021.pdf">{% trans "Расписание консультаций" %}</a>

    </div>

</div>
{% endblock %}