{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Расписание занятий" %}{% endblock %}


{% block content %}
<div class="pages">
    <div class="container">
        <div class="page_name">{% trans "Расписание занятий" %}</div>
        последнее обновление: 06.09.2020 (вс), 23:12
        <a href="http://physics.bsu.by/media/media/Rasp1V2.pdf">{% trans "1 курс" %}</a>
        <a href="http://physics.bsu.by/media/media/Rasp2V2.pdf">{% trans "2 курс" %}</a>
        <a href="http://physics.bsu.by/media/media/Rasp3V2.pdf">{% trans "3 курс" %}</a>
        <a href="http://physics.bsu.by/media/media/Rasp4V2.pdf">{% trans "4 курс" %}</a>
        <a href="http://physics.bsu.by/media/media/Rasp5V2.pdf">{% trans "5 курс" %}</a>
    </div>
</div>
{% endblock %}