{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Тьюторская служба факультета" %}{% endblock %}


{% block content %}
<div class="pages">
  {% get_current_language as LANGUAGE_CODE %}
  <div class="container">
      <div class="page_name">{% trans "Тьюторская служба факультета" %}</div><!-- Вариант перевода на английский язык: 'Tutor service of the Faculty' -->
    
  {% if LANGUAGE_CODE == "ru"%}
      <p>
        С <strong>2021 г.</strong> в Белорусском государственном университете функционирует <strong>тьюторская служба</strong>.<br><br>

        Тьютор факультета призван осуществлять консультативную студентов поддержку с учетом их персональных интересов 
        и потребностей, содействовать в разработке индивидуальной траектории профессионального и личностного роста студентов.
      </p><br>

      <p style="margin-bottom:9px!important;">В <strong>функции</strong> тьютора факультета входит проведение индивидуальных и коллективных консультаций по <strong>вопросам</strong>:</p>
      <ul style="font-style:italic!important;">
        <li>адаптации на факультете;</li>
        <li>проведения промежуточной и итоговой аттестации;</li>
        <li>выбора специализации;</li>
        <li>изучения дополнительных дисциплин;</li>
        <li>участия в научно-исследовательской работе;</li>
        <li>академической мобильности;</li>
        <li>оказания психологической помощи;</li>
        <li>по иным вопросам.</li>
      </ul><br><br>

<table border="1" cellpadding="12" cellspacing="1" style="width:80%;">
	<tbody>
		<tr style="display:flex; flex-direction:row; flex-wrap: wrap!important;">
			<td rowspan="3" style="text-align:left; vertical-align:top; width:50%">
			<p style="margin-bottom: 10px!important;"><strong>Тьютор физического факультета:</strong></p>
			<p><u><a href="https://physics.bsu.by/ru/staff/samarina-mariya-anatolevna/" style="font-size: 18px!important;" target="_blank">Самарина Мария Анатольевна</a></u> Старший преподаватель</p>
			&nbsp;
			<p>Сл.тел: <strong>+375 (17) 259-73-25</strong></p>
			<p>Адрес: <strong>г. Минск, ул. Бобруйская, 5, к. 518</strong></p>
			</td>
			<td rowspan="3" style="text-align:center; vertical-align:top; width:50%"><img alt="" src="https://physics.bsu.by/media/media/staff/%D0%A1%D0%B0%D0%BC%D0%B0%D1%80%D0%B8%D0%BD%D0%B0.jpg" style="height:auto; width:80%" /></td>
		</tr>
	</tbody>
</table>
 {% endif %}
 {% if LANGUAGE_CODE == "en"%}
      <p>
        Since <strong>2021</strong>, a <strong>tutor service</strong> has been operating at the Belarusian State University.<br><br>

        The Faculty tutor is called upon to provide advisory support to students, taking into account their personal interests 
        and needs, to assist in the development of an individual trajectory of professional and personal growth of students.
      </p><br>

      <p style="margin-bottom:9px!important;">The <strong>functions</strong> of the Faculty tutor include conducting individual and collective consultations on the following <strong>issues</strong>:</p> 
      <ul style="font-style:italic!important;">
        <li>adaptation at the Faculty;</li>
        <li>conducting intermediate and final certification;</li>
        <li>choice of specialization;</li>
        <li>studying additional disciplines;</li>
        <li>participation in research work;</li>
        <li>academic mobility;</li>
        <li>providing psychological assistance;</li>
        <li>on other issues.</li>
      </ul><br><br>
    
<table border="1" cellpadding="12" cellspacing="1" style="width:80%;">
	<tbody>
		<tr style="display:flex; flex-direction:row; flex-wrap: wrap!important;">
			<td rowspan="3" style="text-align:left; vertical-align:top; width:50%">
			<p style="margin-bottom: 10px!important;"><strong>Tutor of the Faculty of Physics:</strong></p>
			<p><u><a href="https://physics.bsu.by/ru/staff/samarina-mariya-anatolevna/" style="font-size: 18px!important;" target="_blank">Mariya A. Samarina</a></u> Senior Lecturer</p>
			&nbsp;
			<p>Phone: <strong>+375 (17) 259-73-25</strong></p>
			<p>Address: <strong>Minsk, 5, Bobruiskaya st., room 518</strong></p>
			</td>
			<td rowspan="3" style="text-align:center; vertical-align:top; width:50%"><img alt="" src="https://physics.bsu.by/media/media/staff/%D0%A1%D0%B0%D0%BC%D0%B0%D1%80%D0%B8%D0%BD%D0%B0.jpg" style="height:auto; width:80%" /></td>
		</tr>
	</tbody>
</table>
 {% endif %}
  
    </div>
</div>
{% endblock %}
