{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Конференции" %}{% endblock %}

{% block content %}
<div class="person_template">
    <div class="container">
        <div class="page_name">{% trans "Конференции" %}</div>
        <div class="description">
            <b>{% trans "• На физическом факультете проводятся 4 международных конференции с периодичностью 1 раз в 2 года." %}<br>{% trans "• Сборники всех материалов конференций доступны в" %} <a href="https://elib.bsu.by/handle/123456789/6011">{% trans "электронной библиотеке БГУ" %}.</a><br></b>
        </div>
        <p><br><br></p>
        <div class="person_template_float_wrap col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <img class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="height:140px" src="{% static 'home/assets/images/conf1.jpg' %}">
            <div class="person_template_title" ><a href="https://elib.bsu.by/handle/123456789/6011">{% trans "Материалы и структуры современной электроники" %}</a></div>
            <div class="person_template_text">
                <p>
                    {% trans "Языки: русский, английский" %}<br>
                    {% trans "Материалы включены в БД РИНЦ" %}<br>
                    {% trans "Год следующего проведения" %}: 2022<br>
                </p>
                <br><br>
            </div>
        </div>
        <div class="person_template_float_wrap col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <img class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="height:140px" src="{% static 'home/assets/images/conf2.jpg' %}">
            <div class="person_template_title" ><a href="http://vitt.bsu.by/">{% trans "Взаимодействие излучений с твердым телом" %}</a></div>
            <div class="person_template_text" >
                <p>
                    {% trans "Языки: русский, английский" %}<br>
                    {% trans "Материалы включены в БД РИНЦ" %}<br>
                    {% trans "Подана заявка на включение в SCOPUS" %}<br>
                    {% trans "Год следующего проведения" %}: 2021<br>
                </p>
                <br><br>
            </div>
        </div>
        <div class="person_template_float_wrap col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <img class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="height:140px" src="{% static 'home/assets/images/conf3.jpg' %}">
            <div class="person_template_title" ><a href="https://elib.bsu.by/handle/123456789/6011">{% trans "Молекулярные, мембранные и клеточные основы функционирования биосистем" %}</a></div>
            <div class="person_template_text" >
                <p>
                    {% trans "Языки: русский, английский" %}<br>
                    {% trans "Материалы включены в БД РИНЦ" %}<br>
                    {% trans "Год следующего проведения" %}: 2022<br>
                </p>
                <br><br>
            </div>
        </div>
        <div class="person_template_float_wrap col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <img class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="height:140px" src="{% static 'home/assets/images/conf4.jpg' %}">
            <div class="person_template_title" ><a href="http://fans.j-npcs.org/">{% trans "Основы и достижения теории самоорганизации" %}</a></div>
            <div class="person_template_text" >
                <p>
                {% trans "Язык: английский" %}<br>
                {% trans "По результатам выступлений возможна публикация статьи в журнале «Nonlinear Phenomena in Complex Systems» (SCOPUS, WoS, РИНЦ)" %}<br>
                {% trans "Год следующего проведения" %}: 2022<br>
                </p>
                <br><br>
            </div>
        </div>
    </div>
</div>
{% endblock %}