{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Молодёжные организации факультета" %}{% endblock %}


{% block content %}
<div class="pages">
  {% get_current_language as LANGUAGE_CODE %}
  <div class="container">
      <div class="page_name">{% trans "Молодёжные организации факультета" %}</div>
 
  {% if LANGUAGE_CODE == "ru"%}
      <div>
          <ul>
            <li style="margin-bottom:12px!important;"><a href="https://vk.com/brsm_fiz" style="display:inline; padding-bottom:0!important; width:fit-content!important; font-size:20px!important; text-decoration:none!important; border-bottom:2px solid #e5bc29;" target="_blank">Белорусский республиканский союз молодёжи физического факультета БГУ</a></li>
            <li style="margin-bottom:12px!important;"><a href="https://vk.com/stud_union_fiz" style="display:inline; padding-bottom:0!important; width:fit-content!important; font-size:20px!important; text-decoration:none!important; border-bottom:2px solid #e5bc29;" target="_blank">Студенческий Союз физического факультета БГУ</a></li>
            <li style="margin-bottom:12px!important;"><a href="https://vk.com/sskophys" style="display:inline; padding-bottom:0!important; width:fit-content!important; font-size:20px!important; text-decoration:none!important; border-bottom:2px solid #e5bc29;" target="_blank">Студенческий Совет по качеству образования и науке физического факультета БГУ</a></li>
            <li style="margin-bottom:12px!important; font-size:20px!important;">Совет старост физического факультета БГУ</li>            
            <li style="margin-bottom:12px!important;"><a href="https://vk.com/phys.profburo" style="display:inline; padding-bottom:0!important; width:fit-content!important; font-size:20px!important; text-decoration:none!important; border-bottom:2px solid #e5bc29;" target="_blank">Профбюро студентов физического факультета БГУ</a></li>
            <li style="margin-bottom:12px!important;"><a href="https://vk.com/physyoungscientists" style="display:inline; padding-bottom:0!important; width:fit-content!important; font-size:20px!important; text-decoration:none!important; border-bottom:2px solid #e5bc29;" target="_blank">Совет молодых ученых физического факультета БГУ</a></li>
            <li style="margin-bottom:12px!important;"><a href="https://vk.com/df_bsu" style="display:inline; padding-bottom:0!important; width:fit-content!important; font-size:20px!important; text-decoration:none!important; border-bottom:2px solid #e5bc29;" target="_blank">Оргкомитет Дней Физика, ОКДФ</a></li>
            <li style="margin-bottom:12px!important;"><a href="https://vk.com/ts_fizfak_bsu" style="display:inline; padding-bottom:0!important; width:fit-content!important; font-size:20px!important; text-decoration:none!important; border-bottom:2px solid #e5bc29;" target="_blank">Творческий Союз физического факультета</a></li>
          </ul>
      </div>
 {% endif %}
 {% if LANGUAGE_CODE == "en"%}
      <div>
          <ul>
            <li style="margin-bottom:12px!important;"><a href="https://vk.com/brsm_fiz" style="display:inline; padding-bottom:0!important; width:fit-content!important; font-size:20px!important; text-decoration:none!important; border-bottom:2px solid #e5bc29;" target="_blank">Белорусский республиканский союз молодёжи физического факультета БГУ</a></li>
            <li style="margin-bottom:12px!important;"><a href="https://vk.com/stud_union_fiz" style="display:inline; padding-bottom:0!important; width:fit-content!important; font-size:20px!important; text-decoration:none!important; border-bottom:2px solid #e5bc29;" target="_blank">Студенческий Союз физического факультета БГУ</a></li>
            <li style="margin-bottom:12px!important;"><a href="https://vk.com/sskophys" style="display:inline; padding-bottom:0!important; width:fit-content!important; font-size:20px!important; text-decoration:none!important; border-bottom:2px solid #e5bc29;" target="_blank">Студенческий Совет по качеству образования и науке физического факультета БГУ</a></li>
            <li style="margin-bottom:12px!important; font-size:20px!important;">Совет старост физического факультета БГУ</li>            
            <li style="margin-bottom:12px!important;"><a href="https://vk.com/phys.profburo" style="display:inline; padding-bottom:0!important; width:fit-content!important; font-size:20px!important; text-decoration:none!important; border-bottom:2px solid #e5bc29;" target="_blank">Профбюро студентов физического факультета БГУ</a></li>
            <li style="margin-bottom:12px!important;"><a href="https://vk.com/physyoungscientists" style="display:inline; padding-bottom:0!important; width:fit-content!important; font-size:20px!important; text-decoration:none!important; border-bottom:2px solid #e5bc29;" target="_blank">Совет молодых ученых физического факультета БГУ</a></li>
            <li style="margin-bottom:12px!important;"><a href="https://vk.com/df_bsu" style="display:inline; padding-bottom:0!important; width:fit-content!important; font-size:20px!important; text-decoration:none!important; border-bottom:2px solid #e5bc29;" target="_blank">Оргкомитет Дней Физика, ОКДФ</a></li>
            <li style="margin-bottom:12px!important;"><a href="https://vk.com/ts_fizfak_bsu" style="display:inline; padding-bottom:0!important; width:fit-content!important; font-size:20px!important; text-decoration:none!important; border-bottom:2px solid #e5bc29;" target="_blank">Творческий Союз физического факультета</a></li>
          </ul>
      </div>
{% endif %}

    <p>&nbsp;</p>
    <p>&nbsp;</p>
    
    </div>
</div>
{% endblock %}
