/* Uncomment and set these variables to customize the grid. */

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

.row {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -1rem;
  margin-left: -1rem;
}

.row.reverse {
  -ms-flex-direction: row-reverse;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
}

.col.reverse {
  -ms-flex-direction: column-reverse;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  flex-direction: column-reverse;
}

.col-xs,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  box-sizing: border-box;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

.col-xs {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%;
}

.col-xs-1 {
  -ms-flex-preferred-size: 8.333%;
  flex-basis: 8.333%;
  max-width: 8.333%;
}

.col-xs-2 {
  -ms-flex-preferred-size: 16.667%;
  flex-basis: 16.667%;
  max-width: 16.667%;
}

.col-xs-3 {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%;
}

.col-xs-4 {
  -ms-flex-preferred-size: 33.333%;
  flex-basis: 33.333%;
  max-width: 33.333%;
}

.col-xs-5 {
  -ms-flex-preferred-size: 41.667%;
  flex-basis: 41.667%;
  max-width: 41.667%;
}

.col-xs-6 {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
}

.col-xs-7 {
  -ms-flex-preferred-size: 58.333%;
  flex-basis: 58.333%;
  max-width: 58.333%;
}

.col-xs-8 {
  -ms-flex-preferred-size: 66.667%;
  flex-basis: 66.667%;
  max-width: 66.667%;
}

.col-xs-9 {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%;
}

.col-xs-10 {
  -ms-flex-preferred-size: 83.333%;
  flex-basis: 83.333%;
  max-width: 83.333%;
}

.col-xs-11 {
  -ms-flex-preferred-size: 91.667%;
  flex-basis: 91.667%;
  max-width: 91.667%;
}

.col-xs-12 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

.col-xs-offset-1 {
  margin-left: 8.333%;
}

.col-xs-offset-2 {
  margin-left: 16.667%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-4 {
  margin-left: 33.333%;
}

.col-xs-offset-5 {
  margin-left: 41.667%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-7 {
  margin-left: 58.333%;
}

.col-xs-offset-8 {
  margin-left: 66.667%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-10 {
  margin-left: 83.333%;
}

.col-xs-offset-11 {
  margin-left: 91.667%;
}

.start-xs {
  -ms-flex-pack: start;
  -webkit-box-pack: start;
  justify-content: flex-start;
  text-align: start;
}

.center-xs {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
}

.end-xs {
  -ms-flex-pack: end;
  -webkit-box-pack: end;
  justify-content: flex-end;
  text-align: end;
}

.top-xs {
  -ms-flex-align: start;
  -webkit-box-align: start;
  align-items: flex-start;
}

.middle-xs {
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
}

.bottom-xs {
  -ms-flex-align: end;
  -webkit-box-align: end;
  align-items: flex-end;
}

.around-xs {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.between-xs {
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.first-xs {
  -ms-flex-order: -1;
  -webkit-box-ordinal-group: 0;
  order: -1;
}

.last-xs {
  -ms-flex-order: 1;
  -webkit-box-ordinal-group: 2;
  order: 1;
}

@media only screen and (min-width: 48em) {
  .container {
    width: 46rem;
  }

  .col-sm,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-sm {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-sm-1 {
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%;
  }

  .col-sm-2 {
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%;
  }

  .col-sm-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-sm-4 {
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
  }

  .col-sm-5 {
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%;
  }

  .col-sm-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-sm-7 {
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%;
  }

  .col-sm-8 {
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%;
  }

  .col-sm-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-sm-10 {
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%;
  }

  .col-sm-11 {
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%;
  }

  .col-sm-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-sm-offset-1 {
    margin-left: 8.333%;
  }

  .col-sm-offset-2 {
    margin-left: 16.667%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-offset-4 {
    margin-left: 33.333%;
  }

  .col-sm-offset-5 {
    margin-left: 41.667%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-offset-7 {
    margin-left: 58.333%;
  }

  .col-sm-offset-8 {
    margin-left: 66.667%;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-offset-10 {
    margin-left: 83.333%;
  }

  .col-sm-offset-11 {
    margin-left: 91.667%;
  }

  .start-sm {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-sm {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
  }

  .end-sm {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .top-sm {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
  }

  .middle-sm {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
  }

  .bottom-sm {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end;
  }

  .around-sm {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .between-sm {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }

  .first-sm {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1;
  }

  .last-sm {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1;
  }
}

@media only screen and (min-width: 62em) {
  .container {
    width: 61rem;
  }

  .col-md,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-md {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-md-1 {
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%;
  }

  .col-md-2 {
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%;
  }

  .col-md-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-md-4 {
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
  }

  .col-md-5 {
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%;
  }

  .col-md-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-md-7 {
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%;
  }

  .col-md-8 {
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%;
  }

  .col-md-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-md-10 {
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%;
  }

  .col-md-11 {
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%;
  }

  .col-md-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-md-offset-1 {
    margin-left: 8.333%;
  }

  .col-md-offset-2 {
    margin-left: 16.667%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-offset-4 {
    margin-left: 33.333%;
  }

  .col-md-offset-5 {
    margin-left: 41.667%;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-offset-7 {
    margin-left: 58.333%;
  }

  .col-md-offset-8 {
    margin-left: 66.667%;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-offset-10 {
    margin-left: 83.333%;
  }

  .col-md-offset-11 {
    margin-left: 91.667%;
  }

  .start-md {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-md {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
  }

  .end-md {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .top-md {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
  }

  .middle-md {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
  }

  .bottom-md {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end;
  }

  .around-md {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .between-md {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }

  .first-md {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1;
  }

  .last-md {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1;
  }
}

@media only screen and (min-width: 75em) {
  .container {
    width: 71rem;
  }

  .col-lg,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-lg {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-lg-1 {
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%;
  }

  .col-lg-2 {
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%;
  }

  .col-lg-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
  }

  .col-lg-5 {
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%;
  }

  .col-lg-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%;
  }

  .col-lg-8 {
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%;
  }

  .col-lg-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-lg-10 {
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%;
  }

  .col-lg-11 {
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%;
  }

  .col-lg-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-lg-offset-1 {
    margin-left: 8.333%;
  }

  .col-lg-offset-2 {
    margin-left: 16.667%;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-offset-4 {
    margin-left: 33.333%;
  }

  .col-lg-offset-5 {
    margin-left: 41.667%;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-offset-7 {
    margin-left: 58.333%;
  }

  .col-lg-offset-8 {
    margin-left: 66.667%;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-offset-10 {
    margin-left: 83.333%;
  }

  .col-lg-offset-11 {
    margin-left: 91.667%;
  }

  .start-lg {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-lg {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
  }

  .end-lg {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .top-lg {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
  }

  .middle-lg {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
  }

  .bottom-lg {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end;
  }

  .around-lg {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .between-lg {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }

  .first-lg {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1;
  }

  .last-lg {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1;
  }
}
.dekanat{background-color:#fff;padding:50px 0}.dekanat .page{text-align:left;padding-bottom:70px}.dekanat .page .title{font-size:25px;font-weight:700;padding:10px 0 20px 0}.dekanat .page .description{font-size:20px;padding-bottom:20px}.pageNews{padding:50px 0}.pageNews img{margin-bottom:10px}.pageNews a{color:#000;padding:15px 0}.pageNews a:hover{box-shadow:0 0 10px 0 #000}.pageNews a .title{font-size:25px;font-weight:700;padding-bottom:20px}.pageNews a .description{font-size:20px;padding-bottom:20px}@font-face{font-family:"IBM Plex Sans";font-style:normal;font-weight:300;font-display:swap;src:local("IBM Plex Sans Light"),local("IBMPlexSans-Light"),url(./assets/fonts/f493f024790547709df83f4fdf86bdc8.woff2) format("woff2");unicode-range:U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F}@font-face{font-family:"IBM Plex Sans";font-style:normal;font-weight:300;font-display:swap;src:local("IBM Plex Sans Light"),local("IBMPlexSans-Light"),url(./assets/fonts/3b222a52d236e8e497292047707bff99.woff2) format("woff2");unicode-range:U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116}@font-face{font-family:"IBM Plex Sans";font-style:normal;font-weight:400;font-display:swap;src:local("IBM Plex Sans"),local("IBMPlexSans"),url(./assets/fonts/35525dfd155f15b564cba3fbc650a268.woff2) format("woff2");unicode-range:U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F}@font-face{font-family:"IBM Plex Sans";font-style:normal;font-weight:400;font-display:swap;src:local("IBM Plex Sans"),local("IBMPlexSans"),url(./assets/fonts/4d1294a36826a6c369dc3aa8a010cea2.woff2) format("woff2");unicode-range:U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116}@font-face{font-family:"IBM Plex Sans";font-style:normal;font-weight:400;src:local("IBM Plex Sans"),local("IBMPlexSans"),url(./assets/fonts/b9798faab1891d5a2450b20d05a4c7c2.woff2) format("woff2");unicode-range:U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF}@font-face{font-family:"IBM Plex Sans";font-style:normal;font-weight:400;src:local("IBM Plex Sans"),local("IBMPlexSans"),url(./assets/fonts/d55c14f89d051401dc636fe6e23514e3.woff2) format("woff2");unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD}@font-face{font-family:"IBM Plex Sans";font-style:normal;font-weight:600;font-display:swap;src:local("IBM Plex Sans SemiBold"),local("IBMPlexSans-SemiBold"),url(./assets/fonts/7ca7895d6e0cfaee87f74395109c8272.woff2) format("woff2");unicode-range:U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F}@font-face{font-family:"IBM Plex Sans";font-style:normal;font-weight:600;font-display:swap;src:local("IBM Plex Sans SemiBold"),local("IBMPlexSans-SemiBold"),url(./assets/fonts/15115ec51eac57cfa47a91d4e1877044.woff2) format("woff2");unicode-range:U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116}@font-face{font-family:"IBM Plex Sans";font-style:normal;font-weight:700;font-display:swap;src:local("IBM Plex Sans Bold"),local("IBMPlexSans-Bold"),url(./assets/fonts/2cce6695463dff1d7f209d7b5ee42bdc.woff2) format("woff2");unicode-range:U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F}@font-face{font-family:"IBM Plex Sans";font-style:normal;font-weight:700;font-display:swap;src:local("IBM Plex Sans Bold"),local("IBMPlexSans-Bold"),url(./assets/fonts/ae20eff5612e8e548d119de8fcc319fa.woff2) format("woff2");unicode-range:U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116}.header{display:flex;justify-content:center;background-color:#000;color:#fff;font-size:20px;height:90px;position:relative}.header__logo{display:flex;align-items:center;color:#fff}.header__logo p{text-transform:uppercase}.header_menu{display:flex;justify-content:flex-end;color:#fff}.header_active{display:none}.nav{position:absolute;top:88px;background-color:#000;width:100%;padding:20px 0 50px 0}.nav p{color:#e5bc29;font-weight:600;font-size:20px;padding-bottom:10px}.nav a{color:#fff;font-weight:300;font-size:15px;line-height:21px}.nav a:hover{font-size:18px}.nav .position{display:flex;flex-direction:column}.nav .youtube{display:flex;justify-content:center;align-items:center;background-color:#e5bc29;border-radius:50%;width:40px;height:40px;font-size:30px;color:#000}.nav .header_icon{display:flex;padding-top:40px}.nav .header_icon a{margin-right:15px}.nav .header_icon a:hover{font-size:30px}.nav .icon_size{font-size:40px}.active{display:none}.footer{background-color:#000;padding:70px 0 50px 0}.footer img{margin-right:63px}.footer .jBsu{width:33%;margin-right:39px}.footer .block{display:flex;align-items:center;margin-bottom:50px}.footer .title{font-size:20px;color:#fff;text-align:left}.footer .footer_icon{display:flex;justify-content:center}.footer .footer_icon .icon_size{font-size:40px}.footer .footer_icon .youtube{display:flex;justify-content:center;align-items:center;background-color:#e5bc29;border-radius:50%;width:40px;height:40px;font-size:30px;color:#000}.footer .footer_icon a{margin:0 10px}.spec{padding:50px 0}.spec a:hover{color:#e5bc29}.spec a:hover p{color:#000}.spec a:hover span{color:#000}.spec .title{color:#000;font-size:20px;font-weight:600;margin-bottom:20px;display:block}.spec .title span{font-weight:400}.spec .title ul{padding-top:15px;font-weight:400;padding-bottom:50px}.spec .inf{display:none}.spec .inf p{font-size:20px;font-weight:400;padding:20px 0}.specActive{display:block !important}*{margin:0;box-sizing:border-box}body{font-family:"IBM Plex Sans",sans-serif;font-size:18px;font-weight:400;color:#000;background-color:#000}._icon{display:none}.icon{width:1em;height:1em;fill:currentColor}a{text-decoration:none}.container{padding:0 10px;margin:0 auto}.logoff{width:80px;height:50px;fill:#fff;margin-right:5px}.header__logotype{height:250px;width:90%}.header__image{background-image:url(./assets/images/6d5efc7944d994d7165ca868a33768df.png);background-repeat:no-repeat;background-position:center;background-size:cover;height:900px;display:flex;justify-content:center;align-items:center}.button_more{background-color:#000;padding:10px 35px;font-size:25px;color:#fff}.page_name{padding-bottom:50px;font-size:30px;font-weight:700}.main{padding:60px 0}.main a{cursor:pointer;color:#000;display:flex;align-items:center;justify-content:center;font-family:"Times New Roman",sans-serif;font-weight:bold;font-size:35px;height:270px;padding:0 20px;margin-bottom:50px}.main a:hover{color:#fff}.main p{background-color:#e5bc29;padding:10px 15px}.main .main_card1{background-image:url(./assets/images/57b323249e057cedf4d888b0639b6401.png)}.main .main_card2{background-image:url(./assets/images/e07783b06df117a368d9ccb3a33de019.png)}.main .main_card3{background-image:url(./assets/images/cb75e7fa8fe31c9d4818a3fe995bff88.png)}.main .main_card4{background-image:url(./assets/images/a7fb1d366d33896b6ca7aa07b541c5f5.png)}.main .main_card5{background-image:url(./assets/images/bbb7a3c198fa433fcfb48d9e4ea66fdc.png)}.main .main_card6{background-image:url(./assets/images/a4251782c1433563451d2e5c638b2aeb.png)}.main .main_bg{background-repeat:no-repeat;background-position:center;background-size:cover;display:flex;align-items:center;justify-content:center;width:100%;height:100%}.news{padding:20px 0 30px 0}.news img{width:100%}.news .news_position{position:relative}.news .news_inf{background-color:#e5bc29;width:100%;padding:25px 13px;margin-top:15px}.news .news_inf .title{font-weight:700;font-size:22px;padding-bottom:30px}.news .news_inf .description{font-size:22px;padding-bottom:50px;display:none}.news .news_inf .news_button{display:flex;flex-direction:column;text-align:center}.news .news_inf .news_more{color:#fff;border-bottom:2px solid #fff;font-size:20px;margin:20px 0 0 0;display:none}.event{background-color:#e5bc29;padding:20px 0 30px 0}.event .event_position{position:relative;display:flex;flex-direction:column;align-items:flex-end}.event img{width:100%}.event .event_inf{background-color:#fff;width:100%;padding:30px;margin-top:15px}.event .event_inf .title{font-weight:700;font-size:22px;padding-bottom:30px}.event .event_inf .description{font-size:22px;padding-bottom:40px}.event .event_inf .event_list{display:flex;flex-direction:column;line-height:60px;padding-bottom:20px}.numbers{color:#fff;text-align:center;padding-top:100px}.numbers .numbers_title{font-weight:700;font-size:25px;padding-bottom:40px}.numbers .title{display:inline-flex;font-size:95px;padding:10px 30px}.numbers .description{font-size:25px}.numbers .prime_bg{background-color:#e5bc29;color:#000}.numbers .news_block .block{padding:8px 0;margin-bottom:90px}.publication{background-color:#e5bc29;padding:80px 0;text-align:center}.publication .publication_title{font-weight:700;font-size:25px;padding-bottom:40px}.publication img{width:80%;padding-bottom:20px}.publication .publication_page{padding-bottom:70px}.publication .description{font-size:25px;text-align:left;padding:0 40px}.publication .publication_none{display:none}.people{background-color:#e5bc29;padding:80px 0;text-align:center}.people img{padding-bottom:20px;width:80%}.people .people_title{font-weight:700;font-size:25px;padding-bottom:40px}.people .people_page{padding-bottom:70px}.people .people_page .block{background-color:#fff;padding:30px 35px 50px 35px;box-sizing:unset}.people .people_page .block .title{font-size:20px;font-weight:700;margin:0 -8px;text-align:left}.people .people_page .block .about{text-align:left;margin:0 -8px;font-size:20px;padding-bottom:10px}.people .people_page .block .description{font-size:15px;text-align:left;margin:0 -8px}.people .publication_none{display:none}@media only screen and (min-width: 48em){.news img{width:100%}.news .news_inf{padding:25px 100px;width:100%;margin-top:15px}.news .news_inf .title{font-size:22px}.news .news_inf .description{display:none}.news .news_inf .news_button{display:flex;flex-direction:row;align-items:center;justify-content:center}.news .news_inf .news_more{display:flex;margin:0 0 0 70px}.event .event_inf{padding:25px 100px;width:100%;margin-top:15px}.event .event_inf .title{font-size:22px}.publication .publication_none{display:none}.people .publication_none{display:none}.footer .jBsu{width:12%;margin-right:39px}}@media only screen and (min-width: 64em){.news{padding:50px 0 350px 0}.news img{width:60%}.news .news_inf{padding:25px 80px 33px 80px;position:absolute;right:0;top:50%;width:60%;margin-top:0}.news .news_inf .title{font-size:22px}.news .news_inf .description{font-size:20px;display:block}.news .news_inf .news_button{display:flex;flex-direction:row;align-items:center}.news .news_inf .news_more{display:flex;margin:0 0 0 70px}.event{padding:50px 0 350px 0}.event img{width:60%}.event .event_inf{padding:25px 80px 33px 80px;position:absolute;left:0;top:50%;width:60%;margin-top:0}.event .event_inf .title{font-size:22px}.event .event_inf .description{font-size:20px;display:block}.event .event_inf .event_list{flex-direction:row}.publication .publication_none{display:block}.people .publication_none{display:block}.footer .jBsu{width:33%;margin-right:39px}}@media only screen and (min-width: 75em){.news{padding:50px 0 350px 0}.news img{width:60%}.news .news_inf{padding:30px 90px 50px 90px;position:absolute;right:0;top:50%;width:60%;margin-top:0}.news .news_inf .news_button{display:flex;flex-direction:row;align-items:center}.news .news_inf .title{font-size:30px}.news .news_inf .description{display:block}.news .news_inf .news_more{display:flex;margin:0 0 0 70px}.event{padding:50px 0 350px 0}.event img{width:60%}.event .event_inf{padding:30px 90px 50px 90px;position:absolute;left:0;top:50%;width:60%;margin-top:0}.event .event_inf .title{font-size:30px}.event .event_inf .description{display:block}.event .event_inf .event_list{flex-direction:row}.publication .publication_none{display:block}.people .publication_none{display:block}}
