<div class="newsModel_button" style="color:#000000; font-size:20px;">
    {% if page.has_previous %}
    <a href="?page={{page.previous_page_number}}">Предыдущая страница</a>
    {% endif %}
    {% if page.has_next %}
    <a href="?page={{ page.next_page_number }}">Следующая страница</a>
    {% endif %}
</div>

<!--<div class="pagination">
    <span class="step-links">
        {% if page.has_previous %}
            <a href="?page={{page.previous_page_number}}">Previous</a>
        {% endif %}
        <span class="current">
            Page {{ page.number }} of {{ page.paginator.num_pages }}.
        </span>
        {% if page.has_next %}
            <a href="?page={{ page.next_page_number }}">Next</a>
        {% endif %}
    </span>
</div> -->