{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{{ staff.name }}{% endblock %}

{% block content %}
<div class="person_template">
    <div class="container">
        <div class="person_template_float_wrap col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <img class="col-lg-6 col-md-6 col-sm-12 col-xs-12" src="{{ staff.image.url }}">
            <div class="person_template_title">{{ staff.name }}</div>
            <div class="person_template_text"><p><span class="person_template_bold">{% trans "Занимаемая должность" %}:</span> {{ staff.position }}</p>
                <p><span class="person_template_bold">{% trans "Степень, учёное звание" %}:</span>{{ staff.academic_rank }}</p>
                <p><span class="person_template_bold">{% trans "Специализация" %}:</span> {{ staff.get_specialization_display }}</p>
                <p><span class="person_template_bold">{% trans "Контактная информация" %}:</span><br>{% trans "Адрес" %}: {{ staff.address }}<br>{% trans "Телефон" %}: {{ staff.phone }}<br>E-mail: {{ staff.email }}</p><br><br>
                <p><span class="person_template_bold">{% trans "Краткая информация" %}:</span>{{ staff.description| safe  }}</p><br><br><br><br>

            </div>
        </div>
    </div>
</div>
{% endblock %}