{% extends 'header_6.html' %}

{% load static %}


{% load i18n %}

{% block title %}{% trans "Учебно-научная астрономическая лаборатория" %}{% endblock %}

{% block content %}

<div class="observatory">
    <div class="container">
        <div class="title">Учебно-научная астрономическая лаборатория</div>
        <div class="row center-lg center-md center-sm center-xs">
            <a class="col-lg-4 col-xs-12 col-md-6 col-sm-6" href="employee/">
            <div class="observatory_bg observatory_card1"><img
                    src="{% static 'home/assets/images/2ce6cd15e37839c7531302b7bfbff4dc.jpg' %}">
                <p>Сотрудники</p></div>
        </a><a class="col-lg-4 col-xs-12 col-md-6 col-sm-6" href="equipment/">
            <div class="observatory_bg observatory_card2"><img
                    src="{% static 'home/assets/images/52c17371977ce3c15485b1457f4caafa.jpg' %}">
                <p>Оборудование</p></div>
        </a><a class="col-lg-4 col-xs-12 col-md-6 col-sm-6" href="#">
            <div class="observatory_bg observatory_card3"><img
                    src="{% static 'home/assets/images/646ee7b6a12929f4a3f101358e4264dd.jpg' %}">
                <p> Научные направления</p></div>
        </a><a class="col-lg-4 col-xs-12 col-md-6 col-sm-6" href="#">
            <div class="observatory_bg observatory_card4"><img
                    src="{% static 'home/assets/images/47a41f0a5905beb2e1e423e92182f51e.jpg' %}">
                <p> Учебно-методическая деятельность</p></div>
        </a><a class="col-lg-4 col-xs-12 col-md-6 col-sm-6" href="science-pop/">
            <div class="observatory_bg observatory_card5"><img
                    src="{% static 'home/assets/images/a0c5363a73769dcddaa6b8b7591fc7ff.jpg' %}">
                <p> Популяризация научных знаний</p></div>
        </a><a class="col-lg-4 col-xs-12 col-md-6 col-sm-6" href="publications/">
            <div class="observatory_bg observatory_card6"><img
                    src="{% static 'home/assets/images/27179828c570e448eda3085dc7bb29b3.jpg' %}">
                <p> Публикации</p></div>
        </a><a class="col-lg-4 col-xs-12 col-md-6 col-sm-6" href="#">
            <div class="observatory_bg observatory_card6"><img
                    src="{% static 'home/assets/images/503ccfd4335c0203d676a9c6d8515e6a.jpg' %}">
                <p> Научные результаты</p></div>
        </a><a class="col-lg-4 col-xs-12 col-md-6 col-sm-6" href="#">
            <div class="observatory_bg observatory_card6"><img
                    src="{% static 'home/assets/images/a6610f9f14b63a82f701809c624548f6.jpg' %}">
                <p> Образовательный астрономический ресурс</p></div>
        </a><a class="col-lg-4 col-xs-12 col-md-6 col-sm-6" href="contacts/">
            <div class="observatory_bg observatory_card6"><img
                    src="{% static 'home/assets/images/9137dbbacf6b83548399fb5401b1a079.jpg' %}">
                <p> Контакты</p></div>
        </a></div>
    </div>
</div>

{% endblock %}