{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Популяризация научных знаний" %}{% endblock %}

{% block content %}
<div class="pages">
    <div class="container">
        <div class="page_name">{% trans "Популяризация научных знаний" %}</div>
        <br>
        <div class="inf center-lg row col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <img src="{% static 'home/assets/images/MIFF1.jpg' %}">
            </div>
        </div>
        <br>
        <a href="#">{% trans "Научно-популярные лекции по физике и астрономии в Минском планетарии и на Фестивалях науки" %}</a>
        <a href="#">{% trans "Участие в жюри Международного фестиваля полнокупольного кино" %}</a>
        <br>

    </div>
</div>
{% endblock %}
