{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Сотрудники" %}{% endblock %}

{% block content %}

<div class="dekanat">
    <div class="container">
        <div class="page_name">{% trans "Сотрудники" %}</div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <img src="{% static 'home/assets/images/obs1.jpg' %}"></div>
            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="title">Шундалов Максим Борисович</div>
                <div class="description">доцент кафедры физической оптики и прикладной информатики,<br> к. ф.-м. н.</div>
                <div class="description">
                    <p>E-mail: shundalau@bsu.by</p></div>
            </div>
        </div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <img src="{% static 'home/assets/images/obs2.jpg' %}"></div>
            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="title">Горенков Виктор Николаевич</div>
                <div class="description">ведущий инженер</div>
                <div class="description">
                    <p>E-mail: harankou@bsu.by</p></div>
            </div>
        </div>
        <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <img src="{% static 'home/assets/images/obs3.jpg' %}"></div>
            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="title">Коваленко Максим Николаевич</div>
                <div class="description">заведующий НИЛ «Спектроскопические системы»</div>
                <div class="description">
                    <p>E-mail: kovalenkoM@bsu.by</p></div>
            </div>
        </div>
<!--         <div class="page row center-lg center-md center-sm center-xs">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <img src="{% static 'home/assets/images/obs4.jpg' %}"></div>
            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="title"></div>
                <div class="description">специалист по учебному оборудованию</div>
                <div class="description"></div>
            </div>
        </div> -->

    </div>
</div>
{% endblock %}
