{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Minsk International Fulldome Festival (MIFF)" %}{% endblock %}

{% block content %}
<div class="pages">
    <div class="container">
        <div class="page_name">{% trans "Minsk International Fulldome Festival (MIFF) " %}</div>
        <a href="https://miff.planetarium.by/">{% trans "Minsk International Fulldome Festival (MIFF)" %}</a>
        <a href="https://miff.planetarium.by/miff-programme-2019/">{% trans "MIFF-2019" %}</a>
        <a href="https://miff.planetarium.by/programme-2018/">{% trans "MIFF-2018" %}</a>

        <br>

    </div>
</div>
{% endblock %}
