{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Научные результаты" %}{% endblock %}

{% block content %}
<div class="mainInf">
    <div class="container">
        <div class="page_name">{% trans "Научные результаты" %}</div>
        <div class="inf center-lg row">
            <div class="description"><ul>
                <li>предложен двухволновой (3.7 и 11.0 мкм) метод измерения спектральной энергетической яркости облаков, позволяющий определить фазовое состояние облака и основные размеры водяных капель или ледяных частиц;</li>
                <li>разработана модифицированная статистическая модель шума фона безоблачного неба, обусловленного энергетической яркостью его неоднородностей в средней ИК-области спектра;</li>
                <li>предложена и обоснована гипотеза о конвективном происхождении неконденсационных (невидимых) облаков;</li>
                <li>выявлена блочная структура кометы Хейла-Боппа и предложен механизм, объясняющий появление у кометы натриевого хвоста;</li>
                <li>проанализированы процессы самоорганизации конденсированной фазы межзвездной среды и предложена модель фотоконденсации около звездной среды в комплексной плазме (пылевые частицы + электронно-атомный газ), в которой основным механизмом фотоконденсации углеродных и силикатных частиц межзвездной среды является понижение энергии молекулярной связи в поле излучения;</li>
                <li>построена модель деформации джетов активных галактических ядер вследствие их взаимодействия с темной материей гало галактик;</li>
                <li>исследован процесс генерации магнитного поля в аккреционных дисках вокруг сверхмассивных черных дыр в ядрах галактик;</li>
                <li>разработана концепция астрономического образования в Беларуси;</li>
                <li>собраны и идентифицированы микрочастицы внеземного происхождения (микрометеориты);</li>
                <li>исследован минеральный состав каменной части метеорита «Брагин»</li>

            </ul></div>
            <div class="description"></div>
            <div class="description"></div>

        </div>
    </div>
</div>

{% endblock %}