{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Популяризация научных знаний" %}{% endblock %}

{% block content %}
<div class="pages">
    <div class="container">
        <div class="page_name">{% trans "Популяризация научных знаний" %}</div>


        <br>
        <a href="#">{% trans "Научно-популярные лекции по физике и астрономии в Минском планетарии и на Фестивалях науки" %}</a>
        <a href="#">{% trans "Участие в жюри Международного фестиваля полнокупольного кино" %}</a>
        <br>

    </div>
</div>
{% endblock %}
