{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Учебные пособия" %}{% endblock %}

{% block content %}
<div class="mainInf">
    <div class="container">
        <div class="page_name">{% trans "Учебные пособия" %}</div>
        <div class="inf center-lg row col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <img style="width:200px; margin:5px" src="{% static 'home/assets/images/obsBooks.jpg' %}">
            </div>
            <div class="description">
                1. Г.И. Касперович, В.И. Шупляк, М.Б. Шундалов. Основы современного естествознания. Минск, 2020.
            </div>
            <div class="description">
                2. В.И. Шупляк, М.Б. Шундалов, А.П. Клищенко, В.В. Малыщиц. Астрономия. Минск, Вышэйшая школа, 2016, 310 стр. - <a class="inline_button" href="https://www.litres.ru/a-p-klischenko/astronomiya-24063652/ ">Ссылка на пособие</a>
            </div>

        </div>
    </div>
</div>

{% endblock %}