{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Контакты" %}{% endblock %}

{% block content %}
<div class="mainInf">
    <div class="container">
        <div class="page_name">Контакты</div>
        <div class="inf center-lg row center-md center-sm center-xs">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <iframe class="col-lg-12 col-md-12 col-sm-12 col-xs-12" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2351.216072498721!2d27.546275851580365!3d53.89236337999937!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbcfdd8df52d67%3A0x6970b5829cef3324!2z0YPQuy4g0JvQtdC90LjQvdCz0YDQsNC00YHQutCw0Y8gMjAsINCc0LjQvdGB0Lo!5e0!3m2!1sru!2sby!4v1603442720642!5m2!1sru!2sby" width="800" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                <br>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="description">
                    Учебно-научная астрономическая лаборатория<br>Кафедра физической оптики и прикладной информатики<br>
                    Физический факультет<br>Белорусский государственный университет
                </div>
                <div class="description">Адрес: Беларусь, г. Минск, ул. Ленинградская, 20, к. 1303</div><br>
                <div class="description">Почтовый адрес: Беларусь, 220030, г. Минск, пр. Независимости, 4</div><br>
                <div class="description">Тел. +375 17 226 57 71<br>E-mail: shundalau@bsu.by</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}