{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Научные направления" %}{% endblock %}

{% block content %}
<div class="mainInf">
    <div class="container">
        <div class="page_name">{% trans "Научные направления" %}</div>
        <div class="inf center-lg row">
            <div class="col-lg-12">
                <img style="width:200px; margin:5px" src="{% static 'home/assets/images/mm1-1.jpg' %}">
                <img style="width:200px; margin:5px" src="{% static 'home/assets/images/mm2-1.jpg' %}">
                <img style="width:200px; margin:5px" src="{% static 'home/assets/images/mm3-1.jpg' %}">
                <img style="width:200px; margin:5px" src="{% static 'home/assets/images/mm4-1.jpg' %}">
                <img style="width:200px; margin:5px" src="{% static 'home/assets/images/mm5-1.jpg' %}">
                <img style="width:200px; margin:5px" src="{% static 'home/assets/images/mm6-1.jpg' %}">
                <img style="width:200px; margin:5px" src="{% static 'home/assets/images/mm7-1.jpg' %}">
                <img style="width:200px; margin:5px" src="{% static 'home/assets/images/mm8-1.jpg' %}">
                <img style="width:200px; margin:5px" src="{% static 'home/assets/images/mm9-1.jpg' %}">
                <img style="width:200px; margin:5px" src="{% static 'home/assets/images/mm10-1.jpg' %}">

            </div><br>
            <div class="description"><ul>
                <li>оптика природных объектов;</li>
                <li>астроклиматические исследования; </li>
                <li>физика межзвездной среды;</li>
                <li>малые тела Солнечной системы и метеорное вещество; </li>
                <li>влияние солнечной активности на погоду и климат; </li>
                <li>нестационарные явления во внегалактических объектах; </li>
                <li>моделирование формирования органических соединений на поверхности твёрдых частиц в условиях глубокого космоса;</li>
                <li>поиск и идентификация микрометеоритов</li>
            </ul></div>
            <div class="description"></div>
            <div class="description"></div>

        </div>
    </div>
</div>

{% endblock %}