{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Статьи в научных журналах" %}{% endblock %}

{% block content %}
<div class="mainInf pages">
    <div class="container">
        <div class="page_name">{% trans "Статьи в научных журналах" %}</div>
        <div class="inf center-lg row">
            <div class="description">
                <ol>
                    <li><a href="https://doi.org/10.1007/s10509-016-2699-y">A.L. Poplavsky. Convergence and shear statistics in galaxy clusters as result of Monte Carlo simulations. Astrophys. Space Sci., 2016, Vol. 361, 113.</a></li>
                    <li><a href="http://innosfera.by/files/2013/3.pdf">О. Кузнечик. Спектроскопия в астрономии. Пространственные неоднородности энергетической яркости безоблачного неба в средней ИК-области спектра. Наука и инновации, 2013, №3, С. 18–20.</a> </li>
                    <li><a href="https://elib.bsu.by/bitstream/123456789/166974/1/Глинисты_3_2013-044-047.pdf">А.В. Глiнiсты, В.В. Малышчыц, Г.Ф. Стэльмах, М.Б. Шундалаў, В.I. Шупляк. Сучасны мультымедыйны навучальны комплекс па астраномii. Вышэйшая школа, 2013, № 3, С. 44–47.</a> </li>
                    <li><a href="https://www.sciencedirect.com/science/article/abs/pii/S1384107611001333">A.L. Poplavsky. On the interaction of jet plasma with dark matter subhaloes in active galaxies. New Astronomy, 2012, Vol. 17, P. 362-367.</a> </li>
                    <li><a href="http://www.j-npcs.org/abstracts/vol2011/v14no4/v14no4p377.html">A.L. Poplavsky, O.P. Kuznechik. Interaction of Active Galactic Jets with Dark Matter Substructures. Nonlinear Phenomena in Complex Systems, 2011, Vol. 14, No. 4, P. 377-383.</a></li>
                    <li><a href="http://adsabs.harvard.edu/full/2007POBeo..82..275P">A.L. Poplavsky, O.P. Kuznechik, N.I. Stetyukevich. Evolution of active galactic nuclei jets in galactic halos. Publ. Astron. Obs. Belgrade, 2007, No. 82, P. 275-283.</a> </li>
                    <li><a href="https://inf.grid.by/jour/article/view/650/0">О.П. Кузнечик, В.Н. Горенков, О.О. Кузнечик. Астроклимат Минска. Информатика, 2007, № 3, С. 114-123.</a> </li>
                    <li><a href="http://www.doiserbia.nb.rs/Article.aspx?ID=1450-698X0673049P#.XzqOu9XVLIU">A.L. Poplavsky, O.P. Kuznechik, N.I. Stetyukevich. Large-scale dynamo of accretion disks around supermassive nonrotating black holes. Serbian Astronomical Journal, 2006, No. 173, P. 49-55.</a> </li>
                </ol>
            </div>
            <div class="description"></div>
            <div class="description"></div>

        </div>
    </div>
</div>

{% endblock %}