{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Статьи в энциклопедии" %}{% endblock %}

{% block content %}
<div class="mainInf">
    <div class="container">
        <div class="page_name">{% trans "Статьи в энциклопедии" %}</div>
        <div class="inf center-lg row">
            <div class="description">
                <ol>
                    <li>М.Б. Шундалов, А.А. Сокольский. Водород. Энциклопедия для школьников и студентов в 12 томах. Том 6. Химия. Биология. Минск, Беларуская энцыклапедыя iм. П. Броўкi, 2016, С. 16–17. </li>
                    <li>М.Б. Шундалов, А.А. Сокольский. Гелий. Энциклопедия для школьников и студентов в 12 томах. Том 6. Химия. Биология. Минск, Беларуская энцыклапедыя iм. П. Броўкi, 2016, С. 17–18. </li>
                    <li>Н.И. Мухуров, М.Б. Шундалов. Телескоп. Энциклопедия для школьников и студентов в 12 томах. Том 4. Мир техники. Минск, Беларуская энцыклапедыя iм. П. Броўкi, 2012, С. 534–535. </li>

                </ol>
            </div>
            <div class="description"></div>
            <div class="description"></div>

        </div>
    </div>
</div>

{% endblock %}