{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Публикации" %}{% endblock %}

{% block content %}
<div class="pages">
    <div class="container">
        <div class="page_name">{% trans "Публикации" %}</div>
        <a href="lections/">{% trans "Учебные пособия" %}</a>
        <a href="#">{% trans "Статьи в научных журналах" %}</a>
        <a href="#">{% trans "Доклады на конференциях" %}</a>
        <a href="#">{% trans "Статьи в энциклопедии" %}</a>
        <br>

    </div>
</div>
{% endblock %}
