{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Популяризация научных знаний" %}{% endblock %}

{% block content %}
<div class="pages">
    <div class="container">
        <div class="page_name">{% trans "Научно-популярные лекции по физике и астрономии в Минском планетарии и на Фестивалях науки" %}</div>
        <a href="https://vk.com/doc-141574957_522373197?dl=da776845e961ce6910">{% trans "Эпоха астрофизики (Минский планетарий, 02.11.2019) " %}</a>
        <a href="https://vk.com/doc-141574957_515145503">{% trans "Асимметрия жизни (Фестиваль науки, 07.09.2019)" %}</a>
        <a href="https://vk.com/doc-141574957_474498969">{% trans "Нулевые шансы: как «случайности» Вселенной реализовали жизнь (Фестиваль науки, 07.09.2018)" %}</a>
        <a href="https://vk.com/doc-141574957_465112939">{% trans "Строение и загадка происхождения Солнечной системы (Минский планетарий, 22.05.2018)" %}</a>
        <a href="https://vk.com/doc-141574957_459761572">{% trans "Почему мы считаем, что Вселенная расширяется? (Минский планетарий, 17.02.2018)" %}</a>
        <br>

    </div>
</div>
{% endblock %}
