{% extends 'header_6.html' %}

{% load static %}

{% block title %}Контакты{% endblock %}

{% block content %}
<div class="pageNews">
    <div class="container">
        <div class="page_name">Новости</div>
        {% block content %}
        {% for post in posts %}
        <a class="page row" href="{{ post.get_absolute_url }}">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <img src="{{ post.image.url }}">
            </div>
            <div class="inf col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <div class="title">{{ post.title }}</div>
                <div class="description">{{ post.body|truncatechars:240|linebreaks }}</div>
            </div>
        </a>
        {% endfor %}
        {% include "pagination.html" with page=posts %}
        {% endblock %}
    </div>
</div>
{% endblock %}