{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Мы в СМИ" %}{% endblock %}

{% block content %}
<div class="dekanat">
    <div class="container">
        <div class="page_name">{% trans "Мы в СМИ" %}</div>
        {% for note in notes %}
        <div class="page row center-lg center-md center-sm center-xs">

            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"><img
                    src="{{ note.image.url }}"></div>
            <div class="inf col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="title">{{ note.title }}</div>
                <div class="description">{{ note.body|safe|linebreaks }}</div>
            </div>
            <hr>

        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}