
{% extends 'header_6.html' %}
{% load static %}
{% block content %}
<div class="somePage">
  <div class="container">
    <div class="card mb-3 border-0 nth-shadow">
      <div class="card-body">
          <div class="card-title nth-card-title">
              <h4>Форма обратной связи</h4>
          </div>
          <form method="post" action="{% url 'feedback' %}">
              {% csrf_token %}
              <div class="form-group">
                {{ form.subject }}
              </div>
              <div class="form-group">
                  {{ form.email }}
              </div>
              <div class="form-group">
                  {{ form.content }}
              </div>
              <div class="form-group">
                  <input class="btn btn-primary" type="submit" value="Submit">
            </div>
          </form>
      </div>
    </div>
  </div>  
</div>
<style>
  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #f5d505;
  }
  
  </style>    
{% endblock %}

