{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Квант БГУ" %}{% endblock %}

{% block content %}
<div class="somePage">
    {% get_current_language as LANGUAGE_CODE %}
    <div class="container">
        <div class="page_name">{% trans "Квант-юни" %}</div>
        {% if LANGUAGE_CODE == "ru"%}
        <p>Программа «Квант-юни» — научно-популярная программа внеучебных мероприятий для профориентации школьников 5-8
            классов, рассчитанная на популяризацию физики и естественно-научных знаний, развитие физико-математического
            мышления и логики.</p><br>

        <p>Физический факультет БГУ и «TutorOnline» запустили программу «Квант-юни». Для участия приглашаются школьники
            5-8 классов.
            Вниманию зрителей представлена серия видеороликов с демонстрационными экспериментами.</p><br>
        
        <br>
        <p>Ссылки на видеоролики Квант юни:</p>
        <ol>
            <li><a href="https://youtu.be/RugduzdMRzw">Квант юни 1</a></li>
            <li><a href="https://youtu.be/OLb85sae6Gg">Квант юни 2</a></li>
            <li><a href="https://youtu.be/r_Kzwj9Fl9c">Видеоконференция по первому блоку Квант юни</a></li>
            <li><a href="https://youtu.be/M3jDfA5KF1c">Квант юни 3</a></li>
            <li><a href="https://youtu.be/J0vFhcwMms8">Квант юни 4</a></li>
        </ol>
        {% endif %}
        {% if LANGUAGE_CODE == "en"%}
        <p>The Quantum-Uni program is a popular science program of extracurricular activities for vocational guidance of
            students in grades 5-8, designed to popularize physics and natural science knowledge, develop physical and
            mathematical thinking and logic.</p><br>

        <p>The Faculty of Physics of BSU and "TutorOnline" launched the Quantum-Uni program. Students in grades 5-8 are
            invited to participate. A series of videos with demonstration experiments is presented to the attention of
            viewers.</p><br>
        
        <br>
        <p>Links to videos of Quantum Uni:</p>
        <ol>
            <li><a href="https://youtu.be/RugduzdMRzw">Quantum Uni 1</a></li>
            <li><a href="https://youtu.be/OLb85sae6Gg">Quantum Uni 2</a></li>
            <li><a href="https://youtu.be/r_Kzwj9Fl9c">Videoconference on the first block of Quantum Uni</a></li>
            <li><a href="https://youtu.be/M3jDfA5KF1c">Quantum Uni 3</a></li>
            <li><a href="https://youtu.be/J0vFhcwMms8">Quantum Uni 4</a></li>
        </ol>
        {% endif %}

        <br>
        <br>
        <a href="ads">{% trans "Объявления" %}</a><br>
        <a href="#">{% trans "Фотогалерея" %}</a><br>
        <!-- <a href="#">{% trans "Расписание занятий" %}</a><br> -->
        <!-- <a href="#">{% trans "Ссылки на видео" %}</a><br> -->
        <br>

    </div>
</div>
{% endblock %}
