{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Квант БГУ" %}{% endblock %}

{% block content %}
<div class="pages">
    <div class="container">
        <div class="page_name">{% trans "Объявления" %}</div>
        Образовательная программа направлена на углубленное изучение физики и математики, подготовку слушателей к участию в олимпиадах. Программа рассчитана для учащихся 10-х и 11-х классов разработаны для старшеклассников, желающих на повышенном уровне изучать физику и математику с целью поступления в университеты.
        <br>
        <br>
        {% for ads in courseAds %}
            <br>
            <br>
        <div class="title"><b>{{ ads.title }}</b></div>
                <br>
                {{ ads.body }}
                <hr>

        {% endfor %}
    </div>
</div>
{% endblock %}
