{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Квант БГУ" %}{% endblock %}

{% block content %}
<div class="pages">
    {% get_current_language as LANGUAGE_CODE %}
    <div class="container">
        <div class="page_name">{% trans "Объявления" %}</div>
        {% if LANGUAGE_CODE == "ru"%}
        <p>Занятия в Физико-математической школе «Квант БГУ» начнутся по мере комплектования групп.</p>
         <!--<p>Образовательная программа направлена на углубленное изучение физики и математики, подготовку слушателей к
        участию в олимпиадах. Программа рассчитана для учащихся 10-х и 11-х классов разработаны для старшеклассников,
            желающих на повышенном уровне изучать физику и математику с целью поступления в университеты.</p> -->
        {% endif %}
        {% if LANGUAGE_CODE == "en"%}
        <p>Classes at the Physics and Mathematics School "Quantum BSU" will begin as the enrollment of the groups are completed.</p>
        <!--<p>The educational program is aimed at in-depth study of physics and mathematics, training of students to
            participate in the Olympiads. The program is designed for upper-formers in the 10th and 11th grades,
            developed for high school students who want to study physics and mathematics at an advanced level in order
            to enter universities.</p> -->
        {% endif %}
        <br>
        <br>
        {% for ads in courseAds %}
        <br>
        <br>
        <div class="title"><b>{{ ads.title }}</b></div>
        <br>
        {{ ads.body }}
        <hr>

        {% endfor %}
    </div>
</div>
{% endblock %}
