{% extends 'header_6.html' %}

{% load static %}


{% load i18n %}

{% block title %}{% trans "Квант БГУ" %}{% endblock %}

{% block content %}

<div class="spec" style="margin:0 5%; cursor:auto!important;">
    {% get_current_language as LANGUAGE_CODE %}
    <div class="container">
        <div class="page_name">{% trans "Расписание физико-математической школы 'Квант БГУ'" %}</div>  <!-- Вариант перевода на английский язык: The Schedule of the Physics and Mathematics School 'Quantum BSU' -->
        {% if LANGUAGE_CODE == "ru"%}
        <div class="page_spec">
            
            <table cellspacing="0" class="MsoTableGrid" style="border-collapse:collapse; border:none; width:45%;">
                <tbody>
                    <tr>
                        <td colspan="3" style="border-color:black; border-style:solid; border-width:1px; text-align:center; vertical-align:middle">
                        <p><strong>Квант 9 (9 класс)</strong></p>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2" style="border-color:currentcolor black black; border-style:none solid solid; border-width:medium 1px 1px; text-align:center; vertical-align:middle; width:211px">
                        <p><strong>Начало</strong> занятий в <strong>9.00</strong></p>
                        </td>
                        <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>аудитория</p>
                        </td>
                        <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>предмет</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; height:43px; text-align:center; vertical-align:middle">
                        <p>222</p>
                        </td>
                        <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; height:43px; text-align:center; vertical-align:middle">
                        <p>физика</p>
                        </td>
                    </tr>
                </tbody>
            </table>

            <p>&nbsp;</p>

            <table cellspacing="0" class="MsoTableGrid" style="border-collapse:collapse; border:none; width:45%;">
                <tbody>
                    <tr>
                        <td colspan="3" style="border-color:black; border-style:solid; border-width:1px; text-align:center; vertical-align:middle">
                        <p><strong>Квант 10 (10 класс)</strong></p>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2" style="border-color:currentcolor black black; border-style:none solid solid; border-width:medium 1px 1px; text-align:center; vertical-align:middle; width:211px">
                        <p><strong>Начало</strong> занятий в <strong>8.15</strong></p>
                        </td>
                        <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>аудитория</p>
                        </td>
                        <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>предмет</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; height:43px; text-align:center; vertical-align:middle">
                        <p>418</p>
                        </td>
                        <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; height:43px; text-align:center; vertical-align:middle">
                        <p>физика</p>
                        </td>
                    </tr>
                </tbody>
            </table>

            <p>&nbsp;</p>

            <table cellspacing="0" class="MsoTableGrid" style="border-collapse:collapse; border:none; width:45%;">
                <tbody>
                    <tr>
                        <td colspan="3" style="border-color:black; border-style:solid; border-width:1px; text-align:center; vertical-align:middle">
                        <p><strong>Квант 11 (11 класс)</strong></p>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2" style="border-color:currentcolor black black; border-style:none solid solid; border-width:medium 1px 1px; text-align:center; vertical-align:middle; width:211px">
                        <p><strong>Начало</strong> занятий в <strong>10.00</strong></p>
                        </td>
                        <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>аудитория</p>
                        </td>
                        <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>предмет</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; height:43px; text-align:center; vertical-align:middle">
                        <p>220</p>
                        </td>
                        <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; height:43px; text-align:center; vertical-align:middle">
                        <p>физика</p>
                        </td>
                    </tr>
                </tbody>
            </table>
            
            <!--
            <table cellspacing="0" class="MsoTableGrid" style="border-collapse:collapse; border:medium none; width:45%;">
                <tbody>
                <tr>
                    <td colspan="4" style="border-color:black; border-style:solid; border-width:1px; text-align:center; vertical-align:middle">
                        <p><strong>Квант 9 (9 класс)</strong></p>
                    </td>
                </tr>
                <tr>
                    <td style="border-color:currentcolor black black; border-style:none solid solid; border-width:medium 1px 1px; text-align:center; vertical-align:middle">
                        <p>&nbsp;</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>время занятий</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>аудитория</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>предмет</p>
                    </td>
                </tr>
                <tr>
                    <td style="border-color:currentcolor black black; border-style:none solid solid; border-width:medium 1px 1px; text-align:center; vertical-align:middle">
                        <p>1</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>10.00 - 10.45</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>222</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>физика</p>
                    </td>
                </tr>
                <tr>
                    <td style="border-color:currentcolor black black; border-style:none solid solid; border-width:medium 1px 1px; text-align:center; vertical-align:middle">
                        <p>2</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>10.50 - 11.35</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>222</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>физика</p>
                    </td>
                </tr>
                <tr>
                    <td style="border-color:currentcolor black black; border-style:none solid solid; border-width:medium 1px 1px; text-align:center; vertical-align:middle">
                        <p>3</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>11.45 &ndash; 12.30</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>220</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>математика</p>
                    </td>
                </tr>
                <tr>
                    <td style="border-color:currentcolor black black; border-style:none solid solid; border-width:medium 1px 1px; height:23px; text-align:center; vertical-align:middle">
                        <p>4</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; height:23px; text-align:center; vertical-align:middle">
                        <p>12.35 - 13.20</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; height:23px; text-align:center; vertical-align:middle">
                        <p>220</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; height:23px; text-align:center; vertical-align:middle">
                        <p>математика</p>
                    </td>
                </tr>
                </tbody>
            </table>

            <p>&nbsp;</p>

            <table cellspacing="0" class="MsoTableGrid" style="border-collapse:collapse; border:medium none; width:45%;">
                <tbody>
                <tr>
                    <td colspan="4" style="border-color:black; border-style:solid; border-width:1px; text-align:center; vertical-align:middle">
                        <p><strong>Квант 10 (10 класс)</strong></p>
                    </td>
                </tr>
                <tr>
                    <td style="border-color:currentcolor black black; border-style:none solid solid; border-width:medium 1px 1px; text-align:center; vertical-align:middle">
                        <p>&nbsp;</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>время занятий</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>аудитория</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>предмет</p>
                    </td>
                </tr>
                <tr>
                    <td style="border-color:currentcolor black black; border-style:none solid solid; border-width:medium 1px 1px; text-align:center; vertical-align:middle">
                        <p>1</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>11.45 &ndash; 12.30</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>222</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>физика</p>
                    </td>
                </tr>
                <tr>
                    <td style="border-color:currentcolor black black; border-style:none solid solid; border-width:medium 1px 1px; text-align:center; vertical-align:middle">
                        <p>2</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>12.35 - 13.20</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>222</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>физика</p>
                    </td>
                </tr>
                <tr>
                    <td style="border-color:currentcolor black black; border-style:none solid solid; border-width:medium 1px 1px; text-align:center; vertical-align:middle">
                        <p>3</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>13.30 -14.15</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>220</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>математика</p>
                    </td>
                </tr>
                <tr>
                    <td style="border-color:currentcolor black black; border-style:none solid solid; border-width:medium 1px 1px; height:23px; text-align:center; vertical-align:middle">
                        <p>4</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; height:23px; text-align:center; vertical-align:middle">
                        <p>14.20 - 15.05</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; height:23px; text-align:center; vertical-align:middle">
                        <p>220</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; height:23px; text-align:center; vertical-align:middle">
                        <p>математика</p>
                    </td>
                </tr>
                </tbody>
            </table>

            <p>&nbsp;</p>

            <table cellspacing="0" class="MsoTableGrid" style="border-collapse:collapse; border:medium none; width:45%;">
                <tbody>
                <tr>
                    <td colspan="4" style="border-color:black; border-style:solid; border-width:1px; text-align:center; vertical-align:middle">
                        <p><strong>Квант 11 (11 класс)</strong></p>
                    </td>
                </tr>
                <tr>
                    <td style="border-color:currentcolor black black; border-style:none solid solid; border-width:medium 1px 1px; text-align:center; vertical-align:middle">
                        <p>&nbsp;</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>время занятий</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>аудитория</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>предмет</p>
                    </td>
                </tr>
                <tr>
                    <td style="border-color:currentcolor black black; border-style:none solid solid; border-width:medium 1px 1px; text-align:center; vertical-align:middle">
                        <p>1</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>13.30 -14.15</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>222</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>физика</p>
                    </td>
                </tr>
                <tr>
                    <td style="border-color:currentcolor black black; border-style:none solid solid; border-width:medium 1px 1px; text-align:center; vertical-align:middle">
                        <p>2</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>14.20 - 15.05</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>222</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>физика</p>
                    </td>
                </tr>
                <tr>
                    <td style="border-color:currentcolor black black; border-style:none solid solid; border-width:medium 1px 1px; text-align:center; vertical-align:middle">
                        <p>3</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>15.15 -16.00</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>220</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>математика</p>
                    </td>
                </tr>
                <tr>
                    <td style="border-color:currentcolor black black; border-style:none solid solid; border-width:medium 1px 1px; height:23px; text-align:center; vertical-align:middle">
                        <p>4</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; height:23px; text-align:center; vertical-align:middle">
                        <p>16.05 &ndash; 16.50</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; height:23px; text-align:center; vertical-align:middle">
                        <p>220</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; height:23px; text-align:center; vertical-align:middle">
                        <p>математика</p>
                    </td>
                </tr>
                </tbody>
            </table>
-->
            <p>&nbsp;</p>

            <!--p><strong>Расписание</strong> также доступно по <strong><a style="color:#f39c12; text-decoration: underline!important;" href="https://physics.bsu.by/media/media/Raspisaniye_Kvant_2021.pdf" download="">ссылке</a></strong>.</p-->
            <p><strong>Расписание</strong> также доступно по <strong><a style="color:#f39c12; text-decoration: underline!important;" href="https://physics.bsu.by/media/media/Raspisaniye_Kvant_na_09.10.2021__obnovleno.pdf" download="">ссылке</a></strong>.</p>
        </div>


        {% endif %}
        {% if LANGUAGE_CODE == "en"%}
        <div class="page_spec">
 
            <table cellspacing="0" class="MsoTableGrid" style="border-collapse:collapse; border:none; width:45%;">
                <tbody>
                    <tr>
                        <td colspan="3" style="border-color:black; border-style:solid; border-width:1px; text-align:center; vertical-align:middle">
                        <p><strong>Quantum 9 (Grade 9)</strong></p>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2" style="border-color:currentcolor black black; border-style:none solid solid; border-width:medium 1px 1px; text-align:center; vertical-align:middle; width:211px">
                        <p>Classes <strong>start</strong> at <strong>9.00</strong></p>
                        </td>
                        <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>Auditorium</p>
                        </td>
                        <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>Subject</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; height:43px; text-align:center; vertical-align:middle">
                        <p>222</p>
                        </td>
                        <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; height:43px; text-align:center; vertical-align:middle">
                        <p>Physics</p>
                        </td>
                    </tr>
                </tbody>
            </table>

            <p>&nbsp;</p>

            <table cellspacing="0" class="MsoTableGrid" style="border-collapse:collapse; border:none; width:45%;">
                <tbody>
                    <tr>
                        <td colspan="3" style="border-color:black; border-style:solid; border-width:1px; text-align:center; vertical-align:middle">
                        <p><strong>Quantum 10 (Grade 10)</strong></p>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2" style="border-color:currentcolor black black; border-style:none solid solid; border-width:medium 1px 1px; text-align:center; vertical-align:middle; width:211px">
                        <p>Classes <strong>start</strong> at <strong>8.15</strong></p>
                        </td>
                        <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>Auditorium</p>
                        </td>
                        <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>Subject</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; height:43px; text-align:center; vertical-align:middle">
                        <p>418</p>
                        </td>
                        <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; height:43px; text-align:center; vertical-align:middle">
                        <p>Physics</p>
                        </td>
                    </tr>
                </tbody>
            </table>

            <p>&nbsp;</p>

            <table cellspacing="0" class="MsoTableGrid" style="border-collapse:collapse; border:none; width:45%;">
                <tbody>
                    <tr>
                        <td colspan="3" style="border-color:black; border-style:solid; border-width:1px; text-align:center; vertical-align:middle">
                        <p><strong>Quantum 11 (Grade 11)</strong></p>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2" style="border-color:currentcolor black black; border-style:none solid solid; border-width:medium 1px 1px; text-align:center; vertical-align:middle; width:211px">
                        <p>Classes <strong>start</strong> at <strong>10.00</strong></p>
                        </td>
                        <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>Auditorium</p>
                        </td>
                        <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>Subject</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; height:43px; text-align:center; vertical-align:middle">
                        <p>220</p>
                        </td>
                        <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; height:43px; text-align:center; vertical-align:middle">
                        <p>Physics</p>
                        </td>
                    </tr>
                </tbody>
            </table>  
            
            <!--
            <table cellspacing="0" class="MsoTableGrid" style="border-collapse:collapse; border:medium none; width:45%;">
                <tbody>
                <tr>
                    <td colspan="4" style="border-color:black; border-style:solid; border-width:1px; text-align:center; vertical-align:middle">
                        <p><strong>Quantum 9 (Grade 9)</strong></p>
                    </td>
                </tr>
                <tr>
                    <td style="border-color:currentcolor black black; border-style:none solid solid; border-width:medium 1px 1px; text-align:center; vertical-align:middle">
                        <p>&nbsp;</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>Time of lessons</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>Auditorium</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>Subject</p>
                    </td>
                </tr>
                <tr>
                    <td style="border-color:currentcolor black black; border-style:none solid solid; border-width:medium 1px 1px; text-align:center; vertical-align:middle">
                        <p>1</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>10.00 - 10.45</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>222</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>Physics</p>
                    </td>
                </tr>
                <tr>
                    <td style="border-color:currentcolor black black; border-style:none solid solid; border-width:medium 1px 1px; text-align:center; vertical-align:middle">
                        <p>2</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>10.50 - 11.35</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>222</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>Physics</p>
                    </td>
                </tr>
                <tr>
                    <td style="border-color:currentcolor black black; border-style:none solid solid; border-width:medium 1px 1px; text-align:center; vertical-align:middle">
                        <p>3</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>11.45 &ndash; 12.30</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>220</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>Maths</p>
                    </td>
                </tr>
                <tr>
                    <td style="border-color:currentcolor black black; border-style:none solid solid; border-width:medium 1px 1px; height:23px; text-align:center; vertical-align:middle">
                        <p>4</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; height:23px; text-align:center; vertical-align:middle">
                        <p>12.35 - 13.20</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; height:23px; text-align:center; vertical-align:middle">
                        <p>220</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; height:23px; text-align:center; vertical-align:middle">
                        <p>Maths</p>
                    </td>
                </tr>
                </tbody>
            </table>

            <p>&nbsp;</p>

            <table cellspacing="0" class="MsoTableGrid" style="border-collapse:collapse; border:medium none; width:45%;">
                <tbody>
                <tr>
                    <td colspan="4" style="border-color:black; border-style:solid; border-width:1px; text-align:center; vertical-align:middle">
                        <p><strong>Quantum 10 (Grade 10)</strong></p>
                    </td>
                </tr>
                <tr>
                    <td style="border-color:currentcolor black black; border-style:none solid solid; border-width:medium 1px 1px; text-align:center; vertical-align:middle">
                        <p>&nbsp;</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>Time of lessons</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>Auditorium</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>Subject</p>
                    </td>
                </tr>
                <tr>
                    <td style="border-color:currentcolor black black; border-style:none solid solid; border-width:medium 1px 1px; text-align:center; vertical-align:middle">
                        <p>1</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>11.45 &ndash; 12.30</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>222</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>Physics</p>
                    </td>
                </tr>
                <tr>
                    <td style="border-color:currentcolor black black; border-style:none solid solid; border-width:medium 1px 1px; text-align:center; vertical-align:middle">
                        <p>2</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>12.35 - 13.20</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>222</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>Physics</p>
                    </td>
                </tr>
                <tr>
                    <td style="border-color:currentcolor black black; border-style:none solid solid; border-width:medium 1px 1px; text-align:center; vertical-align:middle">
                        <p>3</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>13.30 -14.15</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>220</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>Maths</p>
                    </td>
                </tr>
                <tr>
                    <td style="border-color:currentcolor black black; border-style:none solid solid; border-width:medium 1px 1px; height:23px; text-align:center; vertical-align:middle">
                        <p>4</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; height:23px; text-align:center; vertical-align:middle">
                        <p>14.20 - 15.05</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; height:23px; text-align:center; vertical-align:middle">
                        <p>220</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; height:23px; text-align:center; vertical-align:middle">
                        <p>Maths</p>
                    </td>
                </tr>
                </tbody>
            </table>

            <p>&nbsp;</p>

            <table cellspacing="0" class="MsoTableGrid" style="border-collapse:collapse; border:medium none; width:45%;">
                <tbody>
                <tr>
                    <td colspan="4" style="border-color:black; border-style:solid; border-width:1px; text-align:center; vertical-align:middle">
                        <p><strong>Quantum 11 (Grade 11)</strong></p>
                    </td>
                </tr>
                <tr>
                    <td style="border-color:currentcolor black black; border-style:none solid solid; border-width:medium 1px 1px; text-align:center; vertical-align:middle">
                        <p>&nbsp;</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>Time of lessons</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>Auditorium</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>Subject</p>
                    </td>
                </tr>
                <tr>
                    <td style="border-color:currentcolor black black; border-style:none solid solid; border-width:medium 1px 1px; text-align:center; vertical-align:middle">
                        <p>1</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>13.30 -14.15</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>222</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>Physics</p>
                    </td>
                </tr>
                <tr>
                    <td style="border-color:currentcolor black black; border-style:none solid solid; border-width:medium 1px 1px; text-align:center; vertical-align:middle">
                        <p>2</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>14.20 - 15.05</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>222</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>Physics</p>
                    </td>
                </tr>
                <tr>
                    <td style="border-color:currentcolor black black; border-style:none solid solid; border-width:medium 1px 1px; text-align:center; vertical-align:middle">
                        <p>3</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>15.15 -16.00</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>220</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; text-align:center; vertical-align:middle">
                        <p>Maths</p>
                    </td>
                </tr>
                <tr>
                    <td style="border-color:currentcolor black black; border-style:none solid solid; border-width:medium 1px 1px; height:23px; text-align:center; vertical-align:middle">
                        <p>4</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; height:23px; text-align:center; vertical-align:middle">
                        <p>16.05 &ndash; 16.50</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; height:23px; text-align:center; vertical-align:middle">
                        <p>220</p>
                    </td>
                    <td style="border-color:currentcolor black black currentcolor; border-style:none solid solid none; border-width:medium 1px 1px medium; height:23px; text-align:center; vertical-align:middle">
                        <p>Maths</p>
                    </td>
                </tr>
                </tbody>
            </table>
            -->
            
        </div>
        
        <p>&nbsp;</p>

        <!--p>The <strong>schedule</strong> is also available through the <strong><a style="color:#f39c12; text-decoration:underline!important;" href="https://physics.bsu.by/media/media/Raspisaniye_Kvant_2021.pdf" download="">link</a></strong>.</p-->
        <p>The <strong>schedule</strong> is also available through the <strong><a style="color:#f39c12; text-decoration:underline!important;" href="https://physics.bsu.by/media/media/Raspisaniye_Kvant_na_09.10.2021__obnovleno.pdf" download="">link</a></strong>.</p>

        {% endif %}
    </div>
</div>

{% endblock %}
