{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Квант БГУ" %}{% endblock %}

{% block content %}
<div class="pages">
    {% get_current_language as LANGUAGE_CODE %}
    <div class="container">
        <div class="page_name">{% trans "Квант БГУ" %}</div>
        {% if LANGUAGE_CODE == "ru"%}
        <p>
            Занятия проводятся на физическом факультете БГУ по адресу: <strong>ул. Бобруйская, 5</strong>.<br>
            Телефон: <strong>209-52-67</strong>
        </p>
        {% endif %}
        {% if LANGUAGE_CODE == "en"%}
        <p>
            Classes are held at the Faculty of Physics of BSU at: <strong>5, Bobruiskaya st.</strong><br>
            Phone: <strong>209-52-67</strong>
        </p>
        {% endif %}

        <br>
        <br>
        <a href="ads">{% trans "Объявления" %}</a>
        <a href="#">{% trans "Краткие планы занятий" %}</a> <!-- вариант перевода - Short lessons plans -->
        <a href="urls/">{% trans "Ссылки на портал" %}</a>
        <br>

    </div>
</div>
{% endblock %}
