{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Квант БГУ" %}{% endblock %}

{% block content %}
<div class="noHeight pages pageNews">
    {% get_current_language as LANGUAGE_CODE %}
    <div class="container">
        <div class="page_name">{% trans "Физико-математическая школа 'Квант БГУ'" %}</div>
        {% if LANGUAGE_CODE == "ru"%}

        <!--<p>Занятия в Физико-математической школе «Квант БГУ» проходят <b>на физическом факультете</b> по адресу г. Минск, ул. Бобруйская 5 ауд.319, 222. <b>Расписание размещено на сайте факультета</b>.</p><br>

        <p>Учебная программа "Квант" рассчитана на учащихся Х-XI классов общеобразовательных учебных заведений. Занятия проводятся по физике и математике 1 раз в неделю по субботам, согласно расписанию, в дневное время по 2 академических часа на каждый предмет.
         </p>-->
        <!-- <p>На физическом факультете БГУ в рамках физико-математической школы «Квант БГУ» объявляется регистрация на
            обучение (2021-2022 учебный год) по образовательным программам «Квант» (24х4х12)<em>[1]</em> :</p><br> -->

        <p>• <b>«Квант XI»</b>, программа рассчитана на учащихся выпускных классов общеобразовательных школ, лицеев,
            гимназий и нацелена на углубленное изучение <b>физики и математики</b>, подготовку слушателей к
            централизованному тестированию, олимпиадам, поступлению в высшие учебные заведения. Программа закладывает
            базу для успешной адаптации слушателей к обучению на физико-математических специальностях высших учебных
            заведений. <br>
            • <b>Программа «Квант X»</b> — образовательная программа <b>по физике и математике</b> для учащихся 10
            классов, нацеленная на углубленное изучение предметов. Программа имеет не только теоретическую составляющую
            по физике, но и экспериментальную на базе олимпиадных заданий.<br>
            • <b>Программа «Квант IX»</b> — образовательная программа <b>по физике и математике</b> для школьников 9
            классов, нацеленная на углубленное изучение предметов, подготовку слушателей к поступлению в лицеи и
            гимназии. Программа имеет не только теоретическую составляющую по физике, но и экспериментальную на базе
            олимпиадных заданий.</p><br>

        <p>Обучение платное (в 2020-2021 учебном году обучение по данной программе за 2 семестра по двум предметам
            составляло 329 бел. руб.), форма обучения очная с использованием Образовательного портала физического
            факультета БГУ. На протяжении обучения проводится индивидуальный мониторинг результатов учащегося.</p><br>
        <p>Занятия в физико-математической школе «Квант БГУ» проводят преподаватели физического факультета БГУ, ведущие
            специалисты в области работы с одаренными учащимися. Два выпускника школы «Квант БГУ» в 2021 году стали
            победителями Заключительного этапа республиканской олимпиады по физике, пять выпускников – победителями III
            этапа республиканской олимпиады по физике.
            Количество мест ограничено.<br><br>
            Телефон для справок: +375 (17) 209-55-07.
        </p> <br>
        
        <p>Договора на обучение заключаются с <strong>27 по 30 сентября</strong> с Институтом дополнительного образования Белорусского 
            государственного университета по адресу: <strong>г. Минск, ул. Академическая 25</strong>, <strong>к. 405, 408, с 09.00 до 13.00</strong> и 
            <strong>с 14.00 до 16.30</strong>.<br><br>
            Уточненная стоимость обучения будет известна <strong>после 24 сентября</strong>.<br><br>
            Заключение договоров производится при наличии паспорта слушателя и паспорта его законного представителя (для лиц, не достигших 
            18-летнего возраста).<br><br>
            Дополнительная информация по договорам размещена на сайте Института дополнительного образования.</p><br>
       
        
        <p><b><a href="https://fpuedu.bsu.by/index.php/abiturient/pk-ab">Информация от Института дополнительного образования</a></b></p>
        <p>Для заключения договора необходимо подать электронную заявку. Заявки на обучение принимаются <strong>до 15 сентября</strong>.</p><br><br>
        
        <p><b><a href="http://regtest.bsu.by/curs/">Электронное заявление на подготовительные курсы</a></b></p>
        <p>Обучение будет проводиться по <strong>субботам</strong>. Начало планируется в <strong>октябре</strong>, по мере формирования групп.</p><br><br>
        
        <!-- <p><b><a href="https://forms.gle/qBFi2VfDunCZtMp96">Ccылка на анкету для регистрации</a></b></p>
        <p><em>[1] - Количество учебных недель <strong>х</strong> количество аудиторных часов <strong>х</strong>
            количество человек в группе</em></p><br> -->

        <hr>
        <br>
        <a class="page row" href="quantum-olimp/">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"></div>
            <div class="inf col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <div class="title">Квант</div>
                <div class="description">Образовательная программа направлена на углубленное изучение физики и
                    математики, подготовку слушателей к участию в олимпиадах...
                </div>
            </div>
        </a>
        <!-- <a class="page row" href="quantum-11/"> Начало занятий 6 февраля 2021 г.
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"></div>
            <div class="inf col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <div class="title">Квант XI</div>
                <div class="description">Программа «Квант XI» — образовательная программа по физике и математике для школьников 11 классов...</div>
            </div>
        </a>
        <a class="page row" href="quantum-10/">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"></div>
            <div class="inf col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <div class="title">Квант X</div>
                <div class="description">Программа «Квант X» — образовательная программа по физике и математике для учащихся 10 классов...</div>
            </div>
        </a>
        <a class="page row" href="quantum-9/">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"></div>
            <div class="inf col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <div class="title">Квант IX</div>
                <div class="description">Программа «Квант IX» — образовательная программа по физике и математике для школьников 9 классов...</div>
            </div>
        </a> -->
        <a class="page row" href="quantum-uni/">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"></div>
            <div class="inf col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <div class="title">Квант-юни</div>
                <div class="description">Программа «Квант-юни» — научно-популярная программа внеучебных мероприятий для
                    профориентации школьников 5-8 классов...
                </div>
            </div>
        </a>
        <!-- <a class="page row" href="https://forms.gle/qBFi2VfDunCZtMp96">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"></div>
            <div class="inf col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <div class="title">АНКЕТА-ОПРОС</div>
                <div class="description"></div>
            </div>
        </a> -->
        {% endif %}
        {% if LANGUAGE_CODE == "en"%}
        <!--<p>Classes at the Physics and Mathematics School "Quantum BSU" are held <b>at the Faculty of Physics</b> at the address: Minsk, 5 Bobruiskaya 5, st., auditoriums 319, 222. <b>The schedule is posted on the website of the faculty</b>.</p><br>
            
            <p>The Quantum curriculum is designed for students in grades X-XI of general education institutions. Classes are held in physics and mathematics once a week on Saturdays, according to the schedule, in the daytime for 2 academic hours for each subject. 
             </p>-->
        <!-- <p>At the Faculty of Physics of BSU within the framework of the Physics and Mathematics School "Quantum BSU",
            registration for training (2021-2022 academic year) is announced for educational programs "Quantum"
            (24х4х12)<em>[1]</em> :</p><br> -->

        <p>• <b>«Quantum XI»</b>, the program is designed for graduate students of secondary schools, lyceums,
            gymnasiums and is aimed at in-depth study of physics and mathematics, preparing students for centralized
            testing, Olympiads, admission to higher educational institutions. The program lays the foundation for the
            successful adaptation of students to study in the physics and mathematics specialties of higher educational
            institutions. <br>
            • <b>"Quantum X" program</b> is an educational program in physics and mathematics for students in grade 10,
            aimed at in-depth study of subjects. The program has not only a theoretical component in physics, but also
            an experimental one based on Olympiad tasks.<br>
            • <b>"Quantum IX" program</b> is an educational program in physics and mathematics for students in grades
            9, aimed at in-depth study of subjects, preparing students for admission to lyceums and gymnasiums. The
            program has not only a theoretical component in physics, but also an experimental one based on Olympiad
            tasks.</p><br>

        <p>Tuition is paid (in the 2020-2021 academic year, tuition in this program for 2 semesters in two subjects was
            329 BYN), full-time education using the Educational portal of the Faculty of Physics of the Belarusian State
            University. Throughout the training, individual monitoring of the student's results is carried out.</p><br>
        <p>Classes at the physics and mathematics school "Quantum BSU" are taught by teachers of the Faculty of Physics
            of BSU, leading experts in the field of work with gifted students. Two graduates of the "Quantum BSU" school
            in 2021 became the winners of the Final stage of the Republican Olympiad in Physics, five graduates - the
            winners of the III stage of the Republican Olympiad in Physics.
            Limited number of places.<br><br>
            Phone for information: +375 (17) 209-55-07.
        </p> <br>
            
        <p>Training contracts are concluded from <strong>September 27 to 30</strong> with the Institute of Continuing Education of the 
            Belarusian State University at the address: <strong>Minsk, 25 Akademicheskaya st., rooms 405, 408, from 09.00 to 13.00</strong> 
            and <strong>from 14.00 to 16.30</strong>.<br><br>
            The updated tuition fees will be announced <strong>after September 24th</strong>.<br><br>
            The conclusion of contracts is carried out in the presence of the student's passport and the passport of his 
            legal representative (for persons under the age of 18).<br><br>
            Additional information on contracts is available on the website of the Institute of Continuing Education.</p><br>
        
        <p><b><a href="https://fpuedu.bsu.by/index.php/abiturient/pk-ab">Information from the Institute of Continuing Education</a></b></p>
        <p>To conclude a contract, you must submit an electronic application. Applications for training are accepted <strong>until September 15th</strong>.</p><br><br>
            
        <p><b><a href="http://regtest.bsu.by/curs/">Electronic application for preliminary courses</a></b></p>
        <p>The studies will take place on <strong>Saturdays</strong>. It is planned to start in <strong>October</strong>, as the groups are formed.</p><br>
        
        <!-- <p><b><a href="https://forms.gle/qBFi2VfDunCZtMp96">Link to the registration form</a></b></p><br>
        <p><em>[1] - Number of study weeks <strong>x</strong> number of classroom hours <strong>x</strong> number of
            people in the group</em></p><br> -->

        <hr>
        <br>
        <a class="page row" href="quantum-olimp/">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"></div>
            <div class="inf col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <div class="title">Quantum</div>
                <div class="description">The educational program is aimed at in-depth study of physics and mathematics,
                    preparing students to participate in the Olympiads ...
                </div>
            </div>
        </a>
        <!-- <a class="page row" href="quantum-11/"> Classes start on February 6, 2021.
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"></div>
            <div class="inf col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <div class="title">Quantum XI</div>
                <div class="description">"Quantum XI" program is an educational program in physics and mathematics for students in grade 11 ...</div>
            </div>
        </a>
        <a class="page row" href="quantum-10/">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"></div>
            <div class="inf col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <div class="title">Quantum X</div>
                <div class="description">"Quantum X" program — is an educational program in physics and mathematics for students in grade 10 ...</div>
            </div>
        </a>
        <a class="page row" href="quantum-9/">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"></div>
            <div class="inf col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <div class="title">Quantum IX</div>
                <div class="description">"Quantum IX" program — is an educational program in physics and mathematics for students in grade 9...</div>
            </div>
        </a> -->
        <a class="page row" href="quantum-uni/">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"></div>
            <div class="inf col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <div class="title">Quantum-uni</div>
                <div class="description">The Quantum-uni program is a popular science program of extracurricular
                    activities for vocational guidance of students in grades 5-8 ...
                </div>
            </div>
        </a>
        <!-- <a class="page row" href="https://forms.gle/qBFi2VfDunCZtMp96">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"></div>
            <div class="inf col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <div class="title">SURVEY QUESTIONNAIRE</div>
                <div class="description"></div>
            </div>
        </a> -->
        {% endif %}

        <br>

        <br>

    </div>
</div>
{% endblock %}
