{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Квант БГУ" %}{% endblock %}

{% block content %}
<div class="noHeight pages pageNews">
    <div class="container">
        <div class="page_name">{% trans "Физико-математическая школа 'Квант БГУ'" %}</div>
        <p>Уважаемые <b>абитуриенты</b>, физический факультет <b>объявляет дополнительный набор</b> для обучения в <b>физико-математической</b> школе «Квант БГУ».</p><br> 
            <p>Форма размещена по адресу: https://fpuedu.bsu.by/index.php/abiturient/pk-ab </p><br> 
            <p>Приём заявлений и заключение договоров об обучении проходит с 26 января 2021 по 5 февраля 2021 по адресу: г. Минск, ул. Академическая 25, к. 405, 408 с 09.00 до 13.00 и с 14.00 до 16.15. Выходные — суббота, воскресенье.</p><br>
            <p>Телефон для консультаций: +209-52-67</p><br>
            <p>Занятия в Физико-математической школе «Квант БГУ» будут проходить <b>на физическом факультете</b> по адрес г. Минск, ул. Бобруйская 5 ауд.319, 222. Начало занятий 6 февраля 2021 г. <b>Расписание размещено на сайте факультета</b>.</p><br>
            
            <p>Учебная программа "Квант" рассчитана на учащихся Х-XI классов общеобразовательных учебных заведений. Занятия проводятся по физике и математике 1 раз в неделю по субботам, согласно расписанию, в дневное время по 2 академических часа на каждый предмет. 
             </p>

<hr><br>
        <a class="page row" href="quantum-olimp/">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"></div>
            <div class="inf col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <div class="title">Квант</div>
                <div class="description">Образовательная программа направлена на углубленное изучение физики и математики, подготовку слушателей к участию в олимпиадах...</div>
            </div>
        </a>
        <!-- <a class="page row" href="quantum-11/">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"></div>
            <div class="inf col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <div class="title">Квант XI</div>
                <div class="description">Программа «Квант XI» — образовательная программа по физике и математике для школьников 11 классов...</div>
            </div>
        </a>
        <a class="page row" href="quantum-10/">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"></div>
            <div class="inf col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <div class="title">Квант X</div>
                <div class="description">Программа «Квант X» — образовательная программа по физике и математике для учащихся 10 классов...</div>
            </div>
        </a>
        <a class="page row" href="quantum-9/">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"></div>
            <div class="inf col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <div class="title">Квант IX</div>
                <div class="description">Программа «Квант IX» — образовательная программа по физике и математике для школьников 9 классов...</div>
            </div>
        </a> -->
        <a class="page row" href="quantum-uni/">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"></div>
            <div class="inf col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <div class="title">Квант-юни</div>
                <div class="description">Программа «Квант-юни» — научно-популярная программа внеучебных мероприятий для профориентации школьников 5-8 классов...</div>
            </div>
        </a>
        <a class="page row" href="https://docs.google.com/forms/d/e/1FAIpQLSemJ3I2m72zaNsgrEEHCteIaDCFuF_yzCG2UI8R9_aPxdTOQg/viewform?usp=send_form">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"></div>
            <div class="inf col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <div class="title">АНКЕТА-ОПРОС</div>
                <div class="description"></div>
            </div>
        </a>


        <br>

        <br>
    </div>
</div>
{% endblock %}
