{% extends 'header_6.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Квант БГУ" %}{% endblock %}

{% block content %}
<div class="noHeight pages pageNews">
    <div class="container">
        <div class="page_name">{% trans "Физико-математическая школа 'Квант БГУ'" %}</div>

            <!--<p>Занятия в Физико-математической школе «Квант БГУ» проходят <b>на физическом факультете</b> по адресу г. Минск, ул. Бобруйская 5 ауд.319, 222. <b>Расписание размещено на сайте факультета</b>.</p><br>
            
            <p>Учебная программа "Квант" рассчитана на учащихся Х-XI классов общеобразовательных учебных заведений. Занятия проводятся по физике и математике 1 раз в неделю по субботам, согласно расписанию, в дневное время по 2 академических часа на каждый предмет. 
             </p>-->
            <p>На физическом факультете БГУ в рамках физико-математической школы «Квант БГУ» объявляется регистрация на обучение (2021-2022 учебный год) по образовательным программам «Квант» (24х4х12) :</p><br>

                <p>•	<b>«Квант XI»</b>, программа рассчитана на учащихся выпускных классов общеобразовательных школ, лицеев, гимназий и нацелена на углубленное изучение <b>физики и математики</b>, подготовку слушателей к централизованному тестированию, олимпиадам, поступлению в высшие учебные заведения. Программа закладывает базу для успешной адаптации слушателей к обучению на физико-математических специальностях высших учебных заведений. <br>
                •	<b>Программа «Квант X»</b> — образовательная программа <b>по физике и математике</b> для учащихся 10 классов, нацеленная на углубленное изучение предметов. Программа имеет не только теоретическую составляющую по физике, но и экспериментальную на базе олимпиадных заданий.<br>
                •	<b>Программа «Квант IX»</b> — образовательная программа <b>по физике и математике</b> для школьников 9 классов, нацеленная на углубленное изучение предметов, подготовку слушателей к поступлению в лицеи и гимназии. Программа имеет не только теоретическую составляющую по физике, но и экспериментальную на базе олимпиадных заданий.</p><br>
                
                <p>Обучение платное (в 2020-2021 учебном году обучение по данной программе за 2 семестра по двум предметам составляло 329 бел. руб.), форма обучения очная с использованием Образовательного портала физического факультета БГУ. На протяжении обучения проводится индивидуальный мониторинг результатов учащегося.</p><br>
                <p>Занятия в физико-математической школе «Квант БГУ» проводят преподаватели физического факультета БГУ, ведущие специалисты в области работы с одаренными учащимися. Два выпускника школы «Квант БГУ» в 2021 году стали победителями Заключительного этапа республиканской олимпиады по физике, пять выпускников – победителями III этапа республиканской олимпиады по физике. 
                Количество мест ограничено.<br><br>
                Телефон для справок: (+375-17) 209-55-07.
                </p> <br>

<hr><br>
        <a class="page row" href="quantum-olimp/">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"></div>
            <div class="inf col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <div class="title">Квант</div>
                <div class="description">Образовательная программа направлена на углубленное изучение физики и математики, подготовку слушателей к участию в олимпиадах...</div>
            </div>
        </a>
        <!-- <a class="page row" href="quantum-11/"> Начало занятий 6 февраля 2021 г.
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"></div>
            <div class="inf col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <div class="title">Квант XI</div>
                <div class="description">Программа «Квант XI» — образовательная программа по физике и математике для школьников 11 классов...</div>
            </div>
        </a>
        <a class="page row" href="quantum-10/">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"></div>
            <div class="inf col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <div class="title">Квант X</div>
                <div class="description">Программа «Квант X» — образовательная программа по физике и математике для учащихся 10 классов...</div>
            </div>
        </a>
        <a class="page row" href="quantum-9/">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"></div>
            <div class="inf col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <div class="title">Квант IX</div>
                <div class="description">Программа «Квант IX» — образовательная программа по физике и математике для школьников 9 классов...</div>
            </div>
        </a> -->
        <a class="page row" href="quantum-uni/">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"></div>
            <div class="inf col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <div class="title">Квант-юни</div>
                <div class="description">Программа «Квант-юни» — научно-популярная программа внеучебных мероприятий для профориентации школьников 5-8 классов...</div>
            </div>
        </a>
        <a class="page row" href="https://docs.google.com/forms/d/e/1FAIpQLSemJ3I2m72zaNsgrEEHCteIaDCFuF_yzCG2UI8R9_aPxdTOQg/viewform?usp=send_form">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"></div>
            <div class="inf col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <div class="title">АНКЕТА-ОПРОС</div>
                <div class="description"></div>
            </div>
        </a>


        <br>

        <br>
    </div>
</div>
{% endblock %}
